<!-- Modal Cotización exitosa -->
<div id="idModalSuccess" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12" align="center" style="padding-top: 0px">
                <img src="/assets/img/ic-check.svg" class="img-fluid"> <br><br>
                <span class="span-modal-title">¡Listo! La cotización fue <br>enviada a tu correo</span>
              </div>
              <div class="col-md-12" style="padding-top: 40px;">
                <div class="card card-modal">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9 col-sm-9 col-md-5">
                        <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block"><img src="/assets/img/ic-whats-app.svg" class="img-fluid"> <br></div>
                        <span style="" class="span-modal-text1">¿Quiéres atención personalizada?</span> 
                        <br><br>
                        <span class="span-modal-text2">Nosotros te buscamos.</span>
                        <br><br>
                      </div>
                      <div class="col-3 col-sm-3 d-block d-sm-block d-md-none d-lg-none d-xl-none" align="right">
                        <img src="/assets/img/ic-whats-app.svg" class="img-fluid"> 
                      </div>
                      <div class="col-md-7">
                        <div class="row">
                          <div class="col-md-12">
                            <label for="nombre" style="font-weight: bold">Nombre</label>
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" >
                            </div>
                          </div>
                          <div class="col-md-12">
                            <label for="celular" style="font-weight: bold">Celular</label>
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" id="celular" name="celular" placeholder="Celular" >
                              <div class="input-group-prepend" (click)="enviarContacto()">
                                <span class="input-group-text" style="background-color:#17d320;color: #fff;border-color:#17d320 " id="basic-addon1"><i class="fas fa-location-arrow"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" style="padding-top: 30px;padding-bottom: 62px" align="center">
                <span class="span-modal-text2">Línea directa</span><span class="span-modal-text2" style="font-weight: bold;"> 01 800 969 SXKM (7956)</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Error de Cotizacion-->
<div id="idModalError" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12" align="center" style="padding-top: 0px">
                <span class="span-modal-title">Aún no estamos <br>operando en tu ciudad</span> <br> <br>
                <span style="line-height: 1.88;">
                  Por ahora estamos en Ciudad de México, <br>
                  Estado de México, Puebla y San Luis Potosí. <br>
                  Pronto llegaremos a tu ciudad.
                </span>
                <br><br><br>
                <a href="#"><button type="button" class="btn btn-green">Avísame cuando lleguen a mi ciudad</button></a>
              </div>
              <div class="col-md-12" style="padding-top: 30px;padding-bottom: 62px" align="center">
                <span class="span-modal-text2">Línea directa</span><span class="span-modal-text2" style="font-weight: bold;"> 01 800 969 SXKM (7956)</span>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Solicitud de Contacto flujo A -->
<div id="idModalSuccessContact" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12" align="center" style="padding-top: 0px">
                <img src="/assets/img/ic-check.svg" class="img-fluid"> <br><br>
                <span class="span-modal-title">
                  ¡Perfecto! <br>
                  En breve, uno de <br>
                  nuestros asesores se <br>
                  comunicará contigo.
                </span>
              </div>
              <div class="col-md-12" style="padding-top: 30px;padding-bottom: 62px" align="center">
                <span class="span-modal-text2">Línea directa</span><span class="span-modal-text2" style="font-weight: bold;"> 01 800 969 SXKM (7956)</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal Qué es el VIN -->
<div id="idModalVin" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <span class="span-modal-title" style="font-size: 20px">¿Qué es el número de serie o VIN?</span>
            <br><br>
          </div>
          <div class="col-12" style="font-size: 15.5px">
            Se le conoce como número de serie o Vehicle
            Identification Number (VIN) a la secuencia de
            identificación con la cual “nace” cada vehículo
            producido a nivel mundial. Es como una huella
            digital del auto, camioneta, camión o
            motocicleta, constituida con letras y números. <br> <br> 
            Puedes obtener este dato en la tarjeta de
            circulación o directamente en tu automóvil.
            <br><br>
          </div>
          <div class="col-12" align="center">
            <img src="/assets/img/vin-example.jpg" class="img-fluid"> <br>
            <span style="font-size: 12px;">
              Típicamente el número de serie se encuentra <br>
              en estos lugares aunque depende del fabricante.
            </span>
            <br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>