<section class="section bg-dark-green" style="padding-bottom: 80px">
	<div class="container">
		<div class="row">
			<div class="col-md-12" align="center">
				<h1 class="bebas white" style="font-size: 50px">Prensa</h1>
			</div>
		</div>
	</div>	
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12"><br><br><br></div>
			<div class="col-md-4">
				<div class="card">
			        <img class="card-img-top" alt="Seguro por kilómetro - El riesgo para tu auto es constante: protege tu patrimonio. - Así sucede " src="/assets/img/prensa/asi-sucede-el-riesgo-para-tu-auto-es-constante-protege-tu-patrimonio-sxkm.png">
			        <div class="card-body">
			        	<h5 class="card-title">ASÍ SUCEDE </h5>
			        	<p class="card-text">El riesgo para tu auto es constante: protege tu patrimonio. <br>
				        	1 Agosto 2018.
				        </p>
				        <a class="btn btn-sxkm-dark-green" target="_blank" href="https://asisucede.com.mx/el-riesgo-para-tu-auto-es-constante-protege-tu-patrimonio/">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="SXKM - Tú decides - Tips para disfrutar al máximo en estas vacaciones" class="card-img-top" src="/assets/img/prensa/tu-decides-tips-para-disfrutar-al-maximo-tus-vacaciones-seguro-por-kilometro-sxkm.png">
			        <div class="card-body">
			        	<h5 class="card-title">TÚ DECIDES  </h5>
			        	<p class="card-text">
			        		Tips para disfrutar al máximo en estas vacaciones. <br>
			        		1 Agosto 2018.			        
			        	</p>
			        	<a class="btn btn-sxkm-dark-green" target="_blank" href="https://tudecides.com.mx/noticias/vida-y-estilo/tips-para-disfrutar-al-maximo-en-estas-vacaciones.html">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="SXKM - SDP Noticias - Alza histórica en robo de autos " class="card-img-top" src="/assets/img/prensa/sdp-seguro-por-kilometro-alza-historica-en-robo-de-autos.png">
			        <div class="card-body">
			        	<h5 class="card-title">SDP NOTICIAS </h5>
						<p class="card-text">
							Alza histórica en robo de autos. <br><br>

							1 Agosto 2018.
						</p>
			          	<a class="btn btn-sxkm-dark-green" target="_blank"  href="https://www.sdpnoticias.com/economia/2018/08/01/alza-historica-en-robo-de-autos">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img  alt="Seguro por kilometro - Forbes - Sólo 3 de cada 10 vehículos cuentan con seguro en México. " class="card-img-top" src="/assets/img/prensa/forbes-sxkm-solo-3-de-cada-10-vehiculos-cuentan-con-seguro-en-mexico.png">
			        <div class="card-body">
			        	<h5 class="card-title">Forbes </h5>
						<p class="card-text">
							Sólo 3 de cada 10 vehículos cuentan con seguro en México. <br><br>
							31 Julio 2018.
						</p>
			          	<a class="btn btn-sxkm-dark-green" target="_blank"  href="https://www.forbes.com.mx/solo-tres-de-cada-10-vehiculos-cuentan-con-seguro-en-mexico/">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="SXKM - El ECONOMISTA - Seguro por kilómetro, opción para quienes no utilizan tanto su automóvil." class="card-img-top" src="/assets/img/prensa/el-economista-seguro-por-kilometro-opcion-para-quienes-no-utilizan-tanto-su-automovil-sxkm.jpg">
			        <div class="card-body">
			        	<h5 class="card-title">EL ECONOMISTA </h5>
						<p class="card-text">
							Seguro por kilómetro, opción para quienes no utilizan tanto su automóvil. <br>
							26 Febrero 2018.
						</p>
			        
			        	<a class="btn btn-sxkm-dark-green" target="_blank"  href="https://www.eleconomista.com.mx/finanzaspersonales/Seguro-por-kilometro-opcion-para-quienes-no-utilizan-tanto-su-automovil-20180226-0076.html">Ver nota</a>
			        </div>
			    </div>
			</div>

			<div class="col-md-4">
				<div class="card">
			        <img alt="SXKM - El financiero - Paga tu seguro de auto por kilómetro recorrido." class="card-img-top" src="/assets/img/prensa/el-financiero-paga-tu-seguro-de-auto-por-kilometro-recorrido.jpg">
			        <div class="card-body">
			        	<h5 class="card-title">EL FINANCIERO </h5>
						<p class="card-text">
							Paga tu seguro de auto por kilómetro recorrido. <br><br>
							8 Febrero 2018.
						</p>
			          	<a class="btn btn-sxkm-dark-green" target="_blank"  href="http://www.elfinanciero.com.mx/mis-finanzas/paga-el-seguro-de-tu-auto-por-los-kilometros-que-manejas">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="SXKM - El universal - AIG lanza seguro de auto por kilómetro" class="card-img-top" src="/assets/img/prensa/aig-lanza-un-seguro-de-auto-por-kilometro.jpg">
			        <div class="card-body">
			        	<h5 class="card-title">EL UNIVERSAL </h5>
						<p class="card-text">
							AIG lanza seguro de auto por kilómetro. <br>

							22 Enero 2018.
						</p>
			          	<a class="btn btn-sxkm-dark-green" target="_blank"  href="http://www.eluniversal.com.mx/cartera/negocios/aig-lanza-un-seguro-de-auto-por-kilometro">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="SXKM - El financiero - Lanza AIG seguro de auto por kilómetros recorridos" class="card-img-top" src="/assets/img/prensa/el-financiero-lanza-aig-seguro-de-autos-por-kilometros-recorridos.jpg">
			        <div class="card-body">
			        	<h5 class="card-title">EL FINANCIERO </h5>
						<p class="card-text">
							Lanza AIG seguro de auto por kilómetros recorridos. <br>
							29 Diciembre 2017.
						</p>
			        
			          	<a class="btn btn-sxkm-dark-green" target="_blank"  href="http://www.elfinanciero.com.mx/monterrey/lanza-aig-seguro-de-autos-por-kilometros-recorridos">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="SXKM - El sol de méxico - AIG lanza seguro que se venderá por kilómetros recorridos" class="card-img-top" src="/assets/img/prensa/el-sol-de-mexico-aig-lanza-seguro-que-se-vendera-por-kilometros-recorridos-sxkm.jpg">
			        	
			        <div class="card-body">
			        	<h5 class="card-title">EL SOL DE MÉXICO </h5>
						<p class="card-text">
							AIG lanza seguro que se venderá por kilómetros recorridos. <br>
							15 Diciembre 2017.
						</p>
			        
			          	<a class="btn btn-sxkm-dark-green" target="_blank"  href="https://www.elsoldemexico.com.mx/finanzas/aig-lanza-seguro-que-se-vendera-por-kilometros-recorridos-486978.html">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="Seguro por kilometro - Milenio - Lanzan seguro de auto en el que pagarás por km recorrido" class="card-img-top" src="/assets/img/prensa/milenio-seguro-por-kilometro-lanzan-seguro-de-auto-en-el-que-pagaras-por-km-recorrido.jpg">
			        <div class="card-body">
			        	<h5 class="card-title">MILENIO </h5>
						<p class="card-text">
							Lanzan seguro de auto en el que pagarás por km recorrido. <br>
							15 Diciembre 2017.
						</p>
						<a class="btn btn-sxkm-dark-green" target="_blank"  href="http://www.milenio.com/negocios/lanzan-seguro-auto-pagaras-km-recorrido">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="Seguro por kilometro - el economista - Pague su seguro de auto sólo por los kilómetros que recorra" class="card-img-top" src="/assets/img/prensa/sxkm-pague-su-seguro-de-auto-solo-por-kilometros-que-recorra-el-economista.jpg">
			        <div class="card-body">
			        	<h5 class="card-title">EL ECONOMISTA </h5>
						<p class="card-text">
							Pague su seguro de auto sólo por los kilómetros que recorra. <br>
							14 Diciembre 2017.
						</p>	
			          	<a class="btn btn-sxkm-dark-green" target="_blank"  href="https://www.eleconomista.com.mx/finanzaspersonales/Pague-su-seguro-de-auto-solo-por-los-kilometros-que-recorra-20171214-0119.html">Ver nota</a>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="card">
			        <img alt="Seguro por kilometro - el economista - AIG lanza seguro de auto por kilómetros recorridos" class="card-img-top" src="/assets/img/prensa/el-economista-seguro-por-kilometro-sxkm.jpg">
			        <div class="card-body">
			        	<h5 class="card-title">EL ECONOMISTA </h5>
			          	<p class="card-text">
			          		AIG lanza seguro de auto por kilómetros recorridos. <br>
			          		14 Diciembre 2017.
			          	</p>
			        
			        	<a class="btn btn-sxkm-dark-green" target="_blank"  href="https://www.eleconomista.com.mx/empresas/AIG-lanzaseguro-de-automovil-por-kilometros-recorridos-20171214-0072.html">Ver nota</a>
			        </div>
			    </div>
			</div>
		</div>
	</div>	
</section>