<section style="padding-top: 0px">
	<div class="container">
		<div class="row">
			<div class="col m6">
				<h2>Editar perfil</h2>
			</div>
			<div class="col m6" style="padding-top: 30px;font-size: 18px">
				Nombre: Anaya Cienfuegos <br>
				Celular: 5555555555 <br>
				Correo: correo@mail.com <br> <br>
				<a class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff;">Nueva Cotización</a>
			</div>
		</div>
		<div class="row">
		    <form   #cart="ngForm" (ngSubmit)="submit()" ngNativeValidate>
		    	<div class="col m12">
		    		<span>Puedes modificar la siguiente información:</span>
		    	</div>
			    <div class="col m12">
			    	<ul class="collapsible">
					    <li class="">
					      <div class="collapsible-header"><i class="material-icons">account_circle</i>Datos personales</div>
					      <div class="collapsible-body">
					      	<div class="row">
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Nombre" type="text" class="validate"  value="" >
										<label for="" class="active">Nombre</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      			<div class="input-field">
										<input placeholder="Apellido Paterno" type="text" class="validate"  value="" >
										<label for="" class="active">Apellido Paterno</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      			<div class="input-field">
										<input placeholder="Apellido Materno" type="text" class="validate"  value="" >
										<label for="" class="active">Apellido Materno</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>

					      		<div class="col m6" align="center">
					      			<i class="material-icons" style="font-size: 100px">account_circle</i>
					      			<div class="file-field input-field" align="center" style="float: none;">
								      <div class="btn" style="background-color: #0f312a;color:#ffff;float: none;">
								        <span style="color:#fff">Cambiar foto</span>
								        <input type="file">
								      </div>
								      <div class="file-path-wrapper">
								      </div>
								    </div>
					      		</div>
					      	</div>
					      	<div class="row">
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Celular" type="text" class="validate"  value="" >
										<label for="" class="active">Celular</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Teléfono" type="text" class="validate"  value="" >
										<label for="" class="active">Teléfono</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>

					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Correo electrónico" type="text" class="validate"  value="" >
										<label for="maker" class="active">Correo electrónico</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      	</div>

					      </div>
					    </li>
					    <li class="active">
						    <div class="collapsible-header"><i class="material-icons">directions_car</i>Autos</div>
						    <div class="collapsible-body">
						      	<div class="row">
						      		<div class="col m4">
						      			<div class="card">
									        <div class="card-image" align="center">
									        	<div class="row">
									        		<div class="col m12" align="right"><i class="material-icons" style="font-size: 12px;color:#17d320">brightness_1</i> Póliza activa &nbsp;&nbsp;</div>
									        		<div class="col m12">
									        			<img src="/assets/img/makers/PORSCHE.png" style="width: 90px;height:90px;" class="circle">
									          			<span class="bold-opensans">CAYENNE S 4.8 TIPTRONIC 8 CIL 5 PTAS 2015.</span>
									        		</div>
									        	</div>
									        	<a class="btn-floating halfway-fab waves-effect waves-light red" href="/panel/poliza/editar/1040"><i class="material-icons">edit</i></a>
									        </div>
									        <div class="card-content">

									        	<span class="bold-opensans">Paquete:</span> 250 km <br>
									        	<span class="bold-opensans">Kilómetros restantes: </span> 100 km <br>
									        	<span class="bold-opensans">Vigencia: </span> 16 de Octubre 2018 <br>
									        	<span class="bold-opensans">Próximo pago: </span> 16 de Octubre 2018
									        	<span class="bold-opensans">Póliza:</span> <span>SXK027252</span> <br>
									        	<span class="bold-opensans">Folio:</span> <span>170-131-659-0</span> <br>
									        	<hr>
									        	<span class="bold-opensans">Placas:</span> <span>JLY4058</span> <br>
									        	<span class="bold-opensans">VIN:</span> <span>WP1AB2927FLA57378</span> <br>
									        	<span class="bold-opensans">Motor:</span> <span>WP1AB2927FLA57378</span> <br>
									        	<span class="bold-opensans">IMEI:</span> <span>356363050727504</span> <br><br>
									        	<a  href="/panel/compra/kilometros" class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff; width: 100%">Comprar kilómetros</a> <br><br>
												<a  href="/panel/compra/kilometros" class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff; width: 100%">Pagar membresía</a> <br><br>
												<a class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff;width: 100%">Cancelar Póliza</a>
									        </div>
									    </div>
						      		</div>
						      		<div class="col m4">
						      			<div class="card">
									        <div class="card-image" align="center">
									        	<div class="row">
									        		<div class="col m12" align="right"><i class="material-icons" style="font-size: 12px;color:#17d320">brightness_1</i> Póliza activa &nbsp;&nbsp;</div>
									        		<div class="col m12">
									        			<img src="/assets/img/makers/PORSCHE.png" style="width: 90px;height:90px;" class="circle">
									          			<span class="bold-opensans">CAYENNE S 4.8 TIPTRONIC 8 CIL 5 PTAS 2015.</span>
									        		</div>
									        	</div>
									        	<a class="btn-floating halfway-fab waves-effect waves-light red" href="/panel/poliza/editar/1040"><i class="material-icons">edit</i></a>
									        </div>
									        <div class="card-content">

									        	<span class="bold-opensans">Paquete:</span> 250 km <br>
									        	<span class="bold-opensans">Kilómetros restantes: </span> 100 km <br>
									        	<span class="bold-opensans">Vigencia: </span> 16 de Octubre 2018 <br>
									        	<span class="bold-opensans">Próximo pago: </span> 16 de Octubre 2018
									        	<span class="bold-opensans">Póliza:</span> <span>SXK027252</span> <br>
									        	<span class="bold-opensans">Folio:</span> <span>170-131-659-0</span> <br>
									        	<hr>
									        	<span class="bold-opensans">Placas:</span> <span>JLY4058</span> <br>
									        	<span class="bold-opensans">VIN:</span> <span>WP1AB2927FLA57378</span> <br>
									        	<span class="bold-opensans">Motor:</span> <span>WP1AB2927FLA57378</span> <br>
									        	<span class="bold-opensans">IMEI:</span> <span>356363050727504</span> <br><br>
									        	<a class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff; width: 100%">Comprar kilómetros</a> <br><br>
												<a class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff; width: 100%">Pagar membresía</a> <br><br>
												<a class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff;width: 100%">Cancelar Póliza</a>
									        </div>
									    </div>
						      		</div>
						      	</div>
						    </div>
					    </li>
					    <li>
						    <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Cotizaciones pendientes</div>
						    <div class="collapsible-body">
						      	<div class="row">
						      		<div class="col m4">
						      			<div class="card">
									        <div class="card-image" align="center">
									        	<div class="row">
									        		<div class="col m12">
									        			<img src="/assets/img/makers/JAGUAR.png" style="width: 90px;height:90px;" class="circle">
									          			<span class="bold-opensans">XF SUPER CARGADO AUTOMATICA 8 CIL 4 PTAS 2010.</span>
									        		</div>
									        	</div>
									        	<a class="btn-floating halfway-fab waves-effect waves-light red" href="/panel/poliza/editar/1040"><i class="material-icons">edit</i></a>
									        </div>
									        <div class="card-content">

									        	<span class="bold-opensans">Paquete:</span> 250 km <br>
									        	<span class="bold-opensans">Costo por kilómetro: </span> $0.35 <br><br>
									        	<a class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff; width: 100%">Pagar cotización</a> <br><br>
												<a class="waves-effect waves-light btn" style="background-color: #0f312a;color:#ffff;width: 100%">Eliminar Cotización</a>
									        </div>
									    </div>
						      		</div>
						      	</div>
						    </div>
					    </li>
					    <!--li class="active">
					      <div class="collapsible-header"><i class="material-icons">payment</i>Tarjetas</div>
					      <div class="collapsible-body">
					      	<div class="row">
					      		<div class="col m6">
					      			
					      		</div>
					      	</div>	
					      </div>
					    </li-->
					    <!--li class="">
					      <div class="collapsible-header"><i class="material-icons">account_circle</i>Datos de póliza</div>
					      <div class="collapsible-body">
					      	<div class="row">
					      		<div class="col m4">
					      			<div class="input-field">
										<input placeholder="Nombre" type="text" class="validate"  value="" >
										<label for="" class="active">Nombre</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m4">
					      			<div class="input-field">
										<input placeholder="Apellido Paterno" type="text" class="validate"  value="" >
										<label for="" class="active">Apellido Paterno</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m4">
					      			<div class="input-field">
										<input placeholder="Apellido Materno" type="text" class="validate"  value="" >
										<label for="" class="active">Apellido Materno</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Celular" type="text" class="validate"  value="" >
										<label for="" class="active">Celular</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Teléfono" type="text" class="validate"  value="" >
										<label for="" class="active">Teléfono</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>

					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Correo electrónico" type="text" class="validate"  value="" >
										<label for="maker" class="active">Correo electrónico</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      	</div>
					      	<div class="row">
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Calle" type="text" class="validate"  value="" >
										<label for="" class="active">Calle</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m3">
					      			<div class="input-field">
										<input placeholder="Número Ext." type="text" class="validate"  value="" >
										<label for="" class="active">Número Ext.</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m3">
					      			<div class="input-field">
										<input placeholder="Número Int." type="text" class="validate"  value="" >
										<label for="" class="active">Número Int.</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Código Postal" type="text" class="validate"  value="" >
										<label for="" class="active">Código Postal</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Colonia" type="text" class="validate"  value="" >
										<label for="" class="active">Colonia</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Ciudad / Delegación" type="text" class="validate"  value="" >
										<label for="" class="active">Ciudad / Delegación</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      		<div class="col m6">
					      			<div class="input-field">
										<input placeholder="Estado" type="text" class="validate"  value="" >
										<label for="" class="active">Estado</label>
										<span class="helper-text" data-error="" data-success=""></span>
									</div>
					      		</div>
					      	</div>
					      </div>
					    </li-->
					    <li>
						    <div class="collapsible-header"><i class="material-icons">lock_outline</i>Seguridad</div>
						    <div class="collapsible-body">
						      	<div class="row">
						      		<div class="col m6">
						      			<div class="input-field">
											<input placeholder="Nueva Contraseña" type="password" class="validate"  value="" >
											<label for="" class="active">Nueva Contraseña</label>
											<span class="helper-text" data-error="" data-success=""></span>
										</div>
						      		</div>
						      		<div class="col m6">
						      			<div class="input-field">
											<input placeholder="Confirmar Contraseña" type="password" class="validate"  value="" >
											<label for="" class="active">Confirmar Contraseña</label>
											<span class="helper-text" data-error="" data-success=""></span>
										</div>
						      		</div>
						      		<div class="col m6">
						      			<div class="input-field">
											<input pattern="[0-9]{4}" placeholder="NIP" type="password" class="validate"  value="" >
											<label for="" class="active">NIP</label>
											<span class="helper-text" data-error="" data-success=""></span>
										</div>
						      		</div>
						      	</div>
						    </div>
					    </li>
					</ul>
			    </div>
			</form>
		</div>
	</div>
</section>

