<footer class="bg-dark-green">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 white">
        <br><br>
        <img src="/assets/img/sxkm-logo-footer.svg" alt="">
        <br><br>
        SEGURO POR KILÓMETRO <br>
        Todos los derechos reservados <br><br>
        <a href="https://www.facebook.com/SXKM.mx" style="" target="_blank"><img src="assets/img/sxkm-facebook.svg" class="img-fluid" alt="Sxkm - Facebook" ></a> &nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/sxkm_mx/" style="" target="_blank"><img src="assets/img/instagram.png" class="img-fluid" alt="Sxkm - Instagram"></a> &nbsp;&nbsp;&nbsp;
        <a href="https://www.youtube.com/channel/UCJ-BoSleZAqvzA1tniRestg/" style="" target="_blank"><img src="assets/img/sxkm-youtube.svg" class="img-fluid" alt="Sxkm - Youtube"></a>
        <br><br><br>
      </div>
      <div class="col-md-4 col-6">
        <br><br>
        <h4 class="white">Compañía</h4>
        <a href="/acerca-de" class="white">Acerca de</a> <br>
        <a href="https://blog.sxkm.mx/" class="white">Blog</a> <br>
        <a href="/prensa" class="white">Prensa</a> <br>
      </div>
      <div class="col-md-4 col-6">
        <br><br>
        <h4 class="white">Soporte</h4>
        <a href="/terminos-y-condiciones" class="white">Términos y condiciones</a> <br>
        <a href="/aviso-de-privacidad" class="white">Aviso de privacidad</a> <br>
        <a href="/preguntas-frecuentes" class="white">Preguntas frecuentes</a> <br>
        <!--a href="/contacto" class="white">Contacto</a> <br-->
      </div>
    </div>
  </div>
</footer>