<footer class="footer" style="padding-bottom: 30px">
  <div class="container-fluid" style="">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-xl-1 d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
      <div class="col-md-4 d-none d-sm-none d-md-block d-lg-block d-xl-block" align="">
        <div class="row">
          <div class="col-md-12">
            <img src="assets/img/sxkm-logo-footer.svg" class="img-fluid" alt="Sxkm - Seguro por kilometro">
          </div>
          <div class="col-md-12">
            <span class="footer-span">
              SEGURO POR KILÓMETRO <i class="far fa-registered"></i>. <br>
              Todos los derechos reservados <br>
            </span>
          </div>
          <div class="col-md-12">
            <!--a href="#" style="padding-right: 27px"><img src="assets/img/sxkm-twitter.svg" class="img-fluid" alt="Sxkm - Twitter"></a-->
            <a href="https://www.facebook.com/SXKM.mx" style="padding-right: 27px"><img src="assets/img/sxkm-facebook.svg" class="img-fluid" alt="Sxkm - Facebook"></a>
            <a href="#" style="padding-right: 27px"><img src="assets/img/sxkm-youtube.svg" class="img-fluid" alt="Sxkm - Youtube"></a>
          </div>
        </div>
      </div>
      <div  style="" class="col-md-3 col-6 col-sm-6">
        <div class="row">
          <div class="col-md-12">
            <span class="" style="color: #fff;font-size: 16px;">Compañía</span>
          </div>
          <div class="col-md-12">
            <span class="footer-span">
              <a routerLink="/acerca-de" class="a-footer">Acerca de</a><br>
              <a routerLink="#" class="a-footer">Blog</a><br>
              <a routerLink="#" class="a-footer">Prensa</a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 col-sm-6">
        <div class="row">
          <div class="col-md-12">
            <span class="" style="color: #fff;font-size: 16px;">Soporte</span>
          </div>
          <div class="col-md-12">
            <span class="footer-span">
              <a routerLink="/terminos-y-condiciones" class="a-footer">Términos y condiciones </a><br>
              <a routerLink="/preguntas-frecuentes" class="a-footer">Preguntas frecuentes</a><br>
              <a href="https://sxkm.mx/soporte/contacto" target="_blank" class="a-footer">Contacto</a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-block d-sm-block d-md-none d-lg-none d-xl-none" align="">
        <div class="row">
          <div class="col-md-12">
            <img src="assets/img/sxkm-logo-footer.svg" class="img-fluid" alt="Sxkm - Seguro por kilometro">
          </div>
          <div class="col-md-12">
            <span class="footer-span">
              SEGURO POR KILÓMETRO <i class="far fa-registered"></i>. <br>
              Todos los derechos reservados <br>
            </span>
          </div>
          <div class="col-md-12">
            <a href="" style="padding-right: 27px"><img src="assets/img/sxkm-twitter.svg" class="img-fluid" alt="Sxkm - Facebook"></a>
            <a href="#" style="padding-right: 27px"><img src="assets/img/sxkm-facebook.svg" class="img-fluid" alt="Sxkm - Twitter"></a>
            <a href="#" style="padding-right: 27px"><img src="assets/img/sxkm-youtube.svg" class="img-fluid" alt="Sxkm - Youtube"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>