<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <br><br>
        <img src="/assets/img/sxkm-logo-footer.svg" alt="">
        <p class="grey-text text-lighten-4">
          SEGURO POR KILÓMETRO <br>
          Todos los derechos reservados <br><br>
          <a class="align-bottom" href="https://www.facebook.com/SXKM.mx" style="" target="_blank"><img src="assets/img/sxkm-facebook.svg" class="img-fluid" alt="Sxkm - Facebook" ></a> &nbsp;&nbsp;&nbsp;
          <a class="align-bottom" href="https://www.instagram.com/sxkm_mx/" style="" target="_blank"><img src="assets/img/instagram.png" class="img-fluid" alt="Sxkm - Instagram"></a> &nbsp;&nbsp;&nbsp;
          <a class="align-bottom" href="https://www.youtube.com/channel/UCJ-BoSleZAqvzA1tniRestg/" style="" target="_blank"><img src="assets/img/sxkm-youtube.svg" class="img-fluid" alt="Sxkm - Youtube"></a>
        </p>
      </div>
      <div class="col m4 s6">
        <br>
        <h5 class="white-text">Compañía</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/acerca-de">Acerca de</a></li>
          <li><a class="grey-text text-lighten-3" href="https://blog.sxkm.mx/" target="_blank">Blog</a></li>
          <li><a class="grey-text text-lighten-3" href="/prensa">Prensa</a></li>
        </ul>
      </div>
      <div class="col m4 s6">
        <br>
        <h5 class="white-text">Soporte</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/terminos-y-condiciones">Términos y condiciones</a></li>
          <li><a class="grey-text text-lighten-3" href="/aviso-de-privacidad">Aviso de privacidad</a></li>
          <li><a class="grey-text text-lighten-3" href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
          <li><a class="grey-text text-lighten-3" href="/contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <!--div class="container" style="color:#ffff">
      © 2018 Copyright 
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div-->
  </div>
</footer>