<div class="container">
  <div class="row" style="padding-top: 60px;">  
    <div class="col m12">  
      <div class="row">
        <div class="col m12">
          <p style="text-align:center; font-weight:900; font-size:16px">ACTUALIZAR DATOS DEL AUTO</p>
          <p style=" color:red; text-align: center;">Para poder ver la informacion de tu vehiculo por favor completa los datos requeridos.</p>
        </div>
      </div>
      <form #f="ngForm" (ngSubmit)="update_car_info()" ngNativeValidate>
        <div class="row">
          <div class="input-field col s4">
            <input name="vin" placeholder="ingresa tu vin" type="text" [(ngModel)]="Form.vin" vin #vin="ngModel"  maxlength="17" minlength="17" required class="validate">
          </div>
          <div class="input-field col s4">
            <input name="plates" placeholder="ingresa las placas" type="text"  [(ngModel)]="Form.plates" plates #plates="ngModel" required class="validate">
          </div>
          <div class="input-field col s4">
            <input name="motor" placeholder="ingresa el numero de motor" type="text"  [(ngModel)]="Form.motor" plates #plates="ngModel" required class="validate">
          </div>
          <div class="col s12" align="center">
              <button class="waves-effect waves-light btn" type="submit">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>