.section-pages{
  padding-top: 50px;
  padding-bottom: 50px;
}

.align-p-center{
  text-align:center;
  font-weight: 700;
  margin-bottom:5px;
}

.align-p-center-green{
  text-align:center;
  color:#17d320;
  font-weight: 800;
  margin-bottom:12px;
}