<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    </div> 
</ngx-spinner>
<div class="row" style="padding-top:30px">
	<div class="col m3 s12 " style="padding-left:30px">
		<div class="card" style="min-height:418px">
			<div class="card-image" align="center">
				<img style="width: 150px;" src="/assets/img/makers/{{maker}}.png" alt="{{maker}}">
			</div>
			<div class="card-content">
				<div class="row">
					<div class="col m12" align="center">
						<span class="bold-opensans">{{model}}</span>
						<br><br>
					</div>
					<div class="col m12" align="center">
						<p style="text-align: center;">Placa: {{plates}}</p>
						<p style="text-align: center;">Año: {{year}}</p>
						<p style="text-align: center;">VIN: {{vin}}</p>
						
						<p style="text-align: center;">No. póliza:{{policy_number}}</p>
						<p style="text-align: center;">No. folio: AIG-{{aig_id}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col m9 s12">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col m2"><a class="active" href="#detalles">Detalle</a></li>
					<li class="tab col m2"><a href="#auto">Mi auto</a></li>
					<li class="tab col m2"><a href="#transacciones">Transacciones</a></li>
					<li class="tab col m2"><a href="#viajes">Viajes</a></li>
					<li class="tab col m2"><a href="#recargas">Recargas</a></li>
				</ul>
			</div>

			
			<div id="detalles" class="col m12">
				<div class="row" style="padding-top: 50px;">
						<div align="center" class="col m4 s12">
							<div class="card" style="height: 320px">
								<div class="card-content">
									<div class="card-image">
										<p class="bold-opensans">Perfil de manejo</p>
										<img src="assets/img/Novato.png" style="height: 120px; width: 120px;">
									</div>
									<div class="row">
										<div class="col m6">
											<p class="bold-opensans">7200 Puntos</p>
										</div>
										<div class="col m6">
											<a class="modal-trigger" href="#beneficios" style="cursor: pointer;"> Ver beneficios</a>
										</div>
									</div>
									<div class="row">
										<div class="col m12">
											<a class="modal-trigger" href="#beneficios" style="cursor: pointer;"><img src="assets/img/Novato.png" style="height: 60px; width: 60px;"></a>
											<a class="modal-trigger" href="#beneficios" style="cursor: pointer;"><img src="assets/img/Experto.png" style="height: 60px; width: 60px; filter: grayscale(1);"></a>
											<a class="modal-trigger" href="#beneficios" style="cursor: pointer;"><img src="assets/img/Platino.png" style="height: 60px; width: 60px; filter: grayscale(1);"></a>
											<a class="modal-trigger" href="#beneficios" style="cursor: pointer;"><img src="assets/img/Leyenda.png" style="height: 60px; width: 60px; filter: grayscale(1);"></a>
										</div>
									</div>
								</div>
							</div>
						</div> 
						<div align="center" class="col m4 s12">
							<div class="card" style="height: 320px">
								<div class="card-content">
									<p class="bold-opensans">Tus kilómetros</p>
									<br>
									<p class="">Kms Comprados</p>
									<p class="link-sxkm">{{purchased_kms}}</p>
									<br>
									<p class="">Kms recorridos</p>
									<p class="link-sxkm">{{covered_kms}}</p>
									<br>
									<p class="">Kms disponibles</p>
									<p class="link-sxkm">{{km_left}}</p>
									<br>
									<p class="">Vigencia de kilómetros</p>
									<p class="link-sxkm">{{last_purchase_date | date:'dd/MM/yyyy'}}</p>
								</div>
							</div>
							
						</div>
						<div align="center" class="col m4 s12">
							<div class="card" style="height: 320px">
								<div class="card-content">
									<p class="bold-opensans">Membresía SXKM</p>
									<br>
									<p>Status</p>
									<p class="link-sxkm">{{policy_status}}</p>
									<br>
									<p>Fecha: {{policy_start | date:'dd/MM/yyyy'}}</p>
									<br>
									<p>Próxima renovación - {{ policy_expires | date:'dd/MM/yyyy'}}</p>
									<br>
									<a href="/user/mensualidades/{{car_id}}" target="_blank" class="btn waves-effect waves-ligh btn-small">Pagar membresia</a>
									<br><br>
									<a href="http://dev2.sxkm.mx/polizas/certificado?policy_token={{policy_token}}&identifier={{policy_user_id}}" target="_blank" class="btn waves-effect waves-ligh btn-small">Descargar póliza</a>
								</div>
							</div>
						</div>
				</div>
			</div>

			<div id="auto" class="col s12">
				<div class="row">
					<div class="col-md-12" *ngIf="get_last_dtc != false">
						<br> 
						<p class="" style="text-align: center; color: red;"> {{errors_car}} Problemas encontrados</p>
						<p class="" style="text-align: center;"> Último análisis: {{last_trip_record_at | date: 'dd/MM/yyyy'}} </p>
						<br><br>
						<div class="row">
							<div class="col m5" *ngFor="let problem of description_error">
								<div class="card modal-trigger" href="#car_errors" (click)="car_error(problem[0].code, problem[0].description, problem[0].third_digit)" style="cursor: pointer;">
									<div class="card-content">
										<p class="" style="font-size:14px;text-align: center; color:red;"> Problema detectado </p>
										<p class=" problem" style="text-align: center; color:red;" *ngIf="problem[0].third_digit == '0'"> Sistema electrónico</p>
										<p class=" problem" style="text-align: center; color:red;" *ngIf="problem[0].third_digit == '1'">Combustible y aire</p>
										<p class=" problem" style="text-align: center; color:red;" *ngIf="problem[0].third_digit == '2'">Inyectores</p>
										<p class=" problem" style="text-align: center; color:red;" *ngIf="problem[0].third_digit == '3'">Sistema de encendido</p>
										<p class=" problem" style="text-align: center; color:red;" *ngIf="problem[0].third_digit == '4'">Control de emisiones</p>
										<p class=" problem" style="text-align: center; color:red;" *ngIf="problem[0].third_digit == '5'">Control de Velocidad</p>
										<p class=" problem" style="text-align: center; color:red;" *ngIf="problem[0].third_digit == '6'">ECU entradas y salidas</p>
										<p class=" problem" style="text-align: center; color:red;" *ngIf="problem[0].third_digit == '7' || problem[0].third_digit == '8' || problem[0].third_digit == '9'">Transmisión</p>
									</div>
								</div>
							</div>			  
						</div>
					</div>
					<div class="col-md-12" *ngIf="get_last_dtc == false">
						<br>
						<p style="text-align: center; color: #17d320;" >No se han detectado problemas en tu vehiculo</p>
						<p style="text-align: center;" *ngIf="last_trip_record != null"> Último análisis: {{car.last_trip_record.at | date: 'dd/MM/yyyy'}}</p>
						<p style="text-align: center;" *ngIf="last_trip_record ==  null"> No tienes registrado ningun viaje por lo tanto no es posible recibir un analisis de tu auto.</p>
						<div align="center"><img src="assets/img/newcar.png"></div>
					</div>
				</div>
			</div>

			<div id="transacciones" class="col s12">
				<div class="row" style="padding-bottom: 30px; padding-top: 60px;">
					<div class="col m12" align="center">
						<span class="bold-opensans">RECARGA DE KILOMETROS</span><br>
						<table class="table" *ngIf="purchases!=null">
							<thead>
							<tr>
								<th scope="col">Fecha</th>
								<th scope="col">Movimiento</th>
								<th scope="col">Monto</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let purchase of purchases | paginate: { id:'recharge', itemsPerPage: 2, currentPage: q }">
								<td>{{purchase.created_at | date:'dd/MM/yyyy'}}</td>
								<td>{{purchase.kilometers}} kilometros</td>
								<td>${{purchase.cost}}</td>
							</tr>
							</tbody>
						</table>
		
						<pagination-controls *ngIf="purchases!=null" style="width:100%; margin-left:50%;" (pageChange)="q = $event" id="recharge" autoHide="true"
						previousLabel="Anterior"
						nextLabel="Siguiente"
						screenReaderPaginationLabel="Pagination"
						screenReaderPageLabel="page"
						screenReaderCurrentLabel="Actual"> </pagination-controls>
					</div>
					<div class="col m12" align="center" style="padding-top: 50px;">
						<span class="bold-opensans">PAGO DE MENSUALIDADES</span><br>
						<table class="table" *ngIf="list_monthly_payments != null">
							<thead>
								<tr>
									<th scope="col">Fecha </th>
									<th scope="col">Movimiento</th>
									<th scope="col">Monto</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let monthly of list_monthly_payments | paginate: { id:'month', itemsPerPage: 3, currentPage: p }">
									<td>{{monthly.paid_at_date | date:'dd/MM/yyyy' }}</td>
									<td>Pago de Membresia</td>
									<td>${{monthly.amount}}</td>
								</tr>
							</tbody>
						</table>
						<pagination-controls (pageChange)="p = $event" id="month" directionLinks="true"
						autoHide="true"
						previousLabel="Anterior"
						nextLabel="Siguiente"
						screenReaderPaginationLabel="Pagination"
						screenReaderPageLabel="page"
						screenReaderCurrentLabel="Actual"></pagination-controls>
					</div>
				</div>
			</div>

			<div id="viajes" class="col m12">
				<div class="row" *ngIf="view_trips == 1" style="padding-top: 30px; padding-bottom:30px;">
					<div class="col m12">
						<div class="row" align="center">
							<div class="col m2 push-m5">
								<label for="nip">Ingresa tu NIP</label>
									<div class="input-group">
										<input type="password"  class="form-control {{error_nip==''? '':'invalid border-danger'}}" [(ngModel)]="nip" name="nip" id="nip">
									</div>
								<label *ngIf=" error_nip!='' " for="nip" class="invalid">{{error_nip}}</label>
							</div>
							<div class="col m12">
								<button type="button" class="btn btn-green" style="height:auto; margin-top:10px;" (click)="validate_nip()">Enviar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="list_trips == false" style="padding-bottom: 30px; padding-top: 30px;">
					<div class="col m12">
						<div class="row">
							<div class="col m8 space-input">
								<input type="date" class="form-control" #date>
							</div>
							<div class="col m4 ">
								<button type="button" class="btn btn-green" style="height:45px;" (click)="get_trips_by_date(date.value)">Buscar</button>
							</div>
							<div class="col m12" *ngIf="has_trip == true">
								<table class="table table-hover">
									<thead>
									<tr>
										<th scope="col">Fecha</th>
										<th scope="col">Distancia</th>
										<th scope="col">Puntaje PIA</th>
										<th scope="col">Origen</th>
										<th scope="col">Destino</th>
										<th scope="col">Cosumo de kilometros</th>
									</tr>
									</thead>
									<tbody>
									<tr class="modal-trigger" href="#detalle_viaje" *ngFor="let item of trips | paginate: { id:'trips', itemsPerPage: 3, currentPage: t }" (click)="get_trip_details(item.id)"
										style="cursor: pointer;">
										<td scope="col">{{item.started_at | date:'dd/MM/yyyy HH:MM:SS'}}</td>
										<td scope="col">{{item.distance}} km</td>
										<td scope="col">{{item.fuel_used}}</td> 
										<td scope="col" *ngIf="item.origin != null ">{{item.origin.address}}</td>
										<td scope="col" *ngIf="item.origin == null ">-</td>
										<td scope="col" *ngIf="item.destination != null ">{{item.destination.address}}</td>
										<td scope="col" *ngIf="item.destination == null ">-</td>
										<td scope="col">Después de este viaje consumiste X kms te quedan X kms de tu paquete de X km</td>
									</tr>
									</tbody>
								</table>
								<pagination-controls style="width:100%; margin-left:50%;" (pageChange)="t = $event" id="trips" autoHide="true"
								previousLabel="Anterior"
								nextLabel="Siguiente"
								screenReaderPaginationLabel="Pagination"
								screenReaderPageLabel="page"
								screenReaderCurrentLabel="Actual"> </pagination-controls>		
							</div>
							<div class="col m12" *ngIf="has_trip == false">
								<span>No cuenta con ningun viaje</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="recargas" class="col m12">
				<div class= "row" style="padding-top: 50px;">
					<div class="col m2 l2" *ngFor="let package of packages">
						<div class="card" style="cursor: pointer;" (click)="get_select_package($event,package)" [ngClass]="{'active-highlight': select_package === package}" >
							<div class="card-action">
								<p class="span-title-card"> {{package.package}} kms </p>
							</div>
							<div class="card-content">
								<p class="span-title-card"> Un pago de </p>
								<p class="span-title-card"> {{package.cost_by_package | currency}} </p>
							</div>
							<div class="card-action">	
								<p *ngIf="package.vigency == 1" class="span-title-card"> Vigencia de {{package.vigency}} mes </p>
								<p *ngIf="package.vigency != 1" class="span-title-card"> Vigencia de {{package.vigency}} meses </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" align="center">
						<a *ngIf="packages != null" type="button" class="btn btn-green" (click)="confirm_package()">RECARGA</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
		

<!--  modal viajes -->
<div class="modal" id="detalle_viaje">
	<div class="modal-content">
		<div class="row">
			<div class="col m5">
				<div id="map" style="height: 600px"></div>	
			</div>
			<div class="col m7">
				<div class="row">
					<div class="col m12">
						<div class="card">
							<div class="card-content">
								<div class="row">
									<div class="col m12">
										<h5>
											Puntaje PIA 
											<img *ngIf="score>0" src="/assets/img/users/estrella.svg" alt="" style="width:20px">
											<img *ngIf="score>70" src="/assets/img/users/estrella.svg" alt="" style="width:20px">
											<img *ngIf="score>95" src="/assets/img/users/estrella.svg" alt="" style="width:20px">
										</h5>
									</div>
								</div>
								<div class="row">
									<div class="col m2" align="center">
										Excesos de velocidad: <br>
										<h5 class="bold-opensans">{{speedings}}</h5>
									</div>
									<div class="col m2" align="center">
										Frenados brusco: <br>
										<h5 class="bold-opensans">{{hard_brakers}}</h5>
									</div>
									<div class="col m2" align="center">
										Acelerados bruscos: <br>
										<h5 class="bold-opensans">{{hard_accelerations}}</h5>
									</div>
									<div class="col m2" align="center">
										Giros bruscos: <br>
										<h5 class="bold-opensans">{{turns}}</h5>
									</div>
									<div class="col m2" align="center">
										Topes: <br><br>
										<h5 class="bold-opensans">{{topes}}</h5>
									</div>
									<div class="col m2" align="center">
										Baches: <br><br>
										<h5 class="bold-opensans">{{baches}}</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col m12">
						<div class="card">
							<div class="card-content">
								<div class="row">
									<div class="col m12"><h5>Detalle del viaje</h5></div>
									<div class="col m4">
										<div class="row">
											<div class="col m2"><img style="width: 14px" src="/assets/img/users/bandera.svg" alt=""> </div>
											<div class="col m10">
												<span class="bold-opensans">{{date_trip | date:'dd/MM/yyyy'}}</span> <br>
												<span class="bold-opensans">{{date_trip | date:'h:mm a'}}</span> <br>
												{{start_trip}}
											</div>
										</div>
										<div class="row">
											<div class="col m2"><img style="width: 14px" src="/assets/img/users/pin.svg" alt=""> </div>
											<div class="col m10">
												<span class="bold-opensans">{{date_trip_end | date:'dd/MM/yyyy'}}</span> <br>
												<span class="bold-opensans">{{date_trip_end | date:'h:mm a'}}</span> <br>
												{{end_trip}}
											</div>
										</div>
									</div>
									<div class="col m8">
										<div class="row">
											<div class="col m4" align="center">
												Distancia recorrida: <br>
												<h6 class="bold-opensans">{{distance}} Km</h6>
												<br><br>
											</div>
											<div class="col m4" align="center">
												Tiempo <br>recorrido: <br>
												<h6 class="bold-opensans">{{time}} min</h6>
												<br><br>
											</div>
											<div class="col m4" align="center">
												Velocidad promedio: <br>
												<h6 class="bold-opensans">{{avg_speed}} km/h</h6>
												<br><br>
											</div>
											<div class="col m4" align="center">
												Velocidad máxima: <br>
												<h6 class="bold-opensans">{{max_speed}} km/h</h6>
												<br><br>
											</div>
											<div class="col m4" align="center">
												Tiempo detenido: <br>
												<h6 class="bold-opensans">{{time_stop}} min</h6>
												<br><br>
											</div>
											<div class="col m4" align="center">
												Gasolina utilizada: <br>
												<h6 class="bold-opensans">{{gas<1? "No disponible": gas+" L"}} </h6>
												<br><br>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>

			<div class="row">
				<div class="col m6" align="center">
					<h5>Fuerzas G</h5>
					<br>
					<canvas id="fuerzas-g" width="100%" height="50"></canvas>
				</div>
				<div class="col m6" align="center">
					<h5>Velocidades</h5>
					<br>					
					<canvas id="speeds" width="100%" height="50"></canvas>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-green" data-dismiss="modal">Cerrar</button>
		</div>
	</div>
</div>
	
<!-- modal errors car -->
<div id="car_errors" class="modal">
	<div class="modal-content">
		<h5 class="card-title" style="background-color:red;color:white; width:100%; text-align:center;"> Codigo de error {{title_modal_mechanic}}</h5>
		<p class="" style="text-align: center;"> Descripción </p>
		<p class="" style="text-align: center;">{{header_modal_mechanic}}</p>
		<p class="" style="text-align: center;" *ngIf="error_modal == '0'"><img src="assets/img/Sist_electronico.png" alt=""></p>
		<p class="" style="text-align: center;" *ngIf="error_modal == '1'"><img src="assets/img/1.png" alt=""></p>
		<p class="" style="text-align: center;" *ngIf="error_modal == '2'"><img src="assets/img/Inyectores.png" alt=""></p>
		<p class="" style="text-align: center;" *ngIf="error_modal == '3'"><img src="assets/img/2.png" alt=""></p>
		<p class="" style="text-align: center;" *ngIf="error_modal == '4'"><img src="assets/img/3.png" alt=""></p>
		<p class="" style="text-align: center;" *ngIf="error_modal == '5'"><img src="assets/img/Control_vel.png" alt=""></p>
		<p class="" style="text-align: center;" *ngIf="error_modal == '6'"><img src="assets/img/ECU.png" alt=""></p>
		<p class="" style="text-align: center;" *ngIf="error_modal == '7' || error_modal == '8' || error_modal == '9'"><img src="assets/img/Transmision.png" alt=""></p>
		<br>
	</div>
	<!-- <div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
	</div> -->
</div>
	
<div id="beneficios" class="modal">
	<div class="row" style="padding-top: 40px; padding-bottom: 40px;">
		<div class="col m12" align="center">
			<img src="/assets/img/Novato.png" style="height: 120px; width: 120px;">
			<p class="bold-opensans">0-7000 Puntos</p>
		</div>
		<div class="col m12">
			<div class="col m12">
				<ul>
					<li>Conductor designado</li>
					<!-- <li class="divider" tabindex="-1"></li> -->
				</ul>
			</div>
			<div class="col m12">
				<ul>
					<li>0% Decucible</li>
					<!-- <li class="divider" tabindex="-1"></li> -->
				</ul>
			</div>
			<div class="col m12">
				<ul>
					<li>Acelerador de perdida total</li>
					<!-- <li class="divider" tabindex="-1"></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
	