.section-pages{
  padding-top: 50px;
  padding-bottom: 50px;
}

.align-p-center{
  text-align:center;
  font-weight: 700;
  margin-bottom:5px;
}

.align-p-center-green{
  text-align:center;
  color:#17d320;
  font-weight: 800;
  margin-bottom:12px;
}

.active-highlight{
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

#map{ height: 500px; width: 500px;}

.floating-recharge{
  margin: -6% 0px 0px -30%;
  position: absolute;
  width: 60%;
  height: auto;
  align-content: center;
}


