<!-- <ngx-spinner
	Color = "rgba(51, 51, 51, 0.8)"
	size = "large"
	color = "rgba(255,255,255,1)"
	type = "ball-spin-fade">
	<p style="font-size: 20px; color: white; text-align: center;">Cargando...</p>
</ngx-spinner> -->
<div id="loading_principal" class="overlay">
	<div class="overlay-content">
		<img class="loading-image" src="/assets/img/users/pia.gif" alt="Loading..." />
		<br>
		<h1 class="">Analizando...</h1>
	</div>
</div>
<div class="container">
	<div class="row" style="padding-top:30px; padding-bottom: 30px;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" *ngIf="car" align="center">
			<div class="card shadow">
				<div align="center">
				<img src="/assets/img/makers/{{car.maker}}.png" width="100px" class="card-image-top" alt="" id="" style="width: 100px; padding-top: 5px;">
				</div>
				<div class="card-body">
					<h5 style="text-align:center; font-size:14px; min-height:32px;" class="card-title">{{car.maker}} {{car.year}} {{car.model}}</h5>
					<div class="card-text">
						<h5 style="text-align:center; font-size:14px;">Placas: {{car.plates}}</h5>
						<h5 style="text-align:center; font-size:14px;">Año: {{car.year}}</h5>
						<br>
						<h5 style="text-align:center; font-size:14px;">VIN: {{car.vin}}</h5>
						<h5 style="text-align:center; font-size:14px;">IMEI: {{car.policy.get_assigned_obd_imei}}</h5>
						<br>
						<h5 style="text-align:center; font-size:14px;">No PÓLIZA: {{car.policy.policy_number}}</h5>
						<h5 style="text-align:center; font-size:14px;">No Folio: {{car.policy.aig_id}}</h5>
						<p style="text-align:center; font-size:14px;" class="link-sxkm-green" data-toggle="modal" data-target="#event_obd" *ngIf="obd_connected == true"  style="cursor: pointer;" (click)="get_event_obd()">Dispositivo conectado</p>
						<p style="text-align:center; font-size:14px;" class="" data-toggle="modal" data-target="#event_obd"  *ngIf="obd_connected == false" style="color: red; cursor: pointer;" (click)="get_event_obd()">Dispositivo desconectado</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
			<section id="tabs" class="project-tab">
				<div class="row">
					<div class="col-xl-12">
						<nav class="nav-justified">
							<div class="nav nav-tabs nav-fills" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-detalles-tab" data-toggle="tab" href="#detalles" role="tab" aria-controls="detalles" aria-selected="true">{{'user.tabs.detalles.titulo' | translate}}</a>
							<a class="nav-item nav-link" id="nav-habitos-tab" data-toggle="tab" href="#habitos" role="tab" aria-controls="habitos" aria-selected="false">{{'user.tabs.habitos.titulo'| translate}}</a>
							<a class="nav-item nav-link" id="nav-auto-tab" data-toggle="tab" href="#auto" role="tab" aria-controls="auto" aria-selected="false" (click)="auto()">{{'user.tabs.auto.titulo'| translate}}</a>
							<a class="nav-item nav-link" id="nav-viajes-tab" data-toggle="tab" href="#viajes" role="tab" aria-controls="viajes" aria-selected="false">{{'user.tabs.viajes.titulo'| translate}}</a>
							<a class="nav-item nav-link" id="nav-recargas-tab" data-toggle="tab" href="#recargas" role="tab" aria-controls="recargas" aria-selected="false">{{'user.tabs.recargas.titulo'| translate}}</a>
							<a class="nav-item nav-link" id="nav-transacciones-tab" data-toggle="tab" href="#transacciones" role="tab" aria-controls="transacciones" aria-selected="false">{{'user.tabs.transacciones.titulo'| translate}}</a>
							</div>
						</nav>

						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active"  id="detalles" role="tabpanel" aria-labelledby="nav-detalles-tab">
								<div class="container">
									<div class="row" style="padding-top: 10px;">
										<div align="center" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
											<div class="card shadow padding-0" style="height: 350px; width: 260px;">
												<div class="card-body">
													<p class="card-title bold-opensans">{{'user.tabs.detalles.card1.titulo' | translate}}</p>
													<div *ngFor="let item of levels">
														<img class="card-image" *ngIf="item.id == level_stay" src="{{item.image}}" style="height: 120px; width: 120px;">
														<div class="row">
															<div class="col-xl-6">
																<p class="bold-opensans" *ngIf="item.id == level_stay">{{aig_rewards}} {{'user.tabs.detalles.card1.body.text1' | translate}}</p>
															</div>
															<div class="col-xl-6">
																<a class="" *ngIf="item.id == level_stay" (click)="get_Levels_Details(item.url)" data-toggle="modal" data-target="#beneficios" style="cursor: pointer;">{{'user.tabs.detalles.card1.body.text2' | translate}}</a>
															</div>
														</div>
													</div>
													<br>
													<div class="row">
														<div class="col-xl-3 col-3" *ngFor="let item of levels" style="right: 15px;"> 
															<a *ngIf="item.id < level_stay" class="" data-toggle="modal" data-target="#beneficios" style="cursor: pointer;" (click)="get_Levels_Details(item.url)"><img src="/assets/img/users/{{item.level}}_bn.png" style="height: 60px; width: 60px;"></a>
															<a  *ngIf="item.id == level_stay " class="" data-toggle="modal" data-target="#beneficios" style="cursor: pointer;" (click)="get_Levels_Details(item.url)"><img src="/assets/img/users/{{item.level}}_c.png" style="height: 60px; width: 60px;"></a>
															<a  *ngIf="item.id > level_stay " class="" data-toggle="modal" data-target="#beneficios" style="cursor: pointer;" (click)="get_Levels_Details(item.url)"><img src="/assets/img/users/{{item.level}}_b.png" style="height: 60px; width: 60px;"></a>
														</div>
													</div>
												</div>
											</div>
										</div> 
										<div align="center" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
											<div class="card shadow" style="height: 350px; width:260px;">
												<div class="card-body">
													<p class="card-title bold-opensans">{{'user.tabs.detalles.card2.titulo' | translate}}</p>
													<div class="row">
														<div class="col-xl-12">
															<p class="card-text">{{'user.tabs.detalles.card2.body.text1' | translate}}</p>
															<p class="card-text link-sxkm-green bold-opensans">{{purchased_kms}}</p>
														</div>
														<div class="col-xl-12" style="padding-top: 5px;">
															<p class="card-text">{{'user.tabs.detalles.card2.body.text2' | translate}}</p>
															<p class="card-text link-sxkm-green bold-opensans">{{covered_kms}}</p>
														</div>
														<div class="col-xl-12" style="padding-top: 5px;">
															<p class="card-text">{{'user.tabs.detalles.card2.body.text3' | translate}}</p>
															<p class="card-text link-sxkm-green bold-opensans">{{km_left}}</p>
														</div>
														<div class="col-xl-12" style="padding-top: 5px;">
															<p class="card-text">{{'user.tabs.detalles.card2.body.text4' | translate}}</p>
															<p class="card-text link-sxkm-green bold-opensans">{{last_purchase_date | date:'dd/MM/yyyy'}}</p>
														</div>
														<!-- <div class="col-xl-12" style="padding-top: 5px;">
															<a class="nav-item nav-link btn btn-sxkm-darkgreen" id="nav-recargas-tab" data-toggle="tab" href="#recargas" role="tab" aria-controls="recargas" aria-selected="false">Recarga</a>
														</div> -->
													</div>
												</div>
											</div>
										</div>
										<div align="center" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
											<div class="card shadow" style="height: 350px; width: 260px;">
												<div class="card-body">
													<p class="card-title bold-opensans">{{'user.tabs.detalles.card3.titulo' | translate}}</p>
													<div class="row">
														<div class="col-xl-12" style="padding-bottom: 0px; padding-top: 0px;">
														<p>{{'user.tabs.detalles.card3.text1' |translate}}</p>
														<p class="link-sxkm-green bold-opensans" *ngIf="policy_status == true">{{'user.tabs.detalles.card3.label1' | translate}}</p>
														<p class="" style="color: red;" *ngIf="policy_status == false">{{'user.tabs.detalles.card3.label2' | translate}}</p>
													
														<p>{{'user.tabs.detalles.card3.text2' | translate}} {{policy_start | date:'dd/MM/yyyy'}}</p>
														<p>{{'user.tabs.detalles.card3.text3' | translate}} {{ policy_expires | date:'dd/MM/yyyy'}}</p>
														</div>
													</div>
													<div class="row">
														<div class="col-xl-12">
															<a *ngIf="has_subscription === false" style="color: white; width: 100%;" href="/user/mensualidades/{{car_id}}" target="_blank" class="btn btn-sxkm-darkgreen waves-effect waves-ligh">{{'user.tabs.detalles.card3.btn2' |translate}}</a>
															<a *ngIf="has_subscription === true" style="color: white; width: 100%;" (click)="cancel_subscription()" class="btn btn-sxkm-darkgreen waves-effect waves-ligh">{{'user.tabs.detalles.card3.btn3' |translate}}</a>
															<br><br>
															<a style="color: white; width: 100%;" href="https://dev2.sxkm.mx/polizas/certificado?policy_token={{policy_token}}&identifier={{policy_user_id}}" target="_blank" class="btn btn-sxkm-darkgreen waves-effect waves-ligh">{{'user.tabs.detalles.card3.btn1' |translate}}</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="auto" class="tab-pane fade">
								<div id="loading_auto" class="loading">
									<div class="loading-content">										
										<img class="loading-image" src="/assets/img/users/pia.gif" alt="Loading..." />
										<br>
										<h1 class="">{{'user.tabs.auto.spinner' | translate}}</h1>
									</div>
								</div>
								<div class="container">
									<div class="row" style="padding-top: 10px;">
										<div class="col-xl-12" *ngIf="get_last_dtc != null">
											<br> 
											<p class="" style="text-align: center; color: red;"> {{errors_car}} {{'user.tabs.auto.dtc.text1' | translate}}</p>
											<p class="" style="text-align: center;" *ngIf="last_trip_record != null">{{'user.tabs.auto.dtcnull.text2' | translate}}  {{last_trip_record_at | date: 'dd/MM/yyyy'}} </p>
											<br><br>
											<div class="row">
												<div class="col-xl-4" *ngFor="let problem of description_error">
													<div class="card shadow alert alert-danger" role="alert" data-toggle="modal" data-target="#car_errors" (click)="car_error(problem[0].code, problem[0].description, problem[0].third_digit)" style="cursor: pointer;">
														<div class="card-body">
															<p class="" style="font-size:14px;text-align: center; color:red;">{{'user.tabs.auto.dtc.text2' | translate}}</p>
															<p class=" problem" style="text-align: center; color: black;" *ngIf="problem[0].third_digit == '0'">{{'user.tabs.auto.dtc.problema1' | translate}}</p>
															<p class=" problem" style="text-align: center; color: black;" *ngIf="problem[0].third_digit == '1'">{{'user.tabs.auto.dtc.problema2' | translate}}</p>
															<p class=" problem" style="text-align: center; color: black;" *ngIf="problem[0].third_digit == '2'">{{'user.tabs.auto.dtc.problema3' | translate}}</p>
															<p class=" problem" style="text-align: center; color: black;" *ngIf="problem[0].third_digit == '3'">{{'user.tabs.auto.dtc.problema4' | translate}}</p>
															<p class=" problem" style="text-align: center; color: black;" *ngIf="problem[0].third_digit == '4'">{{'user.tabs.auto.dtc.problema5' | translate}}</p>
															<p class=" problem" style="text-align: center; color: black;" *ngIf="problem[0].third_digit == '5'">{{'user.tabs.auto.dtc.problema6' | translate}}</p>
															<p class=" problem" style="text-align: center; color: black;" *ngIf="problem[0].third_digit == '6'">{{'user.tabs.auto.dtc.problema7' | translate}}</p>
															<p class=" problem" style="text-align: center; color: black;" *ngIf="problem[0].third_digit == '7' || problem[0].third_digit == '8' || problem[0].third_digit == '9'">{{'user.tabs.auto.dtc.problema8' | translate}}</p>
														</div>
													</div>
												</div>			  
											</div>
										</div>
										<div class="col-xl-12" *ngIf="get_last_dtc == null">
											
											<p style="text-align: center; color: #17d320;" >{{'user.tabs.auto.dtcnull.text1' | translate}}</p>
											<p style="text-align: center;" *ngIf="last_trip_record != null">{{'user.tabs.auto.dtcnull.text2' | translate}} {{last_trip_record_at | date: 'dd/MM/yyyy'}}</p>
											<p style="text-align: center;" *ngIf="last_trip_record ==  null">{{'user.tabs.auto.dtcnull.text3' | translate}}</p>
											<div align="center"><img class="img-fluid" src="assets/img/newcar.png"></div>
										</div>
									</div>
								</div>
							</div>

							<div id="transacciones" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-transacciones-tab">
								<div class="container">
									<div  class="row" style="padding-bottom: 15px; padding-top: 10px;">
										<div class="col-xl-12" align="center">
											<span class="bold-opensans">{{'user.tabs.transacciones.tabla1.titulo' | translate}}</span><br>
											<div class="table-responsive">
												<table class="table" *ngIf="purchases!=null">
													<thead>
													<tr>
														<th scope="col">{{'user.tabs.transacciones.tabla1.th1' | translate}}</th>
														<th scope="col">{{'user.tabs.transacciones.tabla1.th2' | translate}}</th>
														<th scope="col">{{'user.tabs.transacciones.tabla1.th3' | translate}}</th>
													</tr>
													</thead>
													<tbody>
													<tr *ngFor="let purchase of purchases | paginate: { id:'recharge', itemsPerPage: 2, currentPage: q }">
														<td>{{purchase.created_at | date:'d/MMMM/y'}}</td>
														<td>{{purchase.kilometers}} kilometros</td>
														<td>{{purchase.cost}}</td>
													</tr>
													</tbody>
												</table>
											</div>
											<pagination-controls *ngIf="purchases!=null" style="width:100%; margin-left:50%;" (pageChange)="q = $event" id="recharge" autoHide="true"
											previousLabel="Anterior"
											nextLabel="Siguiente"
											screenReaderPaginationLabel="Pagination"
											screenReaderPageLabel="page"
											screenReaderCurrentLabel="Actual"> </pagination-controls>
										</div>
										<div class="col-xl-12" align="center" style="padding-top: 10px;">
											<span class="bold-opensans">{{'user.tabs.transacciones.tabla2.titulo' | translate}}</span><br>
											<div class="table-responsive">
												<table class="table" *ngIf="list_monthly_payments != null">
													<thead>
														<tr>
															<th scope="col">{{'user.tabs.transacciones.tabla2.th1' | translate}}</th>
															<th scope="col">{{'user.tabs.transacciones.tabla2.th2' | translate}}</th>
															<th scope="col">{{'user.tabs.transacciones.tabla2.th3' | translate}}</th>
															<th scope="col">{{'user.tabs.transacciones.tabla2.th4' | translate}}</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let monthly of list_monthly_payments | paginate: { id:'month', itemsPerPage: 3, currentPage: p }">
															<td scope="row">{{monthly.paid_at_date | date:'d/MMMM/y':'UTC'}}</td>
															<td>{{monthly.cutoff_date | date:'dd/MMMM/yyyy' }}</td>
															<td>Pago de Membresia</td>
															<td>${{monthly.amount}}</td>
														</tr>
													</tbody>
												</table>
											</div>
											<pagination-controls (pageChange)="p = $event" id="month" directionLinks="true"
											autoHide="true"
											previousLabel="Anterior"
											nextLabel="Siguiente"
											screenReaderPaginationLabel="Pagination"
											screenReaderPageLabel="page"
											screenReaderCurrentLabel="Actual"></pagination-controls>
										</div>
									</div>
								</div>
							</div>

							<div id="viajes" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-viajes-tab" style="padding-top: 10px;">
								<div class="container">
									<div class="row" *ngIf="view_trips == 1"  style="padding-top: 10px;">
										<div class="col-xl-12">
											<h1 class="bebas" style="text-align: center;">{{'user.tabs.viajes.label1' | translate}}</h1>
										</div>
										<div class="col-xl-12 space-input" align="center">
											<input type="password" style="width: 100px;" class="form-control {{error_nip==''? '':'invalid border-danger'}}" [(ngModel)]="nip" name="nip" id="nip">
											<label style="color: red;" *ngIf=" error_nip!='' " for="nip" class="invalid">{{error_nip}}</label>
										</div>
										<div class="col-xl-12" align="center">
											<button type="button" class="btn btn-sxkm-darkgreen" style="height:45px; width: 100px; margin-top:10px;" (click)="validate_nip()">Ver viajes</button>
										</div>			
									</div>
									<div *ngIf="view_trips == 2">
										<div id="loading_viajes" class="loading">
											<div class="loading-content">
												<img class="loading-image" src="/assets/img/users/pia.gif" alt="Loading..." />
												<br>
												<h1 class="">Buscando viajes....</h1>
											</div>
										</div>

										<div class="row" >
											<div class="col-xl-12">
												<div class="row">
													<div class="col-xl-8 col-xs-6 space-input">
														<input type="date" class="form-control" #date>
													</div>
													<div class="col-xl-2 col-xs-2">
														<button type="button" class="btn btn-sxkm-darkgreen" style="height:45px;" (click)="get_trips_by_date(date.value)">{{'user.tabs.viajes.btn2' | translate}}</button>
													</div>
													<div class="col-xl-2 col-xs-2">
														<button type="button" class="btn btn-sxkm-darkgreen" style="height:45px;" (click)="viewAllTrips()">{{'user.tabs.viajes.btn3' | translate}}</button>
													</div>
													<div class="col-xl-12" style="padding-top: 10px;">
														<div class="table-responsive">
															<table class="table table-hover">
																<thead>
																<tr>
																	<th scope="col">{{'user.tabs.viajes.tabla.th1' | translate}}</th>
																	<th scope="col">{{'user.tabs.viajes.tabla.th2' | translate}}</th>
																	<th scope="col">{{'user.tabs.viajes.tabla.th3' | translate}}</th>
																	<th scope="col">{{'user.tabs.viajes.tabla.th4' | translate}}</th>
																	<th scope="col">{{'user.tabs.viajes.tabla.th5' | translate}}</th>
																	<th scope="col">{{'user.tabs.viajes.tabla.th6' | translate}}</th>
																</tr>
																</thead>
																<tbody>
																	<tr class="" data-toggle="modal" data-target="#detalle_viaje" *ngFor="let item of trips | paginate: { id:'trips', itemsPerPage: 3, currentPage: t }" (click)="get_trip_details(item.id)"
																		style="cursor: pointer;">
																		<td>{{item.started_at | date:'dd/MM/yyyy hh:mm a':'UTC'}}</td>
																		<td *ngIf="item.distance == '0.0'"> -150 km</td>
																		<td *ngIf="item.distance != '0.0'">{{item.distance}} km</td>
																		<td>{{item.fuel_used}}</td> 
																		<td *ngIf="item.origin != null ">{{item.origin.address}}</td>
																		<td *ngIf="item.origin == null ">-</td>
																		<td *ngIf="item.destination != null ">{{item.destination.address}}</td>
																		<td *ngIf="item.destination == null ">-</td>
																		<td>{{'user.tabs.viajes.tabla.td1' | translate}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<pagination-controls style="width:100%; margin-left:50%;" (pageChange)="t = $event" id="trips" autoHide="true"
														previousLabel="Anterior"
														nextLabel="Siguiente"
														screenReaderPaginationLabel="Pagination"
														screenReaderPageLabel="page"
														screenReaderCurrentLabel="Actual"> </pagination-controls>		
													</div>
													<!-- <div class="col-xl-12" *ngIf="!list_trips">
														<h1>No se encontraron viajes</h1>
													</div>	 -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="recargas" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-recargas-tab">
								<div class="container-fluid" *ngIf="packages" style="padding-top: 10px;">	
									<div class="row">
										<div class="col-xl-12">
											<h1 class="bebas" align="center" style="padding-bottom: 10px;">{{'user.tabs.recargas.subtitulo' | translate}}</h1>
										</div>
										<div class="col-md-1"></div>
										<div *ngFor="let package of packages" class="col-md-2 col-6 {{package_id==package.package?'quote-active':'quote-inactive'}}" style="padding: 0px;" (mouseenter)="mouseHover(package.package)">
											<div class="card" style="border-radius: 0px;padding:0px" align="center">
												<div class="card-body">
												<div class="row">
													<div class="col-md-12" style="border-bottom: 1px solid #3333">
														<span class="{{package_id==package.package?'bold-opensans':''}}">{{package.package | number}} km</span>
														<br><br>
													</div>
													<div class="col-xl-12">
														<br><br>
														<span class="{{package_id==package.package?'bold-opensans':''}}">{{'user.tabs.recargas.text1' | translate}}</span><br>
														<span class="{{package_id==package.package?'bold-opensans':''}}" style="font-size: 14pt">${{package.cost_by_package}}</span> <br><br>
							
														<span class="{{package_id==package.package?'bold-opensans':''}}">{{'user.tabs.recargas.text2' | translate}} {{package.vigency}} {{package.vigency==1?'mes':'meses'}}</span> <br><br>
														<button class="btn btn-sxkm-{{package_id==package.package?'green':'disable'}} bnt-lg btn-block" style="width: 100%;" (click)="confirm_package(package)">{{'user.tabs.recargas.btn' | translate}}</button>
													</div>
												</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="habitos" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-habitos-tab">
								<div class="row" style="padding-top: 20px;">
									<div id="loading_dateWeek" class="loading">
										<div class="loading-content">
											<img class="loading-image" src="/assets/img/users/pia.gif" alt="Loading..." />
											<br>
											<h1 class="">Analizando...</h1>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="row" style="padding-top: 10px">
										<div class="col-xl-12">
											<label for="exampleInputEmail1">{{'user.tabs.habitos.label' | translate}}</label>
											<select class="custom-select" id="ordenar" [(ngModel)]="valorSelect" (change)="imprimirValor(valorSelect)">
												<option selected>{{'user.tabs.habitos.label' | translate}}</option>
												<option value="semana">{{'user.tabs.habitos.op1' | translate}}</option>
												<option value="mesActual">{{'user.tabs.habitos.op2' | translate}}</option>
												<option value="mes">{{'user.tabs.habitos.op3' | translate}}</option>
												<option value="año">{{'user.tabs.habitos.op4' | translate}}</option>
											</select>
										</div>
										<div class="col-xl-12" align="center">
											<div>
												<canvas id="table-trips" width="100%" height="40"></canvas>
											</div>
											
										</div>
									</div>
								</div>
								<!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
		

<!--  modal viajes -->
<div  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viajesLabel" aria-hidden="true" id="detalle_viaje">
	<div class="modal-dialog modal-full" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-xl-5">
						<div id="map" style="height: 600px"></div>	
					</div>
					<div class="col-xl-7">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-xl-12">
												<h5>
													{{'user.tabs.viajes.modal.pia.titulo' | translate}}
													<img *ngIf="score>0" src="/assets/img/users/estrella.svg" alt="" style="width:20px">
													<img *ngIf="score>70" src="/assets/img/users/estrella.svg" alt="" style="width:20px">
													<img *ngIf="score>95" src="/assets/img/users/estrella.svg" alt="" style="width:20px">
												</h5>
											</div>
										</div>
										<div class="row">
											<div class="col-xl-2 col-6" align="center">
												<img src="assets/img/map-icons/Exceso_de_velocidad.png" style="width: 40px; height: 40px;"><br>
												{{'user.tabs.viajes.modal.pia.exceso' | translate}} <br>
												<h5 class="bold-opensans">{{speedings}}</h5>
											</div>
											<div class="col-xl-2 col-6" align="center">
												<img src="assets/img/map-icons/Frenados_bruscos.png" style="width: 40px; height: 40px;"><br>
												{{'user.tabs.viajes.modal.pia.frenados' | translate}} <br>
												<h5 class="bold-opensans">{{hard_brakers}}</h5>
											</div>
											<div class="col-xl-2 col-6" align="center">
												<img src="assets/img/map-icons/Acelerados_bruscos.png" style="width: 40px; height: 40px;"><br>
												{{'user.tabs.viajes.modal.pia.acelerados' | translate}} <br>
												<h5 class="bold-opensans">{{hard_accelerations}}</h5>
											</div>
											<div class="col-xl-2 col-6" align="center">
												<img src="assets/img/map-icons/Giros_bruscos.png" style="width: 40px; height: 40px;"><br>
												{{'user.tabs.viajes.modal.pia.vueltas' | translate}} <br><br>
												<h5 class="bold-opensans">{{turns}}</h5>
											</div>
											<div class="col-xl-2 col-6" align="center">
												<img src="assets/img/map-icons/Topes.png" style="width: 40px; height: 40px;"><br>
												{{'user.tabs.viajes.modal.pia.topes' | translate}} <br><br>
												<h5 class="bold-opensans">{{topes}}</h5>
											</div>
											<div class="col-xl-2 col-6" align="center">
												<img src="assets/img/map-icons/Baches.png" style="width: 40px; height: 40px;"><br>
												{{'user.tabs.viajes.modal.pia.baches' | translate}} <br><br>
												<h5 class="bold-opensans">{{baches}}</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-xl-12"><h5>{{'user.tabs.viajes.modal.detalle.titulo' | translate}}</h5></div>
											<div class="col-xl-4">
												<div class="row">
													<div class="col-xl-2"><img style="width: 14px" src="/assets/img/users/bandera.svg" alt=""> </div>
													<div class="col-xl-10">
														<span class="bold-opensans">{{date_trip | date:'dd/MM/yyyy'}}</span> <br>
														<span class="bold-opensans">{{date_trip | date:'h:mm a'}}</span> <br>
														{{start_trip}}
													</div>
												</div>
												<div class="row">
													<div class="col-xl-2"><img style="width: 14px" src="/assets/img/users/pin.svg" alt=""> </div>
													<div class="col-xl-10">
														<span class="bold-opensans">{{date_trip_end | date:'dd/MM/yyyy'}}</span> <br>
														<span class="bold-opensans">{{date_trip_end | date:'h:mm a'}}</span> <br>
														{{end_trip}}
													</div>
												</div>
											</div>
											<div class="col-xl-8">
												<div class="row">
													<div class="col-xl-4 col-6" align="center">
														<img src="assets/img/users/Distancia_recorrida.png" style="width: 40px; height: 40px;"><br>
														{{'user.tabs.viajes.modal.detalle.distancia' | translate}} <br>
														<h6 class="bold-opensans">{{distance}} Km</h6>
														<br><br>
													</div>
													<div class="col-xl-4 col-6" align="center">
														<img src="assets/img/users/Tiempo_recorrido.png" style="width: 40px; height: 40px;"><br>
														{{'user.tabs.viajes.modal.detalle.tiempo' | translate}} <br>
														<h6 class="bold-opensans">{{time}} min</h6>
														<br><br>
													</div>
													<div class="col-xl-4 col-6" align="center">
														<img src="assets/img/users/Velocidad_promedio.png" style="width: 40px; height: 40px;"><br>
														{{'user.tabs.viajes.modal.detalle.vpromedio' | translate}} <br>
														<h6 class="bold-opensans">{{avg_speed}} km/h</h6>
														<br><br>
													</div>
													<div class="col-xl-4 col-6" align="center">
														<img src="assets/img/users/Velocidad_máxima.png" style="width: 40px; height: 40px;"><br>
														{{'user.tabs.viajes.modal.detalle.vmaxima' | translate}} <br>
														<h6 class="bold-opensans">{{max_speed}} km/h</h6>
														<br><br>
													</div>
													<div class="col-xl-4 col-6" align="center">
														<img src="assets/img/users/Tiempo_detenido.png" style="width: 40px; height: 40px;"><br>
														{{'user.tabs.viajes.modal.detalle.detenido' | translate}} <br>
														<h6 class="bold-opensans">{{time_stop}} min</h6>
														<br><br>
													</div>
													<div class="col-xl-4 col-6" align="center">
														<img src="assets/img/users/Gasolina_utilizada.png" style="width: 40px; height: 40px;"><br>
														{{'user.tabs.viajes.modal.detalle.combustible.label' | translate}} <br>
														<h6 class="bold-opensans">{{gas<1? "No disponible" : gas+" L"}} </h6>
														<br><br>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
				</div>
				
				<div class="row" style="padding-top: 50px;">
					<div class="col-xl-6" align="center">
						<h5>{{'user.tabs.viajes.modal.label1' | translate}}</h5>
						<br>
						<canvas id="fuerzas-g" width="100%" height="50"></canvas>
					</div>
					<div class="col-xl-6" align="center">
						<h5>{{'user.tabs.viajes.modal.label2' | translate}}</h5>
						<br>					
						<canvas id="speeds" width="100%" height="50"></canvas>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sxkm-darkgreen" data-dismiss="modal">{{'user.tabs.viajes.modal.btn' | translate}}</button>
			</div>
		</div>
	</div>
</div>
	
<!-- modal errors car -->
<div id="car_errors" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="beneficiosLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: red;">
				<div class="row">
					<div class="col-xl-12" align="center">
						<p  style="color:white; text-align:center;"> {{'user.tabs.auto.modal.titulo' | translate}} {{title_modal_mechanic}}</p>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xl-12">
						<p class="bold-opensans" style="text-align: center;">{{'user.tabs.auto.modal.subtitulo' | translate}}</p>
					</div>
					<div class="col-xl-12">
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;">{{header_modal_mechanic}}</p>
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;" *ngIf="error_modal == '0'"><img class="img-fluid" src="assets/img/Sist_electronico.png" alt=""></p>
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;" *ngIf="error_modal == '1'"><img class="img-fluid" src="assets/img/1.png" alt=""></p>
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;" *ngIf="error_modal == '2'"><img class="img-fluid" src="assets/img/Inyectores.png" alt=""></p>
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;" *ngIf="error_modal == '3'"><img class="img-fluid" src="assets/img/2.png" alt=""></p>
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;" *ngIf="error_modal == '4'"><img class="img-fluid" src="assets/img/3.png" alt=""></p>
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;" *ngIf="error_modal == '5'"><img class="img-fluid" src="assets/img/Control_vel.png" alt=""></p>
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;" *ngIf="error_modal == '6'"><img class="img-fluid" src="assets/img/ECU.png" alt=""></p>
						<p class="bold-opensans" style="text-align: center; padding-top: 20px;" *ngIf="error_modal == '7' || error_modal == '8' || error_modal == '9'"><img class="img-fluid" src="assets/img/Transmision.png" alt=""></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sxkm-darkgreen" data-dismiss="modal">{{'user.tabs.auto.modal.btn' | translate}}</button>
			</div>
		</div>
	</div>
</div>
	
<div id="beneficios" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="beneficiosLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-xl-12" >
					<h2 class="modal-title">{{level_name}}</h2>
				</div>
			</div>
			<div class="modal-body">
				<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
					<div class="col-xl-12" align="center">
						<img src="{{level_image}}" style="height: 120px; width: 120px;">
						<p class="bold-opensans">{{level_points}}</p>
					</div>
					<div class="col-xl-12">
						<ul *ngFor="let items of level_rewards">
							<li>{{items}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sxkm-darkgreen" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div id="event_obd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="event_obd_Label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-xl-12">
					<h2 class="modal-title">Mi Dispositivo</h2>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xl-12" *ngIf="obd_connected == false">
						<p class="bold-opensans" style="text-align: center; color:red;">No hay registro de tu dispositvo</p>
					</div>
					<div class="col-xl-12" *ngIf="obd_connected == true">
						<div class="row" style="padding: 10%;">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Fecha</th>
										<th>status</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let items of obd_events">
									<td>{{items.at | date: 'medium'}}</td>
									<td class="link-sxkm-green" *ngIf="items.connected == true">Conectado</td>
									<td style="color: red;" *ngIf="items.connected == false">Desconectado</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sxkm-darkgreen" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modal-grafica" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<!-- <div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div> -->
			<div class="modal-body">
				<div class="row">
					<div class="col-xl-12">
							<h2 style="text-align: center;">{{'user.tabs.habitos.modal.titulo' | translate}}</h2>
						<div class="card shadow">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-6 col-6" align="center">
										<img src="/assets/img/users/Distancia_recorrida.png" style="width: 40px; height: 40px;"><br>
										<p>{{'user.tabs.habitos.modal.distancia' | translate}}</p>
										{{trips_total_distances}} Kilometros
									</div>
									<div clas="col-xl-6 col-6" align="center">
										<img src="/assets/img/users/Gasolina_utilizada.png" style="width: 40px; height: 40px;"><br>
										<p>{{'user.tabs.habitos.modal.combustible' | translate}}</p>
										{{fuel_used}} Litros
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-12" style="padding-top: 15px;">
						<div class="card shadow">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-4 col-lg-3" align="center">
										<img src="/assets/img/map-icons/Frenados_bruscos.png" style="width: 40px; height: 40px;"><br>
										<p>{{'user.tabs.habitos.modal.frenados' | translate}}</p>
										{{hard_brakers}}
									</div>
									<div class="col-xl-4 col-lg-5" align="center">
										<img src="/assets/img/map-icons/Acelerados_bruscos.png" style="width: 40px; height: 40px;"><br>
										<p>{{'user.tabs.habitos.modal.acelerados' | translate}}</p>
										{{hard_accelerations}}
									</div>
									<div class="col-xl-4 col-lg-4" align="center">
										<img src="/assets/img/map-icons/Exceso_de_velocidad.png" style="width: 40px; height: 40px;"><br>
										<p>{{'user.tabs.habitos.modal.exceso' | translate}}</p>
										{{speedings}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sxkm-darkgreen" data-dismiss="modal">{{'user.tabs.habitos.modal.btn' | translate}}</button>
			</div>
		</div>
	</div>
</div>
