<title>{{title}}</title>
<app-navbar></app-navbar>
<section class="section-first border-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7 col-sm-7 col-md-7 col-lg-7" style="padding-left: 205px;">
        <div class="row">
          <div class="col-md-12">
            <br><br><br><br><br><br><br><br><br>
            <h1 class="h1-first">AHORRA EN TU SEGURO <br>PAGANDO POR KILÓMETRO</h1> <br><br>
          </div>
          <div class="col-md-12">
            <h2 class="h2-first">Protege tu auto con todos los beneficios de un seguro de <br>cobertura amplia y el respaldo de AIG.</h2><br>
          </div>
          <div class="col-md-4">
            <a href="#cotizada-tu-seguro" ><button type="button" class="btn btn-lg boton-verde">Cotiza tu seguro</button></a>
            <br><br><br>
          </div>
        </div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 image-hero"></div>
    </div>
  </div>
</section>
<!--Pantalla 2-->
<section class="section">
  <div class="container">
    <div class="row" style="padding-bottom: 40px">
      <div class="col-md-12" align="center">
        <h2 class="h2-subtitulos">MÁS BENEFICIOS, MEJOR PRECIO</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body" align="center">
            <h3 class="h3-cards">0% de deducible en caso de robo</h3>
            <img src="/assets/img/sxkm-0-de-ducible-en-caso-de-robo.svg" class="img-fluid" alt="sxkm - 0% de deducible en caso de robo">
            <br><br>
            <span style="">
              No necesitas pagar deducible en caso <br>de robo, nosotros te cubrimos.
            </span>
            <br><br><br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body" align="center">
            <h3 class="h3-cards">Cobertura amplia en todo México</h3>
            <img src="/assets/img/sxkm-cobertura-amplia-en-todo-mexico.svg" class="img-fluid" alt="sxkm - cobertura amplia en todo mexico"> 
            <br><br>
            <span style="">
              Nuestras pólizas son de cobertura amplia en toda la República Mexicana.
            </span>
            <br><br><br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body" align="center">
            <h3 class="h3-cards">Plataforma inteligente a bordo</h3>
            <img src="/assets/img/sxkm-pia-plataforma-inteligente-a-bordo.svg" class="img-fluid" alt="seguro x kilometro - pia plataforma inteligente a bordo"> 
            <br><br>
            <span style="">
              Conoce tus hábitos de manejo y recibe <br>consejos y beneficios especiales SXKM.
            </span>
            <br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Pantalla 3-->
<section class="section">
  <div class="container">
    <div class="row" style="">
      <div class="col-md-4" style="padding-top: 40px">
        <div class="row">
          <div class="col-md-12">
            <h3 class="h3-casos">Carolina sólo usa su auto para ir a trabajar</h3>
            <br>
            <span class="span-casos1">
              Ella usa alrededor de 500 km al mes y <br>
              paga $175 más $299 de la suscripción.
            </span>
            <br><br>  
          </div>
          <div class="col-md-7">
            <a href="#cotizada-tu-seguro"><button type="button" class="btn btn-lg boton-verde">Calcula tu tarifa</button></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/sxkm-caso1.jpg" class="img-fluid" alt="SXKM - Caso de Carolina">
      </div>
      <div class="col-md-2">
        <img src="/assets/img/sxkm-caso2.jpg" class="img-fluid" alt="SXKM - Caso de Carolina">
      </div>
      <div class="col-md-2">
        <img src="/assets/img/sxkm-caso3.jpg" class="img-fluid" alt="SXKM - Caso de Carolina">
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-8"><span class="span-casos2">* Calculado para un automóvil con una tarifa de $0.35 por km.</span></div>
    </div>
  </div>
</section>
<!--Pantalla 4-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="/assets/img/aig-logo-big.svg" class="img-fluid" alt="aig - seguro por kilometro">
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12"><h2 class="h2-subtitulos">COBERTUTA AMPLIA</h2></div>
          <div class="col-md-12">
            <span class="span-cobertura">
              Obtén todos los beneficios de la cobertura<br>nacional de seguros AIG para manejar tranquilo.<br>
              <a class="link-sxkm" href="#">Consulta los detalles de la cobertura aquí. →</a>
              <br><br><br>
            </span>
          </div>
        </div>
        <div class="row row-cards-cobertura" style="">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/gr-d-materiales.svg" class="img-fluid" alt="seguro x kilometro - Solo pagas el 5% de deducible">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Daños materiales</h4>
                      </div>
                      <div class="col-md-12">
                        Sólo pagas el 5% de deducible.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/sxkm-cobertura-0-de-deducible-en-caso-de-robo.svg" class="img-fluid" alt="seguro x kilometro - Solo pagas el 5% de deducible">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">0% de deducible</h4>
                      </div>
                      <div class="col-md-12">
                        Nosotros pagamos tu deducible en caso de robo.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cards-cobertura">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/responsabilidad-civil.svg" class="img-fluid" alt="seguro x kilometro - Responsabilidad civil">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Responsabilidad civil</h4>
                      </div>
                      <div class="col-md-12">
                        Te cubrimos hasta por $400,000.00 MXN
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/gastos-medicos.svg" class="img-fluid" alt="sxkm - gastos medicos">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Gastos médicos</h4>
                      </div>
                      <div class="col-md-12">
                        Cobertura hasta por $400,000.00 MXN
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/acelerador-de-perdida-total.svg" class="img-fluid" alt="SXKM - El auto es considerado perdida total desde el 50% de daños">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Acelerador de pérdida total</h4>
                      </div>
                      <div class="col-md-12">
                        El auto es considerado pérdida total desde el 50% de daños.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/sxkm-conductor-designado.svg" class="img-fluid" alt="sxkm - enviamos a alguien que maneje por ti en caso de estado de ebriedad" style="width: 100px;height: 100px;">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Conductor designado</h4>
                      </div>
                      <div class="col-md-12">
                        Enviamos a alguien que maneje por ti en caso de estado de ebriedad.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Pantalla 5-->
<section class="section">
  <div class="container">
    <div class="row" style="padding-bottom: 60px">
      <div class="col-md-2"></div>
      <div class="col-md-10" align="left">
        <h2 class="h2-subtitulos">TECNOLOGÍA DE PUNTA PARA MANTENERTE SEGURO</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link2 active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">PIA</a>
          <a class="nav-link2 " id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Dispositivo OBD</a>
          <a class="nav-link2 " id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Aplicación móvil</a>
          <a class="nav-link2 " id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Mecánico a bordo</a>
          <a class="nav-link2 " id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">AIG Rewards</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h3><label style="color: #26a1d9">PIA</label> (Plataforma Inteligente A Bordo)</h3>
            <br>
            <span class="span-tecnologia1">
              PIA es el dispositivo que será tu asistente personal <br>en el camino. Recíbelo en la puerta de tu casa. <br>
              <a class="link-sxkm" href="#">Descubre cómo funciona aquí →</a>
              <br>
            </span>
            <br>
            <ul class="ul-tecnologia">
              <li><span class="span-ul-tecnologia">Alertas de vigencia: de tu suscripción y kilómetros.</span></li>
              <li><span class="span-ul-tecnologia">Perfil de auto: monitorea el uso y viajes de tu vehículo</span></li>
              <li><span class="span-ul-tecnologia">AIG rewards: beneficios especiales</span></li>
              <li><span class="span-ul-tecnologia">Botón SOS: ayuda 24 horas en caso de robo, <br>accidentes y asistencia en el camino.</span></li>
            </ul>
            <br><br><br><br>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h3><label style="color: #26a1d9">PIA</label> (Plataforma Inteligente A Bordo)</h3>
            <br>
            <span class="span-tecnologia1">
              PIA es el dispositivo que será tu asistente personal <br>en el camino. Recíbelo en la puerta de tu casa. <br>
              <a class="link-sxkm" href="#">Descubre cómo funciona aquí →</a>
              <br>
            </span>
            <br>
            <ul class="ul-tecnologia">
              <li><span class="span-ul-tecnologia">Alertas de vigencia: de tu suscripción y kilómetros.</span></li>
              <li><span class="span-ul-tecnologia">Perfil de auto: monitorea el uso y viajes de tu vehículo</span></li>
              <li><span class="span-ul-tecnologia">AIG rewards: beneficios especiales</span></li>
              <li><span class="span-ul-tecnologia">Botón SOS: ayuda 24 horas en caso de robo, <br>accidentes y asistencia en el camino.</span></li>
            </ul>
            <br><br><br><br>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <h3><label style="color: #26a1d9">PIA</label> (Plataforma Inteligente A Bordo)</h3>
            <br>
            <span class="span-tecnologia1">
              PIA es el dispositivo que será tu asistente personal <br>en el camino. Recíbelo en la puerta de tu casa. <br>
              <a class="link-sxkm" href="#">Descubre cómo funciona aquí →</a>
              <br>
            </span>
            <br>
            <ul class="ul-tecnologia">
              <li><span class="span-ul-tecnologia">Alertas de vigencia: de tu suscripción y kilómetros.</span></li>
              <li><span class="span-ul-tecnologia">Perfil de auto: monitorea el uso y viajes de tu vehículo</span></li>
              <li><span class="span-ul-tecnologia">AIG rewards: beneficios especiales</span></li>
              <li><span class="span-ul-tecnologia">Botón SOS: ayuda 24 horas en caso de robo, <br>accidentes y asistencia en el camino.</span></li>
            </ul>
            <br><br><br><br>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <h3><label style="color: #26a1d9">PIA</label> (Plataforma Inteligente A Bordo)</h3>
            <br>
            <span class="span-tecnologia1">
              PIA es el dispositivo que será tu asistente personal <br>en el camino. Recíbelo en la puerta de tu casa. <br>
              <a class="link-sxkm" href="#">Descubre cómo funciona aquí →</a>
              <br>
            </span>
            <br>
            <ul class="ul-tecnologia">
              <li><span class="span-ul-tecnologia">Alertas de vigencia: de tu suscripción y kilómetros.</span></li>
              <li><span class="span-ul-tecnologia">Perfil de auto: monitorea el uso y viajes de tu vehículo</span></li>
              <li><span class="span-ul-tecnologia">AIG rewards: beneficios especiales</span></li>
              <li><span class="span-ul-tecnologia">Botón SOS: ayuda 24 horas en caso de robo, <br>accidentes y asistencia en el camino.</span></li>
            </ul>
            <br><br><br><br>
          </div>
        </div>
      </div>
      <div class="col-md-4" align="" style="">
        <img src="/assets/img/gr_car.png" class="img-fluid" alt="" style="position: relative;top:60px;width: 550px;height: 350px">
      </div>
    </div>
  </div>
</section>
<!--Pantalla 6-->
<section id="cotizada-tu-seguro" class="section-cotizador">
  <div class="container">
    <form action="#">
      <div class="row">
        <div class="col-md-3" align="">
          <br>
          <h2 class="h2-subtitulos h2-bold">ASEGURA TU AUTO DESDE:</h2>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div class="card-body">
              <div class="row" align="center">
                <div class="col-md-6">
                  <span class="align-middle span-cotizador1" style="">$299</span>
                  <span class="align-middle span-cotizador2"> al mes </span>
                </div>
                <div class="col-md-1">
                  <br>
                  <span class="align-middle span-cotizador3" style="">+</span>
                </div>
                <div class="col-md-5">
                  <span class="align-middle span-cotizador2" style="">
                    tu paquete de <br>kilómetros
                  </span>
                </div>
              </div>
              <div class="row" align="center">
                <div class="col-md-6">
                  <span class="align-middle span-cotizador4">suscripción con todos los beneficios SXKM</span>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <span class="align-middle span-cotizador4">Desde 250 hasta 7,000 km</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cotizador" style="">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body card-cotizador">
              <div class="row">
                <div class="col-md-12"><h3 class="h3-cotizador">Cotiza tu seguro por km</h3></div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <br>
                  Completa la información para obtener una <br>
                  cotizacion personalizada.
                  <br><br><br>
                  El precio por kilómetro depende de las <br>características de tu auto.
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="marca" style="font-weight: bold">Marca</label>
                      <div class="input-group mb-3">
                        <select class="form-control" id="marca" name="marca" >
                          <option value="">Mini Cooper</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="anio" style="font-weight: bold">Año</label>
                      <div class="input-group mb-3">
                        <select class="form-control" id="anio" name="anio">
                          <option value="">2016</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="modelo" style="font-weight: bold">Modelo</label>
                      <div class="input-group mb-3">
                        <select class="form-control" id="modelo" name="modelo">
                          <option value="">Modelo</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="version" style="font-weight: bold">Versión</label>
                      <div class="input-group mb-3">
                        <select class="form-control" id="version" name="version">
                          <option value="">Mini Countryman</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="codigo_postal" style="font-weight: bold">Código postal</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" id="codigo_postal" name="codigo_postal" placeholder="6100">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="fecha_nacimiento" style="font-weight: bold">Fecha de nacimiento</label>
                      <div class="input-group mb-3">
                        <select class="form-control" id="fecha_nacimiento" name="fecha_nacimiento">
                          <option value="">Fecha de nacimiento</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="sexo1" style="font-weight: bold">Sexo</label>
                      <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-gray active" style="">
                          <input type="radio" id="sexo1" name="sexo" checked> M
                        </label>
                        <label class="btn btn-gray">
                          <input type="radio" id="sexo2" name="sexo" > F
                        </label>
                      </div>
                    </div>
                    <div class="col-md-12"><hr></div>
                    <div class="col-md-6">
                      <label for="correo" style="font-weight: bold">Correo electrónico</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" id="correo" name="correo" placeholder="direccion@correo.com">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="celular" style="font-weight: bold">Celular</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" id="celular" name="celular" placeholder="55 3452 4331">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <br>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox_cotizador1">
                        <label class="custom-control-label checkbox-label-cotizador" for="checkbox_cotizador1" name="">El auto no es legalizado, fronterizo o de salvamento y no tiene siniestros por reclamar. <br><br></label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox_cotizador2" name="">
                        <label class="custom-control-label checkbox-label-cotizador" for="checkbox_cotizador2">El auto no es utilizado para fines de carga, comercio o lucro. <br><br></label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox_cotizador3" name="">
                        <label class="custom-control-label checkbox-label-cotizador" for="checkbox_cotizador3">El auto no es Uber o similares. <br> <br></label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <button type="submit" class="btn boton-verde" style="">Enviar cotización a mi correo</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!--Footer-->
<section class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" align="">
        <div class="row">
          <div class="col-md-12">
            SXKM
          </div>
          <div class="col-md-12">
            <span class="footer-span">
              SEGURO POR KILÓMETRO ®. <br>
              Todos los derechos reservados <br>
            </span>
          </div>
          <div class="col-md-12">
            <a href="#" style="padding-right: 27px"><img src="assets/img/sxkm-twitter.svg" class="img-fluid" alt="Sxkm - Facebook"></a>
            <a href="#" style="padding-right: 27px"><img src="assets/img/sxkm-facebook.svg" class="img-fluid" alt="Sxkm - Twitter"></a>
            <a href="#" style="padding-right: 27px"><img src="assets/img/sxkm-youtube.svg" class="img-fluid" alt="Sxkm - Youtube"></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <span class="footer-span">Compañía</span>
          </div>
          <div class="col-md-12">
            <span class="footer-span">
              <a href="#" class="a-footer">Acerca de nosotros</a><br>
              <a href="#" class="a-footer">Blog</a><br>
              <a href="#" class="a-footer">Prensa</a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <span class="footer-span">Soporte</span>
          </div>
          <div class="col-md-12">
            <span class="footer-span">
              <a href="#" class="a-footer">Términos y condiciones </a><br>
              <a href="#" class="a-footer">Preguntas frecuente</a><br>
              <a href="#" class="a-footer">Contacto</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>