.swiper-container {
      width: 100%;
      height: auto;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
/************************/

.section-padding{
  padding-top: 80px;
}
.h1-first-title{
  font-size: 90px;
}
.btn-gray {
	height: 50px;
	width: 75px;
	padding-top: 10px;
  color: rgba(15, 49, 42, 0.3);
  background-color: #fff;
  border-color: rgba(15, 49, 42, 0.3);
}

.btn-gray:hover {
  color: #fff;
  background-color: #17d320;
  border-color: #17d320;
}

.btn-gray:focus, .btn-gray.focus {
  box-shadow: 0 0 0 0.2rem #17d320;
}

.btn-gray.disabled, .btn-gray:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active,
.show > .btn-gray.dropdown-toggle {
  color: #fff;
  background-color: #17d320;
  border-color: #17d320;
}

.btn-gray:not(:disabled):not(.disabled):active:focus, .btn-gray:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}


#basic-addon1{
  color:#fff;
  background-color: #17d320;
  border-color: #17d320;
}
#carouselCasos{
  min-height: 674px;
}

#id_hero_homepage{
  padding-left: 205px;
}
.card-beneficios{
  height: 100%;
}

@media (max-width: 1200px) {
  #id_hero_homepage{
    padding-left: 150px;
  }
  /**** Sección 2 del HOMEPAGE *****/
  .h3-cards{
    font-family: 'OpenSansFont', sans-serif;
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  #id_hero_homepage{
    padding-left: 100px;
  }
}
@media (max-width: 1000px) {
  #id_hero_homepage{
    padding-left: 50px;
  }
}
@media (max-width: 670px) {
  .h1-first-title{
    font-size: 45px;
  }
}