<section class="section bg-dark-green" style="padding-bottom: 80px">
	<div class="container">
		<div class="row">
			<div class="col-md-12" align="center">
				<h1 class="bebas white" style="font-size: 50px">Preguntas frecuentes</h1>
			</div>
		</div>
	</div>	
</section>
<section>
	<div class="container">
		<div class="row">
		  	<div class="col-3">
		  		<br><br>
			    <div class="nav flex-column nav-pills sticky-top" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="top:100px">
			    	<a class="nav-link nav-lateral-sxkm {{active==1?'nav-lateral-sxkm-active':''}}" (click)="cambiar(1)">
			    		Contrata el servicio
			    	</a>
			    	<br>
			      	<a class="nav-link nav-lateral-sxkm {{active==2?'nav-lateral-sxkm-active':''}}" (click)="cambiar(2)">
			    		Configura tu dispositivo
			    	</a>
			    	<br>
			    	<a class="nav-link nav-lateral-sxkm {{active==3?'nav-lateral-sxkm-active':''}}" (click)="cambiar(3)">
			    		Recarga de kilómetros
			    	</a>
			    	<br>
			    	<a class="nav-link nav-lateral-sxkm {{active==4?'nav-lateral-sxkm-active':''}}" (click)="cambiar(4)">
			    		Sobre el seguro
			    	</a>
			    	<br>
			    	<a class="nav-link nav-lateral-sxkm {{active==5?'nav-lateral-sxkm-active':''}}" (click)="cambiar(5)">
			    		En caso de siniestro
			    	</a>
			    </div>
			</div>
		 	<div *ngIf="active==1" class="col-8">
		 		<br><br>
			    <h2>Contrata el servicio</h2>	
			    <span class="bold-opensans">¿Cómo cotizo SXKM?</span> <br>
				Ingresa tus datos y los de tu auto y de inmediato descubre lo mucho que ahorrarás. Todas nuestras cotizaciones son válidas por 4 días hábiles a partir de la solicitud. 
				<br><br>
				<span class="bold-opensans">
					¿Qué es la suscripción SXKM?
				</span> <br>
				Es la cuota mensual que te permite ser parte de la comunidad SXKM para disfrutar los servicios de telemática, el dispositivo cuenta kilómetros, los AIG Rewards y diversas promociones. 
				
				Viajes y experiencias: Acceso a portales de viajes y reservas.
				
				Entretenimiento y esparciamiento: Programa de descuentos en comercios y eventos especiales.
				Bienestar: Alianzas con gimnasios.
				<br><br>
				<span class="bold-opensans">¿Cómo se paga la suscripción SXKM?</span> <br>
				Los $299 pesos de la suscripción SXKM, deben pagarse mensualmente: 
				Cargo a tarjeta de crédito o débito.
				Pagos en efectivo, en más de 20 tiendas de conveniencia.
				Transferencia electrónica.
				<br><br>
				<span class="bold-opensans">
					¿Qué es PIA?
				</span><br>
				Plataforma Inteligente A Bordo, tu asistente personal de SXKM en colaboración con AIG. 
				Alerta de vigencia - de tu suscripción y kilómetros.
				Perfil del conductor - monitoreo de uso y viajes realizados.
				Localizador - posicionamiento global del auto.
				AIG rewards - beneficios especiales.
				Botón SOS - 24 horas de respaldo ante siniestro, robo y/o asistencia en el camino. 
				<br><br>
				<span class="bold-opensans">
					¿Qué son los beneficios SXKM y AIG rewards?
				</span><br>
				Al formar parte de SXKM y con base a la suscripción mensual, obtienes beneficios exclusivos otorgados por SXKM y por AIG Seguros México sobre tu póliza de seguro, dentro de los que destacan: 
				Promociones en salas de cine.
				Boletos gratis a conciertos.
				Descuento en telefonía celular.
				<br><br>
				<span class="bold-opensans">¿Cuáles son los paquetes de kilómetros?</span><br>
				Con SXKM pagas de forma justa el uso de tu seguro. Adicional a la suscripción, deberás adquirir el paquete de kilómetros que consideras utilizar en tu auto. Contamos con paquetes desde 250 km a 7,000 km con vigencia de 1 a 12 meses. Los kilómetros son intransferibles. Cada paquete de kilómetros señala su vigencia así como la distancia recorrida, lo que ocurra primero. 
				<br><br>
				<span class="bold-opensans">
					¿Cómo calcula SXKM mis kilómetros?
				</span> <br>
				El dispositivo cuenta-kilómetros que otorgamos en comodato, toma la distancia recorrida directamente del odómetro de tu auto, por lo que no se realiza ningún cálculo. <br><br>
				<span class="bold-opensans">Forma de pago</span>
				El pago de la suscripción y la compra de los paquetes de kilómetros, puede realizarse directamente en ésta página y nuestra app con tarjetas de crédito y/o débito. Para pagos en efectivo, contamos con el servicio en más de 20 tiendas de conveniencia. Los montos máximos varían de $10,000.00 MXN a $29,000.00 MXN y el cargo por operación de $8.00 a $9.00 MXN. 
				Oxxo (Nivel nacional)
				Walmart (Nivel nacional)
				7-Eleven (Nivel nacional)
				Sam's (Nivel nacional)
				Farmacias del Ahorro (Nivel nacional)
				Superama (Nivel nacional)
				Farmacias Benavides (Coahuila, Durango, Guanajuato, Jalisco, CDMX, Michoacán, Nayarit, Nuevo León, SLP, Sinaloa)
				Bodega Aurrera (Nivel nacional)
				Circle K (CDMX, Edo. México, Nuevo Léon, Puebla, Querétaro)
				El Asturiano (Nivel nacional)
				K (Querétaro)
				Waldos (Nivel nacional)
				Alsuper (Chihuahua, Coahuila, Durango)
				AirPak (Nivel nacional)
				Extra (Nivel nacional)
				Kiosko (CDMX, Edo. de México, Morelos, Puebla, Quintana Roo, Querétaro)
				Prendamex (CDMX, Edo. de México, Veracruz, Tabasco, Chiapas, Campeche)
				Farmacias Guadalajara (Nivel nacional)
				Te creemos (Campeche, Chiapas, Chihuahua, D.F., Guanajuato, Jalisco, Puebla, Querétaro, Sonora, Tlaxcala, Yucatán)
				GestoPago (Nivel nacional)
				Maxiliana (Sinaloa, Sonora, Baja California Jalisco)
				A Tiendas (Nuevo León, San Luis Potosí, Tamaulipas)
				Multi Recargas (Nivel nacional)
				Pago Rapido (Nivel nacional)
				Red Efectiva (Nivel nacional)
				¿Cuánto tarda mi pago en registrarse?
				Tarjetas de crédito y/o débito: Inmediato posterior a la autorización de fondos.
				Pago en tiendas de conveniencia: puede verse reflejado hasta 24 horas posteriores.
				¿Qué hago si mi pago no aparece registrado?
				Para rastrear tu pago, comunícate con nosotros al 01 800 969 SXKM (7956). Por favor indícanos tu forma, fecha y monto pagado. 
				<br><br>
				<span class="bold-opensans">
					¿Puedo registrar una tarjeta para cargo recurrente?
				</span><br>
				Sí, puedes registrar cualquier tarjeta de crédito o débito para hacer el cargo mensual automático de tu suscripción. <br><br>
				<span class="bold-opensans">
					¿Cómo aparece el pago en mi estado de cuenta bancario/TDC?
				</span><br>
				Todos los cargos aparecerán registrados en tu estado de cuenta como SXKM.  <br><br>
				<span class="bold-opensans">
					¿Qué referencia se utiliza para pagar?
				</span><br>
				Para facilitar tu proceso, podrás descargar un PDF con la referencia de pago y mostrar en el establecimiento de tu preferencia. 
				<br><br>
¿Cómo contrato otro auto?
Ingresa a tu cuenta y registra cuantos autos desees. Con un solo perfil, podrás administrar todas tus operaciones. 

¿Cómo solicito mi factura?
El trámite de facturación se recomienda realizar al momento de la compra, ingresando los datos fiscales en tu perfil de usuario. Únicamente facturamos en el mes de cada una de tus operaciones. 

¿Cómo cancelo mi servicio/póliza?
La única forma de realizar la cancelación es que el titular de la cuenta se comunique con nosotros al 01 800 969 SXKM (7956). 

¿Se puede suspender mi servicio?
No, es importante que el auto permanezca cubierto en todo momento contra cualquier eventualidad. 

¿Tengo algún cobro por la cancelación?
La cancelación del servicio no genera ningún cargo siempre y cuando el dispositivo, entregado en comodato, sea devuelto o de lo contrario generará un cargo por $200 USD por reposición. 

¿Puedo recontratar con la misma cuenta?
Sí. La cuenta registrada se guarda en nuestro centro de datos para que puedas ingresar y cotizar un nuevo auto. 

Condiciones generales del seguro
Disponibles en este documento.
			</div>
		</div>
	</div>	
</section>