<section class="section bg-dark-green" style="padding-bottom: 80px">
	<div class="container">
		<div class="row">
			<div class="col-md-12" align="center">
				<h1 class="bebas white" style="font-size: 50px">{{'faq.titulo' | translate}}</h1>
			</div>
		</div>
	</div>	
</section>
<section>
	<div class="container">
		<div class="row">
		  	<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block col-md-3" style="">
		  		<br><br>
			    <div class="nav flex-column nav-pills sticky-top" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="top:100px">
			    	<a class="nav-link nav-lateral-sxkm {{active==1?'nav-lateral-sxkm-active':''}}" (click)="cambiar(1)">
							{{'faq.op1.titulo' | translate}}
			    	</a>
			    	<br>
			      	<a class="nav-link nav-lateral-sxkm {{active==2?'nav-lateral-sxkm-active':''}}" (click)="cambiar(2)">
			    		{{'faq.op2.titulo' | translate}}
			    	</a>
			    	<br>
			    	<a class="nav-link nav-lateral-sxkm {{active==3?'nav-lateral-sxkm-active':''}}" (click)="cambiar(3)">
			    		{{'faq.op3.titulo' | translate}}
			    	</a>
			    	<br>
			    	<a class="nav-link nav-lateral-sxkm {{active==4?'nav-lateral-sxkm-active':''}}" (click)="cambiar(4)">
			    		{{'faq.op4.titulo' | translate}}
			    	</a>
			    	<br>
			    	<a class="nav-link nav-lateral-sxkm {{active==5?'nav-lateral-sxkm-active':''}}" (click)="cambiar(5)">
			    		{{'faq.op5.titulo' | translate}}
			    	</a>
			    </div>
			</div>
			<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none " style="">
				<ul class="nav nav-pills" style="">
				  <li class="nav-item">
				    <a class="nav-link nav-lateral-sxkm {{active==1?'nav-lateral-sxkm-active':''}}" (click)="cambiar(1)">
			    		{{'faq.op1.titulo' | translate}}
			    	</a>
				  </li>
				  
				  <li class="nav-item">
				    <a class="nav-link nav-lateral-sxkm {{active==2?'nav-lateral-sxkm-active':''}}" (click)="cambiar(2)">
			    		{{'faq.op2.titulo' | translate}}
			    	</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link nav-lateral-sxkm {{active==3?'nav-lateral-sxkm-active':''}}" (click)="cambiar(3)">
			    		{{'faq.op3.titulo' | translate}}
			    	</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link nav-lateral-sxkm {{active==4?'nav-lateral-sxkm-active':''}}" (click)="cambiar(4)">
			    		{{'faq.op4.titulo' | translate}}
			    	</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link nav-lateral-sxkm {{active==5?'nav-lateral-sxkm-active':''}}" (click)="cambiar(5)">
			    		{{'faq.op5.titulo' | translate}}
			    	</a>
				  </li>
				</ul>
			</div>
		 	<div *ngIf="active==1" class="col-12 col-md-8" align="justify">
		 		<br><br>
			    <h2>{{'faq.op1.titulo' | translate}}</h2>	
			    <span class="bold-opensans">{{'faq.op1.p1.pregunta' | translate}}</span> <br>
					{{'faq.op1.p1.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p2.pregunta' | translate}}</span> <br>
				{{'faq.op1.p2.respuesta' | translate}}<br><br>
				<ul style="padding-left: 20px">
					<li class="green"><span class="black">{{'faq.op1.p2.list.pt1' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p2.list.pt2' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p2.list.pt3' | translate}}</span></li>
				</ul>
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p3.pregunta' | translate}}</span> <br>
					{{'faq.op1.p3.respuesta' | translate}}<br><br>
				<ul style="padding-left: 20px">
					<li class="green"><span class="black">{{'faq.op1.p3.list.pt1' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p3.list.pt2' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p3.list.pt3' | translate}}</span></li>
				</ul>
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p4.pregunta' | translate}}</span><br>
				{{'faq.op1.p4.respuesta' | translate}}<br><br>
				<ul style="padding-left: 20px">
					<li class="green"><span class="black">{{'faq.op1.p4.list.pt1' | translate}}</span></li>
				 	<li class="green"><span class="black">{{'faq.op1.p4.list.pt2' | translate}}</span></li>
				 	<li class="green"><span class="black">{{'faq.op1.p4.list.pt3' | translate}}</span></li>
				 	<li class="green"><span class="black">{{'faq.op1.p4.list.pt4' | translate}}</span></li>
				 	<li class="green"><span class="black">{{'faq.op1.p4.list.pt5' | translate}}</span></li>
				</ul> 
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p5.pregunta' | translate}}</span><br>
				{{'faq.op1.p5.respuesta' | translate}}<br><br>
				<ul style="padding-left: 20px">
				 	<li class="green"><span class="black">{{'faq.op1.p5.list.pt1' | translate}}</span></li>
				 	<li class="green"><span class="black">{{'faq.op1.p5.list.pt2' | translate}}</span></li>
				 	<li class="green"><span class="black">{{'faq.op1.p5.list.pt3' | translate}}</span></li>
				</ul> 
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p6.pregunta' | translate}}</span><br>
				{{'faq.op1.p6.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">
						{{'faq.op1.p7.pregunta' | translate}}
				</span> <br>
				{{'faq.op1.p7.respuesta.r1' | translate}}<br><br>
				<span class="bold-opensans">{{'faq.op1.p7.respuesta.r2' | translate}}</span>
				{{'faq.op1.p7.respuesta.r3' | translate}}<br><br>
				<ul style="padding-left: 20px">
				 	
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt1' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt2' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt3' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt4' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt5' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt6' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt7' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt8' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt9' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt10' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt11' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt12' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt13' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt14' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt15' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt16' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt17' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt18' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt19' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt20' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt21' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt22' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt23' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt24' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op1.p7.respuesta.list.pt25' | translate}}</span></li>
				</ul>
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p8.pregunta' | translate}}</span><br><br>
				<ul style="padding-left: 20px">
				 	<li class="green"><span class="black">{{'faq.op1.p8.respuesta.list.pt1' | translate}}</span></li>
				 	<li class="green"><span class="black">{{'faq.op1.p8.respuesta.list.pt2' | translate}}</span></li>
				</ul>
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p9.pregunta' | translate}}</span><br>
				{{'faq.op1.p9.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">
						{{'faq.op1.p10.pregunta' | translate}}
				</span><br>
				{{'faq.op1.p10.respuesta' | translate}}<br><br>
				<span class="bold-opensans">
					{{'faq.op1.p11.pregunta' | translate}}
				</span><br>
				{{'faq.op1.p11.respuesta' | translate}}<br><br>
				<span class="bold-opensans">
						{{'faq.op1.p12.pregunta' | translate}}
				</span><br>
				{{'faq.op1.p12.respuesta' | translate}}
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p13.pregunta' | translate}}</span><br>
				{{'faq.op1.p13.respuesta' | translate}}<br><br>
				<span class="bold-opensans">{{'faq.op1.p14.pregunta' | translate}}</span> <br>
				{{'faq.op1.p14.respuesta' | translate}}<br><br>
				<span class="bold-opensans">{{'faq.op1.p15.pregunta' | translate}}</span><br>
				{{'faq.op1.p15.respuesta' | translate}}<br><br>
				<span class="bold-opensans">
					{{'faq.op1.p16.pregunta' | translate}}
				</span><br>
				{{'faq.op1.p16.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">{{'faq.op1.p17.pregunta' | translate}}</span><br>
				{{'faq.op1.p17.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">	{{'faq.op1.p18.pregunta' | translate}}</span><br>
				{{'faq.op1.p18.respuesta' | translate}} <br><br>

				<span class="bold-opensans">Condiciones generales del seguro</span><br>
				<a target="_blank" href="https://www.aig.com.mx/content/dam/aig/lac/mexico/documents/brochures/2017_condiciones_seguro_por_kilometro..pdf" class="green bold-opensans">
					Disponibles en este documento.
				</a>
				<br><br><br>
			</div>
			<div *ngIf="active==2" class="col-12 col-md-8" align="justify">
				<br><br>
			    <h2>{{'faq.op2.titulo' | translate}}</h2>
				<span class="bold-opensans">{{'faq.op2.p1.pregunta' | translate}}</span><br>
				{{'faq.op2.p1.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p2.pregunta' | translate}}</span> <br>
				{{'faq.op2.p2.respuesta' | translate}}<br><br>

				<span class="bold-opensans">{{'faq.op2.p3.pregunta' | translate}}</span><br>
				{{'faq.op2.p3.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p4.pregunta' | translate}}</span><br>
				{{'faq.op2.p4.respuesta' | translate}}<br><br>
				<span class="bold-opensans">{{'faq.op2.p5.pregunta' | translate}}</span><br>
				{{'faq.op2.p5.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p6.pregunta' | translate}}</span><br>
				{{'faq.op2.p6.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p7.pregunta' | translate}}</span><br>
				{{'faq.op2.p7.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p8.pregunta' | translate}}</span><br>
				{{'faq.op2.p8.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p9.pregunta' | translate}}</span><br>
				{{'faq.op2.p9.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p10.pregunta' | translate}}</span><br>
				{{'faq.op2.p10.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p11.pregunta' | translate}}</span><br>
				{{'faq.op2.p11.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p12.pregunta' | translate}}</span><br>
				{{'faq.op2.p12.respuesta' | translate}} 
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p13.pregunta' | translate}}</span><br>
				{{'faq.op2.p13.respuesta' | translate}} <br><br>

				<span class="bold-opensans">{{'faq.op2.p14.pregunta' | translate}}</span><br>
				{{'faq.op2.p14.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p15.pregunta' | translate}}</span><br>
				{{'faq.op2.p15.respuesta' | translate}} <br><br>
				<span class="bold-opensans">{{'faq.op2.p16.pregunta' | translate}}</span><br>
				{{'faq.op2.p16.respuesta' | translate}} <br><br>
				<span class="bold-opensans">{{'faq.op2.p17.pregunta' | translate}}</span><br>
				{{'faq.op2.p17.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">{{'faq.op2.p18.pregunta' | translate}}</span><br>
				{{'faq.op2.p18.respuesta' | translate}} 
				<br><br><br>
			</div>
			<div *ngIf="active==3" class="col-12 col-md-8" align="justify">
				<br><br>
				<h2>{{'faq.op3.titulo'}}</h2>
				<span class="bold-opensans">{{'faq.op3.p1.pregunta' | translate}}</span><br>
				{{'faq.op3.p1.respuesta' | translate}}<br><br>

				<span class="bold-opensans">{{'faq.op3.p2.pregunta' | translate}}</span><br>
				{{'faq.op3.p2.respuesta' | translate}} <br><br>

				<span class="bold-opensans">{{'faq.op3.p3.pregunta' | translate}}</span><br>
				{{'faq.op3.p3.respuesta' | translate}}<br><br>

				<span class="bold-opensans">{{'faq.op3.p4.pregunta' | translate}}</span><br>
				{{'faq.op3.p4.respuesta.parrafo1' | translate}}<br><br>

				{{'faq.op3.p4.respuesta.parrafo1' | translate}}<br><br>

				<span class="bold-opensans">{{'faq.op3.p5.pregunta' | translate}}</span><br>
				{{'faq.op3.p5.respuesta' | translate}}<<br><br>

				<span class="bold-opensans">{{'faq.op3.p6.pregunta' | translate}}</span><br>
				{{'faq.op3.p6.respuesta' | translate}}<br><br>

				<span class="bold-opensans">{{'faq.op3.p7.pregunta' | translate}}</span><br>
				{{'faq.op3.p7.respuesta' | translate}}<br><br>

				<span class="bold-opensans">{{'faq.op3.p8.pregunta' | translate}}</span><br>
				{{'faq.op3.p8.respuesta' | translate}}<br><br><br>
			</div>
			<div *ngIf="active==4" class="col-12 col-md-8" align="justify">
				<br><br>
				<h2>{{'faq.op4.titulo' | translate}}</h2>
				<span class="bold-opensans">{{'faq.op4.p1.pregunta' | translate}}</span><br>
				{{'faq.op4.p1.respuesta.parrafo1' | translate}}
				<br><br>
				<ul style="padding-left: 20px">
					<li class="green"><span class="black">{{'faq.op4.p1.respuesta.list.pt1' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op4.p1.respuesta.list.pt2' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op4.p1.respuesta.list.pt3' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op4.p1.respuesta.list.pt4' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op4.p1.respuesta.list.pt5' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op4.p1.respuesta.list.pt6' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op4.p1.respuesta.list.pt7' | translate}}</span></li>
				</ul>
				{{'faq.op4.p1.respuesta.parrafo2' | translate}}
				<br><br>

				<span class="bold-opensans">{{'faq.op4.p2.pregunta' | translate}}</span><br>
				{{'faq.op4.p2.respuesta' | translate}} 
				<br><br>

				<span class="bold-opensans">{{'faq.op4.p3.pregunta' | translate}}</span><br>
				{{'faq.op4.p3.respuesta' | translate}} 
				<br><br>

				<span class="bold-opensans">{{'faq.op4.p4.pregunta' | translate}}</span><br>
				{{'faq.op4.p4.respuesta' | translate}}  
				<br><br>

				<span class="bold-opensans">{{'faq.op4.p5.pregunta' | translate}}</span><br>
				{{'faq.op4.p5.respuesta' | translate}}  
				<br><br>

				<span class="bold-opensans">{{'faq.op4.p6.pregunta' | translate}}</span><br>
				{{'faq.op4.p6.respuesta' | translate}}  
				<br><br>
				<span class="bold-opensans">Condiciones generales del seguro. </span><br>
				<a target="_blank" href="https://www.aig.com.mx/content/dam/aig/lac/mexico/documents/brochures/2017_condiciones_seguro_por_kilometro..pdf" class="green bold-opensans">
					Disponibles en este documento.
				</a>
				<br><br> <br>
			</div>
			<div *ngIf="active==5" class="col-12 col-md-8" align="justify">
				<br><br>
				<h2>{{'faq.op5.titulo'}}</h2>
				<span class="bold-opensans">{{'faq.op5.p1.pregunta' | translate}}</span> <br>
				{{'faq.op5.p1.respuesta.parrafo1' | translate}}<br><br>
				<ul style="padding-left: 20px">
					<li class="green"><span class="black">{{'faq.op5.p1.respuesta.list1.pt1' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op5.p1.respuesta.list1.pt2' | translate}}</span></li>
				</ul>
				{{'faq.op5.p1.respuesta.parrafo2' | translate}}<br><br>
				<ul style="padding-left: 20px">
					<li class="green"><span class="black">{{'faq.op5.p1.respuesta.list2.pt1' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op5.p1.respuesta.list2.pt2' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op5.p1.respuesta.list2.pt3' | translate}}</span></li>
					<li class="green"><span class="black">{{'faq.op5.p1.respuesta.list2.pt4' | translate}}</span></li>
				</ul>
				{{'faq.op5.p1.respuesta.parrafo3' | translate}} 
				<br><br>
				<span class="bold-opensans">{{'faq.op5.p2.pregunta' | translate}}</span> <br>
				{{'faq.op5.p2.respuesta' | translate}}
				<br><br><br>
			</div>
		</div>
	</div>	
</section>