<!-- The overlay -->
<div id="myNav" class="overlay">
  <div class="overlay-content">
    <img src="/assets/img/spinner.svg" alt="">
    <br>
    <h1 class="">Cargando</h1>
  </div>
</div>

<section class="container-fluid" style="min-height: 55vh;padding-top: 10px">
  <div class="row">
    <div class="offset-md-1 col-md-6">
      <h2>Cotizaciones</h2>
    </div>
    <div class="col-md-4" align="right">
      <form #f="ngForm" (ngSubmit)="searchQuote()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Escribir" [(ngModel)]="quote_info.term" name="quote_info.term">
          <div class="input-group-append">
            <button class="btn btn-info" type="submit">Buscar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="offset-md-1 col-md-3">
      <label for="quote_info.seller_id">Filtrar por vendedores:</label>
      <select id="quote_info.seller_id" name="quote_info.seller_id" *ngIf="seller.rol==4" (change)="getQuotes()" [(ngModel)]="quote_info.seller_id" class="form-control" >
        <option value="">Ver todos los vendedores</option>
        <option value="unassigned">Sin vendedor asignado</option>
        <option *ngFor="let s of sellers" value="{{s.id}}">{{s.full_name}} ({{s.email}})</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="quote_info.from_date">De:</label>
      <input id="quote_info.from_date" type="date" (change)="getQuotes()" [(ngModel)]="quote_info.from_date" name="from_date" class="form-control">
    </div>
    <div class="col-md-2" align="left">
      <label for="quote_info.to_date">A:</label>
      <input id="quote_info.to_date" type="date" (change)="getQuotes()" [(ngModel)]="quote_info.to_date" name="to_date"  class="form-control">
    </div>
    <div class="col-md-3" align="left">
      <label for="filter">Filtrar cotizaciones:</label>
      <select id="filter" name="filter" (change)="setFilters()" [(ngModel)]="filter" class="form-control" >
        <option value="">Ver todas</option>
        <option value="quote_state,pending">Cotizaciones activas</option>
        <option value="quote_state,canceled_unpaid">Cotizaciones caducadas</option>
        <!---option value="seller_states,assigned">Cotizaciones con vendedor asignado</option>
        <option value="seller_states,unassigned">Cotizaciones sin vendedor asignado</option-->
        <option value="payment_state,pending">Cotizaciones con ficha de pago</option>
        <option value="payment_state,not_pending">Cotizaciones sin ficha de pago</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-10 table-responsive" align="right">
      <br>
      <span class="bold-opensans">Total: {{quote_info.total}} cotizaciones</span> <br>
      <table class="table table-bordered" id="example">
        <thead>
          <tr>
            <th scope="col" width="100px">Fecha</th>
            <th scope="col">Vendedor</th>
            <th scope="col" width="300px">Cotización</th>
            <th scope="col">Cotizaciones</th>
            <th scope="col">Estatus</th>
            <th scope="col">Seguimiento</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quote of quotes">
            <td>
              {{quote.created_at | date: 'dd-MM-yyyy'}}
            </td>
            <td>
              <span *ngIf="quote.seller.id==null">
                Sin vendedor asignado
              </span>
              <span *ngIf="quote.seller.id">{{quote.seller.full_name}}</span>
            </td>
            <td>
              <span *ngIf="quote.user.first_name!=null">Nombre: {{quote.user.first_name}} {{quote.user.last_name}} {{quote.user.second_last_name}} <br></span>
              {{quote.user.email}} <br>
              <span *ngIf="quote.user.phone!='' &&quote.user.phone!=null">Celular: {{quote.user.phone}}<br></span>
              Fecha nacimiento: {{quote.user.birth_date}}
              <br>Sexo: {{quote.user.gender==1?'Mujer':'Hombre'}} <br>  
              CP: {{quote.user.zip_code}}<br>
              Marca: {{quote.car.maker}} <br>
              Año: {{quote.car.year}} <br>
              Modelo: {{quote.car.model}}
            </td>
            <td>
              <span *ngFor="let package of quote.packages_costs">
                Paquete {{package.package}} km: {{package.cost_by_package | currency}} <br>
              </span>
            </td>
            <td>
              <span *ngIf="quote.status=='pending'">
                <i class="fas fa-circle green"></i> Activa
              </span>
              <span *ngIf="quote.status=='canceled_unpaid'">
                <i class="fas fa-circle red"></i> Caducada
              </span>
              <br>
            </td>
            <td>Sin Seguimiento</td>
            <td>
              <a *ngIf="quote.pending_payments!=null" href="/panel/ticket/compra/pendiente/{{quote.id}}"  class="link-modal" >
                <i class="fas fa-file-invoice-dollar"></i> Ver ficha de pago pendiente
                <br>
              </a>
              <a *ngIf="quote.status=='pending' && (seller.rol==4 || seller.id==quote.seller.id)" href="/panel/pago/compra/{{quote.id}}"  class="link-modal" >
                <i class="fas fa-credit-card"></i> Pagar cotización
                <br>
              </a>
              <a *ngIf="seller.rol==4"  class="link-modal"  data-toggle="modal" data-target="#modalChangeSeller" (click)="changeSellerQuote(quote.id,quote.seller.id)">
                <i class="fas fa-user-circle"></i> 
                {{quote.seller.id==null ?'Asignar vendedor':'Cambiar vendedor'}}
                <br>
              </a>
              <a *ngIf="quote.user.id!=null" href="/panel/user/{{quote.user.id}}"  class="link-modal" >
                <i class="fas fa-edit"></i> Ver Perfil <br>
              </a>
              <a class="link-modal"  *ngIf="quote.status=='pending'" (click)="modalSendEmailQuotes(quote.id, quote.user.email)" data-toggle="modal" data-target="#modalSendEmailQuotes">
                <i class="fas fa-envelope"></i> Enviar cotización por correo
                <br>
              </a>
              <a class="link-modal"  *ngIf="seller.rol==4 || seller.id==quote.seller.id" data-toggle="modal" data-target="#modalCotizador" (click)="setQuotation(quote)">
                <i class="fas fa-sync-alt"></i> Recotizar
                <br>
              </a>
              <a  class="link-modal"  data-toggle="modal" data-target="#modalDeleteQuote"  *ngIf="quote.status=='pending'  && seller.rol==4" (click)="modalDeleteQuote(quote.id)">
                <i class="fas fa-trash"></i> Elimiar 
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" align="center">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" (click)="setPagination(quote_info.page[0]-1)">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li *ngFor="let p of quote_info.pagination" class="page-item {{quote_info.page==p? 'active':''}}"><a class="page-link" (click)="setPagination(p)">{{p}}</a></li>
          <li class="page-item">
            <a class="page-link" (click)="setPagination(quote_info.pagination.length)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalChangeSeller" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Asignar vendedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="changeSellerQuoteSubmit()" ngNativeValidate>
          <div class="row">
            <div class="col-md-12">
              <select name="assign_seller.seller_id" [(ngModel)]="assign_seller.seller_id" class="form-control" required="true" minlength="3" >
                <option value="" disabled selected>Asignar Vendedor</option>
                <option *ngFor="let seller of sellers" value="{{seller.id}}">{{seller.full_name}} ({{seller.email}})</option>
              </select>
              <br>
            </div>
            <div class="col-md-12" align="right">
              <button type="submit" class="btn btn-primary">Asignar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalSendEmailQuotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Enviar cotización por correo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="sendEmailQuotes()" ngNativeValidate>
          <div class="row">
            <div class="col-md-12">
              <input [(ngModel)]="email_quotes.email" placeholder="Email" name="email" type="email" class="form-control" style="background-color:#fff" required >
              <br>
            </div>
            <div class="col-md-12" align="right">
              <button type="submit" class="btn btn-primary">Enviar cotizaciones</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDeleteQuote" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Eliminar cotización</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="deleteQuote()" ngNativeValidate>
          <div class="row">
            <div class="col-md-12">
              <label for="delete_quote.reason_id">Selecciona el motivo por el cuál se elimina:</label>
              <select [(ngModel)]="delete_quote.reason_id" name="reason" class="form-control" required="true" >
                <option value="" disabled selected>Seleccionar</option>
                <option *ngFor="let reason of delete_quote.delete_reasons" value="{{reason.id}}">{{reason.desc}}</option>
              </select>
              <br>
            </div>
            <div class="col-md-12">
              <label for="delete_quote.password">Ingresa tu contraseña</label>
              <input type="password"  name="delete_quote.password" [(ngModel)]="delete_quote.password" class="form-control" value="" required>
              <br>
            </div>
            <div class="col-md-12" align="right">
              <button type="submit" class="btn btn-primary">Enviar cotizaciones</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCotizador" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Cotización</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="sendEmailQuotes()" ngNativeValidate>
          <div class="row">
              <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <span style="font-size: 16px">Datos de tu auto</span>
                    </div>
                    <div class="col-md-12">
                      <span class="bold-opensans" for="maker">Marca</span>
                      <select class="form-control" (change)="getModels();" required="true" [(ngModel)]="quotation.maker" name="maker" #maker="ngModel" id="maker">
                        <option value="" disabled selected>Seleccionar</option>
                        <option *ngFor="let maker of makers" value="{{maker.id}}">{{maker.name}}</option>
                      </select>
                    </div>
                    <div class="col-md-12">
                      <span class="bold-opensans" for="year">Año</span>
                      <select class="form-control" (change)="getModels()" required="true" minlength="1" [(ngModel)]="quotation.year" name="year" #year="ngModel" id="year">
                        <option value="" disabled selected>Seleccionar</option>
                        <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                      </select>
                    </div>
                    <div class="col-md-{{quote.loaderModels==true? '10': '12'}}">
                      <span class="bold-opensans" for="model">Modelo</span>
                      <select class="form-control" required="true" minlength="3" [(ngModel)]="quotation.model" name="model" #model="ngModel" (change)="getVersions()" id="model" [disabled]="modelLength==0">
                        <option value="" disabled selected>Seleccionar</option>
                        <option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</option>
                      </select>
                    </div>
                    <div *ngIf="quote.loaderModels==true" class="col-md-2" align="left" style="padding-top: 15px">
                      <img src="/assets/img/spinner.gif" alt="" style="width: 32px;">
                    </div>
                    <div class="col-md-{{quote.loaderVersions==true? '10': '12'}}">
                      <span class="bold-opensans" for="version">Versión</span>
                      <select class="form-control" required="true" minlength="1" [(ngModel)]="quotation.version" name="version" #version="ngModel"  (change)="getSisa(); setVersionName(1)" id="version"  [disabled]="versionLength==0">
                        <option value="" disabled selected>Seleccionar </option>
                        <option *ngFor="let version of versions" value="{{version.id}}">{{version.name}}</option>
                      </select>
                    </div>
                    <div *ngIf="quote.loaderVersions==true" class="col-md-2" align="left" style="padding-top: 10px">
                      <img src="/assets/img/spinner.gif" alt="" style="width: 32px;">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <span style="font-size: 16px">Datos personales</span>
                    </div>
                    <div class="col-md-12">
                      <span class="bold-opensans" for="email">Email</span>
                      <input type="email" class="form-control" name="email" id="email" required [(ngModel)]="quotation.email" #email="ngModel">
                    </div>
                    <div class="col-6">
                      <span class="bold-opensans" for="zipcode">Código postal</span>
                      <input type="text" class="form-control" name="zipcode" type="text" required="true" minlength="5" maxlength="5" [(ngModel)]="quotation.zipcode" #zipcode="ngModel" (blur)="validateZipcode()">
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-md-12">
                          <span class="bold-opensans" for="">Sexo</span>
                          <br>
                          <button type="button" class="btn {{quotation.gender==2 ? 'radio-sxkm-green' : 'radio-sxkm-white'}} " (click)="setGender(2)" class="waves-effect waves-light btn ">
                            H
                          </button>
                          &nbsp;
                          <button type="button" class="btn {{quotation.gender==1 ? 'radio-sxkm-green' : 'radio-sxkm-white'}} " (click)="setGender(1)" class="waves-effect waves-light btn ">
                            M
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <span class="bold-opensans" for="">Fecha de nacimiento</span>
                        </div>
                        <div class="col-md-12">
                          <select class="form-control" style="width: 30%;display: inline;" (change)="setBirthDate();" required="true" name="day_birth" [(ngModel)]="birth_day" #day_birth="ngModel">
                            <option value="" selected disabled>Día</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                          </select>
                          &nbsp;
                          <select (change)="setBirthDate();" class="form-control" style="width: 30%;display: inline;" required="true" name="month_birth" [(ngModel)]="birth_month" #month_birth="ngModel">
                            <option value="" selected disabled>Mes</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                          &nbsp;
                          <select (change)="setBirthDate();" class="form-control" style="width: 30%;display: inline;" required="true" name="year_birth" [(ngModel)]="birth_year" #year_birth="ngModel">
                            <option value="" selected disabled>Año</option>
                            <option  *ngFor="let year of years_birth" value="{{year}}">{{year}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <span class="bold-opensans" for="cellphone">Celular</span>
                      <input placeholder="" name="cellphone" id="cellphone" type="text" class="form-control" [(ngModel)]="quotation.cellphone" #cellphone="ngModel">
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="padding-bottom: 7px">
                  <br><br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked required>
                    <label class="custom-control-label" for="customCheck1">&nbsp;El auto NO es legalizado, fronterizo o de salvamento y no tiene siniestros por reclamar.</label>
                  </div>
                </div>
                <div class="col-md-12" style="padding-bottom: 7px">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" checked required>
                    <label class="custom-control-label" for="customCheck2">&nbsp;El auto NO es utilizado para fines de carga, comercio o lucro.</label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3"  checked required>
                    <label class="custom-control-label" for="customCheck3">&nbsp;El auto NO es Uber o similares.</label>
                  </div>
                </div>
                <div class="offset-md-4 col-md-4">
                  <br>
                  <button type="submit" class="btn btn-sxkm-dark-green btn-lg btn-block">
                    Cotizar seguro
                  </button>
                </div>


            <div class="col-md-12" align="right">
              <button type="submit" class="btn btn-primary">Enviar cotizaciones</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  