<section style="padding-top: 0px">
    <div class="row">
        <div class="col m1"></div>
        <div class="col m10">
            <div class="row">
                <div class="col m6">
                    <h2>Cotizaciones</h2>
                </div>
                <div class="col m3"></div>
                <div class="col m3" align="right">
                    <br><br>
                    <input type="text" name="" value="" placeholder="Buscar"> <br>
                    <a href="/panel/compra/kilometros" class="waves-effect waves-light btn-small" style="background-color: #0f312a;color:#ffff; ">Nueva Cotización</a> 
                </div>
            </div>
            <div class="row">
                <div class="col m3">
                    <div class="input-field">
                        <select multiple>
                          <option value="" selected>Todas</option>
                          <option value="">Cotizaciones creadas</option>
                          <option value="1">Cotizaciones activas</option>
                          <option value="2">Cotizaciones caducadas</option>
                          <option value="2">Cotizaciones con ficha de pago pendiente</option>
                          <option value="2">Cotizaciones sin ficha de pago pendiente</option>
                          <option value="">Cotizaciones sin vendedor asignado</option>
                          <option value="">Cotizaciones con vendedor asignado</option>
                        </select>
                        <label class="active" style="font-size: 17px;top: -5px;">Filtrar pólizas por actividad</label>
                    </div>
                </div>
                <div class="col m3"></div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <label>Seleccionar rango de fechas</label>
                        </div>
                        <div class="col m6">
                          <input  type="text" class="datepicker">  
                        </div>
                        <div class="col m6">
                          <input  type="text" class="datepicker">  
                        </div>
                    </div>
                </div>
            </div>
            <div  *ngFor="let quote of quotes" class="card">
                <div class="card-content" style="">
                    <div class="row">
                        <div class="col m1 bold-opensans" style="" align="left">
                            No. Cotización
                        </div>
                        <div class="col m3 bold-opensans" style="" align="left">
                            Datos de la Cotización
                        </div>
                        <div class="col m3 bold-opensans" style="" align="left">
                            Cotizaciones
                        </div>
                        <div class="col m1 bold-opensans" style="" align="left">
                            Status
                        </div>
                        <div class="col m2 bold-opensans" style="" align="left">
                            Vendedor
                        </div>
                        <div class="col m2 bold-opensans" style="" align="left">
                            Acciones
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m1">
                            <a target="_blank" href="#" class="tooltipped" data-position="top" data-tooltip="Descarga la póliza" style="cursor: pointer;" >
                            {{quote.id}}
                            </a> <br>
                            <small>{{quote.created_at}}</small>
                        </div>
                        <div class="col m3">
                            <span *ngIf="quote.user.name!= '' || quote.user.name!=' ' || quote.user.name!=NULL">Nombre: {{quote.user.name}} <br></span>
                            <span *ngIf="quote.user.phone!=''">Celular: {{quote.user.phone}}<br></span>
                            Correo: {{quote.user.email}} <br>
                            Sexo: {{quote.user.gender==1?'Mujer':'Hombre'}} <br>
                            Fecha nacimiento: {{quote.user.birth_date}} <br>
                            CP: {{quote.user.zip_code}}
                            <br><br>
                            Marca: {{quote.car.maker}} <br>
                            Año: {{quote.car.year}} <br>
                            Modelo: {{quote.car.model}}
                        </div>
                        <div class="col m3">
                            <span *ngFor="let package of quote.packages_costs">
                                Paquete {{package.package}} km:{{package.total_cost | currency}} <br>
                            </span>
                        </div>
                        <div class="col m1">
                            <span *ngIf="quote.status=='pending'">
                                <i class="material-icons" style="font-size: 12px;color:#17d320">brightness_1</i> Activa
                            </span>
                        </div>
                        <div class="col m2">
                            {{quote.seller.full_name}}
                        </div>
                        <div class="col m2">
                            <a class="tooltipped  modal-trigger" data-position="top" data-tooltip="Ver detalle de póliza" style="cursor: pointer;" href="#modal1">
                                <i class="material-icons">account_circle</i>
                                {{quote.seller.email==''?'Asignar vendedor':'Cambiar vendedor'}}
                            </a><br>
                            <a href="/panel/perfil/editar/1040" class="tooltipped" data-position="top" data-tooltip="Modificar datos del cliente" style="cursor: pointer; font-size: 12px" >
                                <i class="material-icons">edit</i> Ver Perfil
                            </a><br>
                            <a href="/panel/compra/kilometros" class="tooltipped" data-position="top" data-tooltip="Modificar datos del cliente" style="cursor: pointer; font-size: 12px" >
                                <i class="material-icons">payment</i> Pagar cotización
                            </a><br>
                            <a href="#modal2" class="tooltipped modal-trigger" data-position="top" data-tooltip="Recotizar" style="cursor: pointer; font-size: 12px" >
                                <i class="material-icons">autorenew</i> Recotizar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODALES -->
<!-- Modal Structure -->
<div id="modal1" class="modal" style="background-color: #ffff">
    <div class="modal-content">
        <div class="row">
            <div class="col m12">
                <h4>Asignar vendedor</h4>
                <br><br>
                <div class="input-field">
                    <select class="browser-default " required="true" id="seller">
                        <option value="" disabled selected>Seleccionar Vendedor</option>
                        <option *ngFor="let seller of sellers" value="{{seller.id}}">{{seller.full_name}} ({{seller.email}})</option>
                    </select>
                    <label class="active">Vendedor</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="modal-close waves-effect waves-green btn-flat">Asignar</span>
    </div>
</div>
