  <div *ngIf="tipo=='B'" class="alert alert-sxkm alert-dismissible fade show" role="alert" style="" align="center">
    <i class="far fa-envelope"></i> Hemos enviado el enlace con la cotización a tu correo.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
<section class="section-paquetes">
  <div class="container">
    <div class="row">
      <div class="col-md-7 align-middle" style="padding-top: 10px">
        <h1 class="h1-paquetes">Elige un paquete de kilómetros:</h1>
      </div>
      <div class="col-md-2" align="right">
        <div class="div-logo rounded"></div>
      </div>
      <div class="col-md-3">
        <span class="span-datos-vehiculo">
          Mini Cooper <br>
          Countryman 2016 <br>
          $0.50 precio x km
        </span>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="position: relative;top: 73px;padding: 0px;">
      <div class="col-md-1" *ngIf="tipo=='A'"></div>
      <div class="col-md-{{colExt}}">
        <div class="row">
          <div class="col-md-1" *ngIf="tipo=='B'"></div>
          <!-- Activo-->
          <div *ngIf="tipo=='A'" id="idPaquete1" class="col-md-{{col}} col-paquetes active-card" style="" (mouseenter)="cambiarActivo(1)">
            <div class="card text-center card-paquetes" style="">
              <div id="idPaqueteHeader1" class="card-header active" style="">
                3,000 km <br>
                <span style="" class="span-mas-vendido">
                  MÁS VENDIDO
                </span>
              </div>
              <div id="idPaqueteBody1" class="card-body active">
                <span class="card-text span-km-paquetes1">Un pago de</span>
                <h5 id="idPaqueteBodyPrice1" class="card-title span-price-paquetes-active">$1,480</h5>
              </div>
              <div id="idPaqueteFooter1" class="card-footer  active card-footer-active">
                <div class="row">
                  <div class="col-md-12">
                    <span class="span-paquetes-vigencia">6 meses de vigencia</span> <br><br>
                  </div>
                  <div class="col-md-12">
                    <a href="#"><button type="button" id="idPaqueteBoton1" class="btn btn-green">Seleccionar</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="tipo=='B'" id="idPaquete1" class="col-md-{{col}} col-paquetes" style="" (mouseenter)="cambiarActivo(1)">
            <div class="card text-center card-paquetes" style="">
              <div id="idPaqueteHeader1" class="card-header inactive" style="">
                250 km
              </div>
              <div id="idPaqueteBody1" class="card-body inactive">
                <span class="card-text span-km-paquetes1">Un pago de</span>
                <h5 id="idPaqueteBodyPrice1" class="card-title span-price-paquetes">$125</h5>
              </div>
              <div id="idPaqueteFooter1" class="card-footer inactive">
                <span class="span-paquetes-vigencia">1 mes de vigencia</span> <br><br>
                <a href="#"><button id="idPaqueteBoton1" type="button" class="btn btn-gray">Seleccionar</button></a>
              </div>
            </div>
          </div>
          <div id="idPaquete2" class="col-md-{{col}} col-paquetes" style="" (mouseenter)="cambiarActivo(2)">
            <div class="card text-center card-paquetes" style="">
              <div id="idPaqueteHeader2" class="card-header inactive" style="">
                250 km
              </div>
              <div id="idPaqueteBody2" class="card-body inactive">
                <span class="card-text span-km-paquetes2">Un pago de</span>
                <h5 id="idPaqueteBodyPrice2" class="card-title span-price-paquetes">$125</h5>
              </div>
              <div id="idPaqueteFooter2" class="card-footer inactive">
                <span class="span-paquetes-vigencia">1 mes de vigencia</span> <br><br>
                <a href="#"><button id="idPaqueteBoton2" type="button" class="btn btn-gray">Seleccionar</button></a>
              </div>
            </div>
          </div>
          <div *ngIf="tipo=='A'" id="idPaquete3" class="col-md-{{col}} col-paquetes" style="" (mouseenter)="cambiarActivo(3)">
            <div class="card text-center card-paquetes" style="">
              <div id="idPaqueteHeader3" class="card-header inactive" style="">
                250 km
              </div>
              <div id="idPaqueteBody3" class="card-body inactive">
                <span class="card-text span-km-paquetes2">Un pago de</span>
                <h5 id="idPaqueteBodyPrice3" class="card-title span-price-paquetes">$125</h5>
              </div>
              <div id="idPaqueteFooter3" class="card-footer inactive">
                <span class="span-paquetes-vigencia">1 mes de vigencia</span> <br><br>
                <a href="#"><button id="idPaqueteBoton3" type="button" class="btn btn-gray">Seleccionar</button></a>
              </div>
            </div>
          </div>
          <!-- Activo-->
          <div *ngIf="tipo=='B'" id="idPaquete3" class="col-md-{{col}} col-paquetes active-card" style="" (mouseenter)="cambiarActivo(3)">
            <div class="card text-center card-paquetes" style="">
              <div id="idPaqueteHeader3" class="card-header active" style="">
                3,000 km <br>
                <span style="" class="span-mas-vendido">
                  MÁS VENDIDO
                </span>
              </div>
              <div id="idPaqueteBody3" class="card-body active">
                <span class="card-text span-km-paquetes1">Un pago de</span>
                <h5 id="idPaqueteBodyPrice3" class="card-title span-price-paquetes-active">$1,480</h5>
              </div>
              <div id="idPaqueteFooter3" class="card-footer  active card-footer-active">
                <div class="row">
                  <div class="col-md-12">
                    <span class="span-paquetes-vigencia">6 meses de vigencia</span> <br><br>
                  </div>
                  <div class="col-md-12">
                    <a href="#"><button type="button" id="idPaqueteBoton3" class="btn btn-green">Seleccionar</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="idPaquete4" class="col-md-{{col}} col-paquetes" style="" (mouseenter)="cambiarActivo(4)">
            <div class="card text-center card-paquetes" style="">
              <div id="idPaqueteHeader4" class="card-header inactive" style="">
                250 km
              </div>
              <div id="idPaqueteBody4" class="card-body inactive">
                <span class="card-text span-km-paquetes2">Un pago de</span>
                <h5 id="idPaqueteBodyPrice4" class="card-title span-price-paquetes">$125</h5>
              </div>
              <div id="idPaqueteFooter4" class="card-footer inactive">
                <span class="span-paquetes-vigencia">1 mes de vigencia</span> <br><br>
                <a href="#"><button id="idPaqueteBoton4" type="button" class="btn btn-gray">Seleccionar</button></a>
              </div>
            </div>
          </div>
          <div *ngIf="tipo=='B'" id="idPaquete5" class="col-md-{{col}} col-paquetes" style="" (mouseenter)="cambiarActivo(5)">
            <div class="card text-center card-paquetes" style="">
              <div id="idPaqueteHeader5" class="card-header inactive" style="">
                250 km
              </div>
              <div id="idPaqueteBody5" class="card-body inactive">
                <span class="card-text span-km-paquetes2">Un pago de</span>
                <h5 id="idPaqueteBodyPrice5" class="card-title span-price-paquetes">$125</h5>
              </div>
              <div id="idPaqueteFooter5" class="card-footer inactive">
                <span class="span-paquetes-vigencia">1 mes de vigencia</span> <br><br>
                <a href="#"><button id="idPaqueteBoton5" type="button" class="btn btn-gray">Seleccionar</button></a>
              </div>
            </div>
          </div>
          <div class="col-md-1" *ngIf="tipo=='B'"></div>
        </div>
      </div>
      <div class="col-md-1" *ngIf="tipo=='A'"></div>
    </div>
  </div>
</section>