<section *ngIf="policy">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<br>
				<h2>Póliza: {{policy.sxkm_id}}</h2>
				<h3>Folio AIG: {{policy.aig_id}}</h3>
				<span *ngIf="policy.status=='active'">
					<h4><i class="fas fa-check-circle green" style="font-size: 30px"></i> Activa</h4>
				</span>
			</div>
			<div class="col-md-5" *ngIf="policy.user!=null">
				<br>
				<div class="card shadow">
				  <div class="card-body">
				    <div class="row">
				    	<div class="col-md-12">
				    		<span class="bold-opensans">Nombre: </span> {{policy_object.policy.first_name}} {{policy_object.policy.last_name}} {{policy_object.policy.second_last_name}}
				    	</div>
				    	<div class="col-md-12">
				    		<span class="bold-opensans">Correo: </span> {{policy.user.email}}
				    	</div>
				    	<div class="col-md-12">
				    		<span class="bold-opensans">Celular: </span> {{policy.phone}}
				    	</div>
				    	<!--div class="col-md-12">
				    		<span class="bold-opensans">Paquete: </span>
				    	</div-->
				    	<div class="col-md-12">
				    		<span class="bold-opensans">Km restantes: </span> {{policy.car.km_left}}
				    	</div>
				    	<!--div class="col-md-12">
				    		<span class="bold-opensans">Vigencia:</span>
				    	</div-->
				    	<div class="col-md-12">
				    		<span class="bold-opensans">Próximo pago:</span> {{policy.membership.next_cutoff_date | date: 'dd-MM-yyyy'}}
				    	</div>
				    	<div class="col-md-12">
				    		<span class="bold-opensans"></span>
				    	</div>

				    </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<br>
				<span class="bold-opensans">Puedes editar los siguientes datos:</span>
				<br><br>
			</div>
			<div class="col-md-12">
				<form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
					<div class="accordion" id="accordionExample">
						<div class="card">
					    	<div class="card-header bg-white black shadow" id="datosDirPolicy">
					      		<h5 class="mb-0">
					        		<button class="btn btn-link black" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
					          			<i class="fas fa-user-edit" style="font-size: 1rem"></i> Datos de la póliza
					        		</button>
					      		</h5>
					    	</div>
					    	<div id="collapseZero" class="collapse" aria-labelledby="datosDirPolicy" data-parent="#accordionExample">
					      		<div class="card-body">
					        		<div class="row">
					        			<div class="col-md-4">
					      					<span class="bold-opensans">Nombre(s):</span>
					      					<input type="text" class="form-control" name="policy_object.policy.first_name" value="" placeholder="" [(ngModel)]="policy_object.policy.first_name" required>
					      				</div>
					      				<div class="col-md-4">
					      					<span class="bold-opensans">Apellido paterno:</span>
					      					<input type="text" class="form-control" name="policy_object.policy.last_name" value="" placeholder="" [(ngModel)]="policy_object.policy.last_name" required>
					      				</div>
					      				<div class="col-md-4">
					      					<span class="bold-opensans">Apellido materno:</span>
					      					<input type="text" class="form-control" name="policy_object.policy.second_last_name" value="" placeholder="" [(ngModel)]="policy_object.policy.second_last_name" required>
					      				</div>
					      				<div class="col-md-6">
					      					<span class="bold-opensans">Email:</span>
					      					<input type="text" class="form-control" name="policy_object.policy.email" value="" placeholder="" [(ngModel)]="policy_object.policy.email" required>
					      				</div>
					      				<div class="col-md-6">
					      					<span class="bold-opensans">Teléfono:</span>
					      					<input type="text" class="form-control" name="policy_object.policy.phone" value="" placeholder="" [(ngModel)]="policy_object.policy.phone" required>
					      				</div>
					        		</div>
					      		</div>
					    	</div>
					  	</div>
					 	<div class="card">
					    	<div class="card-header bg-white black shadow" id="datosVehiculo">
					      		<h4 class="mb-0">
					        		<button class="btn btn-link black" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          			<i class="fas fa-car" style="font-size:1rem"></i> Datos del vehículo
					        		</button>
					      		</h4>
					    	</div>
					    	<div id="collapseOne" class="collapse" aria-labelledby="datosVehiculo" data-parent="#accordionExample">
					      		<div class="card-body" *ngIf="policy.car!=null">
					      			<div class="row">
					      				<div class="col-md-6">
					      					<span class="bold-opensans">Versión:</span>
					      					<input type="text" class="form-control" name="policy_object.car.model" value="" placeholder="" [(ngModel)]="policy_object.car.model" required>
					      				</div>
					      				<div class="col-md-6">
					      					<span class="bold-opensans">Placas:</span>
					      					<input type="text" class="form-control" name="policy.car.plates" [(ngModel)]="policy_object.car.plates" value="" placeholder="">
					      				</div>
					      				<div class="col-md-6">
					      					<span class="bold-opensans">VIN:</span>
					      					<input type="text" class="form-control" name="policy.car.vin" value="" placeholder="" [(ngModel)]="policy_object.car.vin">
					      				</div>
					      				<div class="col-md-6">
					      					<span class="bold-opensans">No. de motor:</span>
					      					<input type="text" class="form-control" name="policy_object.car.motor_number" value="" placeholder="" [(ngModel)]="policy_object.car.motor_number">
					      				</div>
					      			</div>
					        		
					      		</div>
					    	</div>
					  	</div>
					  	<div class="card">
					    	<div class="card-header bg-white black shadow" id="datosDirPoliza">
					      		<h4 class="mb-0">
					        		<button class="btn btn-link black" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					          			<i class="fas fa-map-marker-alt" style="font-size:1rem"></i> Direcciones
					        		</button>
					      		</h4>
					    	</div>
					    	<div id="collapseTwo" class="collapse" aria-labelledby="datosDirPoliza" data-parent="#accordionExample">
					      		<div class="card-body">
					        		<div class="row">
					        			<div class="col-md-12">
					        				<h5>Dirección de la póliza</h5>
					        			</div>
					        			<div class="col-md-6">
					        				<span class="bold-opensans">Calle: </span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.policy.street" name="policy_object.policy.street" value="" placeholder="" required>
					        			</div>
					        			<div class="col-md-3">
					        				<span class="bold-opensans">No. exterior:</span>
					        				<input type="text" class="form-control"  name="policy_object.policy.ext_number" [(ngModel)]="policy_object.policy.ext_number" value="" placeholder="" required>
					        			</div>
					        			<div class="col-md-3">
					        				<span class="bold-opensans">No. interior:</span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.policy.int_number" name="policy_object.policy.int_number" value="" placeholder="">
					        			</div>
					        			<div class="col-md-4">
					        				<span class="bold-opensans">Colonia:</span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.policy.suburb" name="policy_object.policy.suburb" value="" placeholder="" required>
					        			</div>
					        		</div>
					        		<div class="row">
					        			<div class="col-md-12">
					        				<br>
					        				<hr>
					        				<br>
					        				<h5>Dirección de envío</h5>
					        			</div>
					        			<div class="col-md-6">
					        				<span class="bold-opensans">Calle: </span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.shipping.street" name="policy_object.shipping.street" value="" placeholder="">
					        			</div>
					        			<div class="col-md-3">
					        				<span class="bold-opensans">No. exterior:</span>
					        				<input type="text" class="form-control"  name="policy_object.shipping.ext_number" [(ngModel)]="policy_object.shipping.ext_number" value="" placeholder="">
					        			</div>
					        			<div class="col-md-3">
					        				<span class="bold-opensans">No. interior:</span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.shipping.int_number" name="policy_object.shipping.int_number" value="" placeholder="">
					        			</div>
					        			<div class="col-md-3">
					        				<span class="bold-opensans">Colonia:</span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.shipping.suburb" name="policy_object.shipping.suburb" value="" placeholder="">
					        			</div>
					        			<div class="col-md-3">
					        				<span class="bold-opensans">Código postal:</span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.shipping.zip_code" name="policy_object.shipping.zip_code" value="" placeholder="">
					        			</div>
					        			<div class="col-md-3">
					        				<span class="bold-opensans">Ciudad:</span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.shipping.municipality" name="policy_object.shipping.municipality" value="" placeholder="">
					        			</div>
					        			<div class="col-md-3">
					        				<span class="bold-opensans">Estado:</span>
					        				<input type="text" class="form-control" [(ngModel)]="policy_object.shipping.federal_entity" name="policy_object.shipping.federal_entity" value="" placeholder="">
					        			</div>
					        		</div>
					      		</div>
					    	</div>
					  	</div>
					  	<div class="card">
					    	<div class="card-header bg-white black shadow" id="datosFacturacion">
					      		<h5 class="mb-0">
					        		<button class="btn btn-link black" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
					          			<i class="fas fa-file-invoice-dollar" style="font-size:1rem"></i> Datos de facturación
					        		</button>
					      		</h5>
					    	</div>
					    	<div id="collapseFour" class="collapse" aria-labelledby="datosFacturacion" data-parent="#accordionExample">
					      		<div class="card-body">
					        		<div class="row">
					        			<div class="col-md-5">
					      					<span class="bold-opensans">Representante legal:</span>
					      					<input type="text" class="form-control" name="policy_object.billing.legal_name" value="" placeholder="" [(ngModel)]="policy_object.billing.legal_name">
					      				</div>
					      				<div class="col-md-5">
					      					<span class="bold-opensans">RFC:</span>
					      					<input type="text" class="form-control" name="policy_object.billing.rfc" value="" placeholder="" [(ngModel)]="policy_object.billing.rfc">
					      				</div>
					      				<div class="col-md-2">
					      					<span class="bold-opensans">Código postal:</span>
					      					<input type="text" class="form-control" name="policy_object.billing.zip_code" value="" placeholder="" [(ngModel)]="policy_object.billing.zip_code">
					      				</div>
					        		</div>
					      		</div>
					    	</div>
					  	</div>
					</div>
					<br><br>
					<button type="submit" class="btn btn-sxkm-dark-green btn-lg btn-block">
			        	Guardar información
			        </button>
				</form>
				<br><br><br>
			</div>
		</div>
	</div>	
</section>