<section  class="section-first-pages" align="center">
	<div class="row">
		<div class="col m12 s12">
			<h1 class="h1-pages">Contacto</h1>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col m5">
				<div class="row">
					<div class="col m12">
						<h2>Centro de operaciones</h2>
					</div>
					<div class="col m12">
						<a style="color:#333333" href="https://goo.gl/maps/8KRgKr9xQ3F2">Emerson 304, Polanco V Secc, CP 11560 Ciudad de México, México.</a>
						<hr>
						<br>
					</div>
					<div class="col m6">
						<span class="bold-opensans">Teléfono </span><br>
						<a style="color:#333333" href="tel:018009697956">01 800 969 SXKM (7956)</a>
					</div>
					<div class="col m6">
						<span class="bold-opensans">Whatsapp  </span><br>
						<a style="color:#333333" href="https://api.whatsapp.com/send?phone=525527551585">55-27551585</a>
					</div>
					<div class="col m12"><br><hr><br><br></div>
					<div class="col m6">
						<span class="bold-opensans">Correo electrónico </span><br>
						<a style="color:#333333" href="mailto:contacto@sxkm.mx">contacto@sxkm.mx</a>
						<br>
					</div>
					<div class="col m6">
						<span class="bold-opensans">Horario de atención</span> <br>
						Lunes a Viernes de 9 a 19 hrs
						Sábados de 9 a 14 hrs
					</div>
				</div>
			</div>
			<div class="col m1"></div>
			<div class="col m6">
				<div class="card">
			        <div class="card-content">
			        	<form action="" method="get" accept-charset="utf-8">
			        		<div class="row">
			        			<div class="col m12">
			        				<div class="input-field ">
							          <input placeholder="" id="name" type="text" class="validate" required>
							          <label class="active" for="name">Nombre</label>
							        </div>
			        			</div>
			        			<div class="col m12">
			        				<div class="input-field ">
							          <input placeholder="" id="email" type="email" class="validate" required>
							          <label class="active" for="email">Correo electrónico</label>
							        </div>
			        			</div>
			        			<div class="col m12">
			        				<div class="input-field ">
							          <input placeholder="" id="cellphone" type="text" class="validate" required>
							          <label class="active" for="cellphone">Celular</label>
							        </div>
			        			</div>
			        			<div class="col m12">
			        				<div class="input-field">
							          <textarea id="textarea1" class="materialize-textarea"></textarea>
							          <label  class="active" for="textarea1">Mensaje</label>
							        </div>
			        			</div>
			        			<div class="col m12">
			        				<button style="width: 100%" class="waves-effect waves-light btn-large">Enviar mensaje</button>
			        			</div>
			        		</div>
			        	</form>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</section>