<section style="min-height: 55vh">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2>Panel</h2>
        </div>
        <div class="col-md-4" align="center">
          <div class="card">
            <div class="card-body">
              Mi cierre de ventas <br>
              20%
            </div>
          </div>
        </div>
        <div class="col-md-4" align="center">
            <div class="card">
              <div class="card-body">
                Pólizas vendidas <br>
                5
              </div>
            </div>
          </div>
        <div class="col-md-4" align="center">
            <div class="card">
              <div class="card-body">
               Cotizaciones asignadas <br>
                100
              </div>
            </div>
          </div>
        <div class="col-md-12">
          <br><br>
          Mis Cotizaciones: <br>
          <a href="">Hoy(5)</a>&nbsp;&nbsp;<a href="">Ayer(10)</a>&nbsp;&nbsp;<a href="">Mes(100)</a>
          <br><br>

          Mis pólizas vendidas: <br>
          <a href="">Hoy(5)</a>&nbsp;&nbsp;<a href="">Ayer(10)</a>&nbsp;&nbsp;<a href="">Mes(100)</a>
          <br><br>

          Seguimiento de venta:  <br>
          <a href="">Llamadas para hoy(5)</a>&nbsp;&nbsp;<a href="">Llamadas no realizadas(10)</a>&nbsp;&nbsp;<a href="">Llamadas para mañana(100)</a>
          &nbsp;&nbsp;<a href="">Llamadas próximas(100)</a>


        </div>
      </div>
    </div>
  </section>  
