<section style="min-height: 55vh">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2>Panel</h2>
          <br>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Módulo de ventas:</h3>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goQuotes('day')">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Cotizaciones hoy</h5>
                    <h4 class="bold-opensans">10</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goQuotes('month')">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Cotizaciones en el mes</h5>
                    <h4 class="bold-opensans">10</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('day')">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Pólizas hoy</h5>
                    <h4 class="bold-opensans">10</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('month')">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Pólizas en el mes</h5>
                    <h4 class="bold-opensans">10</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br>
          <hr>
          <br><br>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Seguimiento de llamadas:</h3>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Llamadas hoy</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Llamadas no realizadas</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Llamadas próximas</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br>
          <hr>
          <br><br>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Seguimiento de cobranza:</h3>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Pólizas sin kilómetros</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Pólizas sin membresía</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Pólizas a vencer éste mes</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br>
          <hr>
          <br><br>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Seguimiento de pólizas:</h3>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Sin dispositivo asignado</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Sin VIN</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
            <!--div class="col-md-4" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Pólizas activas</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div-->
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Piden cancelación</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Canceladas</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Sin dispositivo conectado</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br>
          <hr>
          <br><br>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Dispositivos:</h3>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Empaquetados</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Enviados</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Sin recoger</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>En devolución</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br><br>
        </div>
      </div>
    </div>
  </section>  
