<!-- The overlay -->
<div id="myNav" class="overlay">
  <div class="overlay-content">
    <img src="/assets/img/spinner.svg" alt="">
    <br>
    <h1 class="">Cargando</h1>
  </div>
</div>
<section style="min-height: 55vh">
  <div class="container">
    <div class="row" *ngIf="sumary">
      <div class="col-md-12">
        <br>
        <h2>Panel</h2>
        <br>
      </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Módulo de ventas:</h3>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goQuotes('day')">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Cotizaciones hoy</h5>
                    <h4 class="bold-opensans">{{sumary.seller.quotes_by_date}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goQuotes('month')">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Cotizaciones en el mes</h5>
                    <h4 class="bold-opensans">{{sumary.seller.quotes_by_month}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('day',true)">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Pólizas hoy</h5>
                    <h4 class="bold-opensans">{{sumary.seller.policies_by_date}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('month',false)">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Pólizas en el mes</h5>
                    <h4 class="bold-opensans">{{sumary.seller.policies_by_month}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br>
          <hr>
          <br><br>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Seguimiento de cobranza:</h3>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('with_out_km',false)">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Pólizas sin kilómetros</h5>
                    <h4 class="bold-opensans">{{sumary.general.with_out_km}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('with_out_paid_membership',false)">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Pólizas sin membresía</h5>
                    <h4 class="bold-opensans">{{sumary.general.with_out_paid_membership}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br>
          <hr>
          <br><br>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Seguimiento de pólizas:</h3>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('with_out_device',false)">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Sin dispositivo asignado</h5>
                    <h4 class="bold-opensans">{{sumary.general.with_out_device}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('with_out_vin',false)">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Sin VIN</h5>
                    <h4 class="bold-opensans">{{sumary.general.with_out_vin}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('device_disconnected',false)">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Dispositivo desconectado</h5>
                    <h4 class="bold-opensans">{{sumary.general.device_disconnected}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <a (click)="goPolicies('device_never_connected',false)">
                <div class="card shadow hovers">
                  <div class="card-body">
                    <h5>Dispositivo nunca conectado</h5>
                    <h4 class="bold-opensans">{{sumary.general.device_never_connected}}</h4>
                  </div>
                </div>
              </a>
              <br>
            </div>            
          </div>
        </div>
        <div class="col-md-12">
          <br>
          <hr>
          <br><br>
        </div>
        <div *ngFor="let call of sumary.pending_calls" >
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h3>Seguimiento de llamadas de {{call.name}}:</h3>
              </div>
              <div *ngFor="let calls of call.calls" class="col-md-3" align="center">
                <a (click)="goTracking(call.id, calls.id)">
                  <div class="card shadow hovers">
                    <div class="card-body">
                      <h5>{{calls.name}}</h5>
                      <h4 class="bold-opensans">{{calls.count}}</h4>
                    </div>
                  </div>
                </a>
                <br>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <br>
            <hr>
            <br><br>
          </div>
        </div>
        <!--div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Dispositivos:</h3>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Empaquetados</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
              <br>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Enviados</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>Sin recoger</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
            <div class="col-md-3" align="center">
              <div class="card shadow hovers">
                <div class="card-body">
                  <h5>En devolución</h5>
                  <a (click)="goQuotes('action')"><h4 class="bold-opensans">10</h4></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br><br>
        </div-->
      </div>
    </div>
  </section>  
