<section  class="section-first-pages" align="center" style="padding: 0px">
  <div class="row">
    <div class="col m12 s12">
      <h1 class="h1-pages">Mis Viajes</h1>
    </div>
  </div>
</section>
<div class="container">
  <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
    <div class="col m6">
      <div id="map" style="height: 500px; width: 100%;"></div>
    </div>
    <div class="col m6">
        <input type="hidden" id="start_trip" value="{{start_trip}}">
        <!-- <span id="{{end_trip}}"></span> -->
    </div>
  </div>
</div>