<div style="padding-top: 80px;background-color: #0f312a" class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne" style="background-color: #0f312a;color:#fff">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4">
          <div class="checkbox-div">
            <img src="/assets/img/makers/FORD.png" class="img-fluid" alt="" id="" style="padding: 10px;">
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6">
          FORD 2018 <br>
          standard 4 puertas 4 cilindros
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: 40px;color: #fff">
              <i id="id_btn_button" (click)="ocultar()" class="fas fa-angle-up"></i>
          </button>
        </div>
      </div>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>