<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="brand-logo">
        <a href="/"><img style="padding: 10px"  class="responsive-img logo-sxkm" src="/assets/img/sxkm.svg" alt=""></a>
        <a href="/"><img style="padding: 10px"  class="responsive-img logo-aig" src="/assets/img/aig.svg" alt=""></a>
      </div>
      <ul class="right hide-on-med-and-down">
        <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
        <li><a href="/acerca-de">Acerca de</a></li>
        <li><a href="/login">Iniciar Sesión</a></li>
        <li><a  href="tel:018009697956">
          Asistencia: <span class="bold-opensans">&nbsp;<img src="/assets/img/icon.svg" alt="">&nbsp;01 800 969 7956</span>
        </a></li>
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
    <li><a href="/acerca-de">Acerca de </a></li>
    <li><a href="/login">Iniciar Sesión</a></li>
  </ul>
</div>
