<title>{{title}}</title>
<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top border-bottom" style="padding: 0px; padding-top:10px;padding-bottom:10px;background-color: #fff;" id="idNav">
    <a class="navbar-brand" href="/">
      <img src="assets/img/sxkm-horizontal.svg" class="img-fluid" alt="SXKM - Seguro por kilometro" id="img-navbar2" style="padding-right: 20px">
        <img id="img-navbar1" src="assets/img/aig-logo.svg" class="img-fluid" alt="AIG - Seguro por kilometro">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto pl-2">
        <li class="nav-item active d-none d-sm-none d-md-none d-lg-block d-xl-block" style="padding: 10px;padding-right: 50px" >
          <a class="nav-link align-self-center" routerLink="/preguntas-frecuentes">Preguntas frecuentes</a>
        </li>
        <li class="nav-item d-none d-sm-none d-md-none d-lg-block d-xl-block" style="padding: 10px;padding-right: 50px">
          <a class="nav-link align-self-center" routerLink="/acerca-de">Acerca de</a>
        </li>
        <li class="nav-item d-none d-sm-none d-md-none d-lg-block d-xl-block">
          <a class="nav-link border" href="tel:018009697956" style="border-radius: 3px;border: 1px solid rgba(15,49,42,.86);">
            <div class="row">
              <div class="col-lg-2 align-self-center" align="center">
                <img src="assets/img/ic-help.svg" class="">
              </div>
              <div class="col-lg-10">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asistencia <br>
                <span style="font-family:'OpenSansFontSemiBold';">01 800 969 7956</span>
              </div>
            </div>
          </a>
        </li>


        <li class="nav-item active border-top border-bottom d-block d-sm-block d-md-block d-lg-none d-xl-none" >
          <a class="nav-link" routerLink="/preguntas-frecuentes">Preguntas frecuentes</a>
        </li>
        <li class="nav-item border-bottom d-block d-sm-block d-md-block d-lg-none d-xl-none">
          <a class="nav-link" routerLink="/acerca-de">Acerca de</a>
        </li>
        <li class="nav-item d-block d-sm-block d-md-block d-lg-none d-xl-none" style="padding-top:200px;padding-left: 30px">
          <a class="nav-link border" routerLink="tel:018009697956">
            <img src="assets/img/ic-help.svg" class=""> Asistencia <span style="font-family:'OpenSansFontSemiBold';">01 800 969 7956</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header><!-- /header -->