#idNav{
	height: 80px;
}

.nav-item2 {
	padding: 10px;
	padding-top: 10px;
	padding-right: 20px;
}
@media (max-width: 1000px){
	#navbarNav {
	    height: 60px;
	}
}
@media (max-width: 990px) {
	#idNav{
		height: 60px;
	}
}
@media (max-width: 987px){
	#navbarNav {
	    height: auto;
	}
}