 .datatable-footer{
  overflow:hidden !important;
  background-color: white !important;
}

.ngx-datatable .datatable-footer .datatable-footer-inner {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
}
