
<!-- The overlay -->
<div id="myNav" class="overlay">
    <div class="overlay-content">
        <img src="/assets/img/spinner.svg" alt="">
        <br>
        <h1 class="">Cargando</h1>
    </div>
</div>
<section class="container-fluid" style="min-height: 60vh">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7">
          <br>
          <h2>Pólizas Accidentes Personales</h2>
        </div>
        <div class="col-md-5">
          <div class="input-group-append">
            <button style="font-size: 30px; margin-top: 20px;" class="btn btn-info" (click)='go_to_policies_generate()'>Nueva Pòliza AP</button>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12" align="right">
          <span class="bold-opensans">Total: {{total_policies}}  pólizas</span>
        </div>
        <div class="col-md-12">
          <div class="col-md-2">
            <input
              type="text"
              style=""
              placeholder="Filtro Poliza"
              (keyup)="updateFilter($event)"
            />
          </div>
        </div>
        <div class="col-md-12">
          <ngx-datatable class="bootstrap fullscreen"
            [headerHeight]="40"
            [summaryRow]="true"
            [summaryPosition]="'bottom'"
            [footerHeight]="30"
            [limit]="20"
            [rowHeight]="'auto'"
            [reorderable]="true"
            [sortType]="'single'"
            [columnMode]="'force'"
            [rows]="rows" >

            <ngx-datatable-column name="Poliza" [sortable]="true">
              <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Asegurado" [sortable]="true">
              <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <p><strong>{{ value }}</strong></p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Correo" [sortable]="true">
              <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Estatus" [sortable]="true">
              <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tipo"  [sortable]="true" >
              <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>


           <ngx-datatable-column name="Vigencia">
             <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
             <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
             </ng-template>
           </ngx-datatable-column>


          <ngx-datatable-column name="Acciones">
            <ng-template let-column="column" ngx-datatable-header-template>  {{ column.name }} </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <a href="#" target="_blank">PAGAR</a>
            </ng-template>
          </ngx-datatable-column>
         </ngx-datatable>

        </div>

      </div>

    </div>
  </div>
</section>
