
<!-- The overlay -->
<div id="myNav" class="overlay">
    <div class="overlay-content">
        <img src="/assets/img/spinner.svg" alt="">
        <br>
        <h1 class="">Cargando</h1>
    </div>
</div>
<section class="container-fluid" style="min-height: 60vh">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7">
          <br>
          <h2>Pólizas Accidentes Personales</h2>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12" align="right">
          <span class="bold-opensans">Total:  pólizas</span>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table table-bordered" id="example">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Póliza</th>
                <th scope="col">Próximo pago</th>
                <th scope="col">Estatus</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</section>
