.h1{
	font-family: "OpenSansFont";
	font-size: 30px;
}
.h2{
	font-family: "OpenSansFont";
	font-size: 24px;

}
.span1{
	font-size: 18px;
  	line-height: 1.88;
  	color: #0f312a;
}
.span2{
	font-size: 14px;
	color: rgba(51, 51, 51, 0.9);
	font-family: 'OpenSansFontSemiBold';
}
.span3{
	font-size: 22px;
}
.div-ayuda{
	background-color: #eff1f3;
	border: solid 1px #eff1f3;
	padding-top: 5px;
	padding-left: 15px;
}
.span-ayuda1{
	font-size: 18px;
}
.span-ayuda2{
	font-size: 16px;
	color: #0f312a;
}

/*** Footer**/
.footer-pago{
	background-color: #eff1f3;
	color: rgba(15, 49, 42, 0.8);
	font-size: 13px;
	padding-top: 30px;
	padding-left: 88px;
	padding-right: 90px;
	padding-bottom: 15px;
}
.a-footer{
	color: rgba(15, 49, 42, 0.8);
}