<app-navbar2></app-navbar2>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12" align="center">
						<br><br>
						<img src="/assets/img/ic-check.svg" class="img-fluid"> <br> <br>
						<h1 class="h1">Gracias por elegir SXKM</h1>
						<br><br>
						<span class="span1">
							Recibirás el dispositivo PIA y tu póliza dentro de las próximas 24 horas. Te avisaremos por correo cuando vaya en camino.
						</span>
						<br><br><br>
					</div>
					<div class="col-md-12">
						<div class="card">
						  <div class="card-body">
						    <div class="row">
						    	<div class="col-md-12">
						    		<h2 class="h2">Resumen del pago</h2>
						    	</div>
						    </div>
						    <div class="row">
						    	<div class="col-md-8"><span class="span2">Suscripción mensual</span></div>
						    	<div class="col-md-4"><span class="span3">$299</span></div>
						    </div>
						    <div class="row">
						    	<div class="col-md-8"><span class="span2">2,000 km (3 meses de vigencia)</span></div>
						    	<div class="col-md-4"><span class="span3">$980</span></div>
						    </div>
						    <div class="row">
						    	<div class="col-md-12"><hr></div>
						    </div>
						    <div class="row">
						    	<div class="col-md-8"><span class="span2">Cobrado ****3423</span></div>
						    	<div class="col-md-4"><span class="span3">$1279</span></div>
						    </div>
						  </div>
						</div>
					</div>
					<div class="col-md-12" align="center" style="padding: 20px">
						<span class="span2">El pago aparecerá en tu estado de cuenta como </span><span class="span2" style="font-weight: bold">**SXKM</span>
					</div>
					<div class="col-md-12" style="padding-top: 50px;padding-bottom: 50px">
						<div class="card div-ayuda">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<span class="span-ayuda1" style="font-weight: bold;">¿Necesitas ayuda?</span>&nbsp;&nbsp;&nbsp;<span class="span-ayuda1">Habla con nosotros</span>
									</div>
									<div class="col-md-6">
										<span class="span-ayuda2">01 800 969 SXKM (7956)</span>
									</div>
									<div class="col-md-6">
										<span class="span-ayuda2"><i class="fab fa-whatsapp"></i></span>&nbsp;<span class="span-ayuda2">55-27551585</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</section>
<!--Footer-->
<footer class="footer-pago">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<span>SEGURO POR KILÓMETRO <i class="far fa-registered"></i>   Todos los derechos reservados.</span>
			</div>
			<div class="col-md-4">
				<a href="#" class="a-footer">Aviso de privacidad</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" class="a-footer">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" class="a-footer">Ayuda</a>
			</div>
		</div>
	</div>
</footer>