<section class="section-first"></section>
<section class="login">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7"></div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
				<form *ngIf="paso=='login'" id="quotation_login" class="">
				  <div class="row" style="">
				    <div class="col-1 col-sm-1 col-md-1"></div>
				    <div class="col-10 col-sm-10 col-md-10 col-lg-12 col-xl-12" style="padding: 40px;background-color: #fff;background-color: rgba(255,255,255, 1);color:#000;">
				      <div class="row" >
				        <div class="col-md-12" align="center">
				          <h1 class="h1-first" style="font-size: 55px;color: rgba(15, 49, 42, 0.9);">Ingresa</h1>
				        </div>
				        <div class="col-md-12">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="input-group mb-3">
				                <input type="email" name="email" class="form-control {{error_email==''? '':'invalid border-danger'}}" required="required" id="email" [(ngModel)]="email" placeholder="Correo electrónico">
				              </div>
				              <label *ngIf="error_email!=''" for="email" class="invalid">{{error_email}}</label>
				            </div>
				            <div class="col-md-12">
				              <div class="input-group mb-3">
				                <input type="password" name="password" class="form-control {{error_password==''? '':'invalid border-danger'}}" required="required" id="password" [(ngModel)]="password" placeholder="Contraseña">
				              </div>
				              <label *ngIf="error_password!=''" for="password" class="invalid">{{error_password}}</label>
				            </div>
				            <div class="col-md-2"></div>
				            <div class="col-md-8">
				            	<br>
				              	<button type="submit" class="btn btn-green" (click)="send_form()">
				              		Iniciar Sesión
				              	</button>
				            </div>
				            <div class="col-md-2"></div>
				            <div class="col-md-12" align="center">
				            	<br>
				            	<a class="a-password" href="#">¿Olvidaste tu contraseña?</a>
				            </div>
				            <div class="col-md-12" align="center">
				            	<br>
				            	<span>Tambien puedes ingresar utilizando</span>
				            	<br>
				            	<a href="#">
				            		<img src="/assets/img/facebook.png" alt="">
				            	</a>&nbsp;&nbsp;&nbsp;
				            	<a href="#">
				            		<img src="/assets/img/google-plus.png" alt="">
				            	</a>&nbsp;&nbsp;&nbsp;
				            	<a href="#">
				            		<img src="/assets/img/instagram-login.png" alt="">
				            	</a>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="col-md-12" align="center">
				    	<br>
				    	<span style="color:#fff">¿No tienes cuenta en SXKM ?</span> &nbsp;&nbsp;&nbsp;<span class="span-register" (click)="cambiar()">Regístrate</span>
				    	<br><br>
				    </div>
				  </div>
				</form>
				<form *ngIf="paso=='register'" id="quotation_register" class="">
				  <div class="row" style="">
				  	<div class="col-1 col-sm-1 col-md-1"></div>
				    <div class="col-10 col-sm-10 col-md-10 col-lg-12 col-xl-12" style="padding: 40px;background-color: #fff;background-color: rgba(255,255,255, 1);color:#000;">
				      <div class="row" >
				        <div class="col-md-12" align="center">
				          <h1 class="h1-first" style="font-size: 55px;color: rgba(15, 49, 42, 0.9);">Registro</h1>
				        </div>
				        <div class="col-md-12">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="input-group mb-3">
				                <input type="email" name="email" class="form-control {{error_email==''? '':'invalid border-danger'}}" required="required" id="email" [(ngModel)]="email" placeholder="Correo electrónico">
				              </div>
				              <label *ngIf="error_email!=''" for="email" class="invalid">{{error_email}}</label>
				            </div>
				            <div class="col-md-12">
				              <div class="input-group mb-3">
				                <input type="password" name="password" class="form-control {{error_password==''? '':'invalid border-danger'}}" required="required" id="password" [(ngModel)]="password" placeholder="Contraseña">
				              </div>
				              <label *ngIf="error_password!=''" for="password" class="invalid">{{error_password}}</label>
				            </div>
				            <div class="col-md-12">
				              <div class="input-group mb-3">
				                <input type="password" name="password2" class="form-control {{error_password2==''? '':'invalid border-danger'}}" required="required" id="password2" [(ngModel)]="password2" placeholder="Contraseña">
				              </div>
				              <label *ngIf="error_password2!=''" for="password2" class="invalid">{{error_password2}}</label>
				            </div>
				            <div class="col-md-12" align="left">
				            	<label *ngIf="error_check!=''" for="input_check" class="invalid">{{error_check}}</label>
				            	<div class="custom-control custom-checkbox {{error_check==''? '':'invalid border-danger'}}" (click)="cambiarCheck()">
					                <input type="checkbox" class="custom-control-input" id="input_check" name="input_check" required *ngIf="input_check== true ? 'checked': ''" >
					                <label class="custom-control-label checkbox-label-cotizador" for="input_check" name="" (click)="set_check()">Acepto que he leído los <a href="/terminos-y-condiciones" title="Términos y condiciones" class="span-register" target="_blank">términos y condiciones</a> y el <a href="/aviso-de-privacidad" title="Aviso de privacidad" class="span-register" target="_blank">aviso de privacidad</a>.</label>
					            </div>
				            </div>
				            <div class="col-md-2"></div>
				            <div class="col-md-8">
				            	<br>
				              	<button type="button" class="btn btn-green"  (click)="send_form()">
				              		Regístrate
				              	</button>
				            </div>
				            <div class="col-md-2"></div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="col-md-12" align="center">
				    	<br>
				    	<span style="color:#fff">¿Ya tienes cuenta en SXKM ?</span> &nbsp;&nbsp;&nbsp;<span class="span-register" (click)="cambiar()">Inicia Sesión</span>
				    	<br><br>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
</section>