<section>
	<div class="container">
		<form  #cart="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
			<div class="row">
				<div class="col m7">
					<div class="row" *ngIf="paso==1">
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Marca" name="maker" id="maker" type="text" class="validate" required value="{{aig!=null? aig.maker:''}}" readonly>
								<label for="maker" class="active">Marca</label>
								<span class="helper-text" data-error="Falta marca" data-success=""></span>
							</div>
						</div>
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Año" name="year" id="year" type="text" class="validate" required value="{{aig!=null? aig.year:''}}" readonly>
								<label for="year" class="active">Año</label>
								<span class="helper-text" data-error="Falta año" data-success=""></span>
							</div>
						</div>
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Modelo" name="model" id="model" type="text" class="validate" required value="{{aig!=null? aig.model:''}}" readonly>
								<label for="model" class="active">Modelo</label>
								<span class="helper-text" data-error="Falta año" data-success=""></span>
							</div>
						</div>
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Versión" name="version" id="version" type="text" class="validate" required value="{{aig!=null? aig.version:''}}" readonly>
								<label for="version" class="active">Versión</label>
								<span class="helper-text" data-error="Falta año" data-success=""></span>
							</div>
						</div>
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Placas" name="plates" id="plates" type="text" class="validate"  value="{{aig!=null? aig.plates:''}}">
								<label for="plates" class="active">Placas (opcional)</label>
								<span class="helper-text" data-error="Faltan las placas" data-success=""></span>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="paso==2">
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Nombre" name="first_name" id="first_name" type="text" class="validate" required [(ngModel)]="policy.first_name" #first_name="ngModel">
								<label for="first_name" class="active">Nombre</label>
								<span class="helper-text" data-error="Falta nombre" data-success=""></span>
							</div>
						</div>
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Apellidos" name="last_name_one" id="last_name_one" type="text" class="validate" required [(ngModel)]="policy.last_name_one" #last_name_one="ngModel">
								<label for="last_name_one" class="active">Apellidos</label>
								<span class="helper-text" data-error="Faltan apellidos" data-success=""></span>
							</div>
						</div>
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Correo electrónico" name="email" id="email" type="email" class="validate" readonly [(ngModel)]="policy.email" #email="ngModel">
								<label for="email" class="active">Correo electrónico</label>
								<span class="helper-text" data-error="Correo inválido" data-success=""></span>
							</div>
						</div>
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Celular" name="cellphone" id="cellphone" type="text" class="validate" required [(ngModel)]="policy.cellphone" #cellphone="ngModel" minlength="10">
								<label for="cellphone" class="active">Celular</label>
								<span class="helper-text" data-error="Celular inválido" data-success=""></span>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="paso==2">
						<div class="col m6">
							<div class="input-field">
								<input placeholder="Calle" name="street" id="street" type="text" class="validate" required [(ngModel)]="policy.street" #street="ngModel">
								<label for="street" class="active">Calle</label>
								<span class="helper-text" data-error="Falta calle" data-success=""></span>
							</div>
						</div>
						<div class="col m3">
							<div class="input-field">
								<input placeholder="Num. Ext" name="ext_number1" id="ext_number1" type="text" class="validate" required [(ngModel)]="policy.ext_number1" #ext_number1="ngModel">
								<label for="ext_number1" class="active">Num. Ext</label>
								<span class="helper-text" data-error="Falta número" data-success=""></span>
							</div>
						</div>
						<div class="col m3">
							<div class="input-field">
								<input placeholder="Num. Int" name="int_number1" id="int_number1" type="text" class="validate" [(ngModel)]="policy.int_number1" #int_number1="ngModel">
								<label for="int_number1" class="active">Num. Int</label>
								<span class="helper-text" data-error="Falta número" data-success=""></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col m5">
					<div *ngIf="aig!=null" class="row">
						<div class="col m3" style="" align="center">
							<img src="/assets/img/makers/{{aig.maker}}.png" style="width: 60px;height: 60px;border:1px solid #33333333" alt="">
						</div>
						<div class="col m8">
							{{aig.version}} {{aig.year}}
						</div>
					</div>
					<div class="row">
						<div class="col m12">
							<p class="cart-card">
								<span class="span-title-card">Suscripción mensual</span><br>
								<span class="span-title2-card">Primer mes</span>
								<span class="span-title2-card">$299</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col m12">
							<p class="cart-card">
								<span class="span-title-card">Paquete de kilómetros</span> <br>	
								<span class="span-title2-card">250 kilómetros (1 mes de vigencia)</span>
								<span class="span-title2-card">$12,500.50</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col m12">
							<input placeholder="Cupón de descuento">
						</div>
					</div>
					<div class="row" >
						<div class="col m6">
							<span class="bold-opensas" style="font-size: 22px">Total</span>
						</div>
						<div class="col m6" align="right">
							<span class="bold-opensas" style="font-size: 22px">$15,0000.50</span>
						</div>
					</div>
					<div class="row">
						<div class="col m12">
							<button class="btn waves-effect waves-ligh btn-large" style="width:100%" type="submit" name="action" >Cotizar seguro de auto
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
</section>