<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12" align="center">
				<h1 class="bebas" style="font-size: 70px">
					La primera <span class="bebas green" style="font-size: 70px">compañía de seguros</span>
					<br>
					pensada en tu estilo de vida
				</h1>
				<br><br><br>
			</div>
			<div class="offset-2 col-md-2">
				<h2 class="bebas" style="font-size: 50px">Nosotros</h2>
			</div>
			<div class="col-md-6" align="justify">
				Somos la nueva forma de mantener tu auto siempre protegido y beneficiar tu economía. En SEGURO X KILÓMETRO, trabajamos con tecnología de punta para ofrecerte un servicio innovador que, además de medir sólo los kilómetros que recorres, ayudamos a que mejores tus hábitos de manejo.
				<br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<img src="/assets/img/office-01.jpg" class="img-fluid" alt="">
				<br><br>
			</div>
			<div class="col-6 col-md-3">
				<br class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
				<img src="/assets/img/office-02.jpg" class="img-fluid" alt="">
				<br><br>
			</div>
			<div class="col-6 col-md-3">
				<img src="/assets/img/office-04.jpg" class="img-fluid" alt="">
				<br><br>
			</div>
			<div class="col-6 col-md-3">
				<br class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
				<img src="/assets/img/office-03.jpg" class="img-fluid" alt="">
				<br><br>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<br>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<h2 class="bebas">Centro de operaciones</h2>
					</div>
					<div class="col-md-12">
						<a class="black" href="https://goo.gl/maps/a8a555L8YLu" target="_blank">Emerson 304, Polanco V Secc, CP 11560 Ciudad de México, México. </a> 
						<br><br>
					</div>
					<div class="col-6 col-md-6">
						<span class="bold-opensans">Teléfono</span><br>
						<a href="tel:018009697956" class="black">01 800 969 SXKM (7956)</a>
					</div>
					<div class="col-6 col-md-6">
						<span class="bold-opensans">Whatsapp</span><br>
						<a href="https://api.whatsapp.com/send?phone=525527551585" class="black">55-27551585</a>
					</div>
					<div class="col-6 col-md-6">
						<br><br>
						<span class="bold-opensans">Correo electrónico</span><br>
						<a href="mailto:contacto@sxkm.mx" class="black">contacto@sxkm.mx</a>
					</div>
					<div class="col-6 col-md-6">
						<br><br>
						<span class="bold-opensans">Horario de atención</span><br>
						Lunes a Viernes de 9 a 19 hrs <br>
						Sábados de 9 a 14 hrs
						<br><br>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<a href="https://goo.gl/maps/a8a555L8YLu" target="_blank"><img src="/assets/img/sxkm-ubicacion.png" class="img-fluid black" alt="Mapa"></a>
				<br><br><br>
			</div>
		</div>
	</div>
</section>