<!--section  class="section-first-pages" align="center">
	<div class="row">
		<div class="col m12 s12">
			<h1 class="h1-pages">Acerca de</h1>
		</div>
	</div>
</section-->
<section>
	<div class="container">
		<div class="row">
			<div class="col m12" align="center">
				<h2 style="font-size: 70px">La primera <span style="color:#17d320; font-size: 70px;font-family: 'BebasNeueBook'">compañía de seguros</span> pensada en tu estilo de vida</h2>
			</div>
			<div class="col m3 s12">
				<h2 style="font-size: 40px">Nosotros</h2>
			</div>
			<div class="col m9 s12" align="justify">
				<br>
				Somos la nueva forma de mantener tu auto siempre protegido y beneficiar tu economía. En SEGURO X KILÓMETRO, trabajamos con tecnología de punta para ofrecerte un servicio innovador que, además de medir sólo los kilómetros que recorres, ayudamos a que mejores tus hábitos de manejo.
			</div>
		</div>
		<div class="row" style="padding-top: 40px">
			<div class="col m3">
				<img src="/assets/img/office-01.jpg" class="responsive-img" alt="">
			</div>
			<div class="col m3">
				<br>
				<img src="/assets/img/office-02.jpg" class="responsive-img" alt="">
			</div>
			<div class="col m3">
				<img src="/assets/img/office-03.jpg" class="responsive-img" alt="">
			</div>
			<div class="col m3">
				<br>
				<img src="/assets/img/office-04.jpg" class="responsive-img" alt="">
			</div>
		</div>
		<div class="row" style="padding-top:40px">
			<div class="col m6">
				<div class="row">
					<div class="col m12">
						<h2>Centro de operaciones</h2>
						<a style="color:#333333" href="https://goo.gl/maps/a8a555L8YLu" target="_blank">Emerson 304, Polanco V Secc, CP 11560 Ciudad de México, México </a>
						<br><br>
					</div>
					<div class="col m6">
						<span class="bold-opensans">
							Teléfono
						</span><br>
						<a href="tel:018009697956" style="color:#333333">01 800 969 SXKM (7956)</a>
					</div>
					<div class="col m6">
						<span class="bold-opensans">
							Whatsapp
						</span><br>
						<a href="https://api.whatsapp.com/send?phone=525527551585" style="color:#333333">55-27551585</a>
					</div>
					<div class="col m6">
						<br><br>
						<span class="bold-opensans">
							Correo electrónico
						</span><br>
						<a href="mailto:contacto@sxkm.mx" style="color:#333333">contacto@sxkm.mx</a>
					</div>
				</div>
				<div class="row">
					<div class="col m6">
						<span class="bold-opensans">Horario de atención</span><br>
						Lunes a Viernes de 9 a 19 hrs <br>
						Sábados de 9 a 14 hrs
					</div>
				</div>
			</div>
			<div class="col m6">
				<br><br>
				<a style="color:#333333" href="https://goo.gl/maps/a8a555L8YLu" target="_blank"><img src="/assets/img/sxkm-ubicacion.png" class="responsive-img" alt=""></a>
			</div>
		</div>
	</div>
</section>