<nav class="navbar navbar-expand-lg navbar-light d-flex navbar-style fixed-top" >
  <a class="navbar-brand" href="#" style="">
    <img src="assets/img/aig-logo.svg" class="img-fluid" alt="AIG - Seguro por kilometro">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/img/sxkm-horizontal.svg" class="img-fluid" alt="SXKM - Seguro por kilometro">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="">
    <ul class="navbar-nav ml-auto p-2">
      <li class="nav-item nav-padding" style="">
        <a class="nav-link align-self-center" href="#">Centro de ayuda</a>
      </li>
      <li class="nav-item nav-padding" style="">
        <a class="nav-link align-self-center" href="#">Acerca de</a>
      </li>
      <li class="nav-item d-none d-lg-block d-xl-block" style="">
        <a class="nav-link div-telephone" href="#" style="">
            <div class="row">
              <div class="col-md-2  align-self-center"><img src="assets/img/ic-help.svg" class=""></div>
              <div class="col-md-10">
                <small><span  class="span-navbar-small" style="">En caso de siniestro</span></small> <br>
                <strong><span class="span-navbar-strong" style="">01 800 969 7956</span></strong>
              </div>
            </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
<section class="section-first">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7 col-sm-7 col-md-7 col-lg-7" style="padding-left: 205px;padding-top: 200px;">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h1-first">AHORRA EN TU SEGURO <br>PAGANDO POR KILÓMETRO</h1> <br><br>
          </div>
          <div class="col-md-12">
            <h2 class="h2-first">Protege tu auto con todos los beneficios de un seguro de <br>cobertura amplia y el respaldo de AIG.</h2><br>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-lg boton-verde">Cotiza tu seguro</button>
          </div>
        </div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 image-hero"></div>
    </div>
  </div>
</section>
<!--Pantalla 2-->
<section class="section">
  <div class="container">
    <div class="row" style="padding-bottom: 40px">
      <div class="col-md-12" align="center">
        <h2 class="h2-subtitulos">MÁS BENEFICIOS, MEJOR PRECIO</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body" align="center">
            <h3 class="h3-cards">0% de deducible en caso de robo</h3>
            <img src="/assets/img/sxkm-0-de-ducible-en-caso-de-robo.svg" class="img-fluid" alt="sxkm - 0% de deducible en caso de robo">
            <br><br>
            <span style="">
              No necesitas pagar deducible en caso <br>de robo, nosotros te cubrimos.
            </span>
            <br><br><br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body" align="center">
            <h3 class="h3-cards">Cobertura amplia en todo México</h3>
            <img src="/assets/img/sxkm-cobertura-amplia-en-todo-mexico.svg" class="img-fluid" alt="sxkm - cobertura amplia en todo mexico"> 
            <br><br>
            <span style="">
              Nuestras pólizas son de cobertura amplia en toda la República Mexicana.
            </span>
            <br><br><br>
          </div>
        </div>
        <br><br><br>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body" align="center">
            <h3 class="h3-cards">Plataforma inteligente a bordo</h3>
            <img src="/assets/img/sxkm-pia-plataforma-inteligente-a-bordo.svg" class="img-fluid" alt="seguro x kilometro - pia plataforma inteligente a bordo"> 
            <br><br>
            <span style="">
              Conoce tus hábitos de manejo y recibe <br>consejos y beneficios especiales SXKM.
            </span>
            <br><br><br>
          </div>
        </div>
        <br><br><br>
      </div>
    </div>
  </div>
</section>
<!--Pantalla 3-->
<!--Pantalla 4-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="/assets/img/aig-logo-big.svg" class="img-fluid" alt="aig - seguro por kilometro">
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12"><h2 class="h2-subtitulos">COBERTUTA AMPLIA</h2></div>
          <div class="col-md-12">
            <span class="span-cobertura">
              Obtén todos los beneficios de la cobertura<br>nacional de seguros AIG para manejar tranquilo.<br>
              <a class="link-sxkm" href="#">Consulta los detalles de la cobertura aquí. →</a>
              <br><br><br>
            </span>
          </div>
        </div>
        <div class="row row-cards-cobertura" style="">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/gr-d-materiales.svg" class="img-fluid" alt="seguro x kilometro - Solo pagas el 5% de deducible">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Daños materiales</h4>
                      </div>
                      <div class="col-md-12">
                        Sólo pagas el 5% de deducible.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/sxkm-cobertura-0-de-deducible-en-caso-de-robo.svg" class="img-fluid" alt="seguro x kilometro - Solo pagas el 5% de deducible">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">0% de deducible</h4>
                      </div>
                      <div class="col-md-12">
                        Nosotros pagamos tu deducible en caso de robo.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cards-cobertura">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/responsabilidad-civil.svg" class="img-fluid" alt="seguro x kilometro - Responsabilidad civil">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Responsabilidad civil</h4>
                      </div>
                      <div class="col-md-12">
                        Te cubrimos hasta por $400,000.00 MXN
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/gastos-medicos.svg" class="img-fluid" alt="sxkm - gastos medicos">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Gastos médicos</h4>
                      </div>
                      <div class="col-md-12">
                        Cobertura hasta por $400,000.00 MXN
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cards-cobertura">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/acelerador-de-perdida-total.svg" class="img-fluid" alt="SXKM - El auto es considerado perdida total desde el 50% de daños">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Acelerador de pérdida total</h4>
                      </div>
                      <div class="col-md-12">
                        El auto es considerado pérdida total desde el 50% de daños.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" align="center">
                    <img src="/assets/img/acelerador-de-perdida-total.svg" class="img-fluid" alt="sxkm - enviamos a alguien que maneje por ti en caso de estado de ebriedad">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="h4-cobertura">Conductor designado</h4>
                      </div>
                      <div class="col-md-12">
                        Enviamos a alguien que maneje por ti en caso de estado de ebriedad.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Pantalla 5-->
<section class="section">
  <div class="container">
    <div class="row" style="padding-bottom: 60px">
      <div class="col-md-2"></div>
      <div class="col-md-10" align="left">
        <h2 class="h2-subtitulos">TECNOLOGÍA DE PUNTA PARA MANTENERTE SEGURO</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">PIA</a>
          <a class="nav-link " id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Dispositivo OBD</a>
          <a class="nav-link " id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Aplicación móvil</a>
          <a class="nav-link " id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Mecánico a bordo</a>
          <a class="nav-link " id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">AIG Rewards</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h3><span style="color: #26a1d9">PIA</span> (Plataforma Inteligente A Bordo)</h3>
            <span>
              PIA es el dispositivo que será tu asistente personal en el camino. Recíbelo en la puerta de tu casa.br <br>
              <a href="">Descubre cómo funciona aquí </a>
            </span>
            <br>
            <ul>
              <li>Alertas de vigencia: de tu suscripción y kilómetros.</li>
              <li>Perfil de auto: monitorea el uso y viajes de tu vehículo</li>
              <li>AIG rewards: beneficios especiales</li>
              <li>Botón SOS: ayuda 24 horas en caso de robo, accidentes y asistencia en el camino.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
      </div>
    </div>
  </div>
</section>

















