<title>{{title}}</title>
<!--Navbar-->
<app-navbar2></app-navbar2>
<!--Caso A -->
<app-cotizadorb></app-cotizadorb>
<!--Caso B -->
<!--app-cotizadorb></app-cotizadorb-->

<section class="section1">
  <div class="container">
    <div class="row">
      <div class="col-md-12" align="center">
        <span class="span-mas">+</span>
      </div>
      <div class=" col-6 col-sm-6 col-md-6" align="right"><span class="span-price">$299</span></div>
      <div class=" col-6 col-sm-6 col-md-6" align="left" style="padding-top: 20px"><span class="span-text1">al mes</span></div>
      <div class="col-md-12" align="center"><span class="span-text2">suscripción con todos los beneficios SXKM</span></div>
    </div>
  </div>
</section>
<section class="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-3" align="center">
        <div class="card">
          <div class="card-body">
            <div class="row" align="center">
              <div class="col-md-12">
                <img src="/assets/img/sxkm-gr-materiales.svg" class="image-size img-fluid" alt="SXKM - Daños materiales">
              </div>
              <div class="col-md-12" style="padding-top: 16px">
                Daños materiales
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" align="center">
        <div class="card">
          <div class="card-body">
            <div class="row" align="center">
              <div class="col-md-12">
                <img src="/assets/img/sxkm-gr-deducible.svg" class="image-size img-fluid" alt="SXKM - 0% de deducible">
              </div>
              <div class="col-md-12" style="padding-top: 16px">
                O% de deducible
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" align="center">
        <div class="card">
          <div class="card-body">
            <div class="row" align="center">
              <div class="col-md-12">
                <img src="/assets/img/sxkm-gr-acelerador-perdida.svg" class="image-size img-fluid" alt="SXKM - Acelerador de pérdida total">
              </div>
              <div class="col-md-12" style="padding-top: 16px">
                Acelerador de pérdida total
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" align="center">
        <div class="card">
          <div class="card-body">
            <div class="row" align="center">
              <div class="col-md-12">
                <img src="/assets/img/sxkm-conductor-designado.svg" class="image-size img-fluid" alt="">
              </div>
              <div class="col-md-12" style="padding-top: 16px">
                Conductor designado
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 40px">
      <div class="col md-12" align="center">
        <span class="span-text3">
          Obtén todos los beneficios de la cobertura nacional de seguros AIG y <br>
          maneja tranquilo. <a class="link-sxkm" href="#">Consulta los detalles de la cobertura aquí. →</a> 
        </span>
      </div>
    </div>
  </div>
</section>
<section class="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-12" align="center">
        <h2 class="h2-subtitulos">PREGUNTAS FRECUENTES</h2>
      </div>
    </div>
    <div class="row" style="">
      <div class="col-md-6">
        <div class="row" style="padding-top: 40px">
          <div class="col md-12">
            <span class="faqs-question">¿Qué cobertura me ofrecen?</span> <br>
            <span class="faqs-answer">
              Las pólizas ofertadas por AIG Seguros México en nuestra plataforma <br> 
              son de cobertura amplia en toda la República Mexicana y pueden <br>
              incluir de manera enunciativa mas no limitativa: daños materiales, robo <br>
              total, responsabilidad civil, daños a bienes y personas, gastos médicos <br>
              ocupantes, asesoría y defensa legal, según se especifica en la carátula <br> 
              de la póliza emitida y las condiciones generales del seguro contratado. 
            </span>
          </div>
        </div>
        <div class="row" style="padding-top: 40px">
          <div class="col md-12">
            <span class="faqs-question">¿Mi vehículo esta asegurado aún estacionado?</span> <br>
            <span class="faqs-answer">
              Si, siempre y cuando la mensualidad este pagada, cuentes con <br>
              kilómetros disponibles y el dispositivo cuenta-kilómetros esté <br>
              conectado, con SXKM tu vehículo está asegurado con cobertura amplia <br>
              en todo momento y en toda la República Mexicana.
            </span>
          </div>
        </div>
        <div class="row" style="padding-top: 40px">
          <div class="col md-12">
            <span class="faqs-question">No tengo kilómetros ¿mi vehículo está asegurado?</span> <br>
            <span class="faqs-answer">
              No, es necesario contar con kilómetros disponibles y vigentes en tu <br>
              vehículo.
            </span>
          </div>
        </div>
        <div class="row" style="padding-top: 40px">
          <div class="col md-12">
            <span class="faqs-question">¿Hay algún cargo por cancelar del servicio?</span> <br>
            <span class="faqs-answer">
              Ninguno, pero debes devolver el dispositivo o pagar $200 USD por <br>
              reposición.
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col md-12">
            <span class="faqs-question"></span> <br>
            <span class="faqs-answer">
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row" style="padding-top: 40px">
          <div class="col md-12">
            <span class="faqs-question">¿Qué es la suscripción SXKM?</span> <br>
            <span class="faqs-answer">
              La suscripción es la cuota mensual que te permite ser parte de la <br>
              comunidad SXKM para disfrutar los servicios de telemática, el <br>
              dispositivo cuenta kilómetros y diversas promociones.
            </span>
          </div>
        </div>
        <div class="row" style="padding-top: 40px">
          <div class="col md-12">
            <span class="faqs-question">¿Cómo calcula SXKM mis kilómetros?</span> <br>
            <span class="faqs-answer">
              El dispositivo OBD cuenta-kilómetros que otorgamos en comodato, <br> 
              toma la distancia recorrida directamente del odómetro de tu vehículo, <br>
              por lo que no se realiza ningún cálculo.
            </span>
          </div>
        </div>
        <div class="row" style="padding-top: 40px">
          <div class="col md-12">
            <span class="faqs-question">¿Cómo instalo el dispositivo PIA?</span> <br>
            <span class="faqs-answer">
              La conexión del dispositivo cuenta-kilómetros, se realiza en el puerto <br>
              OBD (On Board Diagnostics), que varía dependiendo de la marca y año <br> 
              de tu vehículo. <a class="link-sxkm" href="#">Tenemos una guía →</a>
            </span>
          </div>
        </div>
        <div class="row" style="padding-top: 40px">
          <div class="col md-12">
            <span class="faqs-question">¿Qué vehículos pueden usar el dispositivo?</span> <br>
            <span class="faqs-answer">
              Todo vehículo con menos de 10 años de antigüedad y que cuente con <br>
              puerto OBDII, puede utilizar los dispositivos proporcionados por SXKM, <br>
              cada uno está específicamente configurado para un vehículo en <br>
              particular, por lo que solamente puede colocarse en el vehículo para el <br>
              cual se contrató la póliza de seguro.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="padding-top: 90px;padding-bottom: 106px">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <img src="/assets/img/sxkm-cobertura-amplia-en-todo-mexico.svg" class="img-fluid" alt="SXKM - Descarga una póliza muestra">
              </div>
              <div class="col-md-12" style="padding-top: 29px">
                <span class="span-text4">Descarga una póliza muestra →</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <img src="/assets/img/responsabilidad-civil.svg" class="img-fluid" alt="SXKM - Consulta el contrato completo">
              </div>
              <div class="col-md-12" style="padding-top: 29px">
                <span class="span-text4">Consulta el contrato completo →</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="padding-top: 20px;">
        ¿Necesitas ayuda?
      </div>
      <div class="col-md-4" style="padding-top: 20px;">
        <span>Habla con nosotros <a class="link-ayuda" href="#">01 800 969 SXKM (7956)</a></span>
      </div>
      <div class="col-md-3" style="padding-top: 20px;">
        <span>Whatsapp <a class="link-ayuda" href="#">55-27551585</a></span>
      </div>
      <div class="col-md-3" style="">
        <a class="link-ayuda" href="#"><button type="button" class="btn btn-gray">Ir al centro de ayuda</button></a>
      </div>
    </div>
  </div>
</section>

<!--Footer-->
<app-footer></app-footer>