<section id="" class="hide-on-med-and-down" style="background-color:  #0f312a;color:#fff;padding-top:0px;height: 80vh">
	<div class="row">
		<div class="col m1"></div>
		<div class="col m10">
			<div class="row">
				<div class="col m6">
					<h2 style="color:#fff">ELIGUE UN PAQUETE DE KILÓMETROS</h2>
				</div>
				<div class="col m1" align="center">
					<br>
					<div style="background-color:#fff;width: 70px;height: 70px;padding: 5px;border-radius: 3px;">
						<img src="/assets/img/makers/BMW.png" alt="" class="responsive-img" style="">
					</div>
				</div>
				<div class="col m5" style="color:#fff">
					<br>
					BMW 2013 118 IA HATCHBACK AUTOMATICA 5 PTAS118 IA HATCHBACK AUTOMATICA 5 PTAS <br>
					<span style="font-size: 20px;color:#fff" class="bold-opensans">Precio por kilómetro desde: $0.35</span>
				</div>
			</div>
			<div class="row">
				<div class="col m4"></div>
				<div class="col m4" align="center">
					<div class="card">
				        <div class="card-content">
				          <span style="font-size: 50px;color:#17d320" class="bold-opensans">$299</span><span style="font-size: 40px;" class="bold-opensans"> al mes</span> <br>
				          TU SUSCRIPCIÓN SXKM
				        </div>
				    </div>
				</div>
			</div>
			<div class="row" style="position: relative;top:-50px;">
				<div class="col m4"></div>
				<div class="col m4" align="center" >
					<span style="font-size: 70px;color:#17d320" class="bold-opensans">+</span>
				</div>
			</div>
		</div>
		<div class="col m1"></div>
	</div>	
</section>
<section style="position: relative;top:-180px;">
	<div class="row">
		<div class="col m1"></div>
		<div class="col m2 s12 {{package_id==250?'quote-active':'quote-inactive'}}" align="center" style="padding: 0px" (mouseenter)="mouseHover(250)">
			<br>
			<span class="{{package_id==250?'bold-opensans':''}}">250 km </span>
			<br><br>
			<hr>
			<br>
			<span class="{{package_id==250?'bold-opensans':''}}">Un pago de</span><br>
			<span class="{{package_id==250?'bold-opensans':''}}" style="font-size: 30px">$1,500</span> <br><br>
			<hr>
			<br>
			<span class="{{package_id==250?'bold-opensans':''}}">Vigenica de 1 mes</span> <br><br>
			<a class="waves-effect waves-light btn-large {{package_id!=250 ? 'quote-button-inactive':''}}">Seleccionar</a>
			<br><br>
		</div>
		<div class="col m2 s12 {{package_id==500?'quote-active':'quote-inactive'}}" align="center" style="padding: 0px" (mouseenter)="mouseHover(500)">
			<br>
			<span class="{{package_id==500?'bold-opensans':''}}">250 km </span>
			<br><br>
			<hr>
			<br>
			<span class="{{package_id==500?'bold-opensans':''}}">Un pago de</span><br>
			<span class="{{package_id==500?'bold-opensans':''}}" style="font-size: 30px">$1,500</span> <br><br>
			<hr>
			<br>
			<span class="{{package_id==500?'bold-opensans':''}}">Vigenica de 1 mes</span> <br><br>
			<a class="waves-effect waves-light btn-large {{package_id!=500 ? 'quote-button-inactive':''}}">Seleccionar</a>
			<br><br>
		</div>
		<div class="col m2 s12 {{package_id==1000?'quote-active':'quote-inactive'}}" align="center" style="padding: 0px" (mouseenter)="mouseHover(1000)">
			<br>
			<span class="{{package_id==1000?'bold-opensans':''}}">250 km </span>
			<br><br>
			<hr>
			<br>
			<span class="{{package_id==1000?'bold-opensans':''}}">Un pago de</span><br>
			<span class="{{package_id==1000?'bold-opensans':''}}" style="font-size: 30px">$1,500</span> <br><br>
			<hr>
			<br>
			<span class="{{package_id==1000?'bold-opensans':''}}">Vigenica de 1 mes</span> <br><br>
			<a class="waves-effect waves-light btn-large {{package_id!=1000 ? 'quote-button-inactive':''}}">Seleccionar</a>
			<br><br>
		</div>
		<div class="col m2 s12 {{package_id==5000?'quote-active':'quote-inactive'}}" align="center" style="padding: 0px" (mouseenter)="mouseHover(5000)">
			<br>
			<span class="{{package_id==5000?'bold-opensans':''}}">250 km </span>
			<br><br>
			<hr>
			<br>
			<span class="{{package_id==5000?'bold-opensans':''}}">Un pago de</span><br>
			<span class="{{package_id==5000?'bold-opensans':''}}" style="font-size: 30px">$1,500</span> <br><br>
			<hr>
			<br>
			<span class="{{package_id==5000?'bold-opensans':''}}">Vigenica de 1 mes</span> <br><br>
			<a class="waves-effect waves-light btn-large {{package_id!=5000 ? 'quote-button-inactive':''}}">Seleccionar</a>
			<br><br>
		</div>
		<div class="col m2 s12 {{package_id==7000?'quote-active':'quote-inactive'}}" align="center" style="padding: 0px" (mouseenter)="mouseHover(7000)">
			<br>
			<span class="{{package_id==7000?'bold-opensans':''}}">7000 km </span>
			<br><br>
			<hr>
			<br>
			<span class="{{package_id==7000?'bold-opensans':''}}">Un pago de</span><br>
			<span class="{{package_id==7000?'bold-opensans':''}}" style="font-size: 30px">$1,500</span> <br><br>
			<hr>
			<br>
			<span class="{{package_id==7000?'bold-opensans':''}}">Vigenica de 1 mes</span> <br><br>
			<a class="waves-effect waves-light btn-large {{package_id!=7000 ? 'quote-button-inactive':''}}">Seleccionar</a>
			<br><br>
		</div>
		
		<div class="col m1"></div>

	</div>	
</section>
<section>
	<div class="container">
		
	</div>
</section>