<!--DESKTOP-->
<section id="id_homepage">
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-6">
				<div class="row">
					<div class="col-md-12">
						<br><br><br>
						<h1 class="bebas white" style="font-size: 70px">
							Ahorra en tu seguro pagando por kilómetro
						</h1>
					</div>
					<div class="col-md-12 white" style="font-size: 20px">
						Protege tu auto con todos los beneficios de un seguro de cobertura amplia y el respaldo de AIG.
						<br><br>
					</div>
					<div class="col-md-5" align="center">
						<span class="green bold-opensans" style="font-size: 45px">$299</span><span class="white" style="font-size: 30px"> al mes</span> <br>
						<span class="white">Suscripción con todos los beneficios</span>
					</div>
					<div class="col-md-2" align="center">
						<span class="green bold-opensans" style="font-size: 45px">+</span>
					</div>
					<div class="col-md-5" align="center">
						<span class="white" style="font-size: 30px">
							tu paquete de kilómetros
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="padding-top: 20px">
				<div class="card shadow rounded">
				  <div class="card-body">
				    This is some text within a card body.
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--MOBILE-->
