<!--DESKTOP-->
<section *ngIf="!loading" class="d-none d-sm-none d-md-none d-lg-block">

	<!--Modal Button Start-->
	<!--<div class="row">
		<div class="col-12 col-md-12 col-lg-12 col-xl-12 col-btn-show-promo-modal">
			<button type="button" class="btn-show-promo-modal" data-toggle="modal" data-target="#exampleModalScrollable">
				<img class="col-ticket" src="../../../assets/img/promo_modal/PROMOSKM-40x135px.jpg" alt="">
			</button>
		</div>
	</div>-->
	<!--Modal Button End-->

	<section id="id_homepage">
		<div class="container">


<!-- Modal Start-->
			<!--<div class="row">
				<div class="col-12 col-md-12 col-lg-12 col-xl-12 col-container-principal-promo-modal">
					<div class="modal hide-modal"  id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable promo-modal-container" role="document">
							<div class="modal-content promo-modal">
								<div class="modal-header header-promo-modal">
									<div class="row">
										<div class="col-10 col-md-10 col-lg-10 col-xl-10">
												<h5 class="modal-title text-promo-modal-h5" id="exampleModalScrollableTitle">AIRE LIBRE TE REGALA</h5>
										</div>
										<div class="col-2 col-md-2 col-lg-2 col-xl-2 col-btn-1-promo-modal">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<p class="text-promo-modal-close">x</p>
											</button>
										</div>
									</div>
								</div>
								<div class="modal-body body-promo-modal">
									<P class="text-promo-modal-p-1">LOS PRIMEROS</P>
									<P class="text-promo-modal-p-2">250 KM</P>
									<P class="text-promo-modal-p-3">Utiliza el código <span class="text-promo-modal-p-3-span">250AIRELIBRE</span></P>
								</div>
								<div class="modal-footer footer-promo-modal">
									<div class="row">
										<div class="col-3 col-md-3 col-lg-3 col-xl-3">
											<img class="img-promo-modal-left" src="../../../assets/img/promo_modal/logo AL.svg" alt="">
										</div>
										<div class="col-6 col-md-6 col-lg-6 col-xl-6">
											<div class="row">
												<div class="col-12 col-md-12 col-lg-12 col-xl-12 col-btn-footer-promo-modal">
													<button type="button" class="btn btn-primary btn-promo-modal-footer">CONTRATA AHORA</button>
												</div>
											</div>
												<p class="text-promo-modal-p-4">Válido del 11 de noviembre al 8 de diciembre de 2019, Aplica únicamente para clientes nuevos. Consulta términos y condiciones.</p>
										</div>
										<div class="col-3 col-md-3 col-lg-3 col-xl-3">
											<img class="img-promo-modal-right" src="../../../assets/img/promo_modal/logo SXKM.svg" alt="">
											<button type="button" class="btn-hide-promo-modal-2" data-toggle="modal" data-target="#exampleModalScrollable">
												<img id="modal-hide"class="col-ticket-2" src="../../../assets/img/promo_modal/PROMOSKM-40x135px.jpg" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->
<!-- Modal End-->







			<div class="row">
				<div class="col-5 col-md-4 col-lg-5 col-xl-5">
					<div class="row">
						<div class="col-md-12">
							<h1 class="bebas white" style="font-size: 60px">
								Ahorra en tu seguro pagando por kilómetro
							</h1>
						</div>
						<div class="col-md-12 white" style="font-size: 20px">
							Protege tu auto con todos los beneficios de un seguro de cobertura amplia.
							<br><br>
						</div>
						<div class="col-md-5" align="center">
							<span class="green bold-opensans" style="font-size: 25px">$299</span><span class="white" style="font-size: 20px"> al mes Ó</span> <br>
							<span class="green bold-opensans" style="font-size: 25px">$1,999 *</span><span class="white" style="font-size: 20px"> en un único pago. Ahorra $1,590.</span> <br><br>
							<span class="white">Suscripción con todos los beneficios</span>
						</div>
						<div class="col-md-2" align="center">
							<br><br><br>
							<span class="green bold-opensans" style="font-size: 45px">+</span>
						</div>
						<div class="col-md-5" align="center">
							<span class="white" style="font-size: 30px">
								tu paquete de kilómetros
							</span>

							<span class="white">
								Desde 250 km hasta 7,000 km <br>
								Vigencia de 1 a 12 meses
							</span>
							<span _ngcontent-c3="" class="white" style="font-size: 10px;">* Válido únicamente para contrataciones nuevas</span>
						</div>
						<div class=" col-md-6">
							<br>
							<a href="https://youtu.be/Z-MxefQeOlI" target="_blank" class="btn btn-sxkm-green btn-lg btn-block">
								<i class="fas fa-play" style="color:white"></i> ¿Qué es SXKM?
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-7 col-xl-7" style="padding-top: 20px;">
				<form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate >
					<div class="card shadow rounded">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-12">
					    		<div class="row">
					    			<div class="col-md-12">
					    				<span style="font-size: 16px">Datos de tu auto</span>
					    			</div>
					    			<!-- <div class="col-md-12">
									    <span class="bold-opensans" for="maker">Marca</span>
									    <select class="form-control" (change)="getModels();" required="true" [(ngModel)]="quotation.maker" name="maker" #maker="ngModel" id="maker">
									      	<option value="" disabled selected>Seleccionar</option>
											<option *ngFor="let maker of makers" value="{{maker.id}}">{{maker.name}}</option>
									    </select>
					    			</div> -->
										<!--<div class="col-md-3">

										</div>-->

										<div class="col-md-3">
									    <span class="bold-opensans" for="year">Año</span>
									    <select class="form-control" (change)="getMakers()" required="true" minlength="1" [(ngModel)]="quotation.year" name="year" #year="ngModel" id="year">
											<option value="" disabled selected>Seleccionar</option>
											<option *ngFor="let year of years_int" value="{{year}}">{{year}}</option>
										</select>
					    			</div>
										<div class="col-md-6">
									    <span class="bold-opensans" for="year">Marca</span>
									    <select *ngIf="quotation.year == ''" disabled class="form-control" (change)="getModels($event)" required="true" minlength="1" [(ngModel)]="quotation.maker" name="maker" #maker id="maker">
												<option value="" disabled selected>Seleccionar</option>
												<option *ngFor="let maker of makers" value="{{maker.id }}">{{maker.descripcion}}</option>
											</select>
											<select *ngIf="quotation.year != '' " class="form-control" (change)="getModels($event)" required="true" minlength="1" [(ngModel)]="quotation.maker" name="maker" #maker id="maker">
												<option value="" disabled selected>Seleccionar</option>
												<option *ngFor="let maker of makers" value="{{maker.id }}">{{maker.descripcion}}</option>
											</select>
					    			</div>
										<div class="col-md-6">
									    <span class="bold-opensans" for="year">Modelo</span>
									    <select *ngIf="quotation.maker == ''" class="form-control" (change)="getVersions($event)" disabled='false' required="true" minlength="1" [(ngModel)]="quotation.model" name="model" #year="ngModel" id="model">
											<option value="" disabled selected>Seleccionar</option>
											<option *ngFor="let model of models" value="{{model.id}}">{{model.descripcion}}</option>
										</select>
										<select (change)="getVersions($event)" *ngIf="quotation.maker != ''" class="form-control"  required="true" minlength="1" [(ngModel)]="quotation.model" name="model" #year="ngModel" id="model">
										<option value="" disabled selected>Seleccionar</option>
										<option *ngFor="let model of models"  value="{{model.id}}">{{model.descripcion}}</option>
									</select>
					    			</div>

										<div class="col-md-6">
									    <span class="bold-opensans" for="year">Version</span>
									    <select (change)="changeVersions($event)" *ngIf="quotation.model == ''" class="form-control" disabled  required="true" minlength="1" [(ngModel)]="quotation.version" name="version" #year="ngModel" id="version">
											<option value="" disabled selected>Seleccionar</option>
											<option *ngFor="let version of versions" value="{{version.id}}">{{version.descripcion}}</option>
										</select>
										<select (change)="changeVersions($event)" *ngIf="quotation.model != ''" class="form-control" (change)="getRate($event)"  required="true" minlength="1" [(ngModel)]="quotation.version" name="version" #year="ngModel" id="version">
										<option value="" disabled selected>Seleccionar</option>
										<option *ngFor="let version of versions" value="{{version.id}}">{{version.descripcion}}</option>
									</select>
					    			</div>
					    			<!-- 	<div class="col-md-{{loaderModels==true? '7': '9'}}">
									    <span class="bold-opensans" for="model">Modelo</span>

									<div class="ng-autocomplete">
											<ng-autocomplete
												[data]="models"
												 required="true" minlength="3" [(ngModel)]="quotation.model" name="model" #model="ngModel" (change)="getVersions()" id="model"
												[searchKeyword]="keyword"
												(selected)='selectEvent($event)'
												(inputChanged)='onChangeSearch($event)'
												(inputFocused)='onFocused($event)'
												[itemTemplate]="itemTemplate"
												[notFoundTemplate]="notFoundTemplate"
												placeHolder="Selecciona el modelo del vehiculo">
											</ng-autocomplete>

											<ng-template #itemTemplate let-item>
												<div class="item">
										       <img  src="/assets/img/makers/{{item.marca.replace('b', '').replace('/b', '').replace('<>', '').replace('<>', '')}}.png" height="25">
													<span> &nbsp; | &nbsp;</span>
										      <span [innerHTML]="item.version "></span>

										    </div>
											</ng-template>

											<ng-template #notFoundTemplate let-notFound>
											<div [innerHTML]="notFound"></div>
											</ng-template>
											</div>
									</div>-->
									<div *ngIf="loaderModels==true" class="col-md-2" align="left" style="padding-top: 15px">
										<img src="/assets/img/spinner.gif" alt="sxkm gift" style="width: 32px;">
									</div>
					    			<!-- <div class="col-md-{{loaderVersions==true? '10': '12'}}">
									    <span class="bold-opensans" for="version">Versión</span>
									    <select class="form-control" required="true" minlength="1" [(ngModel)]="quotation.version" name="version" #version="ngModel"  (change)="getSisa(); setVersionName(1)" id="version"  [disabled]="versionLength==0">
											<option value="" disabled selected>Seleccionar </option>
											<option *ngFor="let version of versions" value="{{version.id}}">{{version.name}}</option>
										</select>
					    			</div>
					    			<div *ngIf="loaderVersions==true" class="col-md-2" align="left" style="padding-top: 10px">
										<img src="/assets/img/spinner.gif" alt="sxkm gift" style="width: 32px;">
									</div>  -->
					    		</div>
					    	</div>

					    	<div class="col-md-12">
										<hr>
					    		<div class="row">
					    			<div class="col-md-6">
					    				<span style="font-size: 16px">Datos personales</span>
					    			</div>
										<div class="col-md-6">

										</div>
					    			<div class="col-md-6">
					    				<span class="bold-opensans" for="email">Email</span>
					    				<input type="email" class="form-control" name="email" id="email" required [(ngModel)]="quotation.email" #email="ngModel">
									</div>

					    			<div class="col-md-6">
					    				<span class="bold-opensans" for="cellphone">Celular</span>
										<input placeholder="" (change)="changeCellphone(1)" maxlength="10" pattern= "[2-9]{1}[0-9]{9}" max required="true" name="cellphone" id="cellphone" type="tel" class="form-control" [(ngModel)]="quotation.cellphone" #cellphone="ngModel" title="El celular debe ser de diez dígitos">
										<span *ngIf="!cellphone_validator" style="color:red">El celular es inválido</span>
									</div>

					    			<div class="col-md-6">
					    				<div class="row">
					    					<div class="col-md-12">
					    						<span class="bold-opensans" for="">Fecha de nacimiento</span>
					    					</div>
					    					<div class="col-md-12">
					    						<select class="form-control" style="width: 30%;display: inline;" (change)="setBirthDate();" required="true" name="day_birth" [(ngModel)]="birthdate.day" #day_birth="ngModel">
													<option value="" selected disabled>Día</option>
													<option value="01">01</option>
													<option value="02">02</option>
													<option value="03">03</option>
													<option value="04">04</option>
													<option value="05">05</option>
													<option value="06">06</option>
													<option value="07">07</option>
													<option value="08">08</option>
													<option value="09">09</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
													<option value="31">31</option>
											    </select>
											    &nbsp;
											    <select (change)="setBirthDate();" class="form-control" style="width: 30%;display: inline;" required="true" name="month_birth" [(ngModel)]="birthdate.month" #month_birth="ngModel">
													<option value="" selected disabled>Mes</option>
													<option value="1">01</option>
													<option value="2">02</option>
													<option value="3">03</option>
													<option value="4">04</option>
													<option value="5">05</option>
													<option value="6">06</option>
													<option value="7">07</option>
													<option value="8">08</option>
													<option value="9">09</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
												</select>
												&nbsp;
												<select (change)="setBirthDate();" class="form-control" style="width: 30%;display: inline;" required="true" name="year_birth" [(ngModel)]="birthdate.year" #year_birth="ngModel">
													<option value="" selected disabled>Año</option>
													<option  *ngFor="let year of years_birth" value="{{year}}">{{year}}</option>
												</select>
					    					</div>
					    				</div>
									</div>

					    			<div class="col-3">
					    				<span class="bold-opensans" for="zipcode">Código postal</span>
					    				<input type="text" class="form-control" name="zipcode" type="text" required="true" minlength="5" maxlength="5" [(ngModel)]="quotation.zipcode" #zipcode="ngModel" (blur)="validateZipcode()">
					    			</div>
					    			<div class="col-3">
					    				<div class="row">
					    					<div class="col-md-12">
					    						<span class="bold-opensans" for="">Sexo</span>
					    						<br>
					    						<button type="button" class="btn {{quotation.gender==2 ? 'radio-sxkm-green' : 'radio-sxkm-white'}} " (click)="setGender(2)" class="waves-effect waves-light btn ">
												  H
												</button>
												&nbsp;
												<button type="button" class="btn {{quotation.gender==1 ? 'radio-sxkm-green' : 'radio-sxkm-white'}} " (click)="setGender(1)" class="waves-effect waves-light btn ">
												  M
												</button>
					    					</div>
					    				</div>
					    			</div>
					    		</div>
							</div>
							<div class="col-md-12" style="padding-bottom: 7px">
								<br><br>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customCheck1" required>
									<label class="custom-control-label" for="customCheck1">&nbsp;&nbsp;El auto NO es legalizado, fronterizo o de salvamento y no tiene siniestros por reclamar.</label>
								</div>
							</div>
							<div class="col-md-12" style="padding-bottom: 7px">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customCheck2" required>
									<label class="custom-control-label" for="customCheck2">&nbsp;&nbsp;El auto NO es utilizado para fines de carga, comercio o lucro.</label>
								</div>
							</div>
							<div class="col-md-12">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customCheck3" required>
									<label class="custom-control-label" for="customCheck3">&nbsp;&nbsp;El auto NO es Uber o similares.</label>
								</div>
							</div>
							<div class="offset-md-4 col-md-4" *ngIf='blue_book_rate != 0 && blue_book_rate != 1'>
								<br>
								<button type="submit" class="btn btn-sxkm-green btn-lg btn-block">
									Cotizar seguro
								</button>
							</div>
							<div class="col-md-12" *ngIf='blue_book_rate == 0'>
								<br>
								<h3 style="text-align:center; color:red;">Lo sentimos, su auto no se encuentra en nuestro catálogo.</h3>
							</div>
							<div class="col-md-12" *ngIf='blue_book_rate == 1'>
								<br>
								<h3 style="text-align:center; color:#68D42C !important;">Selecciona tu vehiculo para consultar disponibilidad en nuestro catálogo.</h3>
							</div>
					    </div>
					  </div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12" align="center">
					<h2>Más beneficios, mejor precio</h2>
					<br>
				</div>
				<div class="col-md-4" align="center">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-12">
					    		<h3>10% de deducible en caso de robo total</h3>
					    		<br>
						        <img src="/assets/img/deducible.svg" alt="Seguro por kilometro - 10% de deducible en caso de robo total">
						        <br><br>
						        Cubre el robo total del vehículo asegurado.
						        <br><br>
					    	</div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="col-md-4" align="center">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-12">
					    		<h3>Cobertura amplia en todo México</h3>
						        <br>
						        <img src="/assets/img/cobertura.svg" alt="Seguro por kilometro - Cobertura amplia en todo Mexico">
						        <br><br>
						        Nuestros Certificados son de cobertura amplia en toda la República Mexicana.
						        <br><br>
					    	</div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="col-md-4" align="center">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-12">
					    		<h3>Plataforma inteligente a bordo</h3>
						        <br>
						        <img src="/assets/img/pia.svg" alt="Seguro por kilometro - plataforma inteligente a bordo">
						        <br><br>
						        Conoce tus hábitos de manejo y recibe consejos y beneficios especiales SXKM.
						        <br><br>
					    	</div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-2" align="center">
					<!--<img *ngIf="landing!='potosi'" src="/assets/img/aig.svg" alt="SXKM - aig seguros de auto" style="width: 120px;">
					<img *ngIf="landing=='potosi'" src="/assets/img/potosi.png" alt="SXKM - seguros el potosi" style="width: 120px;">-->
				</div>
				<div class="col-md-10" align="left">
					<h2>Cobertura amplia</h2>
					<span>Obtén todos los beneficios de la cobertura nacional de seguros para manejar tranquilo.</span> <br>
					<!--<a target="_blank" href="https://www.aig.com.mx/content/dam/aig/lac/mexico/documents/brochures/2017_condiciones_seguro_por_kilometro..pdf" class="link-sxkm-green">Consulta los detalles de la cobertura aquí. →</a>-->
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="offset-2 col-md-5">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-3" align="center">
					    		<img src="/assets/img/danos-materiales.svg" class="img-fluid" alt="seguro por kilometro - daños materiales">
					    	</div>
					    	<div class="col-md-9">
					    		<span class="bold-opensans" style="font-size: 18px">Daños materiales</span>
								<p>
									Sólo pagas el 5% de deducible, sobre el valor comercial.
								</p>
					    	</div>
					    </div>
					  </div>
					</div>
					<br>
				</div>
				<div class="col-md-5">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-3" align="center">
					    		<img src="/assets/img/acelerador-perdida.svg" class="img-fluid" alt="seguro por kilometro - acelerador de perdida total">
					    	</div>
					    	<div class="col-md-9">
					    		<span class="bold-opensans" style="font-size: 18px">Acelerador de pérdida total</span>
								<p>
									El auto es considerado pérdida total desde el 50% de daños.
								</p>
					    	</div>
					    </div>
					  </div>
					</div>
					<br>
				</div>
				<!-- <div class="col-md-5">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-3" align="center">
					    		<img src="/assets/img/deducible.svg" class="img-fluid" alt="seguro por kilometro - 0% de deducible en robo total">
					    	</div>
					    	<div class="col-md-9">
					    		<span class="bold-opensans" style="font-size: 18px">0% de deducible</span>
								<p>
									Nosotros pagamos tu deducible en caso de robo total.
								</p>
					    	</div>
					    </div>
					  </div>
					</div>
					<br>
				</div> -->
			</div>
			<div class="row">
				<div class="offset-2 col-md-5">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-3" align="center">
					    		<img src="/assets/img/responsabilidad-civil.svg" class="img-fluid" alt="seguro por kilometro - responsabilidad civil">
					    	</div>
					    	<div class="col-md-9">
					    		<span class="bold-opensans" style="font-size: 18px">Responsabilidad civil</span>
								<p>
									Te cubrimos hasta por $3,000,000.00 MXN.
								</p>
					    	</div>
					    </div>
					  </div>
					</div>
					<br>
				</div>
				<div class="col-md-5">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-3" align="center">
					    		<img src="/assets/img/gastos-medicos.svg" class="img-fluid" alt="seguro por kilometro - gasto medicos a ocupantes">
					    	</div>
					    	<div class="col-md-9">
					    		<span class="bold-opensans" style="font-size: 18px">Gastos médicos a ocupantes</span>
								<p>
									Cobertura hasta por $50,000.00 MXN.
								</p>
					    	</div>
					    </div>
					  </div>
					</div>
					<br>
				</div>
			</div>
			<div class="row">

				<!-- <div class="col-md-5">
					<div class="card shadow ">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-md-3" align="center">
					    		<img src="/assets/img/conductor-designado.svg" class="img-fluid" alt="seguro por kilometro - conductor designado en caso de estado de ebriedad">
					    	</div>
					    	<div class="col-md-9">
					    		<span class="bold-opensans" style="font-size: 18px">Conductor designado</span>
								<p>
									Enviamos a alguien que maneje por ti en caso de estado de ebriedad.
								</p>
					    	</div>
					    </div>
					  </div>
					</div>
					<br>
				</div> -->
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12" align="center">
					<h2>Tecnología de punta para mantenerte seguro</h2>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label (click)="cambiar(1)" class="align-middle navlateral {{active==1?'navlateral-active':''}}" style="cursor: pointer;"> &nbsp;&nbsp;PIA</label>
					<label (click)="cambiar(2)" class="align-middle navlateral {{active==2?'navlateral-active':''}}" style="cursor: pointer;">&nbsp;&nbsp;Dispositivo OBDII</label>
					<label (click)="cambiar(3)" class="align-middle navlateral {{active==3?'navlateral-active':''}}" style="cursor: pointer;">&nbsp;&nbsp;Aplicación móvil</label>
					<label (click)="cambiar(4)" class="align-middle navlateral {{active==4?'navlateral-active':''}}" style="cursor: pointer;">&nbsp;&nbsp;Mecánico a bordo</label>
					<!-- <label (click)="cambiar(5)" class="align-middle navlateral {{active==5?'navlateral-active':''}}" style="cursor: pointer;">&nbsp;&nbsp;SXKM Rewards</label> -->
				</div>
				<div class="col-md-5">
					<div *ngIf="active==1">
						<span style="color: #26a1d9;font-size:1.75rem">PIA</span>&nbsp;&nbsp;<span style="font-size:1.75rem">(Plataforma Inteligente A Bordo)</span>
						<br>
						<br>
						PIA es el dispositivo que será tu asistente personal en el camino. Recíbelo en la puerta de tu domicilio.
						<br>
						<ul style="padding-left: 20px;">
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Alertas de vigencia de tu suscripción y kilómetros.</span></li>
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Perfil del conductor, monitorea el uso y viajes de tu auto.</span></li>
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">SXKM rewards y beneficios especiales.</span></li>
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Botón SOS las 24 horas en caso de robo, accidentes y asistencia en el camino.</span></li>
						</ul>
					</div>
					<div *ngIf="active==2">
						<span style="font-size:1.75rem">Dispositivo OBDII</span><br><br>
						Es un sistema que aporta un monitoreo completo del motor de tu auto y las distancias recorridas.
						<br>
						<ul style="padding-left: 20px;">
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Se conecta en el puerto OBDII incluido en todos los autos con menos de 15 años de antigüedad.</span></li>
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">En caso de presentarse alguna falla en el dispositivo, lo cambiamos inmediatamente sin costo alguno.</span></li>
						</ul>
					</div>
					<div *ngIf="active==3">
						<span style="font-size:1.75rem">Aplicación móvil</span><br><br>
						Lleva el control de los kilómetros que ocupa tu auto y mantén tu certificado activa.
						<br>
						<ul style="padding-left: 20px;">
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Recarga paquetes de kilómetros.</span></li>
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Monitorea el uso y tus viajes realizados.</span></li>
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Lleva tu certificado de forma segura.</span></li>
						</ul>
					</div>
					<div *ngIf="active==4">
						<span style="font-size:1.75rem">Mecánico a bordo</span>
						<br>
						<br>
						Es un sistema de diagnóstico encargado de detectar fallas en tiempo real mediante un análisis que hace PIA.
						<br>
						<ul style="padding-left: 20px;">
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Fallos del encendido.</span></li>
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Fallas eléctricas y mecánicas.</span></li>
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">Sensores.</span></li>
						</ul>
					</div>
					<!-- <div *ngIf="active==5">
						<span style="font-size:1.75rem">SXKM Rewards</span>
						<br>
						<br>
						Obtén beneficios adicionales dependiendo el uso de tu auto y tu comportamiento como conductor.
						<ul style="padding-left: 20px;">
							<li style="color:#17d320;list-style-type: disc;"><span style="color:#333333">10% de deducible en caso de robo total.</span></li>
						</ul>
					</div> -->
				</div>
				<div  class="col-md-4" align="center">
					<img *ngIf="active==1" src="/assets/img/sxkm-pia.jpg" class="img-fluid" alt="Seguro por kilometro - PIA">
					<img *ngIf="active==2" src="/assets/img/dispositivo-obd.jpg" class="img-fluid" alt="Seguro por kilometro - dispositivo OBDII">
					<img *ngIf="active==3" src="/assets/img/sxkm-app.png" class="img-fluid" alt="Seguro por kilometro app ">
					<img *ngIf="active==4" src="/assets/img/sxkm-mecanico-a-bordo.jpg" class="img-fluid" alt="seguro por kilometro mecanico a bordo">
					<img *ngIf="active==5 && landing!='potosi'" src="/assets/img/rewards.png" class="img-fluid" style="width: 150px;" alt="seguro por kilometro pia rewards">
					<img *ngIf="active==5 && landing=='potosi'" src="/assets/img/potosi.png" class="img-fluid" alt="sxkm - seguros el potosi">
				</div>
			</div>
		</div>
	</section>
</section>
<section *ngIf="!loading" class="d-block d-sm-block d-md-block d-lg-none d-xl-none bg-dark-green">
	<div class="container">









<!--Modal Phone start-->
			<!--<div class="row">
				<div class="col-12 col-md-12 col-lg-12 col-xl-12 col-container-principal-promo-modal">
					<div class="modal fade hide-modal"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable promo-modal-container" role="document">
							<div class="modal-content promo-modal">
								<div class="modal-header header-promo-modal">
									<div class="row">
										<div class="col-10 col-md-10 col-lg-10 col-xl-10">
												<h5 class="modal-title text-promo-modal-h5" id="exampleModalScrollableTitle">AIRE LIBRE TE REGALA</h5>
										</div>
										<div class="col-2 col-md-2 col-lg-2 col-xl-2 col-btn-1-promo-modal">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<p class="text-promo-modal-close">x</p>
											</button>
										</div>
									</div>
								</div>
								<div class="modal-body body-promo-modal">
									<P class="text-promo-modal-p-1">LOS PRIMEROS</P>
									<P class="text-promo-modal-p-2">250 KM</P>
									<P class="text-promo-modal-p-3">Utiliza el código <span class="text-promo-modal-p-3-span">250AIRELIBRE</span></P>
								</div>
								<div class="modal-footer footer-promo-modal">
									<div class="row">

										<div class="col-12 col-md-12 col-lg-6 col-xl-6">
											<div class="row">
												<div class="col-12 col-md-12 col-lg-12 col-xl-12 col-btn-footer-promo-modal" data-dismiss="modal" aria-label="Close">
													<button type="button" class="btn btn-primary btn-promo-modal-footer close">CONTRATA AHORA</button>
												</div>
											</div>
												<p class="text-promo-modal-p-4">Válido del 11 de noviembre al 8 de diciembre de 2019, Aplica únicamente para clientes nuevos. Consulta términos y condiciones.</p>
										</div>
									</div>

								</div>
								<div class="row">
										<div class="col-6 col-md-6 col-lg-3 col-xl-3">
											<img class="img-promo-modal-left" src="../../../assets/img/promo_modal/logo AL.svg" alt="">
										</div>
										<div class="col-6 col-md-6 col-lg-3 col-xl-3">
											<img class="img-promo-modal-right" src="../../../assets/img/promo_modal/logo SXKM.svg" alt="">
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->
<!--Modal Phone End-->













		<div class="row">
			<div class="col-md-12" align="center">
				<h1 class="bebas white" style="font-size: 45px">
					Ahorra en tu seguro pagando por kilómetro
				</h1>
				<a href=""><span class="green" style="font-size:30px">5589958519  </span></a>
			</div>
			<div class="col-md-12" align="center">
				<div class="row">
					<div class="col-5" align="center">
						<span class="green bold-opensans" style="font-size: 25px">$299</span><span class="white" style="font-size: 20px"> al mes O</span> &nbsp;&nbsp;

						<span class="green bold-opensans" style="font-size: 25px">$1,999 *</span><span class="white" style="font-size: 20px"> en un único pago. Ahorra $1,590.</span>
						<br>

						<span class="white">Suscripción con todos los beneficios</span>

					</div>
					<div class="col-1">
						<br><br><br>
							<span class="green bold-opensans" style="font-size: 25px">+</span><br><br>
					</div>
					<div class="col-6" align="center">
						<span class="white" style="font-size:20px">
							tu paquete de kilómetros
						</span>
						<br>
						<span class="white">
							Desde 250 km hasta 7,000 km <br>
							Vigencia de 1 a 12 meses
						</span>
						<span _ngcontent-c3="" class="white" style="font-size: 10px;">* Válido únicamente para contrataciones nuevas</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" align="center">
						<a class="btn btn-success btn-contact-home" href="tel:5589958519">¡Llamar ya!</a>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate >
					<div class="card shadow rounded">
					  <div class="card-body">
					    <div class="row">
					    	<div class="col-12">
					    		<div class="row">
					    			<div class="col-md-12" align="center">
					    				<span style="font-size: 16px">Datos de tu auto</span>
					    				<br>
					    			</div>
					    			<!-- <div class="col-md-12">
									    <span class="bold-opensans" for="maker">Marca</span>
									    <select class="form-control" (change)="getModels();" required="true" [(ngModel)]="quotation.maker" name="maker" #maker="ngModel" id="maker">
									      	<option value="" disabled selected>Seleccionar</option>
											<option *ngFor="let maker of makers" value="{{maker.id}}">{{maker.name}}</option>
									    </select>
					    			</div> -->

										<div class="col-md-12">
									    <span class="bold-opensans" for="year">Año</span>
									    <select class="form-control" (change)="getMakers()" required="true" minlength="1" [(ngModel)]="quotation.year" name="year" #year="ngModel" id="year">
											<option value="" disabled selected>Seleccionar</option>
											<option *ngFor="let year of years_int" value="{{year}}">{{year}}</option>
										</select>
					    			</div>
										<div class="col-md-12">
									    <span class="bold-opensans" for="year">Marca</span>
									    <select *ngIf="quotation.year == ''" disabled class="form-control" (change)="getModels($event)" required="true" minlength="1" [(ngModel)]="quotation.maker" name="maker" #maker id="maker">
												<option value="" disabled selected>Seleccionar</option>
												<option *ngFor="let maker of makers" value="{{maker.id }}">{{maker.descripcion}}</option>
											</select>
											<select *ngIf="quotation.year != '' " class="form-control" (change)="getModels($event)" required="true" minlength="1" [(ngModel)]="quotation.maker" name="maker" #maker id="maker">
												<option value="" disabled selected>Seleccionar</option>
												<option *ngFor="let maker of makers" value="{{maker.id }}">{{maker.descripcion}}</option>
											</select>
					    			</div>
										<div class="col-md-12">
									    <span class="bold-opensans" for="year">Modelo</span>
									    <select *ngIf="quotation.maker == ''" class="form-control" (change)="getVersions($event)" disabled='false' required="true" minlength="1" [(ngModel)]="quotation.model" name="model" #year="ngModel" id="model">
											<option value="" disabled selected>Seleccionar</option>
											<option *ngFor="let model of models" value="{{model.id}}">{{model.descripcion}}</option>
										</select>
										<select (change)="getVersions($event)" *ngIf="quotation.maker != ''" class="form-control"  required="true" minlength="1" [(ngModel)]="quotation.model" name="model" #year="ngModel" id="model">
										<option value="" disabled selected>Seleccionar</option>
										<option *ngFor="let model of models"  value="{{model.id}}">{{model.descripcion}}</option>
									</select>
					    			</div>

										<div class="col-md-12">
									    <span class="bold-opensans" for="year">Version</span>
									    <select (change)="changeVersions($event)" *ngIf="quotation.model == ''" class="form-control" disabled  required="true" minlength="1" [(ngModel)]="quotation.version" name="version" #year="ngModel" id="version">
											<option value="" disabled selected>Seleccionar</option>
											<option *ngFor="let version of versions" value="{{version.id}}">{{version.descripcion}}</option>
										</select>
										<select (change)="changeVersions($event)" *ngIf="quotation.model != ''" class="form-control"  (change)="getRate($event)" required="true" minlength="1" [(ngModel)]="quotation.version" name="version" #year="ngModel" id="version">
										<option value="" disabled selected>Seleccionar</option>
										<option *ngFor="let version of versions" value="{{version.id}}">{{version.descripcion}}</option>
									</select>
					    			</div>
										<hr>
									<!-- <div *ngIf="loaderModels==true" class="col-2" align="left" style="padding-top: 15px">
										<img src="/assets/img/spinner.gif" alt="sxkm gift" style="width: 32px;">
									</div> -->
					    			<!-- <div class="col-{{loaderVersions==true? '10': '12'}}">
									    <span class="bold-opensans" for="version">Versión</span>
									    <select class="form-control" required="true" minlength="1" [(ngModel)]="quotation.version" name="version" #version="ngModel"  (change)="getSisa(); setVersionName(2)" id="version_mobile"  [disabled]="versionLength==0">
											<option value="" disabled selected>Seleccionar </option>
											<option *ngFor="let version of versions" value="{{version.id}}">{{version.name}}</option>
										</select>
					    			</div> -->
					    			<div *ngIf="loaderVersions==true" class="col-2" align="left" style="padding-top: 10px">
										<img src="/assets/img/spinner.gif" alt="sxkm gift" style="width: 32px;">
									</div>
					    		</div>
					    	</div>
					    	<div class="col-12">
					    		<div class="row">
					    			<div class="col-md-12" align="center">
					    				<br><br>
					    				<span style="font-size: 16px">Datos personales</span>
					    			</div>
					    			<div class="col-md-12">
					    				<span class="bold-opensans" for="email">Email</span>
					    				<input type="email" class="form-control" (change)="changeEmail()" name="email" id="email" required [(ngModel)]="quotation.email" #email="ngModel">
										<span *ngIf="!email_validator" style="color:red">El email es inválido</span>
					    			</div>
					    			<div class="col-6">
					    				<span class="bold-opensans" for="zipcode">Código postal</span>
					    				<input type="text" class="form-control" name="zipcode" type="text" required="true" minlength="5" maxlength="5" [(ngModel)]="quotation.zipcode" #zipcode="ngModel" (blur)="validateZipcode()">
					    			</div>
					    			<div class="col-6">
					    				<div class="row">
					    					<div class="col-md-12">
					    						<span class="bold-opensans" for="">Sexo</span>
					    						<br>
					    						<button type="button" class="btn {{quotation.gender==2 ? 'radio-sxkm-green' : 'radio-sxkm-white'}} " (click)="setGender(2)" class="waves-effect waves-light btn ">
												  H
												</button>
												&nbsp;
												<button type="button" class="btn {{quotation.gender==1 ? 'radio-sxkm-green' : 'radio-sxkm-white'}} " (click)="setGender(1)" class="waves-effect waves-light btn ">
												  M
												</button>
					    					</div>
					    				</div>
					    			</div>
					    			<div class="col-md-12">
					    				<div class="row">
					    					<div class="col-md-12">
					    						<span class="bold-opensans" for="">Fecha de nacimiento</span>
					    					</div>
					    					<div class="col-md-12">
					    						<select class="form-control" style="width: 30%;display: inline;" (change)="setBirthDate();" required="true" name="day_birth" [(ngModel)]="birthdate.day" #day_birth="ngModel">
													<option value="" selected disabled>Día</option>
													<option value="01">01</option>
													<option value="02">02</option>
													<option value="03">03</option>
													<option value="04">04</option>
													<option value="05">05</option>
													<option value="06">06</option>
													<option value="07">07</option>
													<option value="08">08</option>
													<option value="09">09</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
													<option value="31">31</option>
											    </select>
											    &nbsp;
											    <select (change)="setBirthDate();" class="form-control" style="width: 30%;display: inline;" required="true" name="month_birth" [(ngModel)]="birthdate.month" #month_birth="ngModel">
													<option value="" selected disabled>Mes</option>
													<option value="1">01</option>
													<option value="2">02</option>
													<option value="3">03</option>
													<option value="4">04</option>
													<option value="5">05</option>
													<option value="6">06</option>
													<option value="7">07</option>
													<option value="8">08</option>
													<option value="9">09</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
												</select>
												&nbsp;
												<select (change)="setBirthDate();" class="form-control" style="width: 30%;display: inline;" required="true" name="year_birth" [(ngModel)]="birthdate.year" #year_birth="ngModel">
													<option value="" selected disabled>Año</option>
													<option  *ngFor="let year of years_birth" value="{{year}}">{{year}}</option>
												</select>
					    					</div>
					    				</div>
					    			</div>
					    			<div class="col-md-12">
					    				<span class="bold-opensans" for="cellphone">Celular</span>
										<input placeholder="" (change)="changeCellphone(1)" maxlength="10" pattern= "[2-9]{1}[0-9]{9}" max required="true" name="cellphone" id="cellphone" type="tel" class="form-control" [(ngModel)]="quotation.cellphone" #cellphone="ngModel" title="El celular debe ser de diez dígitos">
										<span *ngIf="!cellphone_validator" style="color:red">El celular es inválido</span>
					    			</div>
					    		</div>
							</div>
							<div class="col-md-12" style="padding-bottom: 7px">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customCheck4" required>
									<label class="custom-control-label" for="customCheck4">&nbsp;&nbsp; El auto NO es legalizado, fronterizo o de salvamento y no tiene siniestros por reclamar.</label>
								</div>
							</div>
							<div class="col-md-12" style="padding-bottom: 7px">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customCheck5" required>
									<label class="custom-control-label" for="customCheck5">&nbsp;&nbsp;El auto NO es utilizado para fines de carga, comercio o lucro.</label>
								</div>
							</div>
							<div class="col-md-12">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customCheck6" required>
									<label class="custom-control-label" for="customCheck6">&nbsp;&nbsp;El auto NO es Uber o similares.</label>
								</div>
							</div>
							<div class="offset-md-4 col-md-4" *ngIf='blue_book_rate != 0 && blue_book_rate != 1'>
								<br>
								<button type="submit" class="btn btn-sxkm-green btn-lg btn-block">
									Cotizar seguro
								</button>
							</div>
							<div class="col-md-12" *ngIf='blue_book_rate == 0'>
								<h3 style="text-align:center; color:red;">Lo sentimos, su auto no se encuentra en nuestro catálogo.</h3>
							</div>
							<div class="col-md-12" *ngIf='blue_book_rate == 1'>
								<h3 style="text-align:center; color:#68D42C !important;">Selecciona tu vehiculo para consultar disponibilidad en nuestro catálogo.</h3>
							</div>
						</div>
					  </div>
					</div>
					<div class="row">
						<div class="col-md-12" align="center">
							<a class="btn btn-success btn-contact-home" href="tel:5589958519">¡Llamar ya!</a>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-12">
				<br><br>
			</div>
		</div>
<!--Cobertura Start-->
		<section class="coverage">
            <div class="row row-container-coverage">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row row-container-coverage-logo">
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-container-logo-coverage">
							<!--<img class="img-aig-logo" src="../../../assets/img/aig.svg" alt="AIG logo">-->
                        </div>
                        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                            <h3 class="text-coverage-h3">COBERTURA AMPLIA</h3>
                            <p class="text-coverage-p">Obtén todos los beneficios de la cobertura nacional de seguros para manejar tranquilo.</p>
                            <!--<a href="#" class="text-coverage-color-a">Consulta los detalles de la cobertura aquí. →</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-container-cad-coverage">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row row-container-coverage-generic">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-coverage-cover">
                                <div class="row row-container-coverage-generic">
                                    <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3 col-container-img-coverage">
										<img src="../../../assets/img/coverage/danos-materiales.svg" alt="Daños materiales">
                                    </div>
                                    <div class="col-7 col-sm-7 col-md-9 col-lg-9 col-xl-9">
                                        <h6 class="bold-opensans">Daños materiales</h6>
                                        <p>Sólo pagas el 5% de deducible, sobre el valor comercial.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-coverage-cover">
                                <div class="row row-container-coverage-generic">
                                    <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3 col-container-img-coverage">
                                        <img src="../../../assets/img/coverage/deducible.svg" alt="Deducible">
                                    </div>
                                    <div class="col-7 col-sm-7 col-md-9 col-lg-9 col-xl-9">
                                        <h6 class="bold-opensans">10% de deducible</h6>
                                        <p>Nosotros pagamos tu deducible en caso de robo total.</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-coverage-cover">
                                <div class="row row-container-coverage-generic">
                                    <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3 col-container-img-coverage">
                                        <img src="../../../assets/img/coverage/responsabilidad-civil.svg" alt="Responsabilidad">
                                    </div>
                                    <div class="col-7 col-sm-7 col-md-9 col-lg-9 col-xl-9">
                                        <h6 class="bold-opensans">Responsabilidad civil</h6>
                                        <p>Te cubrimos hasta por $3,000,000.00 MXN</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-coverage-cover">
                                <div class="row row-container-coverage-generic">
                                    <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3 col-container-img-coverage">
                                        <img src="../../../assets/img/coverage/gastos-medicos.svg" alt="Gastos médicos">
                                    </div>
                                    <div class="col-7 col-sm-7 col-md-9 col-lg-9 col-xl-9">
                                        <h6 class="bold-opensans">Gastos médicos ocupantes</h6>
                                        <p>Cobertura hasta por $50,000.00 MXN</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-coverage-cover">
                                <div class="row row-container-coverage-generic">
                                    <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3 col-container-img-coverage">
                                        <img src="../../../assets/img/coverage/acelerador-perdida.svg" alt="Pérdida total">
                                    </div>
                                    <div class="col-7 col-sm-7 col-md-9 col-lg-9 col-xl-9">
                                        <h6 class="bold-opensans">Acelerador de pérdida total</h6>
                                        <p>El auto es considerado pérdida total desde el 50% de daños.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-coverage-cover">
                                <div class="row row-container-coverage-generic">
                                    <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3 col-container-img-coverage">
                                        <img src="../../../assets/img/coverage/conductor-designado.svg" alt="Conductor designado">
                                    </div>
                                    <div class="col-7 col-sm-7 col-md-9 col-lg-9 col-xl-9">
                                        <h6 class="bold-opensans">Conductor designado</h6>
                                        <p>Enviamos a alguien que maneje por ti en caso de estado de ebriedad</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-container-btn-cell-ejec">
                    <a class="btn btn-success btn-contact-home" href="tel:5589958519">¡Hablar con ejecutivo!</a>
                </div>
            </div>
		</section>
<!--Cobertura End-->
	</div>
</section>
<!--MOBILE-->

<section *ngIf="loading" style="background-color: #fafbfc;height: 95vh">
		<div class="container">
			<div class="row">
				<div class="col-md-12" align="center">
					<br><br>
					<img src="/assets/img/spinner.gif" alt=""> <br>
					<h3>Conectando ...</h3> <br>
					Este proceso puede tardar hasta 90 segundos. No cierres ésta página.
					<br><br><br>
				</div>
			</div>
		</div>
</section>
