<section>
	<div class="container">
		<div class="row">
			<div class="offset-md-3 col-md-6" align="center">
				<div class="row">
					<div class="col-md-12">
						<br><br>
						<img src="/assets/img/check-icon.png" class="img-fluid"  alt="Pago">
						<h1>Gracias por elegir SXKM</h1>
						<span *ngIf="pago=='tarjeta'">
							Recibirás el dispositivo PIA y tu póliza dentro de las próximas 48 horas. Te avisaremos por correo cuando vaya en camino.
						</span>
						<span *ngIf="pago!='tarjeta'" style="font-size: 20px">
							Se ha enviado a tu correo la referencia de pago
						</span>
						<br><br>
					</div>
					<div *ngIf="pago!='tarjeta' && transaction!=null" class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div *ngIf="pago=='efectivo'" class="col-md-12">
										<img *ngIf="pago=='efectivo'" src="/assets/img/pagos/{{store}}.png" alt="" class="img-fluid">
										<br><br>
										<span style="font-size:24px;" class="">Referencia de pago</span>
										<br>
										<h3 class="bold-opensans">{{transaction.reference}}</h3>
										<br><br>

										<span style="font-size:24px;" class="">Total a pagar</span>
										<br>
										<h3 class="bold-opensans">{{transaction.total | currency}}</h3>
										<br><br>

										<span style="font-size:24px;" class="">Vigencia</span>
										<br>
										<h3 class="bold-opensans">{{transaction.expires_at | date: 'dd-MM-yyyy'}}</h3>
										<br ><br >
									</div>
									<div class="col-md-12" align="center" *ngIf="pago=='efectivo'">
										<span *ngIf="store=='oxxo'">
											Oxxo cobra una comisión de $12 pesos por recibir tu pago.
										</span>
									</div>
									<div *ngIf="pago=='spei'" class="col-md-12">
										<img *ngIf="pago=='spei'" src="/assets/img/pagos/spei.png" alt="" class="img-fluid">
										<br><br>
										<span style="font-size:24px;" class="">CLABE</span>
										<br>
										<h3 class="bold-opensans">{{transaction.reference}}</h3>
										<br><br>
	
										<span style="font-size:24px;" class="">Banco</span>
										<br >
										<h3 class="bold-opensans">{{transaction.bank}}</h3>
										<br ><br>
										
										<span style="font-size:24px;" class="">Beneficiario</span>
										<br>
										<h3 class="bold-opensans">Seguro X Kilómetro</h3>
										<br><br>
										<span style="font-size:24px;" class="">Vigencia</span>
										<br>
										<h3 class="bold-opensans">{{transaction.expires_at | date: 'dd-MM-yyyy'}}</h3>
										<br ><br >
										<span style="font-size:24px;" class="">Total a pagar</span>
										<br>
										<h3 class="bold-opensans">{{transaction.total | currency}}</h3>
									</div>
									<div class="col-md-12" *ngIf="pago=='spei'" align="justify">
										<br>
										<span style="font-size:20px;" class="bold-opensans">Instrucciones de pago con SPEI</span> <br>
										1. Da de alta la siguiente CLABE en tu banca en línea y confima que los datos estén correctos. <br>
										2. Efectúa una transferencia a ésta CLABE con la cantidad exacta. <br>
										3. Guarda tu recibo o referencia de pago para cualquier aclaración.  <br>
										4. Espera a que tu pago sea acreditado por tu banco y que recibamos la notificación del mismo. <br><br>
									</div>
								
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="pago=='tarjeta' && transaction!=null" class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<span style="font-size:24px;" class="">Resumen de pago</span>
										<br><br>
										<span style="font-size:20px;" class="">Cobrado</span>
										<h3 class="bold-opensans">{{transaction.total | currency}}</h3>
										<br><br>
										<span>
											El pago aparecerá en tu estado de cuenta como **SXKM
										</span>
										<br><br>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<br><br>
						<span style="font-size: 20px">
							Recuerda que tu cobertura comienza una vez que instalas el dispositivo.
						</span> <br><br><br>
						<img src="/assets/img/pasosficha.png" class="img-fluid"  alt="">
						<br><br><br>
						<span style="font-size: 16px">
							Es buen momento para instalar nuestra app y estar preparado para activar tu seguro cuando recibas tu dispositivo.
						</span>
						<br><br><br>
						<a href="https://play.google.com/store/apps/details?id=mx.sxkm.sxkm&hl=es_MX"><img src="/assets/img/playstore.svg" class="img-fluid" alt=""></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://itunes.apple.com/mx/app/sxkm/id1316137917?mt=8"><img src="/assets/img/appstore.svg" class="img-fluid" alt=""></a>
						<br><br><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>