<section>
	<div class="container">
		<div class="row">
			<div class="col m2"></div>
			<div class="col m7">
				<div class="row">
					<div class="col m12" align="center">
						<img src="/assets/img/check-icon.png" class="responsive-img"  alt="">
					    <h3 style="font-size: 30px;">Gracias por elegir SXKM</h3>
					    <span style="font-size: 16px">Recibirás el dispositivo PIA y tu póliza dentro de las próximas 48 horas. Te avisaremos por correo cuando vaya en camino.</span> <br><br>
					</div>
					<div class="col m12 s12">
						<div class="card">
					        <div class="card-content">
					        	<div class="row">
					        		<div class="col m12">
					        			<span style="font-size:24px;" class="bold-opensans">Resumen de pago</span>
					        		</div>
					        	</div>
					        	<div class="row">
					        		<div class="col m4 s6">
					        			<span style="font-size: 14px">Suscripción mensual</span>
					        		</div>
					        		<div class="col m8 s6" align="right">$299</div>
					        	</div>
					        	<div class="row">
					        		<div class="col m4 s6">
					        			<span style="font-size: 14px">2,000 km (3 meses de vigencia)</span>
					        		</div>
					        		<div class="col m8 s6" align="right"></div>
					        	</div>
					        	<div class="row">
					        		<div class="col m12 s12"><hr></div>
					        	</div>
					        	<div class="row">
					        		<div class="col m4 s6">
					        			<span style="font-size: 14px">Cobrado</span>
					        		</div>
					        		<div class="col m8 s6" align="right"></div>
					        	</div>
					        </div>
					    </div>
					</div>
					<div class="col m12" align="center">
						<span>
							El pago aparecerá en tu estado de cuenta como **SXKM
						</span>
					</div>
					<div class="col m12" align="center">
						<br><br>
						<span style="font-size: 20px">
							Recuerda que tu cobertura comienza una vez que instalas el dispositivo.
						</span> <br><br>
						<img src="/assets/img/pasosficha.png" class="responsive-img"  alt="">
						<br><br>
						<span style="font-size: 16px">
							Es buen momento para instalar nuestra app y estar preparado para activar tu seguro cuando recibas tu dispositivo.
						</span>
						<br><br>
					</div>
					<div class="col m12">
						<div class="card">
					        <div class="card-content">
					        	<div class="row">
					        		<div class="col m12" align="center">
					        			<br>
					        			<span style="font-size:16px;color:#9b9b9b">
					        				Encuéntra la app en tu tienda de aplicaciones como SXKM
					        			</span> 
					        			<br><br>
					        		</div>
					        		<div align="center" class="col m6 s6">
					        			<a href="https://play.google.com/store/apps/details?id=mx.sxkm.sxkm&hl=es_MX"><img src="/assets/img/playstore.svg" class="responsive-img" alt=""></a>
					        		</div>
					        		<div align="center" class="col m6 s6">
					        			<a href="https://itunes.apple.com/mx/app/sxkm/id1316137917?mt=8"><img src="/assets/img/appstore.svg" class="responsive-img" alt=""></a>
					        		</div>
					        	</div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
			<div class="col m2"></div>
		</div>
	</div>
	
</section>