.h1-titulo{
	font-family: "BebasNeueBook";
  	font-size: 70px;
}
.h1-titulo2{
	font-family: "BebasNeueBook";
  	font-size: 70px;
  	color:#17d320;
}
.h2-about{
	font-size: 50px;
	font-family: "BebasNeueBook";
}