<section class="section-first">
	<div class="container">
		<div class="row" style="padding-top: 120px;">
			<div class="col-md-12" align="center">
				<h1 class="h1-titulo">La primera <span class="h1-titulo2">compañía de seguros </span></h1> <h1 class="h1-titulo">pensada en tu estilo de vida</h1>
			</div>
		</div>
	</div>
</section>
<section class="" style="padding-top: 100px">
	<img src="/assets/img/cdmx.jpg" alt="" style="width: 100%">
</section>
<section class="" style="padding-top: 150px">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<h2 class="h2-about">NOSOTROS</h2>
			</div>
			<div class="col-12 col-lg-7">
				Somos la nueva forma de mantener tu auto siempre protegido y beneficiar tu economía.  En SEGURO X KILÓMETRO, trabajamos con tecnología de punta para
				ofrecerte un servicio innovador que, además de medir sólo los kilómetros que recorres, ayudamos a que mejores tus hábitos de manejo.
			</div>
		</div>
	</div>
</section>
<section style="padding-top: 80px">
	<div class="container d-none d-sm-none d-md-none d-lg-block d-xl-block">
		<div class="row">
			<div class="col-md-3">
				<img src="/assets/img/office-01.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-md-3">
				<br><br>
				<img src="/assets/img/office-02.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-md-3">
				<img src="/assets/img/office-03.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-md-3">
				<br><br>
				<img src="/assets/img/office-04.jpg" class="img-fluid" alt="">
			</div>
		</div>
	</div>
	<div class="container d-block d-sm-block d-md-block d-lg-none d-xl-none">
		<div class="row">
			<div class="col-md-12">
				<!-- Swiper -->
		        <div id="swipe-container1" class="swiper-container">
		        	<div class="swiper-wrapper">
		            	<div class="swiper-slide">
		            		<img src="/assets/img/office-01.jpg" class="img-fluid" alt="">
			            </div>
			            <div class="swiper-slide">
			              <img src="/assets/img/office-02.jpg" class="img-fluid" alt="">
			            </div>
			            <div class="swiper-slide">
			              <img src="/assets/img/office-03.jpg" class="img-fluid" alt="">
			            </div>
			            <div class="swiper-slide">
			              <img src="/assets/img/office-04.jpg" class="img-fluid" alt="">
			            </div>
			        </div>
		          <!-- Add Pagination -->
		          <div class="swiper-pagination" style="position:relative;top:0px" ></div>
		        </div>
			</div>
		</div>
	</div>
</section>
<section  class="" style="padding-top: 120px;padding-bottom: 110px">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5">
				<div class="row">
					<div class="col-12">
						<h2 class="h2-about" align="left">CENTRO DE OPERACIONES</h2>
						<span>
							Emerson 304, Polanco V Secc, CP 11560 Ciudad de México, México
						</span>
						<br>
						<hr>
						<br>
					</div>
					<div id="contacto" class="col-6 col-md-6">
						<span class="bold">Teléfono</span> <br>
						<span><a href="tel:018009697956" style="color:#000">01 800 969 SXKM (7956)</a></span>
					</div>
					<div class="col-6 col-md-6">
						<span class="bold">Whatsapp</span>&nbsp;&nbsp;<i class="fab fa-whatsapp"></i> <br>
						<span><a href="https://api.whatsapp.com/send?phone=525527551585" style="color:#000">55-27551585</a></span>
					</div>
					<div class="col-md-12">
						<br><br>
						<span class="bold">Correo electrónico</span><br>
						<a href="mailto:contacto@sxkm.mx" style="color:#000">contacto@sxkm.mx</a>
						<br><br>
						<hr>
						<br>
						<span class="bold">Horario de atención</span><br>
						<span>Lunes a Viernes de 8 a 19 hrs</span> <br>
						<span>Sábados de 9 a 13 hrs</span>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-7">
				<img src="/assets/img/sxkm-ubicacion.png" alt="SXKM ubicación" class="img-fluid">
			</div>
		</div>
	</div>
</section>