.h1-titulo{
	font-family: "BebasNeueBook";
  	font-size: 70px;
}
.h1-faqs{
	font-family: "BebasNeueBook";
	font-size: 50px; 
}
.h2-questions{
	font-size: 24px;
}

/*** Sección 5****/
.section5{
	padding: 37px;
	background-color: #eff1f3;
	color: #0f312a;
	font-size: 16px; 
}
.link-ayuda{
	color: #0f312a;
	font-family: "OpenSansFontSemiBold";
}

/****** Medias Query's*****************/

@media (max-width: 670px) {
	.h1-titulo{
		font-size: 50px;
	}
}