<title>{{title}}</title>
<!--Navbar-->
<app-navbar></app-navbar>
<section class="section-first">
	<div class="container-fluid">
		<div class="row section-pages">
			<div class="col-md-12">
				<h1>CENTRO DE AYUDA</h1>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container" style="padding-top: 100px">
		<div class="row">
			<div class="col-md-3 d-none d-sm-none d-md-block d-lg-block d-xl-block">
		        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		          <a class="nav-link2 active" id="v-pills-faq1-tab" data-toggle="pill" href="#v-pills-faq1" role="tab" aria-controls="v-pills-faq1" aria-selected="true">Contrata el servicio</a>
		          <a class="nav-link2 " id="v-pills-faq2-tab" data-toggle="pill" href="#v-pills-faq2" role="tab" aria-controls="v-pills-faq2" aria-selected="false">Configura tu dispositivo</a>
		          <a class="nav-link2 " id="v-pills-faq3-tab" data-toggle="pill" href="#v-pills-faq3" role="tab" aria-controls="v-pills-faq3" aria-selected="false">Recarga kilómetros</a>
		          <a class="nav-link2 " id="v-pills-faq4-tab" data-toggle="pill" href="#v-pills-faq4" role="tab" aria-controls="v-pills-faq4" aria-selected="false">Sobre el seguro</a>
		          <a class="nav-link2 " id="v-pills-faq5-tab" data-toggle="pill" href="#v-pills-faq5" role="tab" aria-controls="v-pills-faq5" aria-selected="false">En caso de siniestro</a>
		        </div>
		      </div>
			<div class="col-md-8">
				<div class="tab-content" id="v-pills-tabContent">
          			<div class="tab-pane fade show active" id="v-pills-faq1" role="tabpanel" aria-labelledby="v-pills-faq1-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">Contrata el servicio</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo cotizo SXKM?</h2>
								<span>
									Ingresa los datos de tu vehículo y de inmediato descubre lo mucho que ahorrarás. Todas nuestras cotizaciones son válidas por 4 días hábiles a partir de la solicitud.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo contrato SXKM?</h2>
								<span>
									Genera una cuenta con tus datos personales, los de tu automóvil y efectúa el pago correspondiente. Si tienes alguna duda, comunícate con nosotros al 01 800 969 SXKM.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué es la membresía SXKM?</h2>
								<span>
									La membresía es la cuota mensual que te permite ser parte de la comunidad SXKM para disfrutar los servicios de telemática, el dispositivo cuenta kilómetros y diversas promociones.
									<br><br>
									CONECTIVIDAD: Descuentos en accesorios <br>
									VIAJES Y EXPERIENCIAS: Acceso a portales de viajes y reservas <br>
									ENTRETENIMIENTO Y ESPARCIMIENTO: Programa de descuentos en comercios y eventos especiales <br>
									BIENESTAR: Alianzas con gimnasios
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO SE PAGA LA MEMBRESÍA SXKM?</h2>
								<span>
									Los $299 pesos de la membresía SXKM, deben pagarse mensualmente: <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Transferencia o depósito bancario.</span></li>
										<li><span class="span-ul-sxkm">Cargo a tarjeta de crédito o débito.</span></li>
										<li><span class="span-ul-sxkm">Número de referencia en tiendas OXXO.</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué es PIA?</h2>
								<span>
									Te presentamos a PIA (PLATAFORMA INTELIGENTE A BORDO), tu asistente personal de SXKM en colaboración con AIG.
									<br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Alerta de vigencia - de tu membresía y kilómetros.</span></li>
										<li><span class="span-ul-sxkm">Perfil del conductor - costumbre uso del vehículo.</span></li>
										<li><span class="span-ul-sxkm">Localizador - posicionamiento global del vehículo.</span></li>
										<li><span class="span-ul-sxkm">AIG rewards - beneficios especiales.</span></li>
										<li><span class="span-ul-sxkm">Botón SOS - 24 horas de respaldo ante siniestro, robo y/o asistencia en el camino.</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ SON LOS BENEFICIOS SXKM y AIG REWARDS?</h2>
								<span>
									Al formar parte de SXKM y con base a la membresía mensual, los clientes se hacen acreedores de obtener beneficios exclusivos otorgados por SXKM y por AIG Seguros México, dentro de los que destacan: <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Promociones en salas de cine.</span></li>
										<li><span class="span-ul-sxkm">Boletos gratis a conciertos.</span></li>
										<li><span class="span-ul-sxkm">Descuento en telefonía celular.</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cuáles son los paquetes de kilómetros?</h2>
								<span>
									Con SXKM pagas de forma justa el uso de tu seguro. Adicional a la membresía, deberás adquirir el paquete de kilómetros que consideras utilizar en tu vehículo. <br>
									Los kilómetros son intransferibles. Los paquetes de kilómetros mencionados anteriormente tienen la vigencia señalada en cada uno o los kilómetros de recorrido del vehículo, lo que ocurra primero.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO CALCULA SXKM MIS KILÓMETROS?</h2>
								<span>
									El dispositivo cuenta-kilómetros que otorgamos en comodato, toma la distancia recorrida directamente del odómetro de tu vehículo, por lo que no se realiza ningún cálculo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Forma de pago</h2>
								<span>
									El pago de la membresía y la compra de los paquetes de kilómetros, puede realizarse directamente en ésta página y nuestra app con tarjetas de crédito y/o débito VISA, MasterCard, American Express.

									Para pagos en efectivo, contamos con el servicio en más de 20 tiendas de conveniencia. Los montos máximos varían de $10,000.00 MXN a $29,000.00 MXN y el cargo por operación de $8.00 a $9.00 MXN. <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Oxxo (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Walmart (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">7-Eleven (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Sam's (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Farmacias del Ahorro (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Superama (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Farmacias Benavides (Coahuila, Durango, Guanajuato, Jalisco, CDMX, Michoacán Nayarit, Nuevo León, SLP, Sinaloa)</span></li>
										<li><span class="span-ul-sxkm">Bodega Aurrera (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Circle K (CDMX, Edo. México, Nuevo Léon, Puebla, Querétaro)</span></li>
										<li><span class="span-ul-sxkm">El Asturiano (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">K (Querétaro)</span></li>
										<li><span class="span-ul-sxkm">Waldos (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Alsuper (Chihuahua, Coahuila, Durango)</span></li>
										<li><span class="span-ul-sxkm">AirPak (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Extra (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Kiosko (CDMX, Edo. de México, Morelos, Puebla, Quintana Roo, Querétaro)</span></li>
										<li><span class="span-ul-sxkm">Prendamex (CDMX, Edo. de México, Veracruz, Tabasco, Chiapas, Campeche)</span></li>
										<li><span class="span-ul-sxkm">Farmacias Guadalajara (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Te creemos (Campeche, Chiapas, Chihuahua, D.F., Guanajuato, Jalisco, Puebla, Querétaro, Sonora, Tlaxcala, Yucatán)</span></li>
										<li><span class="span-ul-sxkm">GestoPago (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Maxiliana (Sinaloa, Sonora, Baja California Jalisco)</span></li>
										<li><span class="span-ul-sxkm">A Tiendas (Nuevo León, San Luis Potosí, Tamaulipas)</span></li>
										<li><span class="span-ul-sxkm">Multi Recargas (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Pago Rapido (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Red Efectiva (Nivel nacional)</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CUÁNTO TARDA MI PAGO EN REGISTRARSE?</h2>
								<span>
									Tarjetas de crédito y/o débito - Inmediato posterior a la autorización de fondos. <br>
									Pago en OXXO – proceso aproximado de 24 horas.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ HAGO SI MI PAGO NO APARECE REGISTRADO?</h2>
								<span>
									Para rastrear tu pago, comunícate con nosotros al 01 800 969 SXKM (7956). Por favor indícanos tu forma, fecha y monto pagado.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿PUEDO REGISTRAR UNA TARJETA PARA CARGO AUTOMÁTICO DE MEMBRESÍA?</h2>
								<span>
									Sí, puedes registrar cualquier tarjeta de crédito o débito para hacer el cargo mensual automático.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO APARECE EL PAGO EN MI ESTADO DE CUENTA BANCARIO/TDC?</h2>
								<span>
									Todos los cargos aparecerán registrados en tu estado de cuenta como SXKM.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ REFERENCIA SE UTILIZA PARA PAGAR?</h2>
								<span>
									Una vez que seleccionas el pago en tiendas OXXO, el sistema emite una ficha de pago con la referencia correspondiente.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO CONTRATO OTRO VEHÍCULO?</h2>
								<span>
									Ingresa a tu cuenta y registra cuantos vehículos desees. Con un solo perfil, podrás administrar todas tus operaciones.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO SOLICITO MI FACTURA?</h2>
								<span>
									El trámite de facturación se recomienda realizar al momento de la compra, ingresando los datos fiscales en tu perfil de usuario. Únicamente facturamos en el mes de cada una de tus operaciones.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿PUEDO EMITIR FACTURAS A DIFERENTES RAZONES SOCIALES POR CADA UNO DE MIS VEHÍCULOS?</h2>
								<span>
									Sí. Por sistema, los datos de facturación que ingresas en tu perfil son los que se aplican a las facturas de todos tus vehículos, sin embargo, si deseas otra razón social, ingresa a la vista de "facturación”, da click en el botón "cambiar datos de facturación" y llena los datos correspondientes.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO PUEDO ACCEDER A MIS FACTURAS (ARCHIVOS PDF Y/O XML)?</h2>
								<span>
									En la vista de "Transacciones” de cada vehículo, se despliegan las operaciones realizadas con la opción de impresión y visualización en formato PDF y/o XML.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ HAGO SI NO VEO LA FACTURA Y YA AGREGUÉ LOS DATOS FISCALES?</h2>
								<span>
									Por lo general las facturas se emiten en forma inmediata, pero el proceso puede tardar hasta 24 horas hábiles. Si pasado este tiempo no puedes acceder a los archivos PDF y/o XML, comunícate con nosotros al 01 800 969 SXKM (7956).
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO CANCELO MI SERVICIO/PÓLIZA?</h2>
								<span>
									La única forma de realizar la cancelación es que el titular de la cuenta se comunique con nosotros al 01 800 969 SXKM (7956).
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿SE PUEDE SUSPENDER MI SERVICIO?</h2>
								<span>
									No, es importante que el vehículo permanezca cubierto en todo momento contra cualquier eventualidad.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿TENGO ALGÚN COBRO POR LA CANCELACIÓN?</h2>
								<span>
									Ninguno, pero deberá devolver el dispositivo o pagar $200 USD por reposición.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿PUEDO RECONTRATAR CON LA MISMA CUENTA?</h2>
								<span>
									Sí. La cuenta registrada se guarda en nuestro centro de datos para que puedas ingresar y cotizar un nuevo vehículo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Condiciones generales del seguro</h2>
								<span style="color: #17d320">
									Disponibles en este documento.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions"></h2>
								<span>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions"></h2>
								<span>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions"></h2>
								<span>
								</span>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show " id="v-pills-faq2" role="tabpanel" aria-labelledby="v-pills-faq2-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">Configura tu dispositivo</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ ES EL DISPOSITIVO CUENTA KILÓMETROS?</h2>
								<span>
									El dispositivo cuenta-kilómetros es un sistema que aporta un monitoreo completo del motor de tu vehículo y las distancias recorridas.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO INSTALO MI DISPOSITIVO?</h2>
								<span>
									La conexión del dispositivo cuenta-kilómetros, se realiza en el puerto OBD (On Board Diagnostics), que varía dependiendo de la marca y año de tu vehículo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO SÉ QUE INSTALÉ CORRECTAMENTE EL DISPOSITIVO?</h2>
								<span>
									Para garantizar la correcta conexión y el funcionamiento, con el vehículo apagado, presiona firmemente el dispositivo al puerto. Una vez conectado, enciende el vehículo por 2 minutos y apágalo. Realiza nuevamente la operación. Recibirás una notificación en la App y en tu Email indicando que todo está listo para hacer uso de nuestro servicio.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUIÉN PUEDE HACER USO DEL DISPOSITIVO?</h2>
								<span>
									Todo vehículo con menos de 10 años de antigüedad y que cuente con puerto OBDII, puede utilizar los dispositivos proporcionados por SXKM, cada uno está específicamente configurado para un vehículo en particular, por lo que solamente puede colocarse en el vehículo para el cual se contrató la póliza de seguro.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ PASA SI DESCONECTO Y/O CAMBIO DE VEHÍCULO UN DISPOSITIVO?</h2>
								<span>
									La desconexión de un equipo o su conexión en otro vehículo tiene como consecuencia la cancelación de la póliza de seguro.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿EL DISPOSITIVO ES MÍO UNA VEZ QUE COMPRÉ UNA PÓLIZA O DEBE DEVOLVERSE?</h2>
								<span>
									El dispositivo es propiedad de SXKM y su uso está regido por las condiciones generales de la póliza.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿EL DISPOSITIVO TIENE ALGUNA CLASE DE GARANTÍA?</h2>
								<span>
									100% de garantía para cada uno de nuestros dispositivos. En caso de presentarse alguna falla lo cambiamos inmediatamente sin costo alguno.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿PERDÍ MI DISPOSITIVO, QUÉ HAGO?</h2>
								<span>
									El dispositivo es responsabilidad del usuario. En caso de pérdida el costo es de $200 USD.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ HACER CUANDO ENVÍO MI COCHE AL TALLER/VERIFICENTRO?</h2>
								<span>
									Le sugerimos retire el dispositivo de su vehículo y vuelva a conectarlo nuevamente al recibirlo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">CREO QUE NO FUNCIONA MI DISPOSITIVO ¿QUÉ DEBO HACER?</h2>
								<span>
									Comunícate con nosotros al 01 800 969 SXKM, para realizar un proceso de verificación.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ HAGO SI VENDO EL VEHÍCULO?</h2>
								<span>
									El dispositivo es responsabilidad del usuario, necesita retirar el dispositivo de su vehículo y regresarlo a SXKM.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">EL DISPOSITIVO ESTÁ ROTO ¿QUÉ DEBO HACER?</h2>
								<span>
									Comunícate con nosotros al 01 800 969 SXKM (7956).
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO DEVUELVO MI DISPOSITIVO A SXKM?</h2>
								<span>
									Coloca el dispositivo en el empaque original y en un sobre cerrado. Comunícate con nosotros al 01 800 969 SXKM (7956), para programar la devolución.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CUÁNTO TIEMPO TARDA EN LLEGAR EL DISPOSITIVO CUENTA KILÓMETROS?</h2>
								<span>
									Dentro de los 3 días hábiles posteriores a la confirmación de pago, el dispositivo cuenta-kilómetros será enviado al domicilio registrado.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ COMPAÑÍA DE MENSAJERÍA UTILIZAN?</h2>
								<span>
									SXKM cuenta con su propio servicio de mensajería para garantizar la entrega correcta en tiempo y forma.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">NO ME HA LLEGADO EL DISPOSITIVO CUENTA KILÓMETROS ¿QUÉ DEBO HACER?</h2>
								<span>
									Permítenos rastrear el envío. Comunícate con nosotros al 01 800 969 SXKM (7659).
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">RECIBÍ EN MAL ESTADO EL PAQUETE DE SXKM ¿QUÉ DEBO HACER?</h2>
								<span>
									Lamentamos mucho la situación. Comunícate con nosotros al 01 800 969 SXKM (7659) para resolverlo a la brevedad y garantizar el correcto funcionamiento del dispositivo cuenta-kilómetros.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿PUEDO CAMBIAR LA DIRECCIÓN DE ENVÍO DEL DISPOSITIVO CUENTA KILÓMETROS?</h2>
								<span>
									Comunícate con nosotros al 01 800 969 SXKM (7659) para verificar el status de envío y en el caso que aún no haya sido programado, podremos modificar la dirección de entrega (aplican restricciones).
								</span>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show " id="v-pills-faq3" role="tabpanel" aria-labelledby="v-pills-faq3-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">Recarga Kilómetros</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO FUNCIONA LA COMPRA DE KILÓMETROS?</h2>
								<span>
									Dependiendo el uso que le des a tu vehículo es la cantidad de kilómetros que te recomendamos adquirir. Contamos con paquetes de 500 hasta 7,000 kilómetros y vigencias de 1 a 12 meses.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">NO TENGO KILÓMETROS, ¿ESTOY ASEGURADO?</h2>
								<span>
									No, es necesario contar con kilómetros disponibles y vigentes en tu vehículo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿PUEDO TRANSFERIR KILÓMETROS DE UN VEHÍCULO A OTRO?</h2>
								<span>
									No, los paquetes de kilómetros contratados están asignados en su totalidad a un solo vehículo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ PAQUETE DE KILÓMETROS ME CONVIENE MÁS?</h2>
								<span>
									Dependiendo el uso que le des a tu vehículo y el presupuesto con el que cuentes, es el paquete que te recomendamos contratar.
									<br><br>
									Para tener un cálculo aproximado, analiza cuántos kilómetros recorres a la semana, cuántos recorrerás en las próximas fechas y con qué frecuencia utilizarás tu vehículo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CUÁNTO CUESTA CADA KILÓMETRO? ¿EL PRECIO PUEDE VARIAR?</h2>
								<span>
									El precio del kilómetro depende de cada vehículo y no se modifica durante la vigencia del servicio.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿YA PAGUÉ PERO NO APARECEN DISPONIBLES MIS KILÓMETROS?</h2>
								<span>
									La verificación del pago puede tardar hasta 24 horas. Si en dicho plazo no aparece, es necesario realizar una revisión de tus transacciones. Comunícate con nosotros al 01 800 969 SXKM.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">ME ENVIARON UN MENSAJE DICIENDO QUE MI VEHÍCULO NO SE HA MOVIDO ¿QUÉ DEBO HACER?</h2>
								<span>
									Nos preocupamos por otorgar el mejor servicio con la mejor calidad, por lo que monitoreamos constantemente el uso de nuestros dispositivos y la seguridad de nuestros clientes este mensaje es preventivo y que constatemos que todo esta en órden.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ HAGO SI NO USARÉ MI COCHE POR DETERMINADO TIEMPO?</h2>
								<span>
									Es importante que el vehículo permanezca cubierto en todo momento. Te sugerimos un mínimo de kilómetros disponibles y estar al corriente con la membresía.
								</span>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show " id="v-pills-faq4" role="tabpanel" aria-labelledby="v-pills-faq4-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">Sobre el seguro</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Cobertura del seguro</h2>
								<span>
									SXKM en colaboración con AIG garantiza tu cobertura en toda la República Mexicana: <br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Daños materiales - 5% de deducible.</span></li>
										<li><span class="span-ul-sxkm">Robo total - SXKM paga tu deducible.</span></li>
										<li><span class="span-ul-sxkm">Responsabilidad civil - $4,000,000.00 MXN.*</span></li>
										<li><span class="span-ul-sxkm">Servicios de asistencia - Amparada</span></li>
										<li><span class="span-ul-sxkm">Programa de lealtad - Amparada</span></li>
										<li><span class="span-ul-sxkm">Gastos médicos ocupantes - hasta $400,000.00 MXN ($80,000.00 MXN p/pax)</span></li>
									</ul>

									*Límite único combinado <br><br>

									La póliza de seguro de tu vehículo es emitida por AIG Seguros México conforme a las Leyes de los Estados Unidos Mexicanos de acuerdo a la normatividad y supervisión de la Comisión Nacional de Seguros y de Fianzas, así como por la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿MI VEHÍCULO ESTÁ "ASEGURADO" AÚN ESTACIONADO?</h2>
								<span>
									Si, siempre y cuando la mensualidad este pagada, cuentes con kilómetros disponibles y el dispositivo cuenta-kilómetros esté conectado, con SXKM tu vehículo está asegurado con cobertura amplia en todo momento y en toda la República Mexicana.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUIÉN ASEGURA MI VEHÍCULO?</h2>
								<span>
									La póliza de seguro de tu vehículo es emitida por AIG Seguros México empresa aseguradora registrada conforme a las Leyes de los Estados Unidos Mexicanos, bajo la normatividad y supervisión de la Comisión Nacional de Seguros y de Fianzas, así como por la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿HAY ALGUNA CONDICIÓN EXTRA ADEMÁS DE LAS ESTABLECIDAS POR LA ASEGURADOR?</h2>
								<span>
									Sí. El dispositivo cuenta-kilómetros que otorgamos en comodato es único, personalizado y está asignado electrónicamente al vehículo registrado, por lo que deberá permanecer en todo momento conectado. Adicional, deberás estar al corriente del pago de tu membresía mensual y kilómetros disponibles. En caso contrario, todas las coberturas quedan anuladas.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿QUÉ VIGENCIA TIENE EL SEGURO DE MI PÓLIZA CON SXKM?</h2>
								<span>
									El seguro tiene una vigencia de un año, a partir de la fecha de emisión del certificado, sin embargo, para que permanezca vigente es necesario tener conectado el dispositivo cuenta-kilómetros al vehículo, estar al corriente en el pago de la membresía mensual y contar con kilómetros disponibles y vigentes en la cuenta.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿CÓMO Y CUÁNDO SE RENUEVA MI PÓLIZA?</h2>
								<span>
									La póliza de tu seguro se renueva automáticamente el día de su vencimiento.
									Para tu tranquilidad, te notificaremos 30 días antes del vencimiento.
								</span>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show " id="v-pills-faq5" role="tabpanel" aria-labelledby="v-pills-faq5-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">En caso de siniestro</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">TENGO UN SINIESTRO/ROBO</h2>
								<span>
									Presiona el botón de alerta en la aplicación o comunícate con nosotros al 01 800 969 SXKM (7956). <br>
									Al momento de reportar el siniestro es recomendable: <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Permanecer en el lugar del siniestro</span></li>
										<li><span class="span-ul-sxkm">Tener a la mano su Tarjeta de circulación</span></li>
									</ul>
									Una vez que se presenta el ajustador en el lugar del accidente determinará la responsabilidad basándose en lo siguiente:
									<br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Las declaraciones de los involucrados</span></li>
										<li><span class="span-ul-sxkm">La inspección del lugar donde ocurrieron los hechos</span></li>
										<li><span class="span-ul-sxkm">La revisión de los vehículos</span></li>
										<li><span class="span-ul-sxkm">La matriz de responsabilidades (documento creado por la AMIS, el cual es utilizado por las aseguradoras afiliadas para homologar los criterios de responsabilidad en un siniestro)</span></li>
									</ul>
									    
									El ajustador en conjunto con AIG realizará el análisis del siniestro “condiciones y coberturas amparadas por la póliza suscrita”; hará una recomendación para proceder con la indemnización o con la declinación del mismo. Una vez aceptado el convenio de ajuste será entregado a AIG Seguros México para tramitar el pago y/o las acciones resultantes.
									<br>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">EN CASO DE UN SINIESTRO/ASISTENCIA, ¿DEBO PAGAR UN DEDUCIBLE?</h2>
								<span>
									En caso de que aplique, aparece especificado en la carátula de la póliza y su cobro se realiza conforme a lo especificado en las condiciones generales del seguro contratado.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions"></h2>
								<span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5" style="font-size: 20px;padding-top: 15px;">
        ¿No encuentras lo que estas buscando?
      </div>
      <div class="col-md-4" style="padding-top: 20px; font-size: 16px">
        <span>Habla con nosotros</span> <span class="d-block d-sm-block d-md-none d-lg-none d-xl-none"><br></span> <a class="link-ayuda" href="tel:018009697956">01 800 969 SXKM (7956)</a>
      </div>
      <div class="col-md-3" style="padding-top: 20px; font-size: 16px">
        <i class="fab fa-whatsapp"></i> <span>Whatsapp <a class="link-ayuda" href="tel:+525527551585">55-27551585</a></span>
      </div>
    </div>
  </div>
</section>
<!--Footer-->
<app-footer></app-footer>