<!--Navbar-->
<app-navbar></app-navbar>
<section class="section-first">
	<div class="container-fluid">
		<div class="row section-pages">
			<div class="col-md-12">
				<h1 class="h1-titulo">PREGUNTAS FRECUENTES</h1>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 d-block d-sm-block d-md-none d-lg-none d-xl-none" style="padding-bottom: 25px;padding-top:20px;">
		        <ul class="nav nav-pills scrollmenu"  id="v-pills-tab" role="tablist">
		          <li class="nav-item" align="">
		            <a class="nav-link2 active" id="v-pills-faq1-tab2" data-toggle="pill" href="#v-pills-faq1" role="tab" aria-controls="v-pills-faq1" aria-selected="true" align="left">Contrata el servicio</a>
		          </li>
		          <li class="nav-item" align="">
		            <a class="nav-link2 " id="v-pills-faq2-tab2" data-toggle="pill" href="#v-pills-faq2" role="tab" aria-controls="v-pills-faq2" aria-selected="false" align="left">Configura tu dispositivo</a>
		          </li>
		          <li class="nav-item" align="">
		            <a class="nav-link2 " id="v-pills-faq3-tab2" data-toggle="pill" href="#v-pills-faq3" role="tab" aria-controls="v-pills-faq3" aria-selected="false" align="left">Recarga kilómetros</a>
		          </li>
		          <li class="nav-item" align="">
		            <a class="nav-link2 " id="v-pills-faq4-tab2" data-toggle="pill" href="#v-pills-faq4" role="tab" aria-controls="v-pills-faq4" aria-selected="false">Sobre el seguro</a>
		          </li>
		          <li class="nav-item" align="">
		            <a class="nav-link2 " id="v-pills-faq5-tab2" data-toggle="pill" href="#v-pills-faq5" role="tab" aria-controls="v-pills-faq5" aria-selected="false">En caso de siniestro</a>
		          </li>
		        </ul>
		    </div>
			<div class="col-md-3 d-none d-sm-none d-md-block d-lg-block d-xl-block" style="padding-top: 100px">
		        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="padding-top: 20px;">
		          <a class="nav-link2 active" id="v-pills-faq1-tab" data-toggle="pill" href="#v-pills-faq1" role="tab" aria-controls="v-pills-faq1" aria-selected="true">Contrata el servicio</a>
		          <a class="nav-link2 " id="v-pills-faq2-tab" data-toggle="pill" href="#v-pills-faq2" role="tab" aria-controls="v-pills-faq2" aria-selected="false">Configura tu dispositivo</a>
		          <a class="nav-link2 " id="v-pills-faq3-tab" data-toggle="pill" href="#v-pills-faq3" role="tab" aria-controls="v-pills-faq3" aria-selected="false">Recarga kilómetros</a>
		          <a class="nav-link2 " id="v-pills-faq4-tab" data-toggle="pill" href="#v-pills-faq4" role="tab" aria-controls="v-pills-faq4" aria-selected="false">Sobre el seguro</a>
		          <a class="nav-link2 " id="v-pills-faq5-tab" data-toggle="pill" href="#v-pills-faq5" role="tab" aria-controls="v-pills-faq5" aria-selected="false">En caso de siniestro</a>
		        </div>
		    </div>
			<div class="col-md-8" style="padding-top: 110px;">
				<div class="tab-content" id="v-pills-tabContent">
          			<div class="tab-pane fade show active" id="v-pills-faq1" role="tabpanel" aria-labelledby="v-pills-faq1-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">Contrata el servicio</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo cotizo SXKM?</h2>
								<span style="font-size:14px;">
									Ingresa tus datos y los de tu auto y de inmediato descubre lo mucho que ahorrarás. Todas nuestras cotizaciones son válidas por 4 días hábiles a partir de la solicitud.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 0px">
								<h2 class="h2-questions">¿Qué es la suscripción SXKM?</h2>
								<span style="font-size:14px;">
									Es la cuota mensual que te permite ser parte de la comunidad SXKM para disfrutar los servicios de telemática, el dispositivo cuenta kilómetros, los AIG Rewards y diversas promociones. <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Viajes y experiencias: Acceso a portales de viajes y reservas.</span></li>
										<li><span class="span-ul-sxkm">Entretenimiento y esparciamiento: Programa de descuentos en comercios y eventos especiales.</span></li>
										<li><span class="span-ul-sxkm">Bienestar: Alianzas con gimnasios.</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 0px">
								<h2 class="h2-questions">¿Cómo se paga la suscripción SXKM?</h2>
								<span style="font-size:14px;">
									Los $299 pesos de la suscripción SXKM, deben pagarse mensualmente: <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Cargo a tarjeta de crédito o débito.</span></li>
										<li><span class="span-ul-sxkm">Pagos en efectivo, en más de 20 tiendas de conveniencia.</span></li>
										<li><span class="span-ul-sxkm">Transferencia electrónica.</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 0px">
								<h2 class="h2-questions">¿Qué es PIA?</h2>
								<span style="font-size:14px;">
									Plataforma Inteligente A Bordo, tu asistente personal de SXKM en colaboración con AIG.
									<br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Alerta de vigencia - de tu suscripción y kilómetros.</span></li>
										<li><span class="span-ul-sxkm">Perfil del conductor - monitoreo de uso y viajes realizados.</span></li>
										<li><span class="span-ul-sxkm">Localizador - posicionamiento global del auto.</span></li>
										<li><span class="span-ul-sxkm">AIG rewards - beneficios especiales.</span></li>
										<li><span class="span-ul-sxkm">Botón SOS - 24 horas de respaldo ante siniestro, robo y/o asistencia en el camino.</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 0px">
								<h2 class="h2-questions">¿Qué son los beneficios SXKM y AIG rewards?</h2>
								<span style="font-size:14px;">
									Al formar parte de SXKM y con base a la suscripción mensual, obtienes beneficios exclusivos otorgados por SXKM y por AIG Seguros México sobre tu póliza de seguro, dentro de los que destacan: <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Promociones en salas de cine.</span></li>
										<li><span class="span-ul-sxkm">Boletos gratis a conciertos.</span></li>
										<li><span class="span-ul-sxkm">Descuento en telefonía celular.</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cuáles son los paquetes de kilómetros?</h2>
								<span style="font-size:14px;">
									Con SXKM pagas de forma justa el uso de tu seguro. Adicional a la suscripción, deberás adquirir el paquete de kilómetros que consideras utilizar en tu auto. <br>
									Contamos con paquetes desde 250 km a 7,000 km con vigencia de 1 a 12 meses. <br>
									Los kilómetros son intransferibles. Cada paquete de kilómetros señala su vigencia así como la distancia recorrida, lo que ocurra primero.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo calcula SXKM mis kilómetros?</h2>
								<span style="font-size:14px;">
									El dispositivo cuenta-kilómetros que otorgamos en comodato, toma la distancia recorrida directamente del odómetro de tu auto, por lo que no se realiza ningún cálculo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 0px">
								<h2 class="h2-questions">Forma de pago</h2>
								<span style="font-size:14px;">
									El pago de la suscripción y la compra de los paquetes de kilómetros, puede realizarse directamente en ésta página y nuestra app con tarjetas de crédito y/o débito.

									Para pagos en efectivo, contamos con el servicio en más de 20 tiendas de conveniencia. Los montos máximos varían de $10,000.00 MXN a $29,000.00 MXN y el cargo por operación de $8.00 a $9.00 MXN. <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Oxxo (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Walmart (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">7-Eleven (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Sam's (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Farmacias del Ahorro (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Superama (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Farmacias Benavides (Coahuila, Durango, Guanajuato, Jalisco, CDMX, Michoacán Nayarit, Nuevo León, SLP, Sinaloa)</span></li>
										<li><span class="span-ul-sxkm">Bodega Aurrera (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Circle K (CDMX, Edo. México, Nuevo Léon, Puebla, Querétaro)</span></li>
										<li><span class="span-ul-sxkm">El Asturiano (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">K (Querétaro)</span></li>
										<li><span class="span-ul-sxkm">Waldos (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Alsuper (Chihuahua, Coahuila, Durango)</span></li>
										<li><span class="span-ul-sxkm">AirPak (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Extra (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Kiosko (CDMX, Edo. de México, Morelos, Puebla, Quintana Roo, Querétaro)</span></li>
										<li><span class="span-ul-sxkm">Prendamex (CDMX, Edo. de México, Veracruz, Tabasco, Chiapas, Campeche)</span></li>
										<li><span class="span-ul-sxkm">Farmacias Guadalajara (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Te creemos (Campeche, Chiapas, Chihuahua, D.F., Guanajuato, Jalisco, Puebla, Querétaro, Sonora, Tlaxcala, Yucatán)</span></li>
										<li><span class="span-ul-sxkm">GestoPago (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Maxiliana (Sinaloa, Sonora, Baja California Jalisco)</span></li>
										<li><span class="span-ul-sxkm">A Tiendas (Nuevo León, San Luis Potosí, Tamaulipas)</span></li>
										<li><span class="span-ul-sxkm">Multi Recargas (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Pago Rapido (Nivel nacional)</span></li>
										<li><span class="span-ul-sxkm">Red Efectiva (Nivel nacional)</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 0px">
								<h2 class="h2-questions">¿Cuánto tarda mi pago en registrarse?</h2>
								<span style="font-size:14px;">
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Tarjetas de crédito y/o débito: Inmediato posterior a la autorización de fondos. </span></li>
										<li><span class="span-ul-sxkm">Pago en tiendas de conveniencia: puede verse reflejado hasta 24 horas posteriores.</span></li>
									</ul>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué hago si mi pago no aparece registrado?</h2>
								<span style="font-size:14px;">
									Para rastrear tu pago, comunícate con nosotros al 01 800 969 SXKM (7956). Por favor indícanos tu forma, fecha y monto pagado.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Puedo registrar una tarjeta para cargo recurrente?</h2>
								<span style="font-size:14px;">
									Sí, puedes registrar cualquier tarjeta de crédito o débito para hacer el cargo mensual automático de tu suscripción.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo aparece el pago en mi estado de cuenta bancario/TDC?</h2>
								<span style="font-size:14px;">
									Todos los cargos aparecerán registrados en tu estado de cuenta como SXKM.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué referencia se utiliza para pagar?</h2>
								<span style="font-size:14px;">
									Para facilitar tu proceso, podrás descargar un PDF con la referencia de pago y mostrar en el establecimiento de tu preferencia.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo contrato otro auto?</h2>
								<span style="font-size:14px;">
									Ingresa a tu cuenta y registra cuantos autos desees. Con un solo perfil, podrás administrar todas tus operaciones.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo solicito mi factura?</h2>
								<span style="font-size:14px;">
									El trámite de facturación se recomienda realizar al momento de la compra, ingresando los datos fiscales en tu perfil de usuario. Únicamente facturamos en el mes de cada una de tus operaciones.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo cancelo mi servicio/póliza?</h2>
								<span style="font-size:14px;">
									La única forma de realizar la cancelación es que el titular de la cuenta se comunique con nosotros al 01 800 969 SXKM (7956).
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Se puede suspender mi servicio?</h2>
								<span style="font-size:14px;">
									No, es importante que el auto permanezca cubierto en todo momento contra cualquier eventualidad.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Tengo algún cobro por la cancelación?</h2>
								<span style="font-size:14px;">
									La cancelación del servicio no genera ningún cargo siempre y cuando el dispositivo, entregado en comodato, sea devuelto o de lo contrario generará un cargo por $200 USD por reposición.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Puedo recontratar con la misma cuenta?</h2>
								<span style="font-size:14px;">
									Sí. La cuenta registrada se guarda en nuestro centro de datos para que puedas ingresar y cotizar un nuevo auto.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Condiciones generales del seguro</h2>
              					<a class="link-sxkm" href="https://www.aig.com.mx/content/dam/aig/lac/mexico/documents/brochures/2017_condiciones_seguro_por_kilometro..pdf" target="_blank">Disponibles en este documento.
								</a>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show " id="v-pills-faq2" role="tabpanel" aria-labelledby="v-pills-faq2-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">Configura tu dispositivo</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué es el dispositivo cuenta kilómetros?</h2>
								<span style="font-size:14px;">
									El dispositivo cuenta-kilómetros es un sistema que aporta un monitoreo completo del motor de tu auto y las distancias recorridas.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo instalo mi dispositivo?</h2>
								<span style="font-size:14px;">
									La conexión del dispositivo cuenta-kilómetros, se realiza en el puerto OBDII (On Board Diagnostics), que varía dependiendo de la marca y año de tu auto.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo sé que instalé correctamente el dispositivo?</h2>
								<span style="font-size:14px;">
									Para garantizar la correcta conexión y el funcionamiento, con el auto apagado, presiona firmemente el dispositivo al puerto. Una vez conectado, enciende el auto por 2 minutos y apágalo. Realiza nuevamente la operación. Recibirás una notificación en la App y en tu Email indicando que todo está listo para hacer uso de nuestro servicio.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Quién puede hacer uso del dispositivo?</h2>
								<span style="font-size:14px;">
									Todo auto con menos de 15 años de antigüedad y que cuente con puerto OBDIIII, puede utilizar los dispositivos proporcionados por SXKM, cada uno está específicamente configurado para un auto en particular, por lo que solamente puede colocarse en el auto para el cual se contrató la póliza de seguro.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué pasa si desconecto y/o cambio de auto un dispositivo?</h2>
								<span style="font-size:14px;">
									La desconexión de un equipo o su conexión en otro auto tiene como consecuencia la cancelación de la póliza de seguro.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿El dispositivo es mío una vez que compré una póliza o debe devolverse?</h2>
								<span style="font-size:14px;">
									El dispositivo es propiedad de SXKM y su uso está regido por las condiciones generales de la póliza.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿El dispositivo tiene alguna clase de garantía?</h2>
								<span style="font-size:14px;">
									100% de garantía para cada uno de nuestros dispositivos. En caso de presentarse alguna falla lo cambiamos inmediatamente sin costo alguno.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Perdí mi dispositivo, qué hago?</h2>
								<span style="font-size:14px;">
									El dispositivo es responsabilidad del usuario. En caso de pérdida el costo es de $200 USD.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué hacer cuando envío mi coche al taller/verificentro?</h2>
								<span style="font-size:14px;">
									Le sugerimos retire el dispositivo de su auto y vuelva a conectarlo nuevamente al recibirlo.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Creo que no funciona mi dispositivo ¿Qué debo hacer?</h2>
								<span style="font-size:14px;">
									Comunícate con nosotros al 01 800 969 SXKM, para realizar un proceso de verificación.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué hago si vendo el auto?</h2>
								<span style="font-size:14px;">
									El dispositivo es responsabilidad del usuario, necesita retirar el dispositivo de su auto y regresarlo a SXKM.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">EL dispositivo está roto ¿Qué debo hacer?</h2>
								<span style="font-size:14px;">
									Comunícate con nosotros al 01 800 969 SXKM (7956).
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo devuelvo mi dispositivo a SXKM?</h2>
								<span style="font-size:14px;">
									Coloca el dispositivo en el empaque original y en un sobre cerrado. Comunícate con nosotros al 01 800 969 SXKM (7956), para programar la devolución.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cuánto tiempo tarda en llegar el dispositivo cuenta kilómetros?</h2>
								<span style="font-size:14px;">
									Dentro de los 3 días hábiles posteriores a la confirmación de pago, el dispositivo cuenta-kilómetros será enviado al domicilio registrado.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué compañía de mensajería utilizan?</h2>
								<span style="font-size:14px;">
									SXKM cuenta con su propio servicio de mensajería para garantizar la entrega correcta en tiempo y forma.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">No me ha llegado el dispositivo cuenta kilómetros ¿Qué debo hacer?</h2>
								<span style="font-size:14px;">
									Permítenos rastrear el envío. Comunícate con nosotros al 01 800 969 SXKM (7659).
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Recibí en mal estado el paquete de SXKM ¿Qué debo hacer?</h2>
								<span style="font-size:14px;">
									Lamentamos mucho la situación. Comunícate con nosotros al 01 800 969 SXKM (7659) para resolverlo a la brevedad y garantizar el correcto funcionamiento del dispositivo cuenta-kilómetros.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Puedo cambiar la dirección de envío del dispositivo cuenta kilómetros?</h2>
								<span style="font-size:14px;">
									Comunícate con nosotros al 01 800 969 SXKM (7659) para verificar el status de envío y en el caso que aún no haya sido programado, podremos modificar la dirección de entrega (aplican restricciones).
								</span>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show " id="v-pills-faq3" role="tabpanel" aria-labelledby="v-pills-faq3-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">Recarga Kilómetros</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo funciona la compra de kilómetros?</h2>
								<span style="font-size:14px;">
									Dependiendo el uso que le des a tu auto es la cantidad de kilómetros que te recomendamos adquirir. Contamos con paquetes de 250 hasta 7,000 kilómetros y vigencias de 1 a 12 meses.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">No tengo kilómetros, ¿Estoy asegurado?</h2>
								<span style="font-size:14px;">
									No, es necesario contar con kilómetros disponibles y vigentes en tu auto.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Puedo transferir kilómetros de un auto a otro?</h2>
								<span style="font-size:14px;">
									No, los paquetes de kilómetros contratados están asignados en su totalidad a un solo auto.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué paquete de kilómetros me conviene más?</h2>
								<span style="font-size:14px;">
									Dependiendo el uso que le des a tu auto y el presupuesto con el que cuentes, es el paquete que te recomendamos contratar.
									<br><br>
									Para tener un cálculo aproximado, analiza cuántos kilómetros recorres a la semana, cuántos recorrerás en las próximas fechas y con qué frecuencia utilizarás tu auto.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cuánto cuesta cada kilómetro?¿El precio puede variar?</h2>
								<span style="font-size:14px;">
									El precio del kilómetro depende de cada auto y no se modifica durante la vigencia del servicio.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Ya pagué pero no aparecen disponibles mis kilómetros?</h2>
								<span style="font-size:14px;">
									La verificación del pago puede tardar hasta 24 horas. Si en dicho plazo no aparece, es necesario realizar una revisión de tus transacciones. Comunícate con nosotros al 01 800 969 SXKM.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Me enviaron un mensaje diciendo que mi auto no de ha movido ¿Qué debo hacer?</h2>
								<span style="font-size:14px;">
									Nos preocupamos por otorgar el mejor servicio con la mejor calidad, por lo que monitoreamos constantemente el uso de nuestros dispositivos y la seguridad de nuestros clientes este mensaje es preventivo y que constatemos que todo esta en órden.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué hago si no usaré mi coche por determinado tiempo?</h2>
								<span style="font-size:14px;">
									Es importante que el auto permanezca cubierto en todo momento. Te sugerimos un mínimo de kilómetros disponibles y estar al corriente con la suscripción.
								</span>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show " id="v-pills-faq4" role="tabpanel" aria-labelledby="v-pills-faq4-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">Sobre el seguro</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Cobertura del seguro</h2>
								<span style="font-size:14px;">
									SXKM en colaboración con AIG garantiza tu cobertura en toda la República Mexicana: <br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Daños materiales - 5% de deducible.</span></li>
										<li><span class="span-ul-sxkm">Robo total - SXKM paga tu deducible.</span></li>
										<li><span class="span-ul-sxkm">Responsabilidad civil - $4,000,000.00 MXN.*</span></li>
										<li><span class="span-ul-sxkm">Servicios de asistencia - Amparada</span></li>
										<li><span class="span-ul-sxkm">Programa de lealtad - Amparada</span></li>
										<li><span class="span-ul-sxkm">Gastos médicos ocupantes - hasta $400,000.00 MXN ($80,000.00 MXN p/pax)</span></li>
									</ul>

									*Límite único combinado <br><br>

									La póliza de seguro de tu auto es emitida por AIG Seguros México conforme a las Leyes de los Estados Unidos Mexicanos de acuerdo a la normatividad y supervisión de la Comisión Nacional de Seguros y de Fianzas, así como por la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Mi auto está "asegurado" aún estacionado?</h2>
								<span style="font-size:14px;">
									Si, siempre y cuando la mensualidad de la suscripción este pagada, cuentes con kilómetros disponibles y el dispositivo cuenta-kilómetros esté conectado, con SXKM tu auto está asegurado con cobertura amplia en todo momento y en toda la República Mexicana.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Quién asegura mi auto?</h2>
								<span style="font-size:14px;">
									Como parte de los beneficios de la suscripción pagada, la póliza de seguro de tu auto es emitida por AIG Seguros México empresa aseguradora registrada conforme a las Leyes de los Estados Unidos Mexicanos, bajo la normatividad y supervisión de la Comisión Nacional de Seguros y de Fianzas, así como por la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Hay alguna condición extra además de las establecidas por la aseguradora?</h2>
								<span style="font-size:14px;">
									Sí. El dispositivo cuenta-kilómetros que otorgamos en comodato es único, personalizado y está asignado electrónicamente al auto registrado, por lo que deberá permanecer en todo momento conectado. Adicional, deberás estar al corriente del pago de tu suscripción mensual y kilómetros disponibles.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Qué vigencia tiene el seguro de mi póliza con SXKM?</h2>
								<span style="font-size:14px;">
									El seguro tiene una vigencia de un año, a partir de la fecha de emisión del certificado, sin embargo, para que permanezca vigente es necesario tener conectado el dispositivo cuenta-kilómetros al auto, estar al corriente en el pago de la suscripción mensual y contar con kilómetros disponibles y vigentes en la cuenta.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">¿Cómo y cuándo se renueva mi póliza?</h2>
								<span style="font-size:14px;">
									La póliza de tu seguro se renueva automáticamente el día de su vencimiento.
									Para tu tranquilidad, te notificaremos 30 días antes del vencimiento.
								</span>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show " id="v-pills-faq5" role="tabpanel" aria-labelledby="v-pills-faq5-tab">
						<div class="row">
							<div class="col-md-12" style="padding-bottom: 60px">
								<h1 class="h1-faqs">En caso de siniestro</h1>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">Tengo un siniestro/robo</h2>
								<span style="font-size:14px;">
									En la aplicación de SXKM presiona el botón SOS o comunícate con nosotros al 01 800 969 SXKM (7956) opción 1. <br>
									Al momento de reportar un siniestro es recomendable: <br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Permanecer en el lugar del siniestro</span></li>
										<li><span class="span-ul-sxkm">Tener a la mano su Tarjeta de circulación</span></li>
									</ul>
									Una vez que se presenta el ajustador en el lugar del accidente determinará la responsabilidad de los daños basándose en lo siguiente:
									<br><br>
									<ul class="ul-tecnologia">
										<li><span class="span-ul-sxkm">Las declaraciones de los involucrados.</span></li>
										<li><span class="span-ul-sxkm">La inspección del lugar donde ocurrieron los hechos.</span></li>
										<li><span class="span-ul-sxkm">La revisión de los autos.</span></li>
										<li><span class="span-ul-sxkm">La matriz de responsabilidades documento creado por la Asociación Mexicana de Instituciones de Seguros (AMIS), el cual es utilizado por las aseguradoras afiliadas para homologar los criterios de responsabilidad en un siniestro.</span></li>
									</ul>
									    
									El ajustador en conjunto con AIG realizará el análisis del siniestro “condiciones y coberturas amparadas por la póliza suscrita”; hará una recomendación para proceder con la indemnización o con la declinación del mismo. Una vez aceptado el convenio de ajuste será entregado a AIG Seguros México para tramitar el pago y/o las acciones resultantes.
									<br>
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions">En caso de un siniestro/asistencia, ¿Debo pagar un deducible?</h2>
								<span style="font-size:14px;">
									En caso de que aplique, aparece especificado en la carátula de la póliza y su cobro se realiza conforme a lo especificado en las condiciones generales del seguro contratado.
								</span>
							</div>
							<div class="col-md-12" style="padding-bottom: 40px">
								<h2 class="h2-questions"></h2>
								<span style="font-size:14px;">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5" style="font-size: 20px;padding-top: 15px;">
        ¿No encuentras lo que estas buscando?
      </div>
      <div class="col-md-4" style="padding-top: 20px; font-size: 16px">
        <span style="font-size:14px;">Habla con nosotros</span> <span class="d-block d-sm-block d-md-none d-lg-none d-xl-none"><br></span> <a class="link-ayuda" href="tel:018009697956">01 800 969 SXKM (7956)</a>
      </div>
      <div class="col-md-3" style="padding-top: 20px; font-size: 16px">
        <i class="fab fa-whatsapp"></i> <span style="font-size:14px;">Whatsapp <a class="link-ayuda" href="tel:+525527551585">55-27551585</a></span>
      </div>
    </div>
  </div>
</section>
<!--Footer-->
<app-footer></app-footer>