<section  class="section-first-pages" align="center">
	<div class="row">
		<div class="col m12 s12">
			<h1 class="h1-pages">Mis Autos</h1>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
		    <div class="col s12 m4" *ngFor="let car of cars" style="padding-bottom: 30px">
		    	<div class="card">
		        	<div class="card-content" align="center">
		        		<div class="row">
		        			<div class="col m12">
		        				<img src="/assets/img/makers/{{car.maker}}.png" alt="" style="width: 100px">
		        				<br><br>
		        				<p class="bold-opensans">
		        					{{car.maker}} {{car.year}} {{car.model}}
		        				</p>
		        				<br>
		        			</div>
		        			<div class="col m12">
		        				<label class="col m10">
								<h5 style="text-align:left; font-size:14px;">KMS disponibles</h5></label><img *ngIf="car['can_request_sos?'].do_not_has_monthly_payment_due == false" width="25px" src="/assets/img/flag-false.jpg" alt=""> <img *ngIf="car['can_request_sos?'].do_not_has_monthly_payment_due == true" width="25px" src="/assets/img/flag-true.jpg" alt="">
		        			</div>
		        			<div class="col m12">
		        				<label class="col m10"><h5 style="text-align:left; font-size:14px;">Dispositivo conectado</h5></label><img *ngIf="car['can_request_sos?'].has_obd_connected == false" width="25px" src="/assets/img/flag-false.jpg" alt=""><img *ngIf="car['can_request_sos?'].has_obd_connected == true" width="25px" src="/assets/img/flag-true.jpg" alt="">
		        			</div>
		        			<div class="col m12">
		        				<label class="col m10"><h5 style="text-align:left; font-size:14px;">Pago al corriente</h5></label><img *ngIf="car['can_request_sos?'].has_km_left == false" width="25px" src="/assets/img/flag-false.jpg" alt=""> <img *ngIf="car['can_request_sos?'].has_km_left == true" width="25px" src="/assets/img/flag-true.jpg" alt="">
		        			</div>
		        			<div class="col m12">
		        				<br><br>
		           				<a class="btn waves-effect waves-ligh btn-large" style="width: 100%;" href="/user/detalles/{{car.id}}">
		        					DETALLES
								</a> 
								<br><br>
								<a class="btn waves-effect waves-ligh btn-large" style="width:100% " href="/users/recargar-kilometros/{{car.id}}">
		        					RECARGAR KILÓMETROS
								</a>
		        			</div>
		        		</div>
		        	</div>
		      	</div>
		    </div>
		</div>
	</div>
</section>