.h1-titulo{
    font-family: "BebasNeueBook";
    font-size: 70px;
}

.section-pages{
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn-green{
  height: auto;
}

.img-top{
	width: 120px;
	padding-top: 10px;
}

.card{
	border-radius: 0px;
	-moz-transition:box-shadow .4s;
	-webkit-transition:box-shadow .4s;
	-o-transition:box-shadow .4s;
	transition:box-shadow .4s;
}

.card:hover{
	-moz-box-shadow:0 8px 23px 4px rgba(33,33,33,.2);
	-webkit-box-shadow:0 8px 23px 4px rgba(33,33,33,.2);
	-o-box-shadow:0 8px 23px 4px rgba(33,33,33,.2);
	box-shadow:0 8px 23px 4px rgba(33,33,33,.2);
	// z-index: 1001;
}
@media (min-width: 768px){
	.cars{
		padding-right: 0px; padding-left: 0px;
	}
}