<section >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <br>
        <h2>Perfil de usuario</h2>
      </div>
      <div class="col-md-4" align="center">
        <br>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- <div class="col-md-4">
                <i *ngIf="avatar.url==null" class="fas fa-user-circle" style="font-size: 100px"></i>
                <img *ngIf="avatar.avatar!=null"  class="img-fluid" src="https://dev2.sxkm.mx{{avatar.avatar.url}}" alt="">
              </div> -->
              <div class="col-md-8" align="left">
                <!-->a data-toggle="modal" data-target="#modalChangeUser" style="cursor: pointer; font-size: 14px" >
                  <i class="fas fa-envelope"></i>
                  Cambiar correo electrónico
                </a>
                <br><br-->
                <a  data-toggle="modal" data-target="#modalPassword" style="cursor: pointer; font-size: 14px" >
                  <i class="fas fa-lock"></i>
                  Cambiar contraseña
                </a>
                <br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <span class="bold-opensans">Puedes editar los siguientes datos:</span>
        <br><br>
      </div>
      <div class="col-md-12">
        <form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
          <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header bg-white black shadow" id="datosDirPolicy">
                    <h5 class="mb-0">
                      <button class="btn btn-link black" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                          <i class="fas fa-user-edit" style="font-size: 1rem"></i> Datos del usuario
                      </button>
                    </h5>
                </div>
                <div id="collapseZero" class="collapse show" aria-labelledby="datosDirPolicy" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <span class="bold-opensans">Nombre(s):</span>
                          <input type="text" class="form-control" name="" value="" placeholder=""  required>
                        </div>
                        <div class="col-md-4">
                          <span class="bold-opensans">Apellido paterno:</span>
                          <input type="text" class="form-control" name="" value="" placeholder=""  required>
                        </div>
                        <div class="col-md-4">
                          <span class="bold-opensans">Apellido materno:</span>
                          <input type="text" class="form-control" name="" value="" placeholder=""  required>
                        </div>
                        <div class="col-md-4">
                          <span class="bold-opensans">Email:</span>
                          <input type="text" class="form-control" name="" value="" placeholder="" required disabled>
                        </div>
                        <div class="col-md-4">
                          <span class="bold-opensans">Teléfono:</span>
                          <input type="text" class="form-control" name="" value="" placeholder=""  required>
                        </div>
                        <div class="col-md-4">
                          <span class="bold-opensans">Cambiar Foto:</span>
                          <!--input type="file" class="form-control" (change)="changeAvatar($event.target.files)"-->
                          <input type="file" accept="image/*" (change)="changeListener($event)">
                        </div>
                      </div>
                    </div>
                </div>
              </div>
             <div class="card">
                <div class="card-header bg-white black shadow" id="direccion">
                    <h4 class="mb-0">
                      <button class="btn btn-link black" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <i class="fas fa-map-marker-alt" style="font-size:1rem"></i> Dirección
                      </button>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="direccion" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <span class="bold-opensans">Calle:</span>
                          <input type="text" class="form-control" name="street" value="" placeholder="">
                        </div>
                        <div class="col-md-3">
                          <span class="bold-opensans">No. exterior:</span>
                          <input type="text" class="form-control" name="num_ext" value="" placeholder="">
                        </div>
                        <div class="col-md-3">
                          <span class="bold-opensans">No. interior:</span>
                          <input type="text" class="form-control" name="num_int" value="" placeholder="">
                        </div>
                        <div class="col-md-3">
                          <span class="bold-opensans">Código Postal:</span>
                          <input type="text" class="form-control" name="zip_code" value="" placeholder="">
                        </div>
                        <div class="col-md-3">
                          <span class="bold-opensans">Colonia:</span>
                          <input type="text" class="form-control" name="suburb" value="" placeholder="">
                        </div>
                        <div class="col-md-3">
                          <span class="bold-opensans">Ciudad:</span>
                          <input type="text" class="form-control" name="municipality" value="" placeholder="">
                        </div>
                        <div class="col-md-3">
                          <span class="bold-opensans">Estado:</span>
                          <input type="text" class="form-control" name="federal_entity" value="" placeholder="">
                        </div>
                      </div>
                      
                      
                    </div>
                </div>
              </div>
              
          </div>
          <br><br>
          <button type="submit" class="btn btn-sxkm-dark-green btn-lg btn-block">
                Guardar información
          </button>
        </form>
        <br><br><br>
      </div>
    </div>
  </div>
</section>