input[type='radio']:after {
       width: 20px;
       height: 20px;
       border-radius: 20px;
       top: -2px;
       left: -1px;
       position: relative;
       background-color: #d1d3d1;
       content: '';
       display: inline-block;
       visibility: visible;
       border: 2px solid white;
   }

   input[type='radio']:checked:after {
       width: 20px;
       height: 20px;
       border-radius: 20px;
       top: -2px;
       left: -1px;
       position: relative;
       background-color: #17d320;
       content: '';
       display: inline-block;
       visibility: visible;
       border: 2px solid white;
   }

   .payform_selected{
     border-color: #17d320;
     border-width: 5px;
     border-radius: 10px;
   }

   .payform_disabled{
     background-color: #e9ecef;
     color: #9a9393;
   }

   .payform_disabled span{
     background-color: #e9ecef;
     color: #9a9393;
   }
