<section class="section-first">
	<div class="container">
		<div class="row" style="padding-top: 20px;">
			<div class="col-md-12">
				<h1 class="h2-subtitulos">Blog Seguro por kilómetro</h1>
			</div>
		</div>
	</div>
</section>
<section style="padding-top:20px;padding-bottom: 30px">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12" style="padding-bottom: 40px" align="justify">
				<div class="card" style="">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<a href="https://www.eleconomista.com.mx/empresas/AIG-lanzaseguro-de-automovil-por-kilometros-recorridos-20171214-0072.html" target="_blank" style="color:#000"><h1 class="h2-subtitulos">
								Con SXKM saca tu seguro de la guantera y llévalo contigo a todas partes.</h1></a>				    	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								Probablemente cuando piensas en tu seguro de auto, te imaginas ese montón de papeles que tienes olvidados en tu guantera y que solo sacas cuando los necesitas o cuando los vas a cambiar por unos nuevos. Pero ¿qué pensarías si te decimos que tu seguro puede ser diferente, puede ser mucho mejor e incluso hacerte ahorrar? Esa es precisamente la revolución que se está gestando en el mundo de los seguros por medio de INSURTECH, que viene de las palabras en inglés Insurance Technology y de la cual Seguro por kilómetro (SXKM) es pionero en México.
						    	<br><br>
								Con el modelo de negocio “Pay As You Drive” (PAYD) el costo de tu póliza ya no es algo fijo, sino que se calcula de acuerdo a qué tanto uso le das y está basado en tres factores principales por orden de importancia: tipo de auto, kilómetros que consumes y hábitos de manejo.
								<br><br>
								¿Cómo se logra esto? Muy sencillo, por medio de tu Plataforma Inteligente A bordo (PIA), que es un dispositivo de telemática que al conectarlo al puerto OBDII de tu auto, registra tus viajes, la velocidad y el tiempo que manejas, los kilómetros que recorres y hasta puede realizar un diagnóstico sobre el estado de tu auto. Toda esta información se traduce en que tú tienes el control absoluto de tu auto no solo cuando estás al volante, sino en todo momento por medio de la APP de manejo inteligente de SXKM.
								<br><br>
								Así que ya lo sabes, si quieres obtener algo más que solo papeles, saca tu seguro de la guantera y entra a la nueva forma de cuidar tu vehículo con herramientas modernas, para el conductor moderno.
							</div>
							<div class="col-md-4"></div>
				    		<div class="col-md-4">
				    			<img class="card-img-top" src="/assets/img/blog/con-sxkm-saca-tu-seguro-de-la-guantera-y-llevalo-contigo-a-todas-partes.jpeg" alt="Con SXKM saca tu seguro de la guantera y llévalo contigo a todas partes." >
						    	<br>
				    		</div>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>