<section class="section-first">
	<div class="container-fluid">
		<div class="row section-pages">
			<div class="col-md-12">
				<h1 class="h1-titulo">BLOG</h1>
			</div>
		</div>
	</div>
</section>
<section style="padding-top: 20px;padding-bottom: 30px">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- NOTA 1-->
				<div class="row">
					<div class="col-md-12">
						<h2 class="h2-category">Tecnología</h2>
						<h3>Julio 2018</h3>
					</div>
					<div class="col-md-12" align="center">
						<h1 class="h1-titulos">
							Con SXKM saca tu seguro de la guantera y llévalo contigo a todas partes.
						</h1>
					</div>
					<div class="col-md-12" align="justify">
						Probablemente cuando piensas en tu seguro de auto, te imaginas ese montón de papeles que tienes olvidados en tu guantera y que solo sacas cuando los necesitas o cuando los vas a cambiar por unos nuevos. Pero ¿qué pensarías si te decimos que tu seguro puede ser diferente, puede ser mucho mejor e incluso hacerte ahorrar?.
						<br><br>
						Esa es precisamente la revolución que se está gestando en el mundo de los seguros por medio de <span class="green-bold">INSURTECH</span>, que viene de las palabras en inglés Insurance Technology y de la cual Seguro por kilómetro (SXKM) es pionero en México.
						<br><br>
					</div>
					<div class="col-md-12" align="right">
						<img src="/assets/img/blog/sxkm-ofrece-cobertura-amplia-en-toda-la-republica-mexicana.jpg" alt="Sxkm ofrece cobertura amplia en toda la República Mexicana" class="img-fluid" style="width: 100%">
						<br>
						<span><i>Sxkm ofrece cobertura amplia en toda la República Mexicana.</i></span>
					</div>
					<div class="col-md-12">
						<br><br>
						Con el modelo de negocio <span class="green-bold">“Pay As You Drive”</span> (PAYD) el costo de tu póliza ya no es algo fijo, sino que se calcula de acuerdo a qué tanto uso le das y está basado en tres factores principales por orden de importancia: tipo de auto, kilómetros que consumes y hábitos de manejo.
						<br><br><br>
						<div class="col-md-12 border-top border-bottom" style="">
							<div class="row" style="padding-top: 20px;padding-bottom: 20px;">
								<div class="col-md-4">
									<img src="/assets/img/blog/sxkm-tips-para-elegir-el-mejor-seguro.jpg" alt="Tips para elegir el mejor seguro">
								</div>
								<div class="col-md-8">
									<h4 class="h2-category">Relacionado:</h4>
									<h5>Tips para elegir el mejor seguro</h5>
								</div>
							</div>
						</div>
						<br><br>
						<h2 class="h2-category">¿Cómo se logra esto?</h2>
						Muy sencillo, por medio de tu <span class="green-bold">Plataforma Inteligente A bordo</span> (PIA), que es un dispositivo de telemática que al conectarlo al puerto OBDII de tu auto, registra tus viajes, la velocidad y el tiempo que manejas, los kilómetros que recorres y hasta puede realizar un diagnóstico sobre el estado de tu auto. Toda esta información se traduce en que tú tienes el control absoluto de tu auto no solo cuando estás al volante, sino en todo momento por medio de la APP de manejo inteligente de SXKM.
						<br><br>
						<span class="span-strong">
							Así que ya lo sabes, si quieres obtener algo más que solo papeles, saca tu seguro de la guantera y entra a la nueva forma de cuidar tu vehículo con herramientas modernas, para el conductor moderno. <img src="/assets/img/blog/sxkm-blog.jpg" alt="">
						</span>
					</div>
					<div class="col-md-8">
						<br><br>
						<span class="etiqueta-blog">INSURTECH</span>&nbsp;&nbsp;
						<span class="etiqueta-blog">PAYD</span>&nbsp;&nbsp;
						<span class="etiqueta-blog">PIA</span>
					</div>
					<div class="col-md-4">
						<br><br>
						<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.seguroporkilometro.mx/blog/&t=Seguro-por-kilometro"><img src="/assets/img/blog/share.jpg" alt=""></a>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</section>