.a-categoria{
	color: #17d320;
}
.a-date{
	color: #0f312a;
}
.section-pages{
	padding-top: 50px;
	padding-bottom: 50px;
}
.h1-titulo{
	font-family: "BebasNeueBook";
  	font-size: 70px;
}
.h1-titulos{
	font-family: "BebasNeueBook";
	font-size: 50px;
}
:host ::ng-deep .h2-category{
	font-family: "BebasNeueBook";
	font-size: 35px;
	color: #17d320;
}
:host ::ng-deep  .h2-subtitulos{
	font-family: "BebasNeueBook";
	font-size: 40px;
	color: #17d320;
}
:host ::ng-deep .green-bold{
	color: #17d320;
	font-family: "OpenSansFontSemiBold";
	font-size: 16px;
}
:host ::ng-deep .imagen-blog{
	width: 100%;
}
:host ::ng-deep  .span-strong{
	font-size: 16px;
	font-family: "OpenSansFontSemiBold";
}
:host ::ng-deep  .div-articulo-relacionado{
	padding: 20px;
}

.etiqueta-blog{
	color: #fff;
	background-color: #0f312a;
	font-size: 30px;
	font-family: "BebasNeueBook";
	padding:10px;
	border-radius: 5px;
}
@media (max-width: 500px) {
	h2{
		font-size: 18px;
	}
}