<section style="background-color: #fafbfc">
		<div class="container">
			<div class="row">
				<div class="col m12 s12" align="center">
					<h3>Lo sentimos hubo un problema al procesar la forma de pago</h3> <br>
					<a href="/compra-kilometros/{{quote_id}}/{{package_id}}/3" class="waves-effect waves-light btn-large" style="" type="submit" name="action" >
						Intentar nuevamente <i class="material-icons" style="color:#fff;font-size: 15px">replay</i>
					</a>
					<br><br><br>
				</div>
			</div>
		</div>
</section>