<section class="section" style="background-color: #fafbfc;height: 80vh;">
	<div class="container" align="center">
		<div class="row">
			<div class="col-md-12">
				<br><br><br>
				<h3>Lo sentimos hubo un problema al procesar la forma de pago</h3>
				<br><br>
			</div>
			<div class="offset-md-4 col-md-4">
				<!-- <a href="/compra-kilometros/{{quote_id}}/{{package_id}}/{{3}}?buf={{params_from_ops}}"  class="btn btn-sxkm-green btn-lg btn-block"> -->
				<a href="/compra-kilometros/{{quote_id}}/{{package_id}}/{{3}}"  class="btn btn-sxkm-green btn-lg btn-block">
					Intentar nuevamente <i class="fas fa-undo-alt white"></i>
				</a>
			</div>
		</div>
	</div>
</section>
