input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
.fecha_nacimiento{
	background-color: #fff;
}

@media (max-width: 670px) {
	.h2-subtitulos{
		font-size: 20px;
		color: #fff;
		font-family: "OpenSansFontSemiBold";
	}
	.subtitulos-h1{
		font-size: 17px;
		font-family: "OpenSansFontSemiBold";
		color: #333333;
	}
	.section-cotizador{
		padding-top: 10px;
		background-color: #0f312a;
		color: #fff;
	}

	.span-cotizador1{
		font-size: 40px;
		color: #17d320;
		font-weight: 600;
	}
	.span-cotizador2{
		color: rgba(15, 49, 42, 0.8);
		font-size: 21px;
	}
	.span-cotizador3{
		color: rgba(15, 49, 42, 0.8);
		font-size: 35px;
	}
	.span-cotizador4{
		color: rgba(15, 49, 42, 0.8);
		font-size: 13px;
	}
	.h3-cotizador{
		font-size: 30px;
		color: #333333;
	}
	.row-cotizador{
		padding-top: 20px;
		color: #333333;
	}
	.checkbox-label-cotizador{
		font-size: 14px;
	}
	.card-cotizador{
		padding: 45px 40px 45px 40px;
	}
}
@media(max-width: 1000px){
	.span-cotizador1{
		font-size: 60px;
	}
	.span-cotizador2 {
		font-size: 25px;
	}
}
@media(max-width: 400px){
	.span-cotizador1{
		font-size: 50px;
	}
	.span-cotizador2 {
		font-size: 20px;
	}
}

.btn-gray {
	height: 50px;
	width: 82px;
	padding-top: 10px;
  	color: rgba(15, 49, 42, 0.3);
  	background-color: #fff;
  	border-color: rgba(15, 49, 42, 0.3);
}

.btn-gray:hover {
  color: #fff;
  background-color: #17d320;
  border-color: #17d320;
}

.btn-gray:focus, .btn-gray.focus {
  box-shadow: 0 0 0 0.2rem #17d320;
}

.btn-gray.disabled, .btn-gray:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active,
.show > .btn-gray.dropdown-toggle {
  color: #fff;
  background-color: #17d320;
  border-color: #17d320;
}

.btn-gray:not(:disabled):not(.disabled):active:focus, .btn-gray:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}


#basic-addon1{
  color:#fff;
  background-color: #17d320;
  border-color: #17d320;
}