<section class="section-paquetes">
  <div class="container">
    <div class="row">
      <div class="col-md-7 align-middle" style="padding-top: 10px">
        <h1 class="h1-paquetes">Elige un paquete de kilómetros:</h1>
      </div>
      <div class="col-md-2" align="right">
        <div class="div-logo rounded"></div>
      </div>
      <div class="col-md-3">
        <span class="span-datos-vehiculo">
          Mini Cooper <br>
          Countryman 2016 <br>
          $0.50 precio x km
        </span>
      </div>
    </div>
    <div class="row" style="position: relative;top: 73px;">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row ">
          <div class="col-md-3 col-paquetes active-card" style="">
            <div class="card text-center card-paquetes" style="">
              <div class="card-header active" style="">
                250 km <br>
                <span style="" class="span-mas-vendido">
                  MÁS VENDIDO
                </span>
              </div>
              <div class="card-body">
                <span class="card-text span-km-paquetes1">Un pago de</span>
                <h5 class="card-title span-price-paquetes-active">$ 125</h5>
              </div>
              <div id="" class="card-footer active card-footer-active">
                <span class="span-paquetes-vigencia">1 mes de vigencia</span> <br><br>
                <a href="#"><button type="button" class="btn boton-verde">Seleccionar</button></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-paquetes" style="">
            <div class="card text-center card-paquetes" style="">
              <div class="card-header inactive" style="">
                1,000 km
              </div>
              <div class="card-body inactive">
                <span class="card-text span-km-paquetes1">Un pago de</span>
                <h5 class="card-title span-price-paquetes">$ 490</h5>
              </div>
              <div class="card-footer inactive">
                <span class="span-paquetes-vigencia">3 meses de vigencia</span> <br><br>
                <a href="#"><button type="button" class="btn btn-gray">Seleccionar</button></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-paquetes" style="">
            <div class="card text-center card-paquetes" style="">
              <div class="card-header inactive" style="">
                5,000 km
              </div>
              <div class="card-body inactive">
                <span class="card-text span-km-paquetes1">Un pago de</span>
                <h5 class="card-title span-price-paquetes">$ 2,480</h5>
              </div>
              <div class="card-footer inactive">
                <span class="span-paquetes-vigencia">6 meses de vigencia</span> <br><br>
                <a href="#"><button type="button" class="btn btn-gray">Seleccionar</button></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-paquetes" style="">
            <div class="card text-center card-paquetes" style="">
              <div class="card-header inactive" style="">
                7,000 km
              </div>
              <div class="card-body inactive">
                <span class="card-text span-km-paquetes1">Un pago de</span>
                <h5 class="card-title span-price-paquetes">$ 3,400</h5>
              </div>
              <div class="card-footer inactive">
                <span class="span-paquetes-vigencia">12 meses de vigencia</span> <br><br>
                <a href="#"><button type="button" class="btn btn-gray">Seleccionar</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>