.bread-span-inactive{
	color: rgba(15, 49, 42, 0.8);
	font-size: 13px;
	padding-right: 15px;
	cursor:pointer; 
	cursor: hand;
}

.bread-span-active{
	color: #17d320;
	font-size: 13px;
	font-family: "OpenSansFontSemiBold";
	padding-right: 15px;
	cursor:pointer; 
	cursor: hand;
}

.bread-icon{
	padding-right: 15px;
	color: rgba(15, 49, 42, 0.8);
}

.h1{
	font-size: 30px;
	color:#333333;
}
.label-input{
	font-family: 'OpenSansFontSemiBold';
}
.space-input{
	padding-bottom: 10px;
}
.btn-forma-pago{
	padding-top: 20px;
	text-align: center;
	border: solid 1px #27453f;
	border-radius: 3px;
	background-color: #fff;
	height: 70px;
	width: 100%;
	color: rgba(51, 51, 51, 0.9);
}
.btn-forma-pago-active{
	padding-top: 20px;
	text-align: center;
	border: solid 1px #27453f;
	border-radius: 3px;
	background-color: #27453f;
	height: 70px;
	width: 100%;
	color: #fff;
	font-family: 'OpenSansFontSemiBold';
}
.tienda-active{
	border: solid 1px #27453f;
	background-color: #27453f;
}
.card-price{
	background-color: #f6f6f6;
	border: solid 1px rgba(15, 49, 42, 0.3);
}

.title-card-small{
	font-size: 14px;
	color: rgba(15, 49, 42, 0.8);
	font-family: "OpenSansFontSemiBold";
}

.title-card{
	font-size: 20px;
	color: rgba(15, 49, 42, 0.8);
}
.div-ayuda{
	background-color: #eff1f3;
  	border: solid 1px #eff1f3;
  	font-size: 18px;
}
.small-title-ayuda{
	color: #0f312a;
	font-size: 17px;
}

.footer-compra{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eff1f3;
	color: rgba(15, 49, 42, 0.8);
}
.link-footer-compra{
	font-size: 13px;
	color: rgba(15, 49, 42, 0.8);
}