<section class="section-first">
	<div class="container">
		<div class="row" style="padding-top: 20px;">
			<div class="col-md-12">
				<h1 class="h2-subtitulos">PRENSA</h1>
			</div>
		</div>
	</div>
</section>
<section style="padding-top:20px;padding-bottom: 30px">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4" style="padding-bottom: 40px">
				<div class="card" style="">
				  <img class="card-img-top" src="/assets/img/prensa/el-economista-seguro-por-kilometro-sxkm.jpg" alt="El economista- Seguro por kilometro AIG">
				  <div class="card-body">
				    <a href="https://www.eleconomista.com.mx/empresas/AIG-lanzaseguro-de-automovil-por-kilometros-recorridos-20171214-0072.html" target="_blank" style="color:#000"><h5 class="card-title">EL ECONOMISTA</h5></a>
				    <p class="card-text">AIG lanza seguro de auto por kilómetros recorridos.<br> 14 Diciembre 2017.</p>
				    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
				  </div>
				</div>
			</div>
			<div class="col-12 col-md-4" style="padding-bottom: 40px">
				<div class="card" style="">
				  <img class="card-img-top" src="/assets/img/prensa/sxkm-pague-su-seguro-de-auto-solo-por-kilometros-que-recorra-el-economista.jpg" alt="SXKM El economista - pague su seguro de auto solo por kilometros que recorra">
				  <div class="card-body">
				    <a href="https://www.eleconomista.com.mx/finanzaspersonales/Pague-su-seguro-de-auto-solo-por-los-kilometros-que-recorra-20171214-0119.html" target="_blank" style="color:#000"><h5 class="card-title">EL ECONOMISTA</h5></a>
				    <p class="card-text">Pague su seguro de auto sólo por los kilómetros que recorra. <br> 14 Diciembre 2017.</p>
				    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
				  </div>
				</div>
			</div>
			<div class="col-12 col-md-4" style="padding-bottom: 40px">
				<div class="card" style="">
				  <img class="card-img-top" src="/assets/img/prensa/milenio-seguro-por-kilometro-lanzan-seguro-de-auto-en-el-que-pagaras-por-km-recorrido.jpg" alt="SXKM - Milenio seguro de auto por kilometro lanzan seguro de auto en el que pagaras solo por km recorrido">
				  <div class="card-body">
				    <a href="http://www.milenio.com/negocios/lanzan-seguro-auto-pagaras-km-recorrido" target="_blank" style="color:#000"><h5 class="card-title">MILENIO</h5></a>
				    <p class="card-text">Lanzan seguro de auto en el que pagarás por km recorrido.<br> 15 Diciembre 2017.</p>
				    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
				  </div>
				</div>
			</div>
			<div class="col-12 col-md-4" style="padding-bottom: 40px">
				<div class="card" style="">
				  <img class="card-img-top" src="/assets/img/prensa/el-sol-de-mexico-aig-lanza-seguro-que-se-vendera-por-kilometros-recorridos-sxkm.jpg" alt="AIG lanza seguro que se venderá por kilómetros recorridos">
				  <div class="card-body">
				    <a href="https://www.elsoldemexico.com.mx/finanzas/aig-lanza-seguro-que-se-vendera-por-kilometros-recorridos-486978.html" target="_blank" style="color:#000"><h5 class="card-title">EL SOL DE MÉXICO</h5></a>
				    <p class="card-text">AIG lanza seguro que se venderá por kilómetros recorridos.<br> 15 Diciembre 2017.</p>
				    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
				  </div>
				</div>
			</div>
			<div class="col-12 col-md-4" style="padding-bottom: 40px">
				<div class="card" style="">
				  <img class="card-img-top" src="/assets/img/prensa/el-financiero-lanza-aig-seguro-de-autos-por-kilometros-recorridos.jpg" alt="SXKM Financiero - Lanza AIG seguro de auto por kilómetros recorridos.">
				  <div class="card-body">
				    <a href="http://www.elfinanciero.com.mx/monterrey/lanza-aig-seguro-de-autos-por-kilometros-recorridos" target="_blank" style="color:#000"><h5 class="card-title">EL FINANCIERO</h5></a>
				    <p class="card-text">Lanza AIG seguro de auto por kilómetros recorridos. <br> 29 Diciembre 2017.</p>
				    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
				  </div>
				</div>
			</div>
			<div class="col-12 col-md-4" style="padding-bottom: 40px">
				<div class="card" style="">
				  <img class="card-img-top" src="/assets/img/prensa/aig-lanza-un-seguro-de-auto-por-kilometro.jpg" alt="SXKM - Milenio seguro de auto por kilometro lanzan seguro de auto en el que pagaras solo por km recorrido">
				  <div class="card-body">
				    <a href="http://www.eluniversal.com.mx/cartera/negocios/aig-lanza-un-seguro-de-auto-por-kilometro" target="_blank" style="color:#000"><h5 class="card-title">EL UNIVERSAL</h5></a>
				    <p class="card-text">AIG lanza seguro de auto por kilómetro.<br><br> 22 Enero 2018.</p>
				    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
				  </div>
				</div>
			</div>
			<div class="col-12 col-md-4" style="padding-bottom: 40px">
				<div class="card" style="">
				  <img class="card-img-top" src="/assets/img/prensa/el-financiero-paga-tu-seguro-de-auto-por-kilometro-recorrido.jpg" alt="AIG lanza seguro que se venderá por kilómetros recorridos">
				  <div class="card-body">
				    <a href="http://www.elfinanciero.com.mx/mis-finanzas/paga-el-seguro-de-tu-auto-por-los-kilometros-que-manejas" target="_blank" style="color:#000"><h5 class="card-title">EL FINANCIERO</h5></a>
				    <p class="card-text">Paga tu seguro de auto por kilómetro recorrido.<br> 8 Febrero 2018.</p>
				    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
				  </div>
				</div>
			</div>
			<div class="col-12 col-md-4" style="padding-bottom: 40px">
				<div class="card" style="">
				  <img class="card-img-top" src="/assets/img/prensa/el-economista-seguro-por-kilometro-opcion-para-quienes-no-utilizan-tanto-su-automovil-sxkm.jpg" alt="SXKM Financiero - Lanza AIG seguro de auto por kilómetros recorridos.">
				  <div class="card-body">
				    <a href="https://www.eleconomista.com.mx/finanzaspersonales/Seguro-por-kilometro-opcion-para-quienes-no-utilizan-tanto-su-automovil-20180226-0076.html" target="_blank" style="color:#000"><h5 class="card-title">EL ECONOMISTA</h5></a>
				    <p class="card-text">Seguro por kilómetro, opción para quienes no utilizan tanto su automóvil. <br> 26 Febrero 2018.</p>
				    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
