<section class="d-block d-sm-block d-md-block d-lg-none d-xl-none bg-dark-green">
		<div class="container">
			<div class="row"  *ngIf="package!=null">
				<div class="col-3">
					<br>
					<div style="background-color:#ffff;padding: 5px;border:1px solid #b7c1bf;border-radius: 2px;width: 60px;height: 60px" align="center">
						<img src="/assets/img/makers/{{aig.maker}}.png" style="width: 40px;height: 40px;" alt="">
					</div>
					<br>
				</div>
				<div class="col-9 white">
					<br>
					{{aig.version}} {{aig.year}} <br>
					<span class="bold-opensas white" style="font-size: 18px;">
						Paquete de {{package.package}} km: {{total_cost | currency}}
					</span>
				</div>
			</div>
		</div>
	</section>
	<section class="d-none d-sm-none d-md-none d-lg-block d-xl-blog" style="padding-top:40px"></section>
	<section> 
	<div class="container">
		<form  #cart="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
			<div class="row">
				<div class="col-xl-7 col-lg-7 col-md-12 col-12">
					<div class="row">
						<div class="col-md-12 d-none d-sm-none d-md-none d-lg-block d-xl-block">
							<a class="black" href="/cotizaciones/{{quote_id}}">Paquetes</a> &nbsp;&nbsp;
							<i class="fas fa-chevron-right" style="font-size: 20px; position: relative;top:5px"></i>&nbsp;&nbsp;
							<a class="black" href="/compra-kilometros/{{quote_id}}/{{package_id}}">Datos del auto</a> &nbsp;&nbsp;
							<i class="fas fa-chevron-right" style="font-size: 20px; position: relative;top:5px"></i>&nbsp;&nbsp;
							<a class="black" href="/compra-kilometros/{{quote_id}}/{{package_id}}/2">Datos de envío</a> &nbsp;&nbsp;
							<i class="fas fa-chevron-right" style="font-size: 20px; position: relative;top:5px"></i>&nbsp;&nbsp;
							<span class="bold-opensans">Facturación y pago</span>
							<br><br><br>
						</div>
						<div class="col-12 d-block d-sm-block d-md-block d-lg-none d-xl-none">
							<br>
							Paso 3 de 3
							<br><br>
						</div>
					</div>
					<div class="row">
						<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-md-4">
							<p (click)="changePayment('tarjeta')" class="{{pago=='tarjeta'? 'white bg-dark-green':'border-dark-green'}}" style="padding-top:15px;padding-bottom:15px" align="center"> Tarjeta de crédito <br> o débito</p>
						</div>
						<div class="col-4 d-block d-sm-block d-md-block d-lg-none d-xl-none">
							<p class="{{pago=='tarjeta'? 'white bg-dark-green':'border-dark-green'}}" (click)="changePayment('tarjeta')" style="padding-top:25px;padding-bottom:25px" align="center">Tarjeta</p>
						</div>
						<div *ngIf="onlycard==false" class="col-4 col-md-4">
							<p class="{{pago=='efectivo'? 'white bg-dark-green':'border-dark-green'}}" (click)="changePayment('efectivo')" style="padding-top:15px;padding-bottom:15px" align="center">Centros <br>de pago</p>
						</div>
						<div *ngIf="onlycard==false" class="col-4 col-md-4">
							<p class="{{pago=='spei'? 'white bg-dark-green':'border-dark-green'}}" (click)="changePayment('spei')" style="padding-top:25px;padding-bottom:25px" align="center">Spei</p>
						</div>
					</div>
					<div *ngIf="pago=='tarjeta'">
						<div class="row">
							<div class="col-md-8">
								<span class="bold-opensans">Número de tarjeta</span>
								<input placeholder="Número de tarjeta" [(ngModel)]="card.card_number" name="card.card_number" id="card.card_number" type="text" class="form-control" required minlength="15" pattern="[0-9]+">
							</div>
							<div class="col-md-8">
								<span class="bold-opensans">Nombre del titula</span>
								<input placeholder="Nombre del titular" [(ngModel)]="card.holder_name" name="card.holder_name" id="card.holder_name" type="text" class="form-control" required minlength="4" >
							</div>
							<div class="col-md-5">
								<div class="row">
									<div class="col-md-12">
										<span class="bold-opensans">Viegncia</span>
									</div>
									<div class="col-md-6 col-6">
										<select class="form-control" required [(ngModel)]="card.expiration_month" name="card.expiration_month"  id="card.expiration_month">
											<option value="" disabled>Mes</option>
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
											<option value="06">06</option>
											<option value="07">07</option>
											<option value="08">08</option>
											<option value="09">09</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
										</select>
									</div>
									<div class="col-md-6 col-6">
										<select class="form-control" required [(ngModel)]="card.expiration_year" name="card.expiration_year"  id="card.expiration_year">
											<option value="" disabled>Año</option>
											<option value="18">2018</option>
											<option value="19">2019</option>
											<option value="20">2020</option>
											<option value="21">2021</option>
											<option value="21">2022</option>
											<option value="23">2023</option>
											<option value="24">2024</option>
											<option value="25">2025</option>
											<option value="26">2026</option>
											<option value="27">2027</option>
											<option value="28">2028</option>
											<option value="29">2029</option>
											<option value="30">2030</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<span class="bold-opensans">CVV</span>
								<input placeholder="CVV" [(ngModel)]="card.cvv2" name="cvv2s" id="cvv2" type="text" class="form-control" required minlength="3" maxlength="4" pattern="[0-9]+">
							</div>
						</div>
						<div *ngIf="msi" class="row" >
							<div class="col-md-12">
								<br>
								<span class="bold-opensans">Forma de pago</span><br>
								<div *ngIf="total_cost>299" (click)="setMSI(3)" class="custom-control custom-radio custom-control-inline">
									<input type="radio" id="customRadioInline1" name="msi" class="custom-control-input">
									<label class="custom-control-label" for="customRadioInline1">3 meses sin interéses</label>
								</div>
							  	<div *ngIf="total_cost>599" (click)="setMSI(6)" class="custom-control custom-radio custom-control-inline">
									<input type="radio" id="customRadioInline2" name="msi" class="custom-control-input">
									<label class="custom-control-label" for="customRadioInline2">6 meses sin interéses</label>
								</div>
                <div *ngIf="total_cost>1199" (click)="setMSI(12)" class="custom-control custom-radio custom-control-inline">
									<input type="radio" id="customRadioInline2" name="msi" class="custom-control-input">
									<label class="custom-control-label" for="customRadioInline2">12 meses sin interéses</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div *ngIf="checkbox_suscription && suscription" class="custom-control custom-checkbox" (click)="changeSuscription()">
									<input   id="customCheck1" type="checkbox" class="custom-control-input" checked  required />
									<label class="custom-control-label" for="customCheck1">&nbsp;&nbsp;Acepto pago recurrente</label>
								</div>
								<br>
								<div *ngIf="!checkbox_suscription && suscription" class="custom-control custom-checkbox" (click)="changeSuscription()">
									<input id="customCheck1" type="checkbox" class="custom-control-input" required />
								</div>
								<div *ngIf="checkbox_suscription && !suscription" class="custom-control custom-checkbox" (click)="changeSuscription()">
									<input id="customCheck1" type="checkbox" class="custom-control-input" checked />
									<label class="custom-control-label" for="customCheck1">&nbsp;&nbsp;Acepto pago recurrente</label>
								</div>
								
								<div *ngIf="!checkbox_suscription && !suscription" class="custom-control custom-checkbox" (click)="changeSuscription()">
									<input id="customCheck1" type="checkbox" class="custom-control-input"/>
									<label class="custom-control-label" for="customCheck1">&nbsp;&nbsp;Acepto pago recurrente</label>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="pago=='efectivo'">
						<div class="row">
							<div class="col-md-12">
								<span>Selecciona tu tienda de preferencia:</span>
								<br>
								<span *ngIf="error_store!=''" style="color:red">Selecciona una tienda</span>
							</div>
							<div class="col-md-3 col-4" align="center" *ngFor="let store of stores">
								<div style="border:1px solid rgba(15, 49, 42, 0.3);height: 50px;border-radius: 3px;" class="{{policy.store==store.store ? 'bg-dark-green':''}}" (click)="setStore(store.store, store.url)">
									<img src="{{store.image}}" class="img-fluid" alt="{{store.store}}">
								</div>
								<br>
							</div>
						</div>
					</div>
					<div *ngIf="pago=='spei'">
							<div class="row">
								<div class="col-md-12">
									<br>
									<img src="/assets/img/pagos/spei.png" alt="Spei"> <br><br><br>
								</div>
								<div class="col-md-9" align="justify">
									Al hacer clic en “Terminar” recibirás las instrucciones para pagar con transferencia desde tu banco. Deberás realizarlo dentro de las próximas 24 horas para mantener tu cotización.
								</div>
							</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<br>
							<div  *ngIf="checkbox_factura" (click)="changeFactura()" class="custom-control custom-checkbox">
								<input id="customCheck2"  type="checkbox" class="custom-control-input" checked />
								<label class="custom-control-label" for="customCheck2">&nbsp;&nbsp;Requiero factura.</label>
							</div>
							<div *ngIf="!checkbox_factura" (click)="changeFactura()" class="custom-control custom-checkbox">
								<input id="customCheck2" type="checkbox" class="custom-control-input"/>
								<label class="custom-control-label" for="customCheck2">&nbsp;&nbsp;Requiero factura.</label>
							</div>
							<br>
						</div>
					</div>
					<div *ngIf="checkbox_factura" class="row">
						<div class="col-md-12"><br></div>
						<div class="col-md-6">
							<span class="bold-opensans">RFC</span>
							<input placeholder="RFC" name="rfc" id="rfc" type="text" class="form-control" required [(ngModel)]="policy.rfc" #rfc="ngModel">
						</div>
						<div class="col-md-6">
							<span class="bold-opensans">Razón Social</span>
							<input placeholder="Razón Social" name="razon_social" id="razon_social" type="text" class="form-control" required [(ngModel)]="policy.razon_social" #rfc="ngModel">
						</div>
						<div class="col-md-6">
							<span class="bold-opensans">Calle</span>
							<input placeholder="Calle" name="street3" id="street3" type="text" class="form-control" required [(ngModel)]="policy.street3" #street3="ngModel">
						</div>
							<div class="col-md-3">
								<span class="bold-opensans">Num. Ext</span>
								<input placeholder="Num. Ext" name="ext_number3" id="ext_number3" type="text" class="form-control" required [(ngModel)]="policy.ext_number3" #ext_number3="ngModel">
							</div>
							<div class="col-md-3">
								<span class="bold-opensans">Num. Int</span>
								<input placeholder="Num. Int" name="int_number3" id="int_number3" type="text" class="form-control" [(ngModel)]="policy.int_number3" #int_number3="ngModel">
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Código Postal</span>
								<input placeholder="Código Postal" name="zipcode3" id="zipcode3" type="text" class="form-control" required [(ngModel)]="policy.zipcode3" #zipcode1="ngModel" (change)="validateZipcode()" *ngIf="zipcodeBoolean">
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Colonia</span>
								<select class="form-control" required="true" [(ngModel)]="policy.suburb3" name="suburb3" #suburb3="ngModel" id="suburb3">
									<option value="" disabled>Seleccionar</option>
								    <option *ngFor="let suburb of suburbs3" value="{{suburb.suburb}}">{{suburb.suburb}}</option>
								</select>
							</div>
							<div class="col-md-12">
								<br><br>
							</div>
					</div>
				</div>
				<div *ngIf="aig!=null" class="col-lg-5 col-md-12 border-left col-12 border-mobile" >
					<div class="row">
						<div class="col-4 col-lg-2 d-none d-sm-none d-md-none d-lg-block d-xl-block">
							<br>								
							<div style="background-color:#fff;width: 70px;height: 70px;padding: 5px;border-radius: 3px;" class="border">
								<img src="/assets/img/makers/{{aig.maker}}.png" alt="{{aig.maker}}" class="img-fluid" style="">
							</div>
						</div>
						<div class="col-8 col-lg-10 d-none d-sm-none d-md-none d-lg-block d-xl-block">
							<br>{{aig.version}} {{aig.year}} 
						</div>
						<div class="col-md-12" *ngIf="isPromotional">
							<br>
							<span class="bold-opensans">Código de promoción: {{policy.promotional_code}}</span>
						</div>			
					</div>
					<div *ngIf="package!=null" class="row d-none d-sm-none d-md-none d-lg-block d-xl-block">
						<div class="col-md-12">
							<br>
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<span class="bold-opensans align-middle">
												Paquete de {{package.package | number}} km <br>
												<small>(Vigencia: {{package.vigency}} mes{{package.vigency!=1 ? 'es':''}} )</small>
											</span>
										</div>
										<div class="col-md-6" align="right">
											<span style="font-size: 20px" class="bold-opensans">
												{{package.cost_by_package | currency}}
											</span>
										</div>
									</div>
								</div>
							</div>
							<br>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<span class="bold-opensans align-middle">
												Suscripción mensual <br>
												Primer mes
											</span>
										</div>
										<div class="col-md-6" align="right">
											<span style="font-size: 20px" class="bold-opensans">
												$299
											</span>
										</div>
									</div>
								</div>
							</div>
							<br>
						</div> 
					</div>
					<div class="row">
						<div *ngIf="!isPromotional" class="col-md-12">
							<div class="input-group">
								<input [(ngModel)]="cupon" name="cupon" id="cupon" type="text" class="form-control" value="250AIRELIBE">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchCupon()">Aplicar</button>
								</div>
							</div>
							<br><br>
						</div>
					</div>			
					<div *ngIf="package!=null" class="row" >
						<div *ngIf="discount!=0" class="col-md-6">
							<span class="bold-opensas" style="font-size: 16px">Subtotal</span>
						</div>
						<div *ngIf="discount!=0" class="col-md-6" align="right">
							<span class="bold-opensas" style="font-size: 16px">{{package.total_cost | currency}}</span>
						</div>
						<div *ngIf="discount!=0" class="col-md-6">
							<span class="bold-opensas" style="font-size: 16px">Descuento</span>
						</div>
						<div *ngIf="discount!=0" class="col-md-6" align="right">
							<span class="bold-opensas" style="font-size: 16px">- {{discount | currency}}</span>
						</div>
						<div class="col-md-6">
							<span class="bold-opensas" style="font-size: 22px">Total</span>
						</div>
						<div class="col-md-6" align="right">
							<span class="bold-opensas" style="font-size: 22px">{{total_cost | currency}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<br>	
							<div class="custom-control custom-checkbox" >
								<input id="customCheck4" type="checkbox" class="custom-control-input"  required />
								<label class="custom-control-label" for="customCheck4">&nbsp;&nbsp;Acepto términos y condiciones</label>
							</div>
							<br><br>
							<button type="submit" class="btn btn-sxkm-green btn-lg btn-block">
								{{pago=='tarjeta'?'Pagar':''}}
								{{pago=='efectivo'?'Generar ficha de pago':''}}
								{{pago=='spei'?'Generar referencia de pago':''}}
							</button>
							<br><br>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
