<header>
  <nav class="navbar navbar-expand-lg navbar-light d-flex navbar-style fixed-top" align="center" style="padding: 0px;">
    <a class="navbar-brand" href="/" style="">
      <img src="assets/img/sxkm-horizontal.svg" class="img-fluid" alt="SXKM - Seguro por kilometro" id="img-navbar2" style="padding-right: 20px">
      <img id="img-navbar1" src="assets/img/aig-logo.svg" class="img-fluid" alt="AIG - Seguro por kilometro">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="">
      <ul class="navbar-nav ml-auto p-2">
        <li class="nav-item nav-padding d-none d-sm-none d-md-block d-lg-block d-xl-block " style="padding-top: 20px">
          <a class="nav-link align-self-center" href="#">
            <img src="/assets/img/ic-download.svg" class=""> <br>
            Descargar
          </a>
        </li>
        <li class="nav-item nav-padding d-none d-sm-none d-md-block d-lg-block d-xl-block" style="padding-top: 20px">
          <a class="nav-link align-self-center" href="#">
            <i class="fas fa-print" style="width: 18px;height: 18px"></i> <br>
            Imprimir
          </a>
        </li>
        <li class="nav-item nav-padding nav-align d-none d-sm-none d-md-block d-lg-block d-xl-block" style="" align="">
          <a class="nav-link align-self-center" href="#">
            <span class="span-cotizacion-navbar">Cotización </span> <span class="span-cotizacion-navbar bold" id="id_cotizacion">#{{id}}</span> <br>
            Vigencia: {{fecha_vig_cotizacion}}
          </a>
        </li>
        <li class="nav-item nav-padding d-block d-sm-block d-md-none d-lg-none d-xl-noner" style="">
          <a class="nav-link align-self-center" href="#">Acerca de</a>
        </li>
        <li class="nav-item nav-padding d-block d-sm-block d-md-none d-lg-none d-xl-none" >
          <a class="nav-link align-self-center" href="#">Bog</a>
        </li>
        <li class="nav-item nav-padding d-block d-sm-block d-md-none d-lg-none d-xl-none" >
          <a class="nav-link align-self-center" href="#">Preguntas frecuentes</a>
        </li>
        <li class="nav-item nav-padding d-block d-sm-block d-md-none d-lg-none d-xl-none" >
          <a class="nav-link align-self-center" href="#">Centro de ayuda</a>
        </li>
      </ul>
    </div>
  </nav>
</header>