<section class="d-none d-sm-none d-md-none d-lg-block d-xl-block" style="padding-top:40px">
		<div class="container">
			<form  #cart="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<a class="black" href="/cotizaciones/{{quote_id}}">Paquetes</a> &nbsp;&nbsp;
								<i class="fas fa-chevron-right" style="font-size: 20px; position: relative;top:5px"></i>&nbsp;&nbsp;
								<span>Datos del auto</span> &nbsp;&nbsp;
								<i class="fas fa-chevron-right" style="font-size: 20px; position: relative;top:5px"></i>&nbsp;&nbsp;
								<span class="bold-opensans">Datos de envío</span> &nbsp;&nbsp;
								<i class="fas fa-chevron-right" style="font-size: 20px; position: relative;top:5px"></i>&nbsp;&nbsp;
								<span>Facturación y pago</span>
								<br><br><br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<span class="bold-opensans">Nombre</span>
								<input placeholder="Nombre" name="first_name" id="first_name" type="text" class="form-control" required [(ngModel)]="policy.first_name" #first_name="ngModel">	
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Apellidos</span>
								<input placeholder="Apellidos" name="last_name_one" id="last_name_one" type="text" class="form-control" required [(ngModel)]="policy.last_name_one" #last_name_one="ngModel">
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Correo electrónico</span>
								<input placeholder="Correo electrónico" name="email" id="email" type="email" class="form-control" disabled [(ngModel)]="policy.email" #email="ngModel">
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Celular</span>
								<input placeholder="Celular" name="cellphone" id="cellphone" type="text" class="form-control" required [(ngModel)]="policy.cellphone" #cellphone="ngModel" minlength="10">
							</div>
							<div class="col-md-12">
								<hr>
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Calle</span>
								<input placeholder="Calle" name="street1" id="street1" type="text" class="form-control" required [(ngModel)]="policy.street1" #street1="ngModel">
							</div>
							<div class="col-md-3">
								<span class="bold-opensans">Num. Ext</span>
								<input placeholder="Num. Ext" name="ext_number1" id="ext_number1" type="text" class="form-control" required [(ngModel)]="policy.ext_number1" #ext_number1="ngModel">
							</div>
							<div class="col-md-3">
								<span class="bold-opensans">Num. Int</span>
								<input placeholder="Num. Int" name="int_number1" id="int_number1" type="text" class="form-control" [(ngModel)]="policy.int_number1" #int_number1="ngModel">
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Código Postal</span>
								<input placeholder="Código Postal" name="zipcode1" id="zipcode1" type="text" class="form-control" disabled [(ngModel)]="policy.zipcode1" #zipcode1="ngModel">
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Colonia</span>
								<select class="form-control" required="true" [(ngModel)]="policy.suburb1" name="suburb1" #suburb1="ngModel" id="suburb1" (change)="setDirShipping()">
									<option value="" disabled>Seleccionar</option>
									<option *ngFor="let suburb of suburbs1" value="{{suburb.suburb}}">{{suburb.suburb}}</option>
								</select>
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Ciudad</span>
								<input placeholder="Ciudad" name="city1" id="city1" type="text"class="form-control" disabled [(ngModel)]="policy.city1" #city1="ngModel">
							</div>
							<div class="col-md-6">
								<span class="bold-opensans">Estado</span>
								<input placeholder="Estado" name="state1" id="state1" type="text"class="form-control" disabled [(ngModel)]="policy.state1" #state1="ngModel">
							</div>
							<div class="col-md-12">
								<div class="custom-control custom-checkbox">
									<input *ngIf="checkbox_dir" type="checkbox" class="custom-control-input" (click)="changeDir()" checked>
									<input *ngIf="!checkbox_dir" type="checkbox" class="custom-control-input" (click)="changeDir()">
									<label class="custom-control-label" for="customCheck2">&nbsp;&nbsp;Enviar dispositivo a otra dirección.</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 border-left">
						<div class="row">
							<div class="col-4 col-lg-2">
								<br>
								<div style="background-color:#fff;width: 70px;height: 70px;padding: 5px;border-radius: 3px;" class="border">
									img src="/assets/img/makers/{{aig.maker}}.png" alt="{{aig.maker}}" class="img-fluid" style="">
								</div>
							</div>
							<div class="col-8 col-lg-10">
								<br>{{aig.version}} {{aig.year}} 
							</div>		
						</div>
	
						<div *ngIf="package!=null" class="row">
							<div class="col-md-12">
								<br>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-md-6">
												<span class="bold-opensans align-middle">
													Paquete de {{package.package | number}} km <br>
													<small>(Vigencia: {{package.vigency}} mes{{package.vigency!=1 ? 'es':''}} )</small>
												</span>
											</div>
											<div class="col-md-6" align="right">
												<span style="font-size: 20px" class="bold-opensans">
													{{package.cost_by_package | currency}}
												</span>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-md-6">
												<span class="bold-opensans align-middle">
													Suscripción mensual <br>
													Primer mes
												</span>
											</div>
											<div class="col-md-6" align="right">
												<span style="font-size: 20px" class="bold-opensans">
													$299
												</span>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div> 
						</div>
	
						<!--div class="row">
							Cambiar a bootstrap
							<div class="col-md-12">
								<div class="input-field">
								  <input [(ngModel)]="cupon" name="cupon" id="cupon" type="text" class="form-control" placeholder="Cupón de descuento">
								  <span style="position:absolute;right:10px;font-size: 14px; color: #17d320;cursor: pointer;" class="prefix" (click)="searchCupon()">Aplicar</span>
								</div>
							</div>
						</div-->
	
						<div *ngIf="package!=null" class="row" >
							<div class="col-md-6">
								<span class="bold-opensas" style="font-size: 22px">Total</span>
							</div>
							<div class="col-md-6" align="right">
								<span class="bold-opensas" style="font-size: 22px">{{total_cost | currency}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<br><br>
								<button type="submit" class="btn btn-sxkm-green btn-lg btn-block">
									Continuar
								</button>
								<br><br>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>