.col-container-principal-promo-modal{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.promo-modal-container{
  margin: 0% !important;
  padding: 10% 25% 10% 0% !important;
  
}

.promo-modal{
  margin: 0% !important;
  min-width: 50vw !important;
  max-width: 70vw !important;
  background-image: url("./assets/img/promo_modal/DJ-MANO-BN.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-promo-modal{
  display: block !important;
  border-style: none !important;
  border-bottom-style: none !important;
  font-weight: bold !important;
  text-align: center !important;
  margin: 0% !important;
  padding: 0% !important;
}

.text-promo-modal-h5{
  font-size: 3.5em !important;
  font-weight: bold !important;
  text-align: center !important;
  margin: 5% 0% 0% 20% !important;
  padding: 0% !important;
  color: white !important;
}

.col-btn-1-promo-modal{
  padding: 2% 3% 0% 0%!important;
}
.text-promo-modal-close{
  margin: 0% !important;
  padding: 0% !important;
  font-size: 1.5em !important;
  color: white !important;
}

.body-promo-modal{
  margin: 0% !important;
  padding: 0% !important;
  border-style: none !important;
  border-bottom-style: none !important;
}

.text-promo-modal-p-1{
  font-weight: bold;
  background-color: red !important;
  font-size: 1em !important;
  width: 150px !important;
  margin: 0% !important;
  padding: .5% !important;
  margin-left: 35% !important;
  text-align: center !important;
  color: white !important;
}

.text-promo-modal-p-2{
  font-weight: bold;
  font-size: 9em !important;
  text-align: center !important;
  margin: -50px 0% 0% 0% !important;
  padding: 0% !important;
  color: white !important;
}

.text-promo-modal-p-3{
  margin: 0% !important;
  padding: 0% !important;
  font-weight: bold;
  font-size: 3em !important;
  text-align: center !important;
  font-family: Raleway !important;
  color: white !important;
}

.text-promo-modal-p-3-span{
  margin: 0% !important;
  padding: 0% !important;
  font-weight: normal;
  font-size: 1em !important;
  color: #55CDAD !important;
}

.footer-promo-modal{
  margin: 0% !important;
  padding: 0% !important;
  border-style: none !important;
  border-bottom-style: none !important;
}

.col-btn-footer-promo-modal{
  margin: 0% !important;
  padding: 0% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
}
.btn-promo-modal-footer{
  margin: 0% !important;
  padding: 0% !important;
  border-radius: 35px !important;
  font-weight: bold !important;
  font-size: 1.5em !important;
  padding: 5px 15px !important;
  letter-spacing: .2em !important;
  text-align: center !important;
  width: 350px !important;
  color: white !important;
}

.text-promo-modal-p-4{
  margin: 0% !important;
  padding: 0% !important;
  margin-top: 5% !important;
  font-size: 1em !important;
  font-weight: bold !important;
  text-align: center !important;
  color: white !important;
}

.img-promo-modal-left{
  margin: 0% !important;
  padding: 0% !important;
  margin-top: 25% !important;
  float: left;
  
}

.img-promo-modal-right{
  margin: 0% !important;
  padding: 0% !important;
  margin-top: 25% !important;
  float: right;
}




.col-btn-show-promo-modal{
  display: flex !important;
  //justify-content: left !important;
  //align-items: flex-start !important;
  float: left !important;
}

.btn-show-promo-modal{
  float: left !important;
  padding: 0% 0% 0% 0%!important;
  margin:  0% 0% 0% 0% !important;
  position: relative !important;
  top: 0px !important;
  //background-color: transparent ;
  //border-style: none ;
  
}

.col-ticket{
  float: left !important;
  padding: 0% 0% 0% 0%!important;
  margin:  0% 0% 0% 0% !important;
  position: absolute !important;
  top: 400px !important;
  left: -5px !important;
  z-index: 1 !important;
  
}

.col-ticket-2{
  float: left !important;
  padding: 0% 0% 0% 0%!important;
  margin:  0% 0% 0% 0% !important;
  position: absolute !important;
  top: -30px !important;
  left: 93% !important;
  z-index: 1 !important;
  
}

.btn-hide-promo-modal{
  background-color: transparent !important;
  border-style: none !important;
}

#exampleModalScrollable{ 
  overflow: hidden;
  left: -900px;
  width: 60vw;
  height: 100vh;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
} 

/*@-webkit-keyframes slide {
  100% { left: 0; }
}*/

@keyframes slide {
  from {
    left: -1900px;
  }
  to {
    left: 0px; 
  }
    
}

/*.hide-modal{
  overflow: hidden;
  left: -900px;
  width: 60vw;
  height: 100vh;
  -webkit-animation: -hideslide 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: hide-slide 0.5s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes hide-slide {
  100% { left: -1900px; display: none;}
  
}

@keyframes hide-slide {
    100% { left: -1900px; display: none;}
}*/
















/*** COLORS ***/
$dark-green: #0f312a;
$green: #17d320;
$white: #fff;
$black: #333333;
$gray: #fafbfc;
$gray2: #f6f6f6;
$red: #d31717;

/*** FONTS ***/
$font-bebas-bold: "BebasNeueBold";
$font-bebas-book: "BebasNeueBook";
$font-opensans: "OpenSansFont";
$font-opensans-bold: "OpenSansFontSemiBold";

$font-size:14px; 

*{
  font-family: $font-opensans;
  color: $black;
  font-size: $font-size;
}

.bg-black{
  background-color: $black;
}
.bg-withe{
  background-color: $white;
}
.bg-dark-green{
  background-color: $dark-green;
}
.bg-green{
  background-color: $green;
}
.black{
  color:$black;
}
.white{
  color:$white;
}
.dark-green{
  color:$dark-green;
}
.green{
  color:$green;
}
.red{
  color: $red;
}
.border-green{ 
  border:1px solid;
  border-color: $green;
}
.border-dark-green{
  border:1px solid;
  border-color: $dark-green;
}
.border-black{
  border:1px solid;
  border-color: $black;
}
.border-white{
  border:1px solid;
  border-color: $white;
}

.bold-bebas{
  font-family: $font-bebas-bold;
}
.bebas{
  font-family: $font-bebas-book;
}

.bold-opensans{
  font-family: $font-opensans-bold;
}

.bootstrap-select>.dropdown-toggle {
  position: relative;
  width: 100%;
  height: 45px;
  z-index: 1;
  text-align: right;
  white-space: nowrap;
  align-items: center;
}
.btn-light {
  border-radius: 1px;
  color: $black;
  background-color: $white;
  border-color: #f8f9fa;
}
.btn-light:not(:disabled):not(.disabled).active, 
.btn-light:not(:disabled):not(.disabled):active, 
.show>.btn-light.dropdown-toggle {
background-color: $white;
}

.hovers:hover{
  transform: scale(1.05); 
  cursor: pointer;
}

/*****************************************************************************/
#id_homepage{
  background-image: url("/assets/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-blend-mode: multiply;
  background-color: rgba(15, 49, 42, 0.3);
}
.navlateral{
  height: 45px;
  width:100%;
  padding-top:10px;
  font-size:16px
}
.navlateral-active{
  border-left: 3px solid #17d320;
}

.nav-lateral-sxkm{
  background-color: $white;
  color: $black;
  border-radius: 0px;
}
.nav-pills .nav-link {
    border-radius: 0px;
}
.nav-lateral-sxkm-active{
  border-left: 3px solid #17d320;
  font-family: $font-opensans-bold;
  border-radius: 0px;
}

.form-control{
  border-radius: 1px;
  height: 45px;
}
.btn{
  border-radius: 1px;
}
.btn-sxkm-green{
  background-color: $green;
  color: $white;
  height: 50px;
}
.btn-sxkm-dark-green{
  background-color: $dark-green;
  color: $white;
  height: 50px;
}

.btn-sxkm-darkgreen{
  background-color: $dark-green;
  color: $white;
}
.btn-dark-green{
  background-color: $dark-green;
  color: $white;
}
.btn-sxkm-disable{
  background-color: $white;
  color: $black;
  border-color: $black;
  height: 50px;
}
.btn-outline-secondary {
  color: $green;
  background-color: transparent;
  background-image: none;
  border-color: $green;
}
.section{
  padding-top: 80px;
}
h2{
  font-family: $font-bebas-book;
  font-size: 50px;
}
.link-sxkm-green{
  color: $green;
}
.link-modal{
  cursor: pointer; 
  font-size: 14px;
  color:#007bff !important;
}
.link-modal:hover{
  font-size: 14px;
  text-decoration: underline !important;
}


/*** Quotes ***/
.quote-inactive{
  background-color:#fafbfc; 
  border:1px solid #9e9e9e;
}
.quote-active{
  background-color: #fff; 
  border:1px solid #9e9e9e;
  transform: scale(1.1);
  z-index: 1;
}
/** Radio buttons **/
.radio-sxkm-green{
  height: 45px;
  border-radius: 1px;
  color: $white;
  background-color: $green;
  width: 45px;
}
.radio-sxkm-white{
  height: 45px;
  border-radius: 1px;
  color: $black;
  background-color: $white;
  border-color: #ced4da;
  width: 45px;
}



/***** CHECKBOX ******/
.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255); /* Black fallback color */
  background-color: rgba(255,255,255, 1); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  //transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  font-family: $font-bebas-book;
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}





@media screen and (max-width: 991px) {








  #exampleModalScrollable{
    display: none !important;
  }
//promo modal start
  .col-container-principal-promo-modal{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .promo-modal-container{
    margin: 0% !important;
    //padding: 10% 25% 10% 0% !important;
    padding: 20% !important;
    
  }
  
  .promo-modal{
    margin: 0% !important;
    //min-width: 50vw !important;
    //max-width: 70vw !important;
    background-color: #379387 !important;
  }
  
  .header-promo-modal{
    display: block !important;
    border-style: none !important;
    border-bottom-style: none !important;
    font-weight: bold !important;
    text-align: center !important;
    margin: 0% !important;
    padding: 0% !important;
    color: white !important;
  }
  
  .text-promo-modal-h5{
    font-size: 1.5em !important;
    font-weight: bold !important;
    text-align: center !important;
    //margin: 5% 0% 0% 20% !important;
    margin: 5% 0% 5% 15%!important;
    padding: 0% !important;
    color: white !important;
  }
  
  .col-btn-1-promo-modal{
    padding: 2% 10% 0% 0%!important;
  }
  .text-promo-modal-close{
    margin: 0% !important;
    padding: 0% !important;
    font-size: 1em !important;
    color: white !important;
  }
  
  .body-promo-modal{
    margin: 0% !important;
    padding: 0% !important;
    border-style: none !important;
    border-bottom-style: none !important;
  }
  
  .text-promo-modal-p-1{
    font-weight: bold;
    background-color: red !important;
    font-size: .7em !important;
    width: 100px !important;
    margin: 0% !important;
    padding: .5% !important;
    margin-left: 28% !important;
    text-align: center !important;
    color: white !important;
  }
  
  .text-promo-modal-p-2{
    font-weight: bold;
    font-size: 4em !important;
    text-align: center !important;
    margin: -22px 0% 0% 0% !important;
    padding: 0% !important;
    color: white !important;
  }
  
  .text-promo-modal-p-3{
    margin: 0% !important;
    padding: 0% !important;
    font-weight: bold;
    font-size: 2em !important;
    text-align: center !important;
    font-family: Raleway !important;
    color: white !important;
  }
  
  .text-promo-modal-p-3-span{
    margin: 0% !important;
    padding: 2% !important;
    font-weight: normal;
    font-size: .7em !important;
    color: white !important;
  }
  
  .footer-promo-modal{
    margin: 0% !important;
    padding: 0% !important;
    border-style: none !important;
    border-bottom-style: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .col-btn-footer-promo-modal{
    margin: 0% !important;
    padding: 0% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
  }
  .btn-promo-modal-footer{
    margin: 0% !important;
    padding: 5% !important;
    border-radius: 35px !important;
    font-weight: bold !important;
    font-size: 1em !important;
    padding: 0px !important;
    letter-spacing: .1em !important;
    text-align: center !important;
    width: 200px !important;
    color: white !important;
  }
  
  .text-promo-modal-p-4{
    margin: 5% !important;
    padding: 0% !important;
    margin-top: 5% !important;
    font-size: .7em !important;
    font-weight: bold !important;
    text-align: center !important;
    color: white !important;
  }
  
  .img-promo-modal-left{
    margin: 0% 15% !important;
    padding: 0% !important;
    margin-top: 0% !important;
    width: 100px !important;
    height: 100px !important;
  }
  
  .img-promo-modal-right{
    margin: 0% 10% !important;
    padding: 0% !important;
    margin-top: 0% !important;
    width: 100px !important;
    height: 100px !important;
  }
  
  .col-btn-show-promo-modal{
    display: flex !important;
    //justify-content: left !important;
    //align-items: flex-start !important;
    float: left !important;
  }
  
  .btn-show-promo-modal{
    float: left !important;
    padding: 0% 0% 0% 0%!important;
    margin:  0% 0% 0% 0% !important;
    position: relative !important;
    top: 0px !important;
    //background-color: transparent ;
    //border-style: none ;
    
  }
  
  .col-ticket{
    float: left !important;
    padding: 0% 0% 0% 0%!important;
    margin:  0% 0% 0% 0% !important;
    position: absolute !important;
    top: 400px !important;
    left: -5px !important;
    z-index: 1 !important;
    
  }
  
  .col-ticket-2{
    float: left !important;
    padding: 0% 0% 0% 0%!important;
    margin:  0% 0% 0% 0% !important;
    position: absolute !important;
    top: -30px !important;
    left: 93% !important;
    z-index: 1 !important;
    
  }
  
  .btn-hide-promo-modal{
    background-color: transparent !important;
    border-style: none !important;
  }

  #exampleModalScrollable{ 
    overflow: hidden;
    left: -900px;
    width: 60vw;
    height: 100vh;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.5s forwards;
    animation-delay: 0s;
  } 

  /*@-webkit-keyframes slide {
    100% { left: 0; }
  }*/

  @keyframes slide {
    from {
      left: -1900px;
    }
    to {
      left: 0px; 
    }
      
  }

  /*.hide-modal{
    overflow: hidden;
    left: -900px;
    width: 60vw;
    height: 100vh;
    -webkit-animation: -hideslide 0.5s forwards;
    -webkit-animation-delay: 0s;
    animation: hide-slide 0.5s forwards;
    animation-delay: 0s;
  }

  @-webkit-keyframes hide-slide {
    100% { left: -1900px; display: none;}
    
  }

  @keyframes hide-slide {
      100% { left: -1900px; display: none;}
  }*/

//Promo modal End

//Button contacto llame ya! Start

.btn-contact-home{
  margin: 10% 0%;
  width: 250px;
  height: 50px;
  color: white !important;
  text-decoration: none !important;
  background-color: #68D42C !important;
  font-weight: normal;
  font-size: 1.5em !important;
  font-family: OpenSansFont !important;
}


//Button contacto llame ya! End


















  .border-mobile{
    border-left: 0px solid $white !important;
  }
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: $green;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: $green;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: $white;
  border: 1px solid #ced4da;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 20px;
  height: 20px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $white;
  border: 1px solid #ced4da;
}

.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 1px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $green;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

/************************Tabs**************************************/
.project-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #fff;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color:#000;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid $green !important;
  // font-size: 16px;
  // font-weight: bold;
}
.project-tab .nav-link {
  //border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color:  #000;
  // font-size: 16px;
  // font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}

/*******************FULLSCREEN MODAL**********************/
.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

/************************LOADING***************************/
.loading{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  z-index: 100;
  opacity: 0.7;
  background-color: rgb(252, 245, 245);
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.9;
  background-color: $dark-green;
  color: $white;
  z-index: 99;
  text-align: center;
}

.loading-text{
  position: absolute;
  top: 320px;
  left: 800px;
  z-index: 100;
  color: $dark-green;
  font-size: 22pt;
}

.loading-text-large{
  position: absolute;
  top: 320px;
  left: 820px;
  z-index: 100;
  color: $dark-green;
  font-size: 22pt;
}

.loading-image {
 position: absolute;
  top: 200px;
  left: 840px;
  width: 120px;
  height: 120px;
  z-index: 100;
}

/****CART*******/
.cart-card{  
  border-radius: 3px;
  padding: 10px;
  background-color: $gray2;
  border: solid 1px rgba(15, 49, 42, 0.3);
}
.span-title-card{
  color: $dark-green;
  font-family: $font-opensans-bold;
}
.span-title2-card{
  color: $dark-green;
  font-size: 18px;
}
.payment{
  color:$dark-green;
  text-align: center;
  background-color: $white;
  border: 1px solid $dark-green;
  border-radius: 3px;
  height: 65px;
}
.paymet-active{
  background-color:$dark-green;
  text-align: center;
  color: $white;
  border: 1px solid $dark-green;
  font-family: $font-opensans-bold;
  border-radius: 3px;
  height: 65px;
}
.paymet:hover, .paymet-active:hover{
    background-color: $dark-green;
    color: $white;
}
.store-select{
  background-color: $dark-green;
  border-color: $dark-green;
  z-index: 100;
  color: $black;

}


/************************************************************/
@font-face{
  font-family: "BebasNeueBold";
  src: url('/assets/fonts/BebasNeueBold.woff') format('woff');
  src: url('/assets/fonts/BebasNeueBold.ttf') format('truetype');
}

@font-face{
  font-family: "BebasNeueBook";
  src: url('/assets/fonts/BebasNeueBook.woff') format('woff');
  src: url('/assets/fonts/BebasNeueBook.ttf') format('truetype');
}
@font-face{
  font-family: "BebasNeueBook";
  src: url('/assets/fonts/BebasNeueBook.woff') format('woff');
  src: url('/assets/fonts/BebasNeueBook.ttf') format('truetype');
}
@font-face {
    font-family: "OpenSansFont";
    src: local("?"), url("/assets/fonts/OpenSans/OpenSans-Regular.woff") format("woff"), 
    url("/assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSansFontSemiBold";
    src: local("?"), url("/assets/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), 
    url("/assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

@media only screen and (max-width: 600px) {
  .loading{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: rgb(252, 245, 245);
    z-index: 99;
    text-align: center;
  }

  .loading-text{
    position: absolute;
    top: 320px;
    left: 100px;
    z-index: 100;
    color: $dark-green;
    font-size: 22pt;
  }

  .loading-text-large{
    position: absolute;
    top: 320px;
    left: 50px;
    z-index: 100;
    color: $dark-green;
    font-size: 22pt;
  }

  .loading-image {
  position: absolute;
    top: 200px;
    left: 120px;
    width: 120px;
    height: 120px;
    z-index: 100;
  } 
}