/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:100,400');
*{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
span{
	font-size: 16px;
}

/** NAVBAR **/
.navbar-brand{
	padding-left: 30px
}
.navbar-collapse{
	z-index: 10000;
	background-color: #fff;
}
.navbar-style{
	font-size: 14px;
	height: 100px;
    background-color: #fff;
    border: solid 1px #e0e4e8; 
}
.nav-item{
	padding-right: 50px;
}
.nav-padding{
	padding-top: 10px
}
.navbar-light .navbar-nav .nav-link{
	color: #000;
}
.div-telephone {
	width: 180px;
  	height: 56px;
	color: #0f312a;
    border-radius: 3px;
    border: solid 1px rgba(15, 49, 42, 0.86);
}
.span-navbar-small{
	font-size: 11px;
}
.span-navbar-strong{
	font-weight: 600;
}
/** PANTALLA UNO **/
.section-first{
	padding-top: 100px;
}
.h1-first{
	font-size: 40px;
	font-family: 'Encode Sans', sans-serif;
	font-weight: 100;
	line-height: 1.1;
	transform:scaleY(2.2);
}
.h2-first{
	
	font-size: 16px;
	line-height: 1.88;
	color: #0f312a;
}
.image-hero{
	background-image: url('/assets/img/hero-photo.jpg');
	background-repeat: no-repeat;background-size: 100% 100%; 
	height: 85vh; 
}


/****** BOTONES ******/
.section{
	padding-top: 160px;
}
.boton-verde {
    width: 200px;
    height: 64px;
    border-radius: 2px;
    background-color: #17d320;
    color: #fff;
}

/***** TITULOS *****/
.h2-subtitulos{
	font-family: 'Encode Sans', sans-serif;
	font-weight: 100;
	font-size: 38px;
}

/**** Sección 2 del HOMEPAGE *****/
.h3-cards{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 1.33;
	letter-spacing: -0.5px;
	color: #333333;
	padding-bottom: 20px;
}
/**** Sección 4 del HOMEPAGE *****/
.span-cobertura{
	font-size: 20px;
	line-height: 30px;
}
.h4-cobertura{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.row-cards-cobertura{
	padding-bottom: 20px
}

/**** Sección 5 del HOMEPAGE ****/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000;
    background-color: #fff;
    border-radius: 0px;
    border-left: 5px solid #17d320;
}
.nav-link {
    color: rgba(15, 49, 42, 0.7);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.h3-tecnologia{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
}
/*** Links ****/
.link-sxkm{
	font-weight: 700;
	color: #17d320;
}
