/*** COLORS ***/
$dark-green: #0f312a;
$green: #17d320;
$white: #fff;
$black: #333333;
$gray: #fafbfc;
$gray2: #f6f6f6;


/*** FONTS ***/
$font-bebas-bold: "BebasNeueBold";
$font-bebas-book: "BebasNeueBook";
$font-opensans: "OpenSansFont";
$font-opensans-bold: "OpenSansFontSemiBold";

$font-size:14px; 

*{
  font-family: $font-opensans;
  color: $black;
  font-size: $font-size;
}

.bg-black{
  background-color: $black;
}
.bg-withe{
  background-color: $white;
}
.bg-dark-green{
  background-color: $dark-green;
}
.bg-green{
  background-color: $green;
}
.black{
  color:$black;
}
.white{
  color:$white;
}
.dark-green{
  color:$dark-green;
}
.green{
  color:$green;
}

.bold-bebas{
  font-family: $font-bebas-bold;
}
.bebas{
  font-family: $font-bebas-book;
}

.bold-opensans{
  font-family: $font-opensans-bold;
}

/*****************************************************************************/
#id_homepage{
  background-image: url("/assets/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-blend-mode: multiply;
  background-color: rgba(15, 49, 42, 0.3);
}


/************************************************************/
@font-face{
  font-family: "BebasNeueBold";
  src: url('/assets/fonts/BebasNeueBold.woff') format('woff');
  src: url('/assets/fonts/BebasNeueBold.ttf') format('truetype');
}

@font-face{
  font-family: "BebasNeueBook";
  src: url('/assets/fonts/BebasNeueBook.woff') format('woff');
  src: url('/assets/fonts/BebasNeueBook.ttf') format('truetype');
}
@font-face{
  font-family: "BebasNeueBook";
  src: url('/assets/fonts/BebasNeueBook.woff') format('woff');
  src: url('/assets/fonts/BebasNeueBook.ttf') format('truetype');
}
@font-face {
    font-family: "OpenSansFont";
    src: local("?"), url("/assets/fonts/OpenSans/OpenSans-Regular.woff") format("woff"), 
    url("/assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSansFontSemiBold";
    src: local("?"), url("/assets/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), 
    url("/assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}