<head>
  <meta http-equiv="refresh" content="30">
</head>
<!-- The overlay -->
<div id="myNav" class="overlay">
    <div class="overlay-content">
        <img src="/assets/img/spinner.svg" alt="">
        <br>
        <h1 class="">Cargando</h1>
    </div>
</div>
<section class="container-fluid" style="min-height: 60vh">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7">
          <br>
          <h2>Monitor</h2>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">

        </div>
      </div>

      <div class="row">

        <div class="col-md-12 table-responsive">
          <table class="table table-bordered" id="example">
            <thead>
              <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Póliza</th>
                <th scope="col">Asistencia</th>
                <th scope="col">Estatus</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Km Vigentes</th>
                <th scope="col">Fecha de solicitud de asistencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sinister of sinisters" >
                <td style="cursor:pointer" (click)='details_sinister(sinister.id)'><p>{{sinister.policy.policy_holder_fullname}}   </p> <p>{{sinister.phone}}</p> <p>{{sinister.email}}</p></td>
                <td style="cursor:pointer" (click)='details_sinister(sinister.id)'><p>{{sinister.policy.aig_id}}</p><p>SXK{{sinister.policy.id}}</p><p>{{sinister.policy.car_info}} </p></td>
                <td><p>{{sinister.subject}}</p></td>
                <td style="cursor:pointer" (click)='details_sinister(sinister.id)'><p>Pendiente de atencion</p></td>
                <td><p>Geoposicion: {{sinister.latitude}}, {{sinister.longitude}}</p> <p><iframe id="inlineFrameExample"
                      title="Ubicacion del siniestro"
                      width="300"
                      height="200"
                      [src]='photoURL(sinister)'>
                  </iframe></p> </td>
                <td>{{sinister.policy.get_accumulated_kms_left}} KMS</td>
                <td>{{sinister.created_at | date: 'dd-MM-yyyy hh:mm a':'-0500'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</section>
