<!--Navbar-->
<app-navbar2></app-navbar2>
<!--Inicio-->
<section class="section-first">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12" >
						<a href=""><span class="bread-span-inactive">Paquetes</span></a> <span class="bread-icon">></span>
						<a href=""><span class="bread-span-active">Datos del vehículo</span></a> <span class="bread-icon">></span>
						<a href=""><span class="bread-span-inactive">Datos de envío</span></a> <span class="bread-icon">></span>
						<a href=""><span class="bread-span-inactive">Facturación y pago</span></a>
					</div>
					<div class="col-md-12" style="padding-top: 44px">
						<form action="">
							<div class="row">
								<div class="col-md-6">
			                      <label for="marca" style="font-weight: bold">Marca</label>
			                      <div class="input-group mb-3">
			                      	<input type="text" class="form-control" disabled placeholder="Mini Cooper" name="marca" id="marca">
			                      </div>
			                    </div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	
</section>
<!--Fin-->


<!--Footer-->
<!--app-footer></app-footer-->