<!--Navbar-->
<app-navbar2></app-navbar2>
<!--Inicio-->
<section class="section-first">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-12">
						<span>Paquetes</span> > <span>Datos del vehículo</span> > <span>Datos de envío</span> > <span>Facturación y pago</span>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-1"></div>
		</div>
	</div>
	
</section>
<!--Fin-->


<!--Footer-->
<app-footer></app-footer>