<!-- The overlay -->
<div id="myNav" class="overlay">
        <div class="overlay-content">
            <img src="/assets/img/spinner.svg" alt="">
            <br>
            <h1 class="">Cargando</h1>
        </div>
    </div>
<section>
    <div class="container-fluid">
        <form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate >
            <div class="row">
                <div class="offset-1 col-12 col-md-7" align="justify" *ngIf="!payment_success">
                    <div class="row">
                        <div class="col-md-12">
                            <br><br>
                            <h2 *ngIf="isCompra">Primera compra de paquete de kilómetros</h2>
                            <h2 *ngIf="isRecarga">Recarga de kilómetros</h2>
                            <h2 *ngIf="isSubscription">Pago de mensualidad</h2>
                            <h2 *ngIf="isDevice">Pago de dispositivo</h2>
                        </div>
                    </div>
                    <div class="row" *ngIf="isSubscription && km_to_make_unlimited != null">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="bold-opensans" for="">Tienes un paquete el cual puedes volver ilimitado</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <p style="text-align:center">Paquete de <b> {{km_to_make_unlimited.kilometer.kilometers}} kms </b></p>
                                        <p style="text-align:center">Vigencia del paquete <b> {{km_to_make_unlimited.insurance.exp_date | date: 'dd-MM-yyyy' }}  </b></p>
                                        <p style="text-align:center">Fecha de corte del pago <b> {{km_to_make_unlimited.membership.cutoff_date | date: 'dd-MM-yyyy'}} </b> </p>
                                        <p style="text-align:center">Mensualidades necesarias para cubrir vigencia de kilometros <b> {{km_to_make_unlimited.monthly_count }} </b> </p>
                                        <p style="text-align:center">Pago extra necesario: <b> ${{km_to_make_unlimited.cost_monthlys - 299 }} </b> </p>

                                        <span *ngIf="subtotal != 299" style="color: red"> Este pago de membresia ya tiene una ficha esperando ser pagada con otra promocion, si quieres generar una nuevo ya sea para un pago normal de solo membresia 299,

                                          o para generarle otra promocion tienes que estar seguro que el cliente no va a pagar la ficha actual ya que si lo paga, no se activara la promocion.</span>
                                          <br>
                                          <button (click)='return_to_normal_monthyly()' *ngIf="subtotal != 299"  class="btn btn-sxkm-green btn-lg btn-block">
                                            Regresar la mensualidad a 299 y omitir la ficha actual
                                          </button>


                                        <div  class="custom-control custom-checkbox" *ngIf='subtotal == 299'>
                                            <input type="checkbox" class="custom-control-input"  id="customCheckUnlimited"  (click)="changeUnlimited()">
                                            <label class="custom-control-label" for="customCheckUnlimited">&nbsp;&nbsp; Si volver infinito.</label>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="row" *ngIf="!isSubscription && !isDevice">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="bold-opensans" for="">Paquete de kilómetros</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="bold-opensans" for="">Paquete de kilómetros:</span>
                                            <select class="form-control" name="package" [(ngModel)]="kilometer_purchase.kilometers" required (change)="changePackage();setLocalStorage()">
                                                <option value="" disabled>Seleccionar paquete</option>
                                                <option *ngFor="let package of package_costs" value="{{package.package}}">Paquete de {{package.package | number}} km</option>
                                            </select>
                                            <br>
                                            <p *ngIf=" kilometer_purchase.kilometers >= 1000">  <b> ¿Deseas volver este paquete ilimitado? </b> </p>
                                            <div *ngIf=" kilometer_purchase.kilometers >= 1000" class="custom-control custom-checkbox" >
                                                <input type="checkbox" class="custom-control-input"  id="customCheckUnlimited"  (click)="changeUnlimited()">
                                                <label class="custom-control-label" for="customCheckUnlimited">&nbsp;&nbsp; Si volver infinito.</label>
                                            </div>
                                            <div *ngIf="boolean_unlimited == true">
                                                <hr>
                                                <p style="text-align:center; width:100%;">Pagos de mensualidades necesarios para volver paquete infinito</p>
                                                <p style="text-align:center; width:100%;"> <b>{{necesary_monthlys}}</b> Mensualidades</p>

                                                <p style="text-align:center; width:100%;">Costo de las mensualidades extras necesarias</p>
                                                <p style="text-align:center; width:100%;"> <b> ${{cost_monthly_payments}} </b></p>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row" *ngIf="isDevice">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="bold-opensans" for="">Fecha de cobro del dispositivo</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="bold-opensans" for="">Selecciona la fecha desde que se cobrará el dispositivo:</span>
                                            <input type="date" (change)="changeDevice()" class="form-control" name="date_device" id="date_device" [(ngModel)]="date_device">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row" *ngIf="isCompra">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="bold-opensans">Datos personales</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="bold-opensans">Nombre:</span>
                                            <input [(ngModel)]="policy.first_name" class="form-control" type="text" name="nombre" (change)="setLocalStorage()" required>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="bold-opensans">Apellido Paterno:</span>
                                            <input class="form-control" type="text" name="paterno" [(ngModel)]="policy.last_name" (change)="setLocalStorage()" value="" placeholder="" required>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="bold-opensans">Apellido Materno:</span>
                                            <input class="form-control" type="text" name="materno" value="" placeholder="" (change)="setLocalStorage()" [(ngModel)]="policy.second_last_name" required>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="bold-opensans">Teléfono:</span>
                                            <input class="form-control" type="text" name="phone" value="" placeholder="" (change)="setLocalStorage()" [(ngModel)]="policy.phone" required>
                                        </div>
                                        <div class="col-md-8">
                                            <span class="bold-opensans">Correo:</span>
                                            <input class="form-control" type="email" name="email" value="" placeholder="" [(ngModel)]="user.email" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row" *ngIf="isCompra">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="bold-opensans">Datos del auto</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="bold-opensans">Placas:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="plates" value="" placeholder="" [(ngModel)]="car.plates">
                                        </div>
                                        <div class="col-md-4">
                                            <span class="bold-opensans">VIN:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="vin" value="" placeholder="" [(ngModel)]="car.vin">
                                        </div>
                                        <div class="col-md-4">
                                            <span class="bold-opensans">Número de motor:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="motor_number" value="" placeholder="" [(ngModel)]="car.motor_number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row" *ngIf="isCompra">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="bold-opensans">Dirección de póliza</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Calle:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="policy.street" [(ngModel)]="policy.street" value="" placeholder="" required>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="bold-opensans">No. Exterior:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="policy.ext_number" [(ngModel)]="policy.ext_number" value="" placeholder="" required>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="bold-opensans">No. Interior:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="policy.int_number" [(ngModel)]="policy.int_number" value="" placeholder="">
                                        </div>
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Colonia:</span>
                                            <select class="form-control"  name="suburbs.policy" [(ngModel)]="policy.suburb" (change)="setDireccion('policy');setLocalStorage()" required>
                                                <option value="">Seleccionar</option>
                                                <option *ngFor="let suburb of suburbs.policy" value="{{suburb.suburb}}">{{suburb.suburb}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Código postal:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="policy.zip_code" [(ngModel)]="policy.zip_code" value="" placeholder="" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Ciudad:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="policy.municipality" value="" placeholder="" [(ngModel)]="policy.municipality" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Estado:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="policy.federal_entity" [(ngModel)]="policy.federal_entity" value="" placeholder="" readonly>
                                        </div>
                                        <div class="col-md-12">
                                            <br>
                                            <div *ngIf="!boolean_shipping" class="custom-control custom-checkbox" (click)="changeShipping()" >
                                                <input type="checkbox" class="custom-control-input" id="customCheck1"  >
                                                <label class="custom-control-label" for="customCheck1">&nbsp;&nbsp; Enviar dispositivo a otra dirección.</label>
                                            </div>
                                            <div *ngIf="boolean_shipping" class="custom-control custom-checkbox" (click)="changeShipping()">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1"  checked>
                                                <label class="custom-control-label" for="customCheck1">&nbsp;&nbsp; Enviar dispositivo a otra dirección.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div *ngIf="boolean_shipping && isCompra" class="row">
                         <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="bold-opensans">Dirección de envío</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Calle:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="shipping.street" [(ngModel)]="shipping.street" value="" placeholder="" required>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="bold-opensans">No. Exterior:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="shipping.ext_number" [(ngModel)]="shipping.ext_number" value="" placeholder="" required>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="bold-opensans">No. Interior:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="shipping.int_number" [(ngModel)]="shipping.int_number" value="" placeholder="">
                                        </div>
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Código postal:</span>
                                            <input class="form-control" type="text" name="shipping.zip_code" [(ngModel)]="shipping.zip_code" value="" placeholder="" (change)="getZipcode('shipping',shipping.zip_code);setLocalStorage()" required>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Colonia:</span>
                                            <select class="form-control" name="suburbs.shipping" [(ngModel)]="shipping.suburb" (change)="setDireccion('shipping');setLocalStorage()" required>
                                                <option value="">Seleccionar</option>
                                                <option *ngFor="let suburb of suburbs.shipping" value="{{suburb.suburb}}">{{suburb.suburb}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Ciudad:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="shipping.municipality" [(ngModel)]="shipping.municipality" value="" placeholder="" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="bold-opensans">Estado:</span>
                                            <input class="form-control" (change)="setLocalStorage()" type="text" name="shipping.federal_entity" [(ngModel)]="shipping.federal_entity" value="" placeholder="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="bold-opensans">Pago</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="bold-opensans" >Método de pago:</span>
                                                <select class="form-control" name="paymethod" [(ngModel)]="paymethod" required  (change)="changePaymethod()">
                                                    <option value="credit_card">Tarjeta de débito / crédito</option>
                                                    <option value="oxxo">Oxxo</option>
                                                    <option *ngIf="!isDevice" value="open_pay">Tiendas convencionales openpay</option>
                                                    <option value="spei">Spei</option>
                                                </select>
                                                <br>
                                            </div>
                                            <div *ngIf="boolean_isCard && cards.length>0" class="col-md-6">
                                                <span class="bold-opensans" >Tarjetas:</span>
                                                <select *ngIf="cards.length>0 && !boolean_new_card" class="form-control" name="card_id" [(ngModel)]="card_id" required (change)="newCard(false)" >
                                                    <option value="" disabled>Selecciona tarjeta</option>
                                                    <option value="{{card.id}}" *ngFor="let card of cards">{{card.bank}} - {{card.brand.toUpperCase()}} - {{card.card_number}}</option>
                                                </select>
                                                <select *ngIf="cards.length>0 && boolean_new_card" class="form-control" name="card_id" [(ngModel)]="card_id"  (change)="newCard(false)" >
                                                    <option value="" disabled>Selecciona tarjeta</option>
                                                    <option value="{{card.id}}" *ngFor="let card of cards">{{card.bank}} - {{card.brand.toUpperCase()}} - {{card.card_number}}</option>
                                                </select>
                                                <br>
                                            </div>
                                            <div *ngIf="boolean_isCard && isCompra" class="col-md-6">
                                                <button type="button" class="btn btn-info btn-lg" (click)="newCard(true)">Nueva Tarjeta</button>
                                                <br>
                                            </div>
                                            <div class="col-md-12" *ngIf="boolean_isCard && !isDevice">
                                              <br>
                                                <div *ngIf="!boolean_subscription && boolean_unlimited == false" class="custom-control custom-checkbox" (click)="changeSubscription()">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2"  >
                                                    <label class="custom-control-label" for="customCheck2">&nbsp;&nbsp; Pago recurrente.</label>
                                                </div>
                                                <div *ngIf="boolean_subscription && boolean_unlimited == false" class="custom-control custom-checkbox" (click)="changeSubscription()">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2"  checked>
                                                    <label class="custom-control-label" for="customCheck2">&nbsp;&nbsp; Pago recurrente.</label>
                                                </div>
                                                <br>
                                            </div>
                                            <div *ngIf="kilometer_purchase.kilometers==7000 && boolean_isCard && msi" class="col-md-12" >
                                                <br>
                                                <span class="bold-opensans">Forma de pago</span><br>
                                                <div *ngIf="total>299" (click)="setMSI(3)" class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline1" name="msi" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline1">3 meses sin interéses</label>
                                                </div>
                                                <div *ngIf="total>599" (click)="setMSI(6)" class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline2" name="msi" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline2">6 meses sin interéses</label>
                                                </div>
                                                <div *ngIf="total>1199" (click)="setMSI(12)" class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline3" name="msi" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline3">12 meses sin interéses</label>
                                                </div>
                                                <br><br>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div *ngIf="!boolean_invoicing" class="custom-control custom-checkbox" (click)="changeInvoincing()">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck3"  >
                                                    <label class="custom-control-label" for="customCheck3">&nbsp;&nbsp; Requiere factura.</label>
                                                </div>
                                                <div *ngIf="boolean_invoicing" class="custom-control custom-checkbox" (click)="changeInvoincing()">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck3"  checked>
                                                    <label class="custom-control-label" for="customCheck3">&nbsp;&nbsp; Requiere factura.</label>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="boolean_isCard && boolean_new_card">
                                            <div class="col-md-12">
                                              <hr>
                                              <p style="text-align:center">Comparte la siguiente URL al cliente para que el complete los datos de la tarjeta. Aqui termina tu proceso comparte la ruta y hay que esperar que el cliente complete los datos</p>

                                              <hr>
                                              <h1 style="text-align:center"> Link de pago : </h1>
                                              <h5 style="text-align:left">  <a target="_blank" href="https://sxkm.mx/compra-kilometros/{{token}}/{{kilometer_selected}}/3?buf={{buf}}"> https://sxkm.mx/compra-kilometros/{{token}}/{{kilometer_selected}}/3?buf={{buf}} </a>  </h5>

                                            </div>
                                            <!-- <div class="col-md-12">
                                                <span class="bold-opensans">Número de tarjeta</span>
                                                <input class="form-control" type="text" name="card_number" [(ngModel)]="card.card_number" value="" placeholder="" required>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="bold-opensans">Nombre del titular</span>
                                                <input class="form-control" type="text" name="holder_name" [(ngModel)]="card.holder_name" value="" placeholder="" required>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span class="bold-opensans">Fecha de vigencia</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-control" name="expiration_month" [(ngModel)]="card.expiration_month"  required >
                                                                    <option value="">Mes</option>
                                                                    <option value="01">01</option>
                                                                    <option value="02">02</option>
                                                                    <option value="03">03</option>
                                                                    <option value="04">04</option>
                                                                    <option value="05">05</option>
                                                                    <option value="06">06</option>
                                                                    <option value="07">07</option>
                                                                    <option value="08">08</option>
                                                                    <option value="09">09</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-control" name="card.expiration_year" [(ngModel)]="card.expiration_year" required (change)="change()">
                                                                    <option value="">Año</option>
                                                                    <option value="18">2018</option>
                                                                    <option value="19">2019</option>
                                                                    <option value="20">2020</option>
                                                                    <option value="21">2021</option>
                                                                    <option value="22">2022</option>
                                                                    <option value="23">2023</option>
                                                                    <option value="24">2024</option>
                                                                    <option value="25">2025</option>
                                                                    <option value="26">2026</option>
                                                                    <option value="27">2027</option>
                                                                    <option value="28">2028</option>
                                                                    <option value="29">2029</option>
                                                                    <option value="30">2030</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="bold-opensans">CVV:</span>
                                                        <input class="form-control" type="text" name="cvv2" [(ngModel)]="card.cvv2" value="" placeholder="" required>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>

                                    </div>
                                </div>
                                <br>
                            </div>
                    </div>
                    <div *ngIf="boolean_invoicing" class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="bold-opensans">Datos de Facturación</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span class="bold-opensans">Razón social</span>
                                                <input class="form-control" type="text" name="billing.legal_name" [(ngModel)]="billing.legal_name" value="" placeholder="" required>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="bold-opensans">RFC</span>
                                                <input class="form-control" type="text" name="billing.rfc" value="" placeholder="" required [(ngModel)]="billing.rfc">
                                            </div>
                                            <div class="col-md-2">
                                                <span class="bold-opensans">Código postal</span>
                                                <input class="form-control" type="text" name="billing.zip_code" [(ngModel)]="billing.zip_code" value="" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br><br><br>
                            </div>
                    </div>
                </div>
                <div class="offset-1 col-12 col-md-7" align="justify" *ngIf="payment_success">
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <br><br>
                            <h2>Ficha de pago</h2>
                            <br>
                        </div>
                        <div class="col-md-12" align="center">
                            <div class="card">
                                <div class="card-body">
                                    <img class="img-fluid" style="max-width:150px" src="/assets/img/pagos/oxxo.svg" alt="" *ngIf="ficha_pago.method == 'oxxo'" >
                                    <img class="img-fluid" style="max-width:150px" src="/assets/img/pagos/openpay.png" alt="" *ngIf="ficha_pago.method == 'open_pay'">
                                    <img class="img-fluid" style="max-width:150px" src="/assets/img/pagos/spei.png" alt="" *ngIf="ficha_pago.method == 'spei'">
                                    <br><br>
                                    <h3> Pago:</h3>
                                    <h3 class="bold-opensans" *ngIf="ficha_pago.type == 'Recarga'" >{{ficha_pago.type}} de {{kilometer_purchase.kilometers}} kms</h3>
                                    <h3 class="bold-opensans" *ngIf="ficha_pago.type == 'Mensualidad'" >{{ficha_pago.type}}</h3>
                                    <br><br>
                                    <h3> Total a pagar:</h3>
                                    <h3 class="bold-opensans">{{ficha_pago.total | currency}}</h3>
                                    <br><br>
                                    <h3 *ngIf="ficha_pago.method !='Tarjeta bancaria'" >{{ficha_pago.method=='spei'?'CLABE':'Referencia de pago'}}:</h3>
                                    <h3 *ngIf="ficha_pago.method !='Tarjeta bancaria'" class="bold-opensans">{{ficha_pago.reference}}</h3>
                                    <br><br>

                                    <h3 *ngIf="ficha_pago.method=='spei'"> Banco:</h3>
                                    <h3 class="bold-opensans" *ngIf="ficha_pago.method=='spei'">STP</h3>
                                    <h3 class="bold-opensans" *ngIf="ficha_pago.method=='spei'">{{ficha_pago.bank }}</h3>
                                    <br *ngIf="ficha_pago.method=='spei'"><br *ngIf="ficha_pago.method=='spei'">

                                    <h3 *ngIf="ficha_pago.method=='spei'"> Beneficiario:</h3>
                                    <h3 class="bold-opensans" *ngIf="ficha_pago.method=='spei'">Seguro X Kilómetro</h3>
                                    <br *ngIf="ficha_pago.method=='spei'"><br *ngIf="ficha_pago.method=='spei'">

                                    <h4 *ngIf="ficha_pago.method !='Tarjeta bancaria'">Fecha de expiración:</h4>
                                    <h4 *ngIf="ficha_pago.method !='Tarjeta bancaria'" class="bold-opensans">{{ficha_pago.expires_at | date: 'dd-MM-yyyy'}}</h4>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 border-left" style="">
                    <br><br>
                    <div class="sticky-top" style="top:100px">
                            <div *ngIf="car_object.maker!=''"  class="row">
                                <div class="col-md-3" >
                                    <div style="padding:5px;width: 70px;height: 70px" class="rounded shadow border">
                                        <img *ngIf="car_object.maker!=''" src="/assets/img/makers/{{car_object.maker}}.png" alt="..." class="img-fluid">
                                    </div>

                                </div>
                                <div class="col-md-9">
                                    <span style="font-size: 20px" class="bold-opensans">
                                        {{car_object.version}} {{car_object.year}}
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="!isSubscription && !isDevice" class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="bold-opensans align-middle">
                                                        Paquete de {{kilometer_purchase.kilometers | number}} km
                                                    </span>
                                                </div>
                                                <div class="col-md-6" align="right">
                                                    <span style="font-size: 20px" class="bold-opensans">
                                                        {{kilometer_purchase.cost | currency}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="!isRecarga && !isDevice" class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="bold-opensans align-middle">
                                                        Suscripción mensual
                                                    </span>
                                                </div>
                                                <div class="col-md-6" align="right">
                                                    <span style="font-size: 20px" class="bold-opensans">
                                                        {{kilometer_purchase.initial_payment | currency}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="isDevice" class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="bold-opensans align-middle">
                                                        Dispositivo
                                                    </span>
                                                </div>
                                                <div class="col-md-6" align="right">
                                                    <span style="font-size: 20px" class="bold-opensans">
                                                        {{device_price | currency}} USD
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="isDevice && months_device!=0" class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="bold-opensans align-middle">
                                                        Meses de cobro
                                                    </span>
                                                </div>
                                                <div class="col-md-6" align="right">
                                                    <span style="font-size: 20px" class="bold-opensans">
                                                        {{months_device}} {{months_device>1?'meses':'mes'}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" align="right">
                                    <span class="bold-opensans">Subtotal: {{subtotal | currency}} {{isDevice?'USD':''}}</span> <br>
                                    <span *ngIf="!isDevice" class="bold-opensans">Descuento: {{discount | currency}} <br></span>
                                    <span *ngIf="isDevice" class="bold-opensans">Meses de atraso: {{months_price | currency}} USD <br></span>
                                    <span *ngIf="boolean_unlimited == false" style="font-size: 25px" class="bold-opensans">Total: {{total | currency}}  {{isDevice?'USD':''}}</span>
                                    <span *ngIf="boolean_unlimited == true && !isSubscription" style="font-size: 25px" class="bold-opensans">Total: {{ total + cost_monthly_payments | currency}}  {{isDevice?'USD':''}}</span>
                                    <span *ngIf="boolean_unlimited == true &&  isSubscription" style="font-size: 25px" class="bold-opensans">Total: {{ total_cost | currency}}  {{isDevice?'USD':''}}</span>
                                    <br><br>
                                </div>
                            </div>
                            <div class="row" *ngIf="!isDevice">
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="cupon" type="text" name="cupon" class="form-control" placeholder="Cupón" >
                                        <div class="input-group-append">
                                            <span *ngIf="boolean_cupon" class="input-group-text" id="basic-addon2" (click)="setCupon()" style="cursor:pointer">
                                                Aplicar
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox" >
                                        <input type="checkbox" class="custom-control-input" id="customCheck4"  required>
                                        <label class="custom-control-label" for="customCheck4">&nbsp;&nbsp; Acepto términos y condiciones.</label>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-sxkm-green btn-lg btn-block">
                                        Pagar
                                    </button>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</section>
