<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <h2>Primera compra de kilómetros</h2>
                        <hr>
                    </div>
                    <div class="col-md-7">
                        <span class="bold-opensans" for="email">Selecciona el paquete</span>
                        <select class="form-control">
                            <option value="">Seleccionar paquete</option>
                            <option value="">Paquete de 250 km</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <span class="bold-opensans" for="email">Selecciona método de pago</span>
                        <select class="form-control">
                            <option value="tarjeta">Tarjeta</option>
                            <option value="oxxo">Oxxo</option>
                            <option value="openpay">Openpay</option>
                            <option value="spei">Spei</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <br>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Nueva tarjeta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tarjetas guardadas</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <br>
                <div class="card sticky-top" style="">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>